%script{type: "text/template", id: "game-result-template"}
  %article
    %figure
      / %img.gameImg{src: "/game_photos/{{= photo_path }}", height: 88}
      %a{href: "/games/{{= id }}#all"}
        %img.gameImg{src: "{{= photo_url }}", height: "32"}
      %a{href: "/games/{{= id }}#all"}
        %figcaption {{= title }}
    %span.mood
      %select.status{name: "status", size: "1", class: "status"}
        %option{value: ""} ステータス
        %option{value: 1} 気になる
        %option{value: 2} プレイ中
        %option{value: 3} クリア済