%script{type: "text/template", id: "second-template"}
  %section.setting02
    %h2.setting02Ttl 次は、使っていそうな友達を検索してみましょう。
    %section.searchWrap
      %form.search-form.entryBox
        %input.user-input.search{type: "text", placeholder: "友達をユーザー名で検索"}
      %input.btn.next-page{type: "submit", value: "スキップ"}
    %ul.progress
      %li.progress--off
      %li.progress--on
      %li.progress--off
    .friendBox
      / 検索した結果のユーザーが入る
      %ul.user-list.listWrap