%script{type: "text/template", id: "second-template"}
  %section.setting02
    %ul.progress
      %li.progress--off
      %li.progress--on
      %li.progress--off
    %h2.setting02Ttl 次は、使っていそうな友達を検索してみましょう。
    %a.btn.next-page 誰もフォローせずに進む
    %section.searchWrap
      %form.search-form.entryBox
        %span.icon-search
        %input.user-input.search{type: "text", placeholder: "友達をユーザー名で検索"}
    .friendBox
      / 検索した結果のユーザーが入る
      %ul.user-list.listWrap