%script{type: "text/template", id: "third-template"}
  %section.setting03
    %h2.setting03Ttl プロフィール写真を設定
    .uploadBox
      #thumbnail{width: 96, height: 96}
        %img.profImg{src: "/assets/smart_phone/setting03__profImg.png", width: 96, height: 96}
      .btnWrap
        %p.btnText 写真をアップロード
        %form
          %input.btn#upload-btn{type: "file", value: "写真をアップロード"}
    %form.entryBox
      %input.btn.next-page{type: "submit", value: "スキップ"}
    %ul.progress
      %li.progress--off
      %li.progress--off
      %li.progress--on
    #clip