%script{type: "text/template", id: "third-template"}
  %section.setting03
    %ul.progress
      %li.progress--off
      %li.progress--off
      %li.progress--on
    %h2.setting03Ttl
      これで最後です。
      %br
      プロフィール写真を設定しましょう。
    .uploadBox
      .error-message.errorMessage
      #thumbnail{width: 96, height: 96}
        = image_tag "/user_photos/#{@current_user[:photo_path]}", width: "96", height: "96", alt: "", class: "profImg"
      .btnBox
        %form.btnWrap
          プロフィール写真を変更
          %input.btn#upload-btn{type: "file", value: "プロフィール写真を変更"}
    %form.entryBox
      %input.btn.next-page{type: "submit", value: "初期設定を完了"}

    = render partial: "application/smart_phone/clip_modal"