%script{type: "text/template", id: "user-result-template"}
  %img.profImg{src: "/user_photos/{{= photo_path }}", width: 48, height: 48}
  %p.name
    {{= username }}
  .place {{= place }}
  %a.btn.follow{href: "#"} フォロー