/*---   common   ---------------------------*/
#wrapper {
  line-height: 1.0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*---   header   ---------------------------*/
header {
  width: 100%;
  background: #222222;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  *zoom: 1;
  /*---   .funcBoxLeft   ----------*/
  /*---   .funcBoxRight   ----------*/
}
header:before, header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
.headerInner {
  position: relative;
  width: 960px;
  height: 60px;
  margin: 0 auto;
  padding-top: 11px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
header .ttl {
  font-size: 34px;
  font-family: Helvetica;
  font-weight: bold;
}
header .funcBoxLeft {
  position: absolute;
  top: 11px;
  left: 23px;
  *zoom: 1;
}
header .funcBoxLeft:before, header .funcBoxLeft:after {
  display: table;
  content: "";
}
header .funcBoxLeft:after {
  clear: both;
}
header .homeWrap, header .alertWrap, header .profileWrap, header .searchBox, header .optionWrap {
  float: left;
}
header .home {
  display: block;
  margin-right: 26px;
  padding-top: 13px;
  color: #ffffff;
  padding-left: 32px;
  background: url(../images/img_set.png) no-repeat 0 2px;
}
header .alert {
  display: block;
  margin-right: 33px;
  padding-top: 13px;
  color: #ffffff;
  padding-left: 31px;
  background: url(../images/img_set.png) no-repeat 0 -36px;
}
header .profile {
  display: block;
  padding-top: 13px;
  color: #ffffff;
  padding-left: 31px;
  background: url(../images/img_set.png) no-repeat 0 -74px;
}
header .funcBoxRight {
  position: absolute;
  top: 15px;
  right: 23px;
  *zoom: 1;
}
header .funcBoxRight:before, header .funcBoxRight:after {
  display: table;
  content: "";
}
header .funcBoxRight:after {
  clear: both;
}
header .searchBox {
  height: 30px;
  margin-right: 38px;
  padding-top: 4px;
}
header .searchWrap {
  width: 171px;
  height: 21px;
  border: 1px solid #bfbfbf;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
header .search {
  display: block;
  width: 171px;
  height: 21px;
  padding: 7px 26px 7px 6px;
  border: none;
  box-sizing: border-box;
  padding-left: 6px;
  background: url(../images/img_set.png) no-repeat 150px -111px;
  line-height: 1.7;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
}
header .option {
  display: block;
  width: 22px;
  height: 23px;
  margin-top: 5px;
  padding-left: 0;
  background: url(../images/img_set.png) no-repeat 0 -144px;
}
