@import "_function.css.scss";

$width: 960px !default;

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Lucida Grande", Helvetica, "Meiryo", sans-serif;
}
#wrapper {
	line-height: 1.0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*---   header   ---------------------------*/
header {
}

/*---   .footer   ---------------------------*/
.footer {
	width: 100%;
	padding: 38px 0;
	background: #5e5e5e;
	color: #d68356;
	font-size: 16px;
	text-align: center;

	.ftList {
		@include clearfix;
		width: 385px;
		margin: 0 auto 34px;

		.item, .lastItem {
			float: left;
		}
		.item {
			margin-right: 20px;
		}
	}
	.ftLink {
		color: #d68356;
	}
}