@import "_function.css.scss";

/*---   common   ---------------------------*/
.snsList {
	width: 384px;
	margin: 0 auto;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	text-align: center;

	.twBtn, .fbBtn {
		display: block;
		padding: 12px 0;
		color: #fff;
	}
	.twBtn {
		margin-bottom: 20px;
		background: #55acee;
	}
	.fbBtn {
		background: #3b5998;
	}
}

/*---   .header   ---------------------------*/
.header {
	width: 100%;
	padding: 160px 0 80px;
	background: #009e96;
	color: #fff;
	font-weight: bold;
	text-align: center;

	.ttl {
		width: 350px;
		margin: 0 auto 24px;
		background: url(../images/lp_img01.png) no-repeat left top;
		font-size: 60px;
		text-align: right;
	}
	.catchcopy {
		margin-bottom: 78px;
		font-size: 36px;
	}
}

/*---   .contentBox   ---------------------------*/
$cntNum: 4;
@for $i from 1 through $cntNum {
	.contentBox0#{$i} {
		text-align: center;

		.cntInner {
			@include clearfix;
		}
		.ttl {
			color: #009e8d;
			font-size: 36px;
			line-height: 48px;
		}
		.txt {
			color: #878787;
			font-size: 18px;
			text-align: left;
			line-height: 48px;
		}
	}
}
/*---   .contentBox01   ----------*/
.contentBox01 {
	padding: 34px 0 38px;
	background: #fff;

	.cntInner {
		width: 656px;
		margin: 0 auto;
	}
	.ttl {
		margin-bottom: 32px;
	}
	.cntImg {
		float: left;
		margin-right: 104px;
	}
}
/*---   .contentBox02   ----------*/
.contentBox02 {
	padding: 34px 0 84px;
	background: #f3f3f3;

	.ttl {
		margin-bottom: 26px;
	}
}
/*---   .contentBox03   ----------*/
.contentBox03 {
	padding: 34px 0 54px;
	background: #fff;

	.cntInner {
		width: 656px;
		margin: 0 auto;
	}
	.cntLeft {
		float: left;
		width: 378px;
		padding-top: 54px;
	}
	.ttl {
		margin-bottom: 40px;
		text-align: left;
	}
	.cntImg {
		float: right;
	}
}
/*---   .contentBox04   ----------*/
.contentBox04 {
	padding: 34px 0 108px;
	background: #f3f3f3;

	.ttl {
		margin-bottom: 38px;
	}
}

/*---   .footer   ---------------------------*/
.footer {
	width: 100%;
	padding: 38px 0;
	background: #5e5e5e;
	color: #d68356;
	font-size: 16px;
	text-align: center;

	.ftList {
		@include clearfix;
		width: 385px;
		margin: 0 auto 34px;

		.item, .lastItem {
			float: left;
		}
		.item {
			margin-right: 20px;
		}
	}
	.ftLink {
		color: #d68356;
	}
}