/*---   common   ---------------------------*/
html {
  background: #f1f1f1;
}

body {
  min-width: 960px;
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
  width: 960px;
  min-width: 960px;
  margin: 0 auto;
  *zoom: 1;
}
.mainCnt:before, .mainCnt:after {
  display: table;
  content: "";
}
.mainCnt:after {
  clear: both;
}

/*---   .personalClm   ----------*/
.personalClm {
  float: left;
  width: 196px;
  color: #ffffff;
  font-size: 10pt;
  text-align: left;
  /*---   .personalClm__trendBox   ---*/
  /*---   .activityBox   ---*/
}
.personalClm .trendBox {
  margin-bottom: 1px;
  padding: 8px 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #1a1c21;
  -moz-box-shadow: 0 2px 0px 0px #434852;
  -webkit-box-shadow: 0 2px 0px 0px #434852;
  box-shadow: 0 2px 0px 0px #434852;
  background: #1a1d24;
  text-align: left;
  *zoom: 1;
}
.personalClm .trendBox:before, .personalClm .trendBox:after {
  display: table;
  content: "";
}
.personalClm .trendBox:after {
  clear: both;
}
.personalClm .trendBox .ttl {
  margin-bottom: 18px;
  padding: 5px 0 8px;
  font-size: 12px;
  padding-left: 30px;
  background: url(../images/img_set.png) no-repeat 0 -182px;
}
.personalClm .trendBox .word {
  float: left;
  margin: 0 12px 16px 0;
  padding: 4px 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #1ba189;
  font-size: 10px;
  text-align: center;
}
.personalClm .trendBox .word.evenRung {
  margin-left: 20px;
}
.personalClm .trendBox .word.lastItem {
  margin: 0;
}
.personalClm .activityBox {
  padding: 13px 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #1a1d24;
  text-align: left;
}
.personalClm .activityBox .ttl {
  margin-bottom: 26px;
  padding: 3px 0 1px;
  padding-left: 34px;
  background: url(../images/img_set.png) no-repeat 0 -217px;
}
.personalClm .activityBox .playing {
  margin-bottom: 5px;
  *zoom: 1;
}
.personalClm .activityBox .playing:before, .personalClm .activityBox .playing:after {
  display: table;
  content: "";
}
.personalClm .activityBox .playing:after {
  clear: both;
}
.personalClm .activityBox .played {
  *zoom: 1;
}
.personalClm .activityBox .played:before, .personalClm .activityBox .played:after {
  display: table;
  content: "";
}
.personalClm .activityBox .played:after {
  clear: both;
}
.personalClm .activityBox .playTtl {
  margin: 0 0 12px 12px;
  color: #b7b6b6;
  font-size: 12px;
}
.personalClm .activityBox .gameImgWrap {
  float: left;
  margin-right: 5px;
  margin-bottom: 16px;
}
.personalClm .activityBox .gameImgWrap:last-child {
  margin-right: 0;
}
.personalClm .activityBox .gameImg {
  width: 50px;
  height: 50px;
  border: 1px solid none;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*---   .gameClm   ----------*/
.gameClm {
  float: left;
  width: 720px;
  margin: 20px auto 0 20px;
  text-align: left;
  /*---   .personalBox   ----------*/
  /*---   .gameBox   ----------*/
}
.gameClm .personalBoxWrap {
  padding-bottom: 12px;
  background: url(../images/profile_img01.jpg) no-repeat center top;
  background-size: cover;
}
.gameClm .personalBoxWrap .profImg {
  float: left;
  width: 143px;
  margin: 24px 34px 34px 35px;
  border: 1px solid #fffcfc;
  -moz-border-radius: 73px;
  -webkit-border-radius: 73px;
  border-radius: 73px;
}
.gameClm .personalBoxWrap .countBox {
  clear: left;
  width: 720px;
  margin: 20px auto 0;
  *zoom: 1;
}
.gameClm .personalBoxWrap .countBox:before, .gameClm .personalBoxWrap .countBox:after {
  display: table;
  content: "";
}
.gameClm .personalBoxWrap .countBox:after {
  clear: both;
}
.gameClm .personalBoxWrap .countBox .item {
  display: inline-block;
  width: 174px;
  border-right: 1px solid #7e8089;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
}
.gameClm .personalBoxWrap .countBox .item.lastItem {
  border: none;
}
.gameClm .personalBoxWrap .countBox .count {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
}
.gameClm .personalBoxWrap .countBox .current {
  color: #23dcbb;
}
.gameClm .personalBox {
  float: left;
  width: 430px;
  margin-top: 33px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
}
.gameClm .personalBox .name {
  float: left;
  margin-right: 8px;
  font-size: 30px;
  font-weight: bold;
}
.gameClm .personalBox .place {
  padding-top: 16px;
  font-size: 12px;
}
.gameClm .personalBox .town {
  padding-top: 16px;
}
.gameClm .personalBox .town:after {
  content: "/";
}
.gameClm .personalBox .country {
  margin-left: -5px;
}
.gameClm .personalBox .text {
  clear: both;
  margin-top: 20px;
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
}
.gameClm .gameBox {
  position: relative;
}
.gameClm .gameBox .sortBox {
  width: 620px;
  margin: 0 auto 13px;
  padding-left: 100px;
  border-bottom: 1px solid #adacac;
  background: #ffffff;
  *zoom: 1;
}
.gameClm .gameBox .sortBox:before, .gameClm .gameBox .sortBox:after {
  display: table;
  content: "";
}
.gameClm .gameBox .sortBox:after {
  clear: both;
}
.gameClm .gameBox .sortBox .item {
  display: table-cell;
  position: relative;
  width: 142px;
  height: 46px;
  padding: 4px 0 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #888787;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  line-height: 1.1;
  cursor: pointer;
}
.gameClm .gameBox .sortBox .current {
  color: #464646;
}
.gameClm .gameBox .sortBox .current .animBorder {
  display: block;
  position: absolute;
  bottom: 9px;
  left: 50%;
  width: 45px;
  margin-left: -23px;
  border-bottom: 1px solid #56b8a7;
  transition: 0.3;
}
.gameClm .gameBox .sortBox .current:before {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -3px;
  border-top: 7px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid #adacac;
  border-left: 5px solid transparent;
  content: "";
}
.gameClm .gameBox .sortBox .current:after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -2px;
  border-top: 6px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 6px solid #f1f1f1;
  border-left: 4px solid transparent;
  content: "";
}
.gameClm .gameBox .profEdit {
  position: absolute;
  top: 13px;
  right: 20px;
  padding: 4px 14px;
  border: 1px solid #1ba189;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  color: #1ba189;
  font-size: 12px;
}
.gameClm .gameBox .profEdit:hover {
  text-decoration: none;
}
.gameClm .gameBox .gameList {
  margin-bottom: 20px;
  *zoom: 1;
}
.gameClm .gameBox .gameList:before, .gameClm .gameBox .gameList:after {
  display: table;
  content: "";
}
.gameClm .gameBox .gameList:after {
  clear: both;
}
.gameClm .gameBox .gameList .item {
  display: inline-block;
  width: 160px;
  margin: 0 21px 0 0;
  padding: 0 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #ffffff;
}
.gameClm .gameBox .gameList .item.lastItem {
  margin: 0;
}
.gameClm .gameBox .gameList .gameImg {
  width: 160px;
  height: 180px;
  margin: 0 0 12px -10px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.gameClm .gameBox .gameList .ttl {
  margin-bottom: 14px;
  color: #333232;
  font-size: 14px;
  line-height: 1.3;
}
.gameClm .gameBox .gameList .stars {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  padding: 10px 0;
  border-top: 1px solid #cccccc;
}
.gameClm .gameBox .gameList .star {
  margin-right: 4px;
  width: 16px;
  height: 14px;
  background: url(../images/img_set.png) no-repeat 0 -440px;
}
.gameClm .gameBox .gameList .star.lastItem {
  margin-right: 0;
}
