/*---   common   ---------------------------*/
body {
  text-align: center;
}

.progress {
  width: 60px;
  margin: 0 auto;
  *zoom: 1;
}
.progress:before, .progress:after {
  display: table;
  content: "";
}
.progress:after {
  clear: both;
}
.progress--on {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #05c8b3;
}
.progress--on:last-child {
  margin-right: 0;
}

.progress--off {
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 12px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #b3b7b7;
}
.progress--off:last-child {
  margin-right: 0;
}

/*---   .step01   ---------------------------*/
.step01 {
  padding-top: 38px;
}
.step01Ttl {
  margin-bottom: 32px;
  font-size: 18px;
  font-weight: bold;
}
.step01 .entryBox {
  position: relative;
  width: 250px;
  margin: 0 auto 28px;
}
.step01 .entryBox .textarea {
  display: block;
  width: 250px;
  height: 34px;
  margin: 0 auto 20px;
  padding-left: 12px;
  border: 1px solid #a09e9f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
.step01 .entryBox .textarea_node {
  position: absolute;
  top: 10px;
  right: -42px;
  color: #e97171;
  font-size: 12px;
  font-weight: bold;
}
.step01 .entryBox .btn {
  width: 76px;
  height: 29px;
  border: 1px solid #077f72;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(#05c8b3, #07b9a6);
  background: -webkit-linear-gradient(#05c8b3, #07b9a6);
  background: linear-gradient(#05c8b3, #07b9a6);
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: 0;
}

/*---   .step02   ---------------------------*/
.step02 {
  padding-top: 38px;
}
.step02Ttl {
  margin-bottom: 23px;
  font-size: 18px;
  font-weight: bold;
}

.step02Text {
  margin-bottom: 24px;
  font-size: 12px;
}
.step02 .friendBox {
  width: 387px;
  margin: 0 auto 30px;
  *zoom: 1;
}
.step02 .friendBox:before, .step02 .friendBox:after {
  display: table;
  content: "";
}
.step02 .friendBox:after {
  clear: both;
}
.step02 .friendBox .leftBtn {
  display: block;
  position: relative;
  float: left;
  width: 34px;
  height: 34px;
  margin: 35px 26px 0 0;
  border: 1px solid #05c8b3;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
.step02 .friendBox .leftBtn .tri {
  display: block;
  position: absolute;
  top: 8px;
  right: 11px;
  border-top: 9px solid transparent;
  border-right: 15px solid #05c8b3;
  border-bottom: 9px solid transparent;
  border-left: 15px solid transparent;
}
.step02 .friendBox .rightBtn {
  display: block;
  position: relative;
  float: right;
  width: 34px;
  height: 34px;
  margin-top: 35px;
  border: 1px solid #05c8b3;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
}
.step02 .friendBox .rightBtn .tri {
  display: block;
  position: absolute;
  top: 8px;
  left: 11px;
  border-top: 9px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 9px solid transparent;
  border-left: 15px solid #05c8b3;
}
.step02 .friendBox .listWrap {
  float: left;
  width: 266px;
  *zoom: 1;
}
.step02 .friendBox .listWrap:before, .step02 .friendBox .listWrap:after {
  display: table;
  content: "";
}
.step02 .friendBox .listWrap:after {
  clear: both;
}
.step02 .friendBox .list {
  float: left;
  margin-right: 19px;
}
.step02 .friendBox .list:last-child {
  margin-right: 0;
}
.step02 .friendBox .profImg {
  width: 48px;
  height: 48px;
  margin-bottom: 12px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.step02 .friendBox .name {
  margin-bottom: 8px;
  color: #05aa91;
  font-size: 12px;
  font-weight: bold;
}
.step02 .friendBox .btn {
  display: block;
  width: 76px;
  height: 21px;
  padding-top: 1px;
  border: 1px solid #05c8b3;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #06b4a1;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.step02 .entryBox {
  width: 250px;
  margin: 0 auto 28px;
}
.step02 .entryBox .friend {
  display: block;
  width: 250px;
  height: 34px;
  margin-bottom: 26px;
  padding-left: 11px;
  border: 1px solid #a09e9f;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
}
.step02 .entryBox .btn {
  width: 79px;
  height: 29px;
  border: 1px solid #077f72;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(#05c8b3, #07b9a6);
  background: -webkit-linear-gradient(#05c8b3, #07b9a6);
  background: linear-gradient(#05c8b3, #07b9a6);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: 0;
}

/*---   .step03   ---------------------------*/
.step03 {
  padding-top: 38px;
}
.step03Ttl {
  margin-bottom: 58px;
  font-size: 18px;
  font-weight: bold;
}
.step03 .uploadBox {
  width: 360px;
  margin: 0 auto 23px;
  *zoom: 1;
}
.step03 .uploadBox:before, .step03 .uploadBox:after {
  display: table;
  content: "";
}
.step03 .uploadBox:after {
  clear: both;
}
.step03 .uploadBox .profImg {
  float: left;
  -moz-box-shadow: 0 0 5px 0 #c5c5c3;
  -webkit-box-shadow: 0 0 5px 0 #c5c5c3;
  box-shadow: 0 0 5px 0 #c5c5c3;
  -moz-border-radius: 71px;
  -webkit-border-radius: 71px;
}
.step03 .uploadBox .rightBox {
  float: right;
  position: relative;
  width: 182px;
}
.step03 .uploadBox .btnWrap {
  margin-bottom: 22px;
  padding: 20px 0;
  border-bottom: 1px solid #aaaaaa;
}
.step03 .uploadBox .btn {
  width: 154px;
  height: 29px;
  border: 1px solid #077f72;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(#05c8b3, #07b9a6);
  background: -webkit-linear-gradient(#05c8b3, #07b9a6);
  background: linear-gradient(#05c8b3, #07b9a6);
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
.step03 .uploadBox .text {
  position: absolute;
  left: 50%;
  top: 60px;
  width: 58px;
  margin-left: -29px;
  background: #ffffff;
  color: #908f8f;
  font-size: 12px;
}
.step03 .uploadBox .camera {
  color: #08a481;
  font-size: 14px;
}
.step03 .uploadBox .camera:hover {
  text-decoration: none;
}
.step03 .entryBox {
  width: 250px;
  margin: 0 auto 28px;
}
.step03 .entryBox .btn {
  width: 79px;
  height: 29px;
  border: 1px solid #077f72;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: -moz-linear-gradient(#05c8b3, #07b9a6);
  background: -webkit-linear-gradient(#05c8b3, #07b9a6);
  background: linear-gradient(#05c8b3, #07b9a6);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  outline: 0;
}
