@import "_function.css.scss";

$cntWidth: 580px;

/*---   .mainContent   ---------------------------*/
.mainContent {
	padding: 46px 0;

	/*---   .mainTtl   ----------*/
	.mainTtl {
		margin-bottom: 40px;
		color: #3e3e3e;
		font-size: 24px;
		text-align: center;
	}
	/*---   .addPost   ----------*/
	.addPost {
		position: relative;
		width: 580px;
		margin: 0 auto 18px;
		padding-left: 10px;
		@include box-sizing;
		@include clearfix;

		.profImgWrap {
			float: left;
			margin-right: 10px;
		}
		.profImg {
			border: 1px solid #d3d3d3;
		}
		&Inner {
			position: relative;
			float: right;
			width: 513px;
			padding: 10px;
			border: 1px solid #e6e6e6;
			@include border-radius(3px);
			@include box-sizing;
			background: #fff;

			&:before {
				display: block;
				position: absolute;
				left: -17px;
				top: 4px;
				border-top: 9px solid transparent;
				border-right: 8px solid #e6e6e6;
				border-bottom: 9px solid transparent;
				border-left: 9px solid transparent;
				content: "";
			}
			&:after {
				display: block;
				position: absolute;
				left: -13px;
				top: 6px;
				border-top: 8px solid transparent;
				border-right: 7px solid #fff;
				border-bottom: 8px solid transparent;
				border-left: 7px solid transparent;
				content: "";
			}
		}
		.selectBtn {
			position: relative;
			width: 125px;
			padding-bottom: 10px;
			color: $color_green;
			font-size: 16px;
			cursor: pointer;

			&:after {
				display: block;
				position: absolute;
				right: 10px;
				top: 6px;
				width: 6px;
				height: 6px;
				border-top: 3px solid $color_green;
				border-right: 3px solid $color_green;
				-webkit-transform: rotate(135deg);
				transform: rotate(135deg);
				content: "";
			}
		}
		textarea {
			width: 100%;
			margin-bottom: 10px;
			padding: 8px;
			border: none;
			border-top: 1px solid #f5f5f5;
			@include box-sizing;
			resize: none;
			outline: 0;

			&::-webkit-input-placeholder {
				color: #f2f2f2;
				font-size: 14px;
			}
		}
		.thumbnailList {
			margin-bottom: 8px;

			.thumbnail {
				display: inline-block;
			}
		}
		.photoBtnWrap {
			position: relative;
		}
		.photoBtnText {
			padding-top: 3px;
			padding-left: 30px;
			@include img_set-PC2(0, -347px);
			color: #929292;
			font-size: 12px;
		}
		.addPhoto {
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100px;
			opacity: 0;
		}
		.addPostBtn {
			position: absolute;
			right: 10px;
			bottom: 10px;
			width: 88px;
			height: 30px;
			@include border-radius(3px);
			background: $color_green;
			color: #fff;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			line-height: 30px;
			cursor: pointer;
		}
		.selectModal {
			display: none;
			position: absolute;
			top: 45px;
			left: 0;
			z-index: 10;
			@include border-radius(5px);
			@include box-shadow(0, 0, 16px, 1px, rgba(0, 0, 0, 0.2));
			background: #fff;
			font-weight: bold;
			font-size: 12px;

			.playing {
				padding: 10px 10px 0;
				color: $color_red;
				line-height: 23px;
			}
			.ready {
				padding: 0 10px;
				color: $color_yellow;
				line-height: 23px;
			}
			.played {
				padding: 0 10px;
				color: $color_blue;
				line-height: 23px;
			}
			.gameList {
				padding-bottom: 10px;
				.item {
					padding: 0 10px;
					color: $color_black;
					line-height: 23px;

					&:hover {
						background: #f5f5f5;
						cursor: pointer;
					}
				}
			}
		}
	}
}