@import "_function.css.scss";

$cntWidth: 580px;

/*---   .mainContent   ---------------------------*/
.mainContent {
	padding: 46px 0;

	/*---   .mainTtl   ----------*/
	.mainTtl {
		margin-bottom: 40px;
		color: #3e3e3e;
		font-size: 24px;
		font-weight: bold;
		text-align: center;
	}
	/*---   .postBtn   ----------*/
	.postBtn {
		display: block;
		width: $cntWidth;
		margin: 0 auto 100px;
		padding: 10px;
		@include border-radius(3px);
		@include box-sizing;
		background: #fff;
		color: #0e0e0e;
		font-size: 18px;
		line-height: 1.0;
	}
	/*---   .postBox   ----------*/
	.postBox {
		width: $cntWidth;
		margin: 0 auto 18px;
		padding: 10px;
		@include border-radius(3px);
		@include box-sizing;
		background: #fff;

		/*---   .topBox   ---*/
		.topBox {
			position: relative;
			margin-bottom: 7px;
			@include clearfix;

			.profImg {
				float: left;
				margin-right: 10px;
			}
			.account {
				color: #000;
				font-size: 14px;
				line-height: 1.0;
			}
			.time {
				font-size: 10px;
			}
			.status {
				position: absolute;
				top: 0;
				right: 0;
				width: 88px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				background: #bfbfbf;
			}
		}
		/*---   .gameTtl   ---*/
		.gameTtl {
			margin-bottom: 18px;
			font-size: 18px;
			line-height: 1.5;
		}
		/*---   .postTxt   ---*/
		.postTxt {
			margin-bottom: 14px;
			line-height: 1.5;
		}
		/*---   .thumbnail   ---*/
		.thumbnail {
			&Img {
				width: 100%;
			}
		}
		/*---   .actionList   ---*/
		.actionList {
			margin-top: 25px;
			@include clearfix;

			.item {
				float: left;
				position: relative;
				padding-left: 35px;
				line-height: 27px;

				&:before {
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 27px;
					height: 27px;
					background: #bfbfbf;
					content: "";
				}
			}
			.cmtBtn {
				margin-right: 34px;
			}
		}
	}
}