!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/game.css"}
	%body
		#wrapper
			.home
				/	header
				%header{role: "banner"}
					%section.headerInner
						%h1.ttl Palydy
						%ul.funcBoxLeft
							%li.homeWrap
								%a.home{href: ""} HOME
							%li.alertWrap
								%a.alert{href: ""}  通知
							%li.profileWrap
								%a.profile{href: ""} プロフィール
						%ul.funcBoxRight
							%li.searchBox
								%form.searchWrap
									%input.search{type: "text", id:"comment", placeholder: "search"}
							%li.optionWrap
								%a.option{href: ""}
				/	/header

				/	.mainCnt
				.mainCnt{role: "main"}
					/	.personalClm
					.personalClm
						/	.profBox
						%section.profBox
							.profBoxTop
								%figure.profImgWrap
									%img.profImg{src: "images/asuya.jpg", width: "58", height: "58", alt: ""}
								%h2.name Asuya
								%p.place
									%span.place--town Tokyo
									%span.place--country Japan
							%ul.countBox
								%li.item
									%h3.ttl フォロー
									%p.text 12
								%li.item
									%h3.ttl フォロワー
									%p.text 18
								%li.item
									%h3.ttl ゲーム数
									%p.text 34
								%li.item
									%h3.ttl ポスト数
									%p.text 567
							%p.introBox テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、
						/	/.profBox

						/	.trendBox
						%section.trendBox
							%h3.ttl トレンド
							%ul
								%li.word 格ゲー
								%li.word ゲーム
								%li.word.evenRung 神ゲー
								%li.word.lastItem 神ゲー
						/	/.trendBox

						/	.activityBox
						%section.activityBox
							%h3.ttl アクティビティ
							.playing
								%h4.playTtl playing
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game01.png", width: "50", height: "50", alt: ""}
							.played
								%h4.playTtl played
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game02.png", width: "50", height: "50", alt: ""}
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game03.png", width: "50", height: "50", alt: ""}
						/	/.activityBox
					/	/.personalClm

					/	.gameClm
					.gameClm
						/	.gameBox
						.gameBox
							%figure.gameImgWrap
								%img.gameImg{src: "images/game_img01.jpg", width: "135", height: "192", alt: ""}
							%section.gameInfo
								%h2.ttl スーパーマリオ 3Dワールド
								%ul.estimateList
									%li.item.postNum
										%span.icon
										ポスト数
										%span.count 567
									%li.item.all
										%span.icon
										全体の評価
										%ul.stars
											- 3.times do |i|
												%li.star ☆
											%li.star.lastItem ☆
									%li.item.mine
										%span.icon
										自分の評価
										%ul.stars
											- 3.times do |i|
												%li.star ☆
											%li.star.lastItem ☆
									%li.item.review
										%a.reviewBtn{href: ""} レビューを書く
								%ul.infoBox
									%li.item
										%span.block 発売日
										%span.year 2013
										%span.month 11
										%span.day 12
									%li.item
										ハード
										%span.hard Wii U
									%li.item
										メーカー
										%span.maker
											スクウェア・
											%br
											エニックス
									%li.item.lastItem
										%a.amazonBtn{href: ""} Amazonへ
										%a.steamBtn{href: ""} Steamへ
						/	/.gameBox

						/	.postBox
						.postBox
							/	.followPost
							.followPost
								%section.estimateBox
									%h2.ttl フォローのポスト
									%span.num 3.8
									%h3.subTtl
										フォロー
										%br
										の評価
								%article.post
									.topBox
										%img.profImg{src: "images/baba.jpg", width: "62", height: "62", alt: ""}
										.postArea
											%a.account{href: ""} baba
											%time.time 2時間前
											%h2.ttl
												アルティメットヒッツ
												%br
												ファイナルファンタジー
											.mood_playing プレイ中
									%p.text
										特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
										%br
										結果、すごく楽しんでいます。
										%br
										四人まで遊べますが、一人でやるより難しい。
										%br
										先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
									.stateBox
										%span.commentBtn コメントする
										%span.favBtn 12
								%article.post
									.topBox
										%img.profImg{src: "images/akiho.jpg", width: "62", height: "62", alt: ""}
										.postArea
											%a.account{href: ""} baba
											%time.time 2時間前
											%h2.ttl
												アルティメットヒッツ
												%br
												ファイナルファンタジー
											.mood_played クリア
									%p.text
										・BGMが素晴らしい、特にワールド★と最終ワールドのオーケストラ音楽がいいですね！
										%br
										　今サントラを探しています。
										%br
										・効果音もいい。ガラス面を歩く音とか気持ちいい。
										%br
										　特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
									.stateBox
										%span.commentBtn コメントする
										%span.favBtn 12
								- 2.times do |i|
									%article.post
										.topBox
											%img.profImg{src: "images/baba.jpg", width: "62", height: "62", alt: ""}
												.postArea
													%a.account{href: ""} baba
													%time.time 2時間前
													%h2.ttl
														アルティメットヒッツ
														%br
														ファイナルファンタジー
													.mood_playing プレイ中
										%p.text
											特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
											%br 結果、すごく楽しんでいます。
											%br 四人まで遊べますが、一人でやるより難しい。
											%br 先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
										.stateBox
											%span.commentBtn コメントする
											%span.favBtn 12
							/	/.followPost

							/	.othersPost
							.othersPost
								%section.estimateBox
									%h2.ttl フォロー以外のポスト
									%span.num 2.5
									%h3.subTtl
										フォロー
										%br
										以外
										%br
										の評価
								%article.post
									.topBox
										%img.profImg{src: "images/baba.jpg", width: "62", height: "62", alt: ""}
										.postArea
											%a.account{href: ""} baba
											%time.time 2時間前
											%h2.ttl
												アルティメットヒッツ
												%br
												ファイナルファンタジー
											.mood_playing プレイ中
									%p.text
										特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
										%br
										結果、すごく楽しんでいます。
										%br
										四人まで遊べますが、一人でやるより難しい。
										%br
										先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
									.stateBox
										%span.commentBtn コメントする
										%span.favBtn 12
								%article.post
									.topBox
										%img.profImg{src: "images/akiho.jpg", width: "62", height: "62", alt: ""}
										.postArea
											%a.account{href: ""} baba
											%time.time 2時間前
											%h2.ttl
												アルティメットヒッツ
												%br
												ファイナルファンタジー
											.mood_played クリア
									%p.text
										・BGMが素晴らしい、特にワールド★と最終ワールドのオーケストラ音楽がいいですね！
										%br
										　今サントラを探しています。
										%br
										・効果音もいい。ガラス面を歩く音とか気持ちいい。
										%br
										　特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
									.stateBox
										%span.commentBtn コメントする
										%span.favBtn 12
								- 2.times do |i|
									%article.post
										.topBox
											%img.profImg{src: "images/baba.jpg", width: "62", height: "62", alt: ""}
												.postArea
													%a.account{href: ""} baba
													%time.time 2時間前
													%h2.ttl
														アルティメットヒッツ
														%br
														ファイナルファンタジー
													.mood_playing プレイ中
										%p.text
											特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
											%br 結果、すごく楽しんでいます。
											%br 四人まで遊べますが、一人でやるより難しい。
											%br 先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
										.stateBox
											%span.commentBtn コメントする
											%span.favBtn 12
							/	/.othersPost
					/	/.gameClm
