<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/game.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='home'>
        <!-- header -->
        <header role='banner'>
          <section class='headerInner'>
            <h1 class='ttl'>Palydy</h1>
            <ul class='funcBoxLeft'>
              <li class='homeWrap'>
                <a class='home' href=''>HOME</a>
              </li>
              <li class='alertWrap'>
                <a class='alert' href=''>通知</a>
              </li>
              <li class='profileWrap'>
                <a class='profile' href=''>プロフィール</a>
              </li>
            </ul>
            <ul class='funcBoxRight'>
              <li class='searchBox'>
                <form class='searchWrap'>
                  <input class='search' id='comment' placeholder='search' type='text'>
                </form>
              </li>
              <li class='optionWrap'>
                <a class='option' href=''></a>
              </li>
            </ul>
          </section>
        </header>
        <!-- /header -->
        <!-- .mainCnt -->
        <div class='mainCnt' role='main'>
          <!-- .personalClm -->
          <div class='personalClm'>
            <!-- .profBox -->
            <section class='profBox'>
              <div class='profBoxTop'>
                <figure class='profImgWrap'>
                  <img alt='' class='profImg' height='58' src='images/asuya.jpg' width='58'>
                </figure>
                <h2 class='name'>Asuya</h2>
                <p class='place'>
                  <span class='place--town'>Tokyo</span>
                  <span class='place--country'>Japan</span>
                </p>
              </div>
              <ul class='countBox'>
                <li class='item'>
                  <h3 class='ttl'>フォロー</h3>
                  <p class='text'>12</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>フォロワー</h3>
                  <p class='text'>18</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>ゲーム数</h3>
                  <p class='text'>34</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>ポスト数</h3>
                  <p class='text'>567</p>
                </li>
              </ul>
              <p class='introBox'>テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、</p>
            </section>
            <!-- /.profBox -->
            <!-- .trendBox -->
            <section class='trendBox'>
              <h3 class='ttl'>トレンド</h3>
              <ul>
                <li class='word'>格ゲー</li>
                <li class='word'>ゲーム</li>
                <li class='word evenRung'>神ゲー</li>
                <li class='word lastItem'>神ゲー</li>
              </ul>
            </section>
            <!-- /.trendBox -->
            <!-- .activityBox -->
            <section class='activityBox'>
              <h3 class='ttl'>アクティビティ</h3>
              <div class='playing'>
                <h4 class='playTtl'>playing</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                </ul>
              </div>
              <div class='played'>
                <h4 class='playTtl'>played</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                </ul>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                </ul>
              </div>
            </section>
            <!-- /.activityBox -->
          </div>
          <!-- /.personalClm -->
          <!-- .gameClm -->
          <div class='gameClm'>
            <!-- .gameBox -->
            <div class='gameBox'>
              <figure class='gameImgWrap'>
                <img alt='' class='gameImg' height='192' src='images/game_img01.jpg' width='135'>
              </figure>
              <section class='gameInfo'>
                <h2 class='ttl'>スーパーマリオ 3Dワールド</h2>
                <ul class='estimateList'>
                  <li class='item postNum'>
                    <span class='icon'></span>
                    ポスト数
                    <span class='count'>567</span>
                  </li>
                  <li class='item all'>
                    <span class='icon'></span>
                    全体の評価
                    <ul class='stars'>
                      <li class='star'>☆</li>
                      <li class='star'>☆</li>
                      <li class='star'>☆</li>
                      <li class='star lastItem'>☆</li>
                    </ul>
                  </li>
                  <li class='item mine'>
                    <span class='icon'></span>
                    自分の評価
                    <ul class='stars'>
                      <li class='star'>☆</li>
                      <li class='star'>☆</li>
                      <li class='star'>☆</li>
                      <li class='star lastItem'>☆</li>
                    </ul>
                  </li>
                  <li class='item review'>
                    <a class='reviewBtn' href=''>レビューを書く</a>
                  </li>
                </ul>
                <ul class='infoBox'>
                  <li class='item'>
                    <span class='block'>発売日</span>
                    <span class='year'>2013</span>
                    <span class='month'>11</span>
                    <span class='day'>12</span>
                  </li>
                  <li class='item'>
                    ハード
                    <span class='hard'>Wii U</span>
                  </li>
                  <li class='item'>
                    メーカー
                    <span class='maker'>
                      スクウェア・
                      <br>
                      エニックス
                    </span>
                  </li>
                  <li class='item lastItem'>
                    <a class='amazonBtn' href=''>Amazonへ</a>
                    <a class='steamBtn' href=''>Steamへ</a>
                  </li>
                </ul>
              </section>
            </div>
            <!-- /.gameBox -->
            <!-- .postBox -->
            <div class='postBox'>
              <!-- .followPost -->
              <div class='followPost'>
                <section class='estimateBox'>
                  <h2 class='ttl'>フォローのポスト</h2>
                  <span class='num'>3.8</span>
                  <h3 class='subTtl'>
                    フォロー
                    <br>
                    の評価
                  </h3>
                </section>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                    <div class='postArea'>
                      <a class='account' href=''>baba</a>
                      <time class='time'>2時間前</time>
                      <h2 class='ttl'>
                        アルティメットヒッツ
                        <br>
                        ファイナルファンタジー
                      </h2>
                      <div class='mood_playing'>プレイ中</div>
                    </div>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>
                    結果、すごく楽しんでいます。
                    <br>
                    四人まで遊べますが、一人でやるより難しい。
                    <br>
                    先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/akiho.jpg' width='62'>
                    <div class='postArea'>
                      <a class='account' href=''>baba</a>
                      <time class='time'>2時間前</time>
                      <h2 class='ttl'>
                        アルティメットヒッツ
                        <br>
                        ファイナルファンタジー
                      </h2>
                      <div class='mood_played'>クリア</div>
                    </div>
                  </div>
                  <p class='text'>
                    ・BGMが素晴らしい、特にワールド★と最終ワールドのオーケストラ音楽がいいですね！
                    <br>
                    　今サントラを探しています。
                    <br>
                    ・効果音もいい。ガラス面を歩く音とか気持ちいい。
                    <br>
                    　特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                      <div class='postArea'>
                        <a class='account' href=''>baba</a>
                        <time class='time'>2時間前</time>
                        <h2 class='ttl'>
                          アルティメットヒッツ
                          <br>
                          ファイナルファンタジー
                        </h2>
                        <div class='mood_playing'>プレイ中</div>
                      </div>
                    </img>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>結果、すごく楽しんでいます。</br>
                    <br>四人まで遊べますが、一人でやるより難しい。</br>
                    <br>先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑</br>
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                      <div class='postArea'>
                        <a class='account' href=''>baba</a>
                        <time class='time'>2時間前</time>
                        <h2 class='ttl'>
                          アルティメットヒッツ
                          <br>
                          ファイナルファンタジー
                        </h2>
                        <div class='mood_playing'>プレイ中</div>
                      </div>
                    </img>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>結果、すごく楽しんでいます。</br>
                    <br>四人まで遊べますが、一人でやるより難しい。</br>
                    <br>先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑</br>
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
              </div>
              <!-- /.followPost -->
              <!-- .othersPost -->
              <div class='othersPost'>
                <section class='estimateBox'>
                  <h2 class='ttl'>フォロー以外のポスト</h2>
                  <span class='num'>2.5</span>
                  <h3 class='subTtl'>
                    フォロー
                    <br>
                    以外
                    <br>
                    の評価
                  </h3>
                </section>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                    <div class='postArea'>
                      <a class='account' href=''>baba</a>
                      <time class='time'>2時間前</time>
                      <h2 class='ttl'>
                        アルティメットヒッツ
                        <br>
                        ファイナルファンタジー
                      </h2>
                      <div class='mood_playing'>プレイ中</div>
                    </div>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>
                    結果、すごく楽しんでいます。
                    <br>
                    四人まで遊べますが、一人でやるより難しい。
                    <br>
                    先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/akiho.jpg' width='62'>
                    <div class='postArea'>
                      <a class='account' href=''>baba</a>
                      <time class='time'>2時間前</time>
                      <h2 class='ttl'>
                        アルティメットヒッツ
                        <br>
                        ファイナルファンタジー
                      </h2>
                      <div class='mood_played'>クリア</div>
                    </div>
                  </div>
                  <p class='text'>
                    ・BGMが素晴らしい、特にワールド★と最終ワールドのオーケストラ音楽がいいですね！
                    <br>
                    　今サントラを探しています。
                    <br>
                    ・効果音もいい。ガラス面を歩く音とか気持ちいい。
                    <br>
                    　特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                      <div class='postArea'>
                        <a class='account' href=''>baba</a>
                        <time class='time'>2時間前</time>
                        <h2 class='ttl'>
                          アルティメットヒッツ
                          <br>
                          ファイナルファンタジー
                        </h2>
                        <div class='mood_playing'>プレイ中</div>
                      </div>
                    </img>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>結果、すごく楽しんでいます。</br>
                    <br>四人まで遊べますが、一人でやるより難しい。</br>
                    <br>先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑</br>
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
                <article class='post'>
                  <div class='topBox'>
                    <img alt='' class='profImg' height='62' src='images/baba.jpg' width='62'>
                      <div class='postArea'>
                        <a class='account' href=''>baba</a>
                        <time class='time'>2時間前</time>
                        <h2 class='ttl'>
                          アルティメットヒッツ
                          <br>
                          ファイナルファンタジー
                        </h2>
                        <div class='mood_playing'>プレイ中</div>
                      </div>
                    </img>
                  </div>
                  <p class='text'>
                    特に買うつもりもなかったのですが、面白そうだったので買ってしまいました。
                    <br>結果、すごく楽しんでいます。</br>
                    <br>四人まで遊べますが、一人でやるより難しい。</br>
                    <br>先々進まれると思わずちょっと！！今何かあったのに！！と叫んでしまいます。笑</br>
                  </p>
                  <div class='stateBox'>
                    <span class='commentBtn'>コメントする</span>
                    <span class='favBtn'>12</span>
                  </div>
                </article>
              </div>
              <!-- /.othersPost -->
            </div>
          </div>
          <!-- /.gameClm -->
        </div>
      </div>
    </div>
  </body>
</html>
