- # coding: utf-8
!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Gameful
    %link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
    %link{rel: "stylesheet", href: "stylesheets/common.css"}
    %link{rel: "stylesheet", href: "stylesheets/game.css"}
  %body
    %header.header
      .headerInner
        %h1.logo ロゴかなー
        %nav.gnavi
          %ul.gnaviList
            - 6.times do |i|
              %li.item
                %a.gnaviBtn{href: ""}
    %section.mainContent
      .gameBox
        .gameBoxInner
          %figure.gameImgWrap
            %img{src: "", width: "160", height: "222", alt: "ゲームパッケージ画像"}
          .gameInfoBox
            %h1.gameTtl ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。
            %ul.gameInfoList
              %li.item メーカー：ほげほげ
              %li.item ハード：ほげほげ
              %li.item リリース日：ほげほげ
            %p.review
              %span.reviewStar ★★★☆☆
              3.0
            %a.amazonBtn{href: ""} Amazon
          %ul.gameBtnList
            %li.item
              %select{size: "1"}
                %option{value: ""} 評価
                %option{value: "1"} ★☆☆☆☆
                %option{value: "2"} ★★☆☆☆
                %option{value: "3"} ★★★☆☆
                %option{value: "4"} ★★★★☆
                %option{value: "5"} ★★★★★
            %li.item
              %select{size: "1"}
                %option{value: ""} ステータス
                %option{value: "1"} 気になる
                %option{value: "2"} プレイ中
                %option{value: "3"} アーカイブ
          %ul.sortList
            %li.item.current フォロー中のユーザー
            %li.item すべてのユーザー
            %li.item いいね順
      - 3.times do |i|
        %article.postBox
          .topBox
            %figure.profImg
              %img{src: "", width: "44", height: "44", alt: "ユーザー画像"}
            %a.account{href: ""} ユーザーネーム
            %p.time 投稿時間
            %p.status ステータス
          %h2.gameTtl ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。
          %p.postTxt コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。
          .thumbnail
            %img.thumbnailImg{src: "", alt: "アップロードした写真"}
          %ul.actionList
            %li.item.cmtBtn コメント
            %li.item.fvrBtn いいね
    %footer.footer
      %ul.ftList
        %li.item
          %a.ftLink{href: ""} 免責事項とか
        %li.item
          %a.ftLink{href: ""} リンクとか
        %li.item
          %a.ftLink{href: ""} いろいろ
        %li.item
          %a.ftLink{href: ""} フッター
      %small.copyright &copy; 2014 Gameful.