<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/game.css' rel='stylesheet'>
  </head>
  <body>
    <header class='header'>
      <div class='headerInner'>
        <h1 class='logo'>Gameful</h1>
        <form class='searchWrap'>
          <input class='search' placeholder='キーワードでゲームを探す'>
        </form>
        <nav class='gnavi'>
          <ul class='gnaviList'>
            <li class='item'>
              <a class='toTimelineBtn' href=''>タイムライン</a>
            </li>
            <li class='item'>
              <a class='toProfileBtn' href=''>マイページ</a>
            </li>
            <li class='item'>
              <span class='notify'>
                通知
                <span class='notifyNum'>1</span>
              </span>
            </li>
          </ul>
        </nav>
        <figure class='profImgWrap'>
          <img alt='' class='profImg' height='35' src='../test_set/test02.png' width='35'>
        </figure>
      </div>
    </header>
    <section class='mainContent'>
      <div class='gameBox'>
        <div class='gameBoxInner'>
          <h1 class='gameTtl'>ゼルダの伝説 風のタクト HD</h1>
          <figure class='gameImgWrap'>
            <img alt='ゲームパッケージ画像' src='../test_set/test01.jpg' width='195'>
          </figure>
          <div class='gameInfoBox'>
            <ul class='gameInfoList'>
              <li class='item'>メーカー：ほげほげ</li>
              <li class='item'>ジャンル：ほげほげ</li>
              <li class='item'>ハード：ほげほげ</li>
              <li class='item'>リリース日：ほげほげ</li>
            </ul>
            <a class='amazonBtn' href=''>Amazonで見る</a>
            <div class='reviewBox'>
              <ul class='starList'>
                <li class='starOn'>★</li>
                <li class='starOn'>★</li>
                <li class='starOn'>★</li>
                <li class='starOn'>★</li>
                <li class='starOff'>☆</li>
              </ul>
              <p class='value'>3.0</p>
            </div>
            <ul class='gameBtnList'>
              <li class='item'>
                <select size='1'>
                  <option value=''>評価</option>
                  <option value='1'>★☆☆☆☆</option>
                  <option value='2'>★★☆☆☆</option>
                  <option value='3'>★★★☆☆</option>
                  <option value='4'>★★★★☆</option>
                  <option value='5'>★★★★★</option>
                </select>
              </li>
              <li class='item'>
                <select size='1'>
                  <option value=''>ステータス</option>
                  <option value='1'>気になる</option>
                  <option value='2'>プレイ中</option>
                  <option value='3'>アーカイブ</option>
                </select>
              </li>
            </ul>
          </div>
          <section class='sortBox'>
            <h3 class='sortTtl'>このゲームに対するポスト</h3>
            <ul class='sortList'>
              <li class='item current'>フォロー中のユーザー</li>
              <li class='item'>すべてのユーザー</li>
              <li class='item'>いいね順</li>
            </ul>
          </section>
        </div>
      </div>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusPlayed'>クリア済み</p>
        </div>
        <p class='postTxt'>
          高画質になって遊びやすくなってきたと感じます
          <br>
          ＧＣの時の不満な点を改善したと思います
          <br>
          しかしながら改善するなら削ったダンジョンを復活してほしかった
        </p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusPlaying'>プレイ中</p>
        </div>
        <p class='postTxt'>
          内容は最近のゲームの中でトップでした。グラフィックも非常に綺麗でかなり満足しました。
          <br>
          …ですがシステム面に不満があり、この評価です。
          <br>
          ・処理落ちが酷い（敵が多数出現した場合戦うのが苦痛です）
          <br>
          ・アイテムが無いとボスが強すぎる（逆にあると非常に楽勝です）
          <br>
          ・一度クリアしてもステージセレクトができない
          <br>
          でも最後までクリアできたのはやはりシナリオのおかげです。（一度クリアするのに40時間ほどかかりました）ストーリを楽しみたい人にはいいゲームだと思います。
        </p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
        <div class='commentBox'>
          <figure class='profImgWrap'>
            <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
          </figure>
          <form class='commentWrap'>
            <textarea class='comment' placeholder='コメントする'></textarea>
          </form>
        </div>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusReady'>気になる</p>
        </div>
        <p class='postTxt'>気になってます。気になってます。気になってます。気になってます。気になってます。気になってます。</p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
        <div class='commentBox'>
          <ul class='commentList'>
            <li class='item'>
              <figure class='profImgWrap'>
                <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
              </figure>
              <div class='commentInfo'>
                <a class='account' href=''>Asuya Kono</a>
                <p class='commentTime'>3時間前</p>
                <p class='fvrBtn'>いいね！</p>
                <p class='userComment'>俺も好きだよ！グラフィックがいいよね</p>
              </div>
            </li>
            <li class='item'>
              <figure class='profImgWrap'>
                <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
              </figure>
              <div class='commentInfo'>
                <a class='account' href=''>Asuya Kono</a>
                <p class='commentTime'>3時間前</p>
                <p class='fvrBtn'>いいね！</p>
                <p class='userComment'>俺も好きだよ！グラフィックがいいよね</p>
              </div>
            </li>
          </ul>
          <div class='myCommentBox'>
            <figure class='profImgWrap'>
              <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
            </figure>
            <form class='commentWrap'>
              <textarea class='comment' placeholder='コメントする'></textarea>
            </form>
          </div>
        </div>
      </article>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
  </body>
</html>
