<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/index.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header role='banner'>
        <section class='headerInner'>
          <h1 class='header__ttl'>Palydy</h1>
          <ul class='header__funcBox'>
            <li class='header__homeWrap'>
              <a class='header__home' href=''>HOME</a>
            </li>
            <li class='header__alertWrap'>
              <a class='header__alert' href=''>通知</a>
            </li>
            <li class='header__profileWrap'>
              <a class='header__profile' href=''>プロフィール</a>
            </li>
            <li class='header__searchBox'>
              <form class='header__searchWrap'>
                <input class='header__search' id='comment' placeholder='search' type='text'>
              </form>
            </li>
            <li class='header__optionWrap'>
              <a class='header__option' href=''></a>
            </li>
          </ul>
        </section>
        <div class='headerLeft'></div>
        <div class='headerRight'></div>
      </header>
      <!-- /header -->
      <!-- .mainCnt -->
      <div class='mainCnt' role='main'>
        <!-- .personalClm -->
        <div class='personalClm'>
          <!-- .personalClm__profBox -->
          <section class='personalClm__profBox'>
            <div class='personalClm__profBoxTop'>
              <figure class='personalClm__profBox__profImgWrap circleBox'>
                <img alt='' class='personalClm__profBox__profImg' height='58' src='images/asuya.jpg' width='58'>
              </figure>
              <h2 class='personalClm__profBox__name'>Asuya</h2>
              <p class='personalClm__profBox__place'>
                <span class='personalClm__profBox__place--town'>Tokyo</span>
                <span class='personalClm__profBox__place--country'>Japan</span>
              </p>
            </div>
            <ul class='personalClm__profBox__countBox'>
              <li class='personalClm__profBox__countBox__item'>
                <h3 class='personalClm__profBox__countBox__ttl'>フォロー</h3>
                <p class='personalClm__profBox__countBox__text'>12</p>
              </li>
              <li class='personalClm__profBox__countBox__item'>
                <h3 class='personalClm__profBox__countBox__ttl'>フォロワー</h3>
                <p class='personalClm__profBox__countBox__text'>18</p>
              </li>
              <li class='personalClm__profBox__countBox__item'>
                <h3 class='personalClm__profBox__countBox__ttl'>ゲーム数</h3>
                <p class='personalClm__profBox__countBox__text'>34</p>
              </li>
              <li class='personalClm__profBox__countBox__item'>
                <h3 class='personalClm__profBox__countBox__ttl'>ポスト数</h3>
                <p class='personalClm__profBox__countBox__text'>567</p>
              </li>
            </ul>
            <p class='personalClm__profBox__introBox'>テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、</p>
          </section>
          <!-- /.personalClm__profBox -->
          <!-- .personalClm__trendBox -->
          <section class='personalClm__trendBox'>
            <h3 class='personalClm__trendBox__ttl'>トレンド</h3>
            <ul>
              <li class='personalClm__trendBox__word'>格ゲー</li>
              <li class='personalClm__trendBox__word'>ゲーム</li>
              <li class='personalClm__trendBox__word'>神ゲー</li>
              <li class='personalClm__trendBox__word'>神ゲー</li>
            </ul>
          </section>
          <!-- /.personalClm__trendBox -->
          <!-- .personalClm__activityBox -->
          <section class='personalClm__activityBox'>
            <h3 class='personalClm__activityBox__ttl'>アクティビティ</h3>
            <div class='personalClm__activityBox__playing'>
              <h4 class='personalClm__activityBox__playTtl'>playing</h4>
              <ul>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game01.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game01.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game01.png' width='50'>
                </li>
              </ul>
            </div>
            <div class='personalClm__activityBox__played'>
              <h4 class='personalClm__activityBox__playTtl'>played</h4>
              <ul>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game02.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game02.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game02.png' width='50'>
                </li>
              </ul>
              <ul>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game03.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game03.png' width='50'>
                </li>
                <li class='personalClm__activityBox__gameImgWrap'>
                  <img alt='' class='personalClm__activityBox__gameImg' height='50' src='images/game03.png' width='50'>
                </li>
              </ul>
            </div>
          </section>
          <!-- /.personalClm__activityBox -->
        </div>
        <!-- /.personalClm -->
        <!-- .timelineClm -->
        <div class='timelineClm'>
          <section class='timelineClm__entryBox'>
            <form class='timelineClm__entryBox__commentWrap'>
              <textarea class='timelineClm__entryBox__comment' cols='200' placeholder='ゲームのログを書こう。' role='textarea' wrap='hard'></textarea>
            </form>
          </section>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
          <article class='timelineClm__postBox'>
            <div class='timelineClm__postBox__topBox'>
              <img alt='' class='timelineClm__postBox__profImg circleBox' src='images/baba.jpg'>
              <div class='timelineClm__postBox__postArea'>
                <a class='timelineClm__postBox__account' href=''>@baba</a>
                <time class='timelineClm__postBox__time'>2時間前</time>
                <h2 class='timelineClm__postBox__ttl'>ファイナルファンタジー</h2>
              </div>
            </div>
            <div class='timelineClm__postBox__bottomBox'>
              <figure class='timelineClm__postBox__gameImg'>
                <img alt='' height='54' src='images/timelineClm__postBox__gameImg.png' width='51'>
              </figure>
              <div class='timelineClm__postBox__rightBox'>
                <p class='timelineClm__postBox__text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                <form class='timelineClm__postBox__commentWrap'>
                  <input class='timelineClm__postBox__comment' placeholder='コメントする' type='text'>
                </form>
                <div class='timelineClm__postBox__stateBox'>
                  <a class='timelineClm__postBox__favBtn' href=''>
                    いいね
                    <span class='timelineClm__postBox__favNum'>12</span>
                  </a>
                  <div class='timelineClm__postBox__mood clearfix'>playing</div>
                </div>
              </div>
            </div>
          </article>
        </div>
        <!-- /.timelineClm -->
        <!-- .friendClm -->
        <div class='friendClm'>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--in circleBox'></div>
          </a>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--in circleBox'></div>
          </a>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--in circleBox'></div>
          </a>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--in circleBox'></div>
          </a>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg circleBox'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--out circleBox'></div>
          </a>
          <a class='friendClm__user' href=''>
            <div class='friendClm__user__profImg circleBox'></div>
            <div class='friendClm__user__name'>user01</div>
            <div class='friendClm__user__log--out circleBox'></div>
          </a>
        </div>
        <!-- /.friendClm -->
      </div>
    </div>
  </body>
</html>
