!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "css/reset-min.css"}
		%link{rel: "stylesheet", href: "css/common.css"}
		%link{rel: "stylesheet", href: "css/index.css"}
	%body
		#wrapper
			/	header
			%header{role: "banner"}
				%section.headerInner
					%h1.header__ttl Palydy
					%ul.header__funcBox
						%li.header__homeWrap
							%a.header__home{href: ""} HOME
						%li.header__alertWrap
							%a.header__alert{href: ""}  通知
						%li.header__profileWrap
							%a.header__profile{href: ""} プロフィール
						%li.header__searchBox
							%form.header__searchWrap
								%input.header__search{type: "text", id:"comment", placeholder: "search"}
						%li.header__optionWrap
							%a.header__option{href: ""}
				.headerLeft
				.headerRight
			/	/header

			/	.mainCnt
			.mainCnt{role: "main"}
				/	.personalClm
				.personalClm
					/	.personalClm__profBox
					%section.personalClm__profBox
						.personalClm__profBoxTop
							%figure.personalClm__profBox__profImgWrap.circleBox
								%img.personalClm__profBox__profImg{src: "images/asuya.jpg", width: "58", height: "58", alt: ""}
							%h2.personalClm__profBox__name Asuya
							%p.personalClm__profBox__place
								%span.personalClm__profBox__place--town Tokyo
								%span.personalClm__profBox__place--country Japan
						%ul.personalClm__profBox__countBox
							%li.personalClm__profBox__countBox__item
								%h3.personalClm__profBox__countBox__ttl フォロー
								%p.personalClm__profBox__countBox__text 12
							%li.personalClm__profBox__countBox__item
								%h3.personalClm__profBox__countBox__ttl フォロワー
								%p.personalClm__profBox__countBox__text 18
							%li.personalClm__profBox__countBox__item
								%h3.personalClm__profBox__countBox__ttl ゲーム数
								%p.personalClm__profBox__countBox__text 34
							%li.personalClm__profBox__countBox__item
								%h3.personalClm__profBox__countBox__ttl ポスト数
								%p.personalClm__profBox__countBox__text 567
						%p.personalClm__profBox__introBox テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、
					/	/.personalClm__profBox

					/	.personalClm__trendBox
					%section.personalClm__trendBox
						%h3.personalClm__trendBox__ttl トレンド
						%ul
							%li.personalClm__trendBox__word 格ゲー
							%li.personalClm__trendBox__word ゲーム
							%li.personalClm__trendBox__word 神ゲー
							%li.personalClm__trendBox__word 神ゲー
					/	/.personalClm__trendBox

					/	.personalClm__activityBox
					%section.personalClm__activityBox
						%h3.personalClm__activityBox__ttl アクティビティ
						.personalClm__activityBox__playing
							%h4.personalClm__activityBox__playTtl playing
							%ul
								- 3.times do |i|
									%li.personalClm__activityBox__gameImgWrap
										%img.personalClm__activityBox__gameImg{src: "images/game01.png", width: "50", height: "50", alt: ""}
						.personalClm__activityBox__played
							%h4.personalClm__activityBox__playTtl played
							%ul
								- 3.times do |i|
									%li.personalClm__activityBox__gameImgWrap
										%img.personalClm__activityBox__gameImg{src: "images/game02.png", width: "50", height: "50", alt: ""}
							%ul
								- 3.times do |i|
									%li.personalClm__activityBox__gameImgWrap
										%img.personalClm__activityBox__gameImg{src: "images/game03.png", width: "50", height: "50", alt: ""}
					/	/.personalClm__activityBox

				/	/.personalClm

				/	.timelineClm
				.timelineClm
					%section.timelineClm__entryBox
						%form.timelineClm__entryBox__commentWrap
							%textarea.timelineClm__entryBox__comment{role: "textarea", cols: "200", wrap: "hard", placeholder: "ゲームのログを書こう。"}

					- 6.times do |i|
						%article.timelineClm__postBox
							.timelineClm__postBox__topBox
								%img.timelineClm__postBox__profImg.circleBox{src: "images/baba.jpg", alt: ""}
								.timelineClm__postBox__postArea
									%a.timelineClm__postBox__account{href: ""} @baba
									%time.timelineClm__postBox__time 2時間前
									%h2.timelineClm__postBox__ttl ファイナルファンタジー
							.timelineClm__postBox__bottomBox
								%figure.timelineClm__postBox__gameImg
									%img{src: "images/timelineClm__postBox__gameImg.png", width: "51", height: "54", alt: ""}
								.timelineClm__postBox__rightBox
									%p.timelineClm__postBox__text テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト
									%form.timelineClm__postBox__commentWrap
										%input.timelineClm__postBox__comment{type: "text", placeholder: "コメントする"}
									.timelineClm__postBox__stateBox
										%a.timelineClm__postBox__favBtn{href: ""}
											いいね
											%span.timelineClm__postBox__favNum 12
										.timelineClm__postBox__mood.clearfix playing
				/	/.timelineClm

				/	.friendClm
				.friendClm
					- 4.times do |i|
						%a.friendClm__user{href: ""}
							.friendClm__user__profImg

							.friendClm__user__name user01
							.friendClm__user__log--in.circleBox
					- 2.times do |i|
						%a.friendClm__user{href: ""}
							.friendClm__user__profImg.circleBox
							.friendClm__user__name user01
							.friendClm__user__log--out.circleBox
				/	/.friendClm
