!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/profile.css"}
	%body
		#wrapper
			.home
				/	header
				%header{role: "banner"}
					%section.headerInner
						%h1.ttl Palydy
						%ul.funcBoxLeft
							%li.homeWrap
								%a.home{href: ""} HOME
							%li.alertWrap
								%a.alert{href: ""}  通知
							%li.profileWrap
								%a.profile{href: ""} プロフィール
						%ul.funcBoxRight
							%li.searchBox
								%form.searchWrap
									%input.search{type: "text", id:"comment", placeholder: "search"}
							%li.optionWrap
								%a.option{href: ""}
				/	/header

				/	.mainCnt
				.mainCnt{role: "main"}
					/	.personalClm
					.personalClm
						/	.trendBox
						%section.trendBox
							%h3.ttl トレンド
							%ul
								%li.word 格ゲー
								%li.word ゲーム
								%li.word.evenRung 神ゲー
								%li.word.lastItem 神ゲー
						/	/.trendBox

						/	.activityBox
						%section.activityBox
							%h3.ttl アクティビティ
							.playing
								%h4.playTtl playing
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game01.png", width: "50", height: "50", alt: ""}
							.played
								%h4.playTtl played
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game02.png", width: "50", height: "50", alt: ""}
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game03.png", width: "50", height: "50", alt: ""}
						/	/.activityBox
					/	/.personalClm

					/	.gameClm
					.gameClm
						/	.personalBox
						.personalBoxWrap
							%figure.profImgWrap
								%img.profImg{src: "images/asuya02.jpg", height: "143", alt: ""}
							%section.personalBox
								%h1.name Asuya
								%p.place
									%span.town Tokyo
									%span.country Japan
								%p.text てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。
							%ul.countBox
								%li.item.current
									%span.count 132
									ゲーム
								%li.item
									%span.count 249
									ポスト
								%li.item
									%span.count 178
									フォロー
								%li.item.lastItem
									%span.count 153
									フォロワー
						/	/.personalBox

						/	.gameBox
						.gameBox
							%ul.sortBox
								%li.item.current
									プレイ中
									%span.animBorder
								%li.item
									気になる
									%span.animBorder
								%li.item
									アーカイブ
									%span.animBorder
							%a.profEdit{href: ""} プロフィール編集
							- 2.times do |i|
								%ul.gameList
									- 3.times do |i|
										%li.item
											%article.game
												%img.gameImg{src: "images/game.jpg", width: "160", height: "180", alt: ""}
												%h1.ttl Final Fantasy XIV: A Realm Reborn (PS4)
												%ul.stars
													- 3.times do |i|
														%li.star
													%li.star.lastItem
									%li.item.lastItem
										%article.game
											%img.gameImg{src: "images/game.jpg", width: "160", height: "180", alt: ""}
											%h1.ttl Final Fantasy XIV: A Realm Reborn (PS4)
											%ul.stars
												- 3.times do |i|
													%li.star
												%li.star.lastItem
						/	/.gameBox
					/	/.gameClm