<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/profile.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='home'>
        <!-- header -->
        <header role='banner'>
          <section class='headerInner'>
            <h1 class='ttl'>Palydy</h1>
            <ul class='funcBoxLeft'>
              <li class='homeWrap'>
                <a class='home' href=''>HOME</a>
              </li>
              <li class='alertWrap'>
                <a class='alert' href=''>通知</a>
              </li>
              <li class='profileWrap'>
                <a class='profile' href=''>プロフィール</a>
              </li>
            </ul>
            <ul class='funcBoxRight'>
              <li class='searchBox'>
                <form class='searchWrap'>
                  <input class='search' id='comment' placeholder='search' type='text'>
                </form>
              </li>
              <li class='optionWrap'>
                <a class='option' href=''></a>
              </li>
            </ul>
          </section>
        </header>
        <!-- /header -->
        <!-- .mainCnt -->
        <div class='mainCnt' role='main'>
          <!-- .personalClm -->
          <div class='personalClm'>
            <!-- .trendBox -->
            <section class='trendBox'>
              <h3 class='ttl'>トレンド</h3>
              <ul>
                <li class='word'>格ゲー</li>
                <li class='word'>ゲーム</li>
                <li class='word evenRung'>神ゲー</li>
                <li class='word lastItem'>神ゲー</li>
              </ul>
            </section>
            <!-- /.trendBox -->
            <!-- .activityBox -->
            <section class='activityBox'>
              <h3 class='ttl'>アクティビティ</h3>
              <div class='playing'>
                <h4 class='playTtl'>playing</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                </ul>
              </div>
              <div class='played'>
                <h4 class='playTtl'>played</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                </ul>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                </ul>
              </div>
            </section>
            <!-- /.activityBox -->
          </div>
          <!-- /.personalClm -->
          <!-- .gameClm -->
          <div class='gameClm'>
            <!-- .personalBox -->
            <div class='personalBoxWrap'>
              <figure class='profImgWrap'>
                <img alt='' class='profImg' height='143' src='images/asuya02.jpg'>
              </figure>
              <section class='personalBox'>
                <h1 class='name'>Asuya</h1>
                <p class='place'>
                  <span class='town'>Tokyo</span>
                  <span class='country'>Japan</span>
                </p>
                <p class='text'>てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。てすと。</p>
              </section>
              <ul class='countBox'>
                <li class='item current'>
                  <span class='count'>132</span>
                  ゲーム
                </li>
                <li class='item'>
                  <span class='count'>249</span>
                  ポスト
                </li>
                <li class='item'>
                  <span class='count'>178</span>
                  フォロー
                </li>
                <li class='item lastItem'>
                  <span class='count'>153</span>
                  フォロワー
                </li>
              </ul>
            </div>
            <!-- /.personalBox -->
            <!-- .gameBox -->
            <div class='gameBox'>
              <ul class='sortBox'>
                <li class='item current'>
                  プレイ中
                  <span class='animBorder'></span>
                </li>
                <li class='item'>
                  気になる
                  <span class='animBorder'></span>
                </li>
                <li class='item'>
                  アーカイブ
                  <span class='animBorder'></span>
                </li>
              </ul>
              <a class='profEdit' href=''>プロフィール編集</a>
              <ul class='gameList'>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item lastItem'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
              </ul>
              <ul class='gameList'>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
                <li class='item lastItem'>
                  <article class='game'>
                    <img alt='' class='gameImg' height='180' src='images/game.jpg' width='160'>
                    <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
                    <ul class='stars'>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star'></li>
                      <li class='star lastItem'></li>
                    </ul>
                  </article>
                </li>
              </ul>
            </div>
            <!-- /.gameBox -->
          </div>
          <!-- /.gameClm -->
        </div>
      </div>
    </div>
  </body>
</html>
