<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/profile_edit.css' rel='stylesheet'>
  </head>
  <body>
    <header class='header'>
      <div class='headerInner'>
        <h1 class='logo'>Gameful</h1>
        <form class='searchWrap'>
          <input class='search' placeholder='キーワードでゲームを探す'>
        </form>
        <nav class='gnavi'>
          <ul class='gnaviList'>
            <li class='item'>
              <a class='toTimelineBtn' href=''>タイムライン</a>
            </li>
            <li class='item'>
              <a class='toProfileBtn' href=''>マイページ</a>
            </li>
            <li class='item'>
              <span class='notify'>
                通知
                <span class='notifyNum'>1</span>
              </span>
            </li>
          </ul>
        </nav>
        <figure class='profImgWrap'>
          <img alt='' class='profImg' height='35' src='' width='35'>
        </figure>
      </div>
    </header>
    <section class='mainContent'>
      <div class='profileBox'>
        <div class='profileBoxInner'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='135' src='../test_set/test05.jpg' width='135'>
          </figure>
          <h1 class='userName'>ユーザーネーム</h1>
          <p class='userPlace'>場所</p>
          <p class='userInfo'>プロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキストプロフィールテキスト</p>
        </div>
      </div>
      <div class='profileEditBox'>
        <h1 class='profileEditTtl'>プロフィール設定</h1>
        <dl class='editList'>
          <dt class='editListTtl editListTtlProf'>プロフィール画像</dt>
          <dd class='editProf'>
            <figure class='profImgWrap'>
              <img alt='プロフィール画像' class='profImg' height='98' src='../test_set/test02.png' width='98'>
            </figure>
            <div class='uploadBtnWrap'>
              <div class='uploadBtnTxt'>ファイルを選択</div>
              <form>
                <input class='uploadBtn' type='file' value='ファイルを選択'>
              </form>
            </div>
          </dd>
        </dl>
        <dl class='editList'>
          <dt class='editListTtl editListTtlCover'>カバー写真</dt>
          <dd class='editCover'>
            <figure class='coverImgWrap'>
              <img alt='カバー写真' class='coverImg' height='55' src='../test_set/test04.jpg' width='220'>
            </figure>
            <div class='uploadBtnWrap'>
              <div class='uploadBtnTxt'>ファイルを選択</div>
              <form>
                <input class='uploadBtn' type='file' value='ファイルを選択'>
              </form>
            </div>
          </dd>
        </dl>
        <dl class='editList'>
          <dt class='editListTtl'>ユーザーネーム</dt>
          <dd class='editElm'>
            <form class='userNameWrap'>
              <input class='userName' type='text'>
            </form>
          </dd>
        </dl>
        <dl class='editList'>
          <dt class='editListTtl'>場所</dt>
          <dd class='editElm'>
            <form class='placeWrap'>
              <input class='place' type='text'>
            </form>
          </dd>
        </dl>
        <dl class='editList'>
          <dt class='editListTtl'>自己紹介(200文字)</dt>
          <dd class='editElm'>
            <textarea class='userInfo'></textarea>
          </dd>
        </dl>
        <p class='editBtn'>変更を保存</p>
      </div>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
  </body>
</html>
