<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/randing.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- .mainCnt -->
      <section class='mainCnt'>
        <h1 class='mainCntTtl'>Playdy</h1>
        <p class='mainCntText'>ゲーム体験をより豊かに。</p>
        <ul class='entryBtn'>
          <li class='item'>
            <a class='fb' href=''>
              <span class='fbIcon'></span>
              Facebookでアカウントを作成
            </a>
          </li>
          <li class='item'>
            <a class='tw' href=''>
              <span class='twIcon'></span>
              Twitterでアカウントを作成
            </a>
          </li>
          <li class='item'>
            <a class='mail' href=''>
              <span class='mailIcon'></span>
              メールでアカウントを作成
            </a>
          </li>
        </ul>
        <div class='loginBox'>
          <p class='text'>今すぐログイン</p>
          <form class='inputArea'>
            <input class='textarea' placeholder='メールアドレスまたはユーザー名' role='textarea' type='text'>
            <input class='textarea' placeholder='パスワード' role='textarea' type='password'>
            <input class='btn' role='button' type='submit' value='ログイン'>
          </form>
        </div>
      </section>
      <!-- /.mainCnt -->
      <!-- .aboutCnt -->
      <section class='aboutCnt'></section>
      <!-- /.aboutCnt -->
    </div>
  </body>
</html>
