<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/register.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- .mainCnt -->
      <section class='mainCnt'>
        <h2 class='mainCntTtl'>登録</h2>
        <div class='loginBox'>
          <form class='inputArea'>
            <input class='textarea' placeholder='ユーザー名' role='textarea' type='text'>
            <input class='textarea' placeholder='メールアドレス' role='textarea' type='text'>
            <input class='textarea' placeholder='パスワード' role='textarea' type='password'>
            <input class='btn' role='button' type='submit' value='作成'>
          </form>
          <p class='text'>既にアカウントをお持ちの方</p>
          <a class='toLogin' href=''>今すぐログイン</a>
        </div>
      </section>
      <!-- /.mainCnt -->
      <!-- .aboutCnt -->
      <section class='aboutCnt'></section>
      <!-- /.aboutCnt -->
    </div>
  </body>
</html>
