<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/setting.css' rel='stylesheet'>
  </head>
  <body>
    <header class='settingHeader'>
      <div class='settingHeaderInner'>
        <p class='step'>2/3</p>
        <div class='stepBar02'></div>
      </div>
    </header>
    <section class='mainContent'>
      <h1 class='mainTtl'>親しい友人や、尊敬するゲーマーも的な</h1>
      <p class='mainTxt'>twitterやFacebookでもお友達を検索して、フォローしよう的な。</p>
      <form class='searchWrap'>
        <input class='search' placeholder='usernameで検索的な' type='text'>
      </form>
      <a class='nextBtn' href=''>次へ</a>
      <ul class='friendListWrap'>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
        <li class='item'>
          <article class='friendList'>
            <figure class='userImgWrap'>
              <img alt='' class='userImg' height='40' src='' width='40'>
            </figure>
            <p class='userName'></p>
            <p class='userProf'></p>
          </article>
        </li>
      </ul>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
  </body>
</html>
