- # coding: utf-8
!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Gameful
    %link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
    %link{rel: "stylesheet", href: "stylesheets/common.css"}
    %link{rel: "stylesheet", href: "stylesheets/setting.css"}
  %body
    %header.settingHeader
      .settingHeaderInner
        %h1.logo Gameful
        .stepBar02
        %p.stepTxt パーティは多いほうが有利ですよね
    %section.mainContent
      %h1.mainTtl 様々な人がGamefulを使っています。
      %p.mainTxt
        twitterやFacebookのお友達を検索して、フォローしましょう。
        %br
        有名なゲーマーや、尊敬するクリエイターも使っているかもしれません。
      %form.searchWrap
        %input.search{type: "text", placeholder: "キーワードでユーザーを探す"}
      %a.nextBtn{href: ""} 次へ
      .friendListBox
        %ul.friendListWrap
          - 16.times do |i|
            %li.item
              %article.friendList
                %figure.userImgWrap
                  %img.userImg{src: "../test_set/test02.png", width: "40", height: "40", alt: ""}
                %p.userName Asuya Kono
                %p.userProf プロフィールテキスト。プロフィールテキスト。プロフィールテ（略）
                %p.followBtn フォロー
    %footer.footer
      %ul.ftList
        %li.item
          %a.ftLink{href: ""} 免責事項とか
        %li.item
          %a.ftLink{href: ""} リンクとか
        %li.item
          %a.ftLink{href: ""} いろいろ
        %li.item
          %a.ftLink{href: ""} フッター
      %small.copyright &copy; 2014 Gameful.