- # coding: utf-8
!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Gameful
    %link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
    %link{rel: "stylesheet", href: "stylesheets/common.css"}
    %link{rel: "stylesheet", href: "stylesheets/setting.css"}
  %body
    %header.settingHeader
      .settingHeaderInner
        %p.step 2/3
        .stepBar02
    %section.mainContent
      %h1.mainTtl 親しい友人や、尊敬するゲーマーも的な
      %p.mainTxt twitterやFacebookでもお友達を検索して、フォローしよう的な。
      %form.searchWrap
        %input.search{type: "text", placeholder: "usernameで検索的な"}
      %a.nextBtn{href: ""} 次へ
      %ul.friendListWrap
        - 16.times do |i|
          %li.item
            %article.friendList
              %figure.userImgWrap
                %img.userImg{src: "", width: "40", height: "40", alt: ""}
              %p.userName
              %p.userProf
      %p.explain
        自動でtwitterの友達を棚出したい
        %br
        （フォロワー多い順とかでもいい）
        %br
        クリックで「フォロー」
    %footer.footer
      %ul.ftList
        %li.item
          %a.ftLink{href: ""} 免責事項とか
        %li.item
          %a.ftLink{href: ""} リンクとか
        %li.item
          %a.ftLink{href: ""} いろいろ
        %li.item
          %a.ftLink{href: ""} フッター
      %small.copyright &copy; 2014 Gameful.