<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/setting.css' rel='stylesheet'>
  </head>
  <body>
    <header class='settingHeader'>
      <div class='settingHeaderInner'>
        <p class='step'>3/3!!</p>
        <div class='stepBar03'></div>
      </div>
    </header>
    <section class='mainContent'>
      <h1 class='mainTtl'>素敵なプロフィール写真を設定しましょう的な</h1>
      <p class='mainTxt'>
        他のユーザーがあなたを認識する、最初の印象です。
        <br>
        素敵な写真を選びましょうとかなんとか
      </p>
      <a class='nextBtn03' href=''>次へ</a>
      <div id='thumbnail'>
        <img alt='' height='180' src='images/setting_img01.png' width='180'>
      </div>
      <div class='uploadBtnWrap'>
        <div class='uploadBtnTxt'>写真をアップロード</div>
        <form>
          <input class='uploadBtn' type='file' value='写真をアップロード'>
        </form>
      </div>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
  </body>
</html>
