<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='step01'>
        <h2 class='step01Ttl'>プロフィール情報を入力</h2>
        <form class='entryBox'>
          <input class='textarea' placeholder='プレイ中のゲーム1' type='text'>
          <span class='textarea_node'>[必須]</span>
          <input class='textarea' placeholder='プレイ中のゲーム2' type='text'>
          <input class='textarea' placeholder='住んでいる場所' type='text'>
          <input class='btn' type='submit' value='次へ'>
        </form>
        <ul class='progress'>
          <li class='progress--on'></li>
          <li class='progress--off'></li>
          <li class='progress--off'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
