<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='step02'>
        <h2 class='step02Ttl'>友達を検索</h2>
        <p class='step02Text'>友達かも？</p>
        <div class='friendBox'>
          <a class='leftBtn' href=''>
            <span class='tri'></span>
          </a>
          <ul class='listWrap'>
            <li class='list'>
              <img alt='' class='profImg' height='48' src='images/asuya.jpg' width='48'>
              <p class='name'>asuya</p>
              <a class='btn' href=''>友達になる</a>
            </li>
            <li class='list'>
              <img alt='' class='profImg' height='48' src='images/asuya.jpg' width='48'>
              <p class='name'>asuya</p>
              <a class='btn' href=''>友達になる</a>
            </li>
            <li class='list'>
              <img alt='' class='profImg' height='48' src='images/asuya.jpg' width='48'>
              <p class='name'>asuya</p>
              <a class='btn' href=''>友達になる</a>
            </li>
          </ul>
          <a class='rightBtn' href=''>
            <span class='tri'></span>
          </a>
        </div>
        <form class='entryBox'>
          <input class='friend' placeholder='友達を検索' type='text'>
          <input class='btn' type='submit' value='スキップ'>
        </form>
        <ul class='progress'>
          <li class='progress--off'></li>
          <li class='progress--on'></li>
          <li class='progress--off'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
