- # coding: utf-8
!!!
%html
  %head
    %meta{charset: "UTF-8"}
    %title Gameful
    %link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
    %link{rel: "stylesheet", href: "stylesheets/common.css"}
    %link{rel: "stylesheet", href: "stylesheets/setting.css"}
  %body
    %header.settingHeader
      .settingHeaderInner
        %h1.logo Gameful
        .stepBar01
        %p.stepTxt 登録は簡単です
    %section.mainContent
      .settingTopBox
        %h1.mainTtl 利用規約
        %p.mainTxt
          ゲーマー向けSNS「gameful(ゲームフル)」を利用していただき、ありがとうございます。
          %br
          gamefulご利用に際しては、この利用規約が適用されます。
          %br
          Gamefulの利用者は、予めこの利用規約に同意した上で、Gamefulを利用するものとします。
      .termBox
        .termBoxInner
          %ul.termList
            %li.item
              %h2.termTtl 第1条(定義)
              %h3.termSubTtl 「Gameful」
              %p.termTxt
                私達が提供するゲーマー向けSNSサービス「本サービス」Gamefulにより提供されるサービス・情報の総称「コメント等」プロフィールコメント、ライブラリに登録したゲームの評価・ポスト、友人(フォロワー)等のポストに対するコメント、いいね!等、ユーザーが本サービスを利用する際に、送信した一切の数字・文字
              %h3.termSubTtl 「ユーザー」
              %p.termTxt
                私達が定めるユーザー登録画面に従い、各種登録情報を登録したものをいう
            %li.item
              %h2.termTtl 第2条(利用規約)
              %p.termTxt
                ユーザーは、このGameful利用規約(以下「本利用規約」という。)について私達の提供する本サービスを利用することにより本利用規約を承諾したものとします。 また、本利用規約は、本サービスを利用する際の一切に適用するものと致します。
            %li.item
              %h2.termTtl 第3条(会員登録)
              %p.termTxt
                本サービスのご利用にあたり、ユーザー登録を希望する方(以下「申込者」といいます。)は、次の手順でユーザー登録を行い、本サービスを利用するものとします。
              %ol.numList
                %li.numListItem 申込者は、当社所定のメンバー登録画面で申込者ご自身に関する正確な必要事項を入力した登録申込内容をインターネットを通じて当社に送信していただきます。
                %li.numListItem 申込者は、私達所定のユーザー登録画面の必須項目を全て入力しなければ、ユーザー登録できないものとします。
                %li.numListItem 私達所定のユーザー登録画面で、申込者が、申込者ご自身に関する正確な必要事項を全て入力し、私達へ送信が完了した時点でユーザー登録が完了します。
                %li.numListItem
                  私達は、申込者を事前・事後に関わらず審査し、以下の項目に該当すると私達が判断した場合、当該申込者の申込内容を削除し、将来にわたってすべてのサービスの利用をお断りすることがあります。
                  %ol.numList
                    %li.numListItem 申込者が実在しない場合
                    %li.numListItem 申込者が送受信可能なメールアドレスを持たない場合
                    %li.numListItem 申込をした時点で本規約違反等により登録資格の停止処分中である、又は過去に規約違反等に基づく私達からの対処を受けたことがある場合
                    %li.numListItem 申込の際の申告事項に、故意に虚偽の記載をした場合
                    %li.numListItem その他、私達が登録資格を与えることを不適当と判断した場合
            %li.item
              %h2.termTtl 第4条(会員登録)
              %p.termTxt 
                ユーザーは、本サービスの提供を受ける権利を第三者に譲渡したり、売買、名義変更、質権の設定その他の担保に供する等の行為ができないものとします。
            %li.item
              %h2.termTtl 第5条(プライバシー)
              %ol.numList
                %li.numListItem ユーザーの登録情報および私達が取得したユーザーに関する情報は、私達の個人情報保護方針(プライバシーポリシー)に従って取り扱われます。 私達の個人情報保護方針に関しては、別途定めるプライバシーポリシーの記載をご参照ください。
                %li.numListItem 私達からのお知らせ(新規サービス等の広告を含みます。)がある場合、Gamefulが取得したメールアドレス宛に私達からメールを送信する場合がありますので、ご了承ください。 また、メールマガジン受信設定をONにしているユーザーに対しては、私達からメールマガジンを送らせていただきます。
                %li.numListItem 本サービス内で自発的に個人情報を表示した場合、その情報は他のユーザーによって収集され使用される可能性があります。このような情報の送信・開示は、ユーザーご自身の責任において行ってください。
                %li.numListItem 私達のパートナーや、本サービスを通じてユーザーがアクセスできる第三者のサイトなどは私達とは独立して業務を行っているため、 個々のプライバシーに関する規程やデータ収集に関する規程に従い個人情報等の情報を収集している場合がありますが、私達は、これらの者が行う業務や定める規程に対していかなる義務や責任も負いません。 パスワードや登録情報の保持・管理は、ユーザーご自身の責任で行ってください。
            %li.item
              %h2.termTtl 第6条(利用環境)
              %ol.numList
                %li.numListItem ユーザーは、本サービスを利用するためにインターネットに接続しなければなりません。ユーザーは、自らの責任と費用で、必要な機器、ソフトウェア等を適切に準備・操作するものとします。
                %li.numListItem ユーザーは、関係官庁が提供する情報その他必要となる情報を参考にして、自己の利用環境に応じ、自らの責任と費用で、コンピュータ・ウィルスの感染、不正アクセスおよび情報漏洩の防止等のセキュリティを保持するものとします。
                %li.numListItem 私達は、ユーザーがインターネットに接続するための準備・方法等については一切関与致しません。
            %li.item
              %h2.termTtl 第7条(自己責任の原則)
              %ol.numList
                %li.numListItem ユーザーは、本サービスの利用と本サービスを利用してなされた一切の行為とその結果について、一切の責任を負います。
                %li.numListItem 本サービスの利用と本サービスを利用してなされた一切の行為に起因して、私達または第三者に対して損害を与えた場合、ユーザーは、自己の費用と責任をもって損害を賠償するものとします。
            %li.item
              %h2.termTtl 第8条(本サービスの中断)
              %ol.numList
                %li.numListItem
                  私達は、以下のいずれかの事由が生じた場合、ユーザーに事前に通知をせずに、本サービスの全部または一部の提供を中断することがあります。
                  %ol.numList
                    %li.numListItem 本サービス用設備等の定期的な点検を行う場合または点検を緊急に行う必要がある場合
                    %li.numListItem 津波、噴火、洪水、地震等の天災により本サービスの提供が困難となった場合
                    %li.numListItem 火災、停電等により本サービスを提供することが困難となった場合
                    %li.numListItem 戦争、動乱、暴動、労働争議等により本サービスを提供することが困難となった場合
                    %li.numListItem その他、私達が本サービスの中断が必要と判断した場合
                %li.numListItem 前項各号またはその他の事由により、本サービスの全部または一部の提供が中断したことにより、ユーザーまたは第三者が損害を受けた場合でも、私達は、一切の責任を負わないものとします。
            %li.item
              %h2.termTtl 第9条(本サービスの変更・終了)
              %ol.numList
                %li.numListItem 私達が必要と判断した場合には、事前に通知することなくいつでも本サービスの内容を変更、停止、中止または終了することができるものとします。 ただし、本サービスの終了等の重大な事由については、本サービス上で告知するように努力致しますが、これを保証するものではありません。
                %li.numListItem 本サービスの内容を変更、中止、停止または終了した場合により、ユーザーまたは第三者が損害を受けた場合でも、私達は、一切の責任を負わないものとします。
            %li.item
              %h2.termTtl 第10条(登録申込事項の変更)
              %ol.numList
                %li.numListItem ユーザーは私達への登録申込時に入力した必要事項について変更が生じた場合、速やかに私達に対し私達指定の方法により変更内容を通知するものとします。
                %li.numListItem ユーザーからの変更通知がないために、私達からの通知、その他が遅延し、または不着・不履行であった場合、私達はその責任を負わないものとします。
            %li.item
              %h2.termTtl 第11条(ユーザーの退会)
              %ol.numList
                %li.numListItem ユーザーは私達所定の方法にて私達に届け出ることによって何時でも退会できるものとします。
                %li.numListItem 本サービスの登録資格は一身専属性のものとします。私達はユーザーの死亡を知り得た時点を以って前項届出があったものとして取り扱わせていただきます。
            %li.item
              %h2.termTtl 第12条(データ等の削除)
              %ol.numList
                %li.numListItem 本サービスの運営および保守管理上の必要から、ユーザー等に事前に通知することなく、ユーザーが本サービス用設備に登録したデータ等を削除することがあります。
                %li.numListItem ユーザーが本サービス用設備に蓄積したデータ等が、私達が適当とする期間または量を超えた場合、私達はユーザー等に事前に通知することなく削除することがあります。
                %li.numListItem 私達は、第1項および第2項に基づくデータ等の削除に関し、一切責任を負いません。
            %li.item
              %h2.termTtl 第13条(連絡または通知について)
              %ol.numList
                %li.numListItem ユーザーへの連絡または通知の必要があると私達が判断した場合には、本サービス上に表示する方法、電子メールを送信する方法その他適当な方法にて連絡または通知を行います。
                %ol.numList
                %li.numListItem ユーザーが私達に対し連絡する場合、フィードバックを利用して連絡を行うものとします。ユーザーは、私達に対し、電話・来訪による連絡はしないものとします。
            %li.item
              %h2.termTtl 第14条(コメント等について)
              %p.termTxt 本サービスの利用にあたり、ユーザーには以下の各号につき予めご了承いただくものとします。
              %ol.numList
                %li.numListItem コメント等をした本人は除き、当該コメント等を無断転載・無断利用することは禁止します。
                %li.numListItem ユーザーがコメント等を行った場合には、ユーザーは、私達に対し、当該コメント等の国内外における複製、公衆送信、頒布、翻訳・翻案等、 著作権法上の権利(著作権法第27条及び第28条に規定される権利を含む)を無償で譲渡するものとします。
                %li.numListItem ユーザーがコメント等を行った場合、当該コメント等に関する著作者人格権を行使しないものとします。
                %li.numListItem 私達は、コメント等を行ったユーザー自身が、コメント等を利用することについて許諾します。ユーザーは、ユーザーが行ったコメント等の権利帰属に関して、私達に対し、いかなる権利の主張および行使も行わないものとします。
                %li.numListItem 私達または私達から許諾を受けた第三者が、ユーザーのコメント等を本件サービス内や第三者のサービスなどにおいて利用する場合があります。この時、ユーザーのコメント等の一部を要約・抜粋等する場合があります。また、ユーザーのコメント等を利用する場合には、ユーザーがコメント等をした際の名前等を表示させていただく場合があります。
                %li.numListItem ユーザーが、第三者の著作物等を利用してコメント等を行う場合、ユーザーの負担と責任において、必要な権利処理の一切がなされていることを保証するものとします。
                %li.numListItem ユーザーは、コメント等を行った場合、そのコメント等に関する複製、公衆送信、頒布、翻訳・翻案等、著作権法上の権利を全て有していることを保証するものとします。
                %li.numListItem 本利用規約は、私達が、ユーザーに対し、コメント等の利用許諾をすることを約束するものではありません。 従って、コメント等について、当該コメント等を行った本人を除き、その全部あるいは一部を問わず、商業目的で利用することは、その使用形態を問わず一切禁止します。
                %li.numListItem ユーザーのコメント等について、私達が不適切なコメント等であると判断した場合には、私達は、当該ユーザーに何ら通知することなく、私達の裁量・判断に基づき、コメント等を削除することができるものとします。
                %li.numListItem 私達または第三者が、ユーザーのコメント等を利用したことによってユーザーまたは第三者が受けた損害について、私達は一切補償をしないものとします。
                また、コメント等を行った本人による当該コメント等の利用等、本利用規約が特に認めた場合を除き、ユーザーが本サービスに掲載されているコメント等を利用して利益を得た場合には、 私達はその利益相当額の金員を請求できるものとします。
            %li.item
              %h2.termTtl 第15条(利用制限)
              %ol.numList
                %li.numListItem 私達は、ユーザーが以下のいずれかに該当する場合は、当該ユーザーの承諾を得ることなく、当該ユーザーの本サービスの利用を制限することがあります。
                %ol.numList
                  %li.numListItem ユーザー宛てに発送した郵便物が届かない場合
                  %li.numListItem 電話、電子メール等による連絡がとれない場合
                  %li.numListItem 大量送信メールの経路、コンピュータ・ウィルスの感染等、当該ユーザーが関与することにより第三者に被害が及ぶおそれがあると判断した場合
                  %li.numListItem 上記各号の他、私達が必要があると判断した場合
                %li.numListItem 私達が前項の措置をとったことにより、ユーザーが本サービスを使用できず、これによって損害が発生したとしても、私達は一切責任を負いません。
            %li.item
              %h2.termTtl 第16条(禁止事項)
              %p.termTxt ユーザーは本サービスを利用して以下の行為を行わないものと致します。
              %ol.numList
                %li.numListItem 他のユーザーまたは第三者の財産権、プライバシー、肖像権等を侵害する行為、および侵害するおそれのある行為
                %li.numListItem 私達、他のユーザーまたは第三者の著作権、商標権等の知的財産権を侵害する行為、および侵害するおそれのある行為
                %li.numListItem 特定個人の氏名・住所・電話番号・メールアドレスなど第三者が見て個人を特定できる情報の提供
                %li.numListItem 一人のユーザーが複数のメールアドレスを登録して重複してユーザー登録を行う行為
                %li.numListItem 他のユーザーまたは第三者を差別・誹謗中傷する行為、または他のユーザーまたは第三者の名誉・信用を毀損する行為
                %li.numListItem アクセス可能な本サービスまたは第三者の情報を改ざん、消去する行為
                %li.numListItem 私達、他のユーザーまたは第三者になりすます行為
                %li.numListItem 有害なコンピュータプログラム等を送信し、または他のユーザー・第三者が受信可能な状態におく行為
                %li.numListItem 他のユーザーのコメント等の受信を妨害する行為のほか、他のユーザーまたは第三者に対し、無断で、広告・宣伝・勧誘等のコメント等もしくは嫌悪感を抱くコメント等 (そのおそれのあるコメント等を含みます。)を送信する行為。連鎖的なコメント等の転送を依頼する行為および当該依頼に応じて転送する行為
                %li.numListItem 他のユーザーまたは第三者の設備、本サービス用設備(私達が本サービスを提供するために用意する通信設備、電子計算機、その他の機器およびソフトウェアをいいます。)に 無権限でアクセスし、またはポートスキャン、DOS攻撃もしくは大量のメール送信等により、その利用もしくは運営に支障を与える行為(与えるおそれのある行為を含みます。)
                %li.numListItem サーバ等のアクセス制御機能を解除または回避するための情報、機器、ソフトウェア等を流通させる行為
                %li.numListItem 本人の同意を得ることなく、または詐欺的な手段(いわゆるフィッシングおよびこれに類する手段を含みます。)により第三者のユーザー登録情報を取得する行為
                %li.numListItem 私達が事前に書面をもって承認した場合を除き、本サービスを使用して営業活動、営利を目的とした利用およびその準備を目的とした利用をする行為
                %li.numListItem 法令に基づき監督官庁等への届出、許認可の取得等の手続きが義務づけられている場合に、当該手続きを履行せずに本サービスを利用する行為。その他当該法令に違反する、または違反するおそれのある行為
                %li.numListItem 本サービスの運営を妨害する行為。他のユーザーまたは第三者が主導する情報の交換または共有を妨害する行為。信用の毀損または財産権の侵害等のように私達、ユーザーまたは第三者に不利益を与える行為
                %li.numListItem 長時間の架電、同様の問い合わせの繰り返しを過度に行い、または義務や理由のないことを強要し、私達の業務に著しく支障を来たす行為
                %li.numListItem 上記各号の他、法令、または本利用規約に違反する行為。公序良俗に違反する行為。犯罪的行為に結びつく行為
                %li.numListItem 上記各号のいずれかに該当する行為(当該行為を第三者が行っている場合を含みます。)が見られるデータ等へ当該行為を助長する目的でリンクを張る行為
                %li.numListItem その他私達がユーザーとして不適当と判断する行為
            %li.item
              %h2.termTtl 第17条(本利用規約違反への対処)
              %ol.numList
                %li.numListItem 私達が、ユーザーの行為について本利用規約に反すると判断した場合、ユーザーの帰責性の有無に関わらず私達の裁量・判断に基づき、当該ユーザーに何ら通知することなく、コメント等の削除、本サービスの一時停止、本サービスに対するアクセスの拒否その他私達が適切と判断する措置(以下「措置」という。)を講じることができるものとします。 その際、本利用規約に反すると判断した理由については、ユーザーに対して一切お答えできません。
                %li.numListItem 措置に起因してユーザーに生じた損害については、私達は一切の責任を負わないものとします。

            %li.item
              %h2.termTtl 第18条(免責)
              %ol.numList
                %li.numListItem ユーザーは、自己の責任のもとに本サービスを利用することとし、私達は、本サービスの利用により発生したユーザーの損害については、直接的、間接的、特別、二次的または付随的かを問わず、 一切の賠償責任を負いません(事前に私達が損害の可能性について通告を受けていたかを問いません。)。
                %li.numListItem 本サービスを利用することにより、ユーザーが第三者に対し損害を与えた場合、ユーザーは自己の費用と責任においてこれを賠償するものとします。
                %li.numListItem 何らかの外的要因(システムの故障等)により、本サービスのデータが破損した場合であっても、私達はその責任を負いません。
                %li.numListItem 私達は、本サービスに発生した不具合、エラー、障害等、本サービスが利用できないことに起因する損害について一切の賠償責任を負いません。
                %li.numListItem 私達は、提供する情報およびソフトウェア等について、その完全性、正確性、合目的性、適用性または有用性等に関する、いかなる保証もしないものとします。
                %li.numListItem 私達は、映画やコメント等の正確性を含む一切の内容について、保証を致しません。映画やコメント等の内容によって生じたユーザーの損害や、ユーザー同士のトラブル等に対し、私達は一切の補償および関与をしないものとします。
                %li.numListItem 私達は、本サービスからリンクされた第三者が運営する外部サイトに関して、いかなる保証も致しません。リンク先で生じた損害や、ユーザー同士のトラブル等に対し、私達は一切の補償および関与をしないものとします。
            %li.item
              %h2.termTtl 第19条(財産権)
              %ol.numList
                %li.numListItem 本サービスに含まれているコンテンツ、個々の情報、商標、画像、広告、デザイン等に関する著作権、商標権その他の知的財産権、およびその他の財産権は全て私達または正当な権利者に帰属しています。
                %li.numListItem ユーザーは､私達または著作権その他の知的財産権およびその他の財産権を有する第三者から利用･使用の許諾がある場合のほか、法令により権利者からの許諾なく利用・使用することを許容されている場合を除き、 本サービスおよび本サービスの内容について複製、編集、改変、掲載、転載、公衆送信、配布、販売、提供、翻訳・翻案その他あらゆる形態による利用・使用を行ってはいけません。
                %li.numListItem 本サービスおよび本サービスに関連して使用されている全てのソフトウェアは、知的財産権に関する法令等により保護されている権利を含んでいます。
                %li.numListItem ユーザーが前各項に反する行為によって被った損害については、私達は一切の責任を負わないものとします。また、ユーザーがこれらの行為によって利益を得た場合、私達はその利益相当額を請求できる権利を有するものとします。
            %li.item
              %h2.termTtl 第20条(本利用規約の変更)
              %ol.numList
                %li.numListItem 私達はユーザーの了承を得ることなく、本利用規約を随時変更・改定することができることとします。
                %li.numListItem 本利用規約の変更については、本サービス上に表示した時点で、ユーザーが了承したものとみなします。
            %li.item
              %h2.termTtl 第21条(分離)
              %p.termTxt 本利用規約の条項のいずれかが管轄権を有する裁判所により違法または無効であると判断された場合であっても、当該条項以外の本利用規約の効力は影響を受けないものとします。
            %li.item
              %h2.termTtl 第22条(裁判管轄)
              %p.termTxt ユーザーと私達との間で訴訟が生じた場合、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
            %li.item
              %h2.termTtl 第23条(準拠法)
              %p.termTxt 本利用規約は、日本国法に準拠し、解釈されるものとします。ゲーマー向けSNS「Gameful(ゲームフル)」へお越し頂き誠にありがとうございます。Gamefulは、友だちやフォロワーとゲームの情報やレビューをコミュニケーションできるサービスです。Gamefulのご利用に際しては、この利用規約が適用されます。Gamefulの利用者は、予めこの利用規約に同意した上で、Gamefulを利用するものとします。なお、この利用規約の内容は、必要に応じて変更することがございますので、Gamefulをご利用の際には、最新の利用規約をご参照ください。
    %footer.footer
      %ul.ftList
        %li.item
          %a.ftLink{href: ""} 免責事項とか
        %li.item
          %a.ftLink{href: ""} リンクとか
        %li.item
          %a.ftLink{href: ""} いろいろ
        %li.item
          %a.ftLink{href: ""} フッター
      %small.copyright &copy; 2014 Gameful.