<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/timeline.css' rel='stylesheet'>
  </head>
  <body>
    <header class='header'>
      <div class='headerInner'>
        <h1 class='logo'>Gameful</h1>
        <form class='searchWrap'>
          <input class='search' placeholder='キーワードでゲームを探す'>
        </form>
        <nav class='gnavi'>
          <ul class='gnaviList'>
            <li class='item'>
              <a class='toTimelineBtn' href=''>タイムライン</a>
            </li>
            <li class='item'>
              <a class='toProfileBtn' href=''>マイページ</a>
            </li>
            <li class='item'>
              <span class='notify'>
                通知
                <span class='notifyNum'>1</span>
              </span>
            </li>
          </ul>
        </nav>
        <figure class='profImgWrap'>
          <img alt='' class='profImg' height='35' src='' width='35'>
        </figure>
      </div>
    </header>
    <section class='mainContent'>
      <h1 class='mainTtl'>タイムライン</h1>
      <div class='addPost'>
        <figure class='profImgWrap'>
          <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
        </figure>
        <div class='addPostInner'>
          <p class='selectBtn'>ゲームを選ぶ</p>
          <textarea placeholder='そのゲームについて、どうおもった？'></textarea>
          <ul class='thumbnailList'>
            <li class='thumbnail'>
              <img alt='ゲーム画像' height='52' src='' width='52'>
            </li>
          </ul>
          <div class='photoBtnWrap'>
            <p class='photoBtnText'>写真を追加</p>
            <input class='addPhoto' href='' type='file'>
          </div>
          <p class='addPostBtn'>投稿する</p>
          <div class='selectModal'>
            <p class='playing'>プレイ中</p>
            <ul class='gameList'>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
            </ul>
            <p class='ready'>気になる</p>
            <ul class='gameList'>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
            </ul>
            <p class='played'>クリア済み</p>
            <ul class='gameList'>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
              <li class='item'>ゲーム名ゲーム名ゲーム名ゲーム名</li>
            </ul>
          </div>
        </div>
      </div>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusPlayed'>クリア済み</p>
        </div>
        <p class='postTxt'>
          高画質になって遊びやすくなってきたと感じます
          <br>
          ＧＣの時の不満な点を改善したと思います
          <br>
          しかしながら改善するなら削ったダンジョンを復活してほしかった
        </p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusPlaying'>プレイ中</p>
        </div>
        <p class='postTxt'>
          内容は最近のゲームの中でトップでした。グラフィックも非常に綺麗でかなり満足しました。
          <br>
          …ですがシステム面に不満があり、この評価です。
          <br>
          ・処理落ちが酷い（敵が多数出現した場合戦うのが苦痛です）
          <br>
          ・アイテムが無いとボスが強すぎる（逆にあると非常に楽勝です）
          <br>
          ・一度クリアしてもステージセレクトができない
          <br>
          でも最後までクリアできたのはやはりシナリオのおかげです。（一度クリアするのに40時間ほどかかりました）ストーリを楽しみたい人にはいいゲームだと思います。
        </p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
        <div class='commentBox'>
          <figure class='profImgWrap'>
            <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
          </figure>
          <form class='commentWrap'>
            <textarea class='comment' placeholder='コメントする'></textarea>
          </form>
        </div>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImgWrap'>
            <img alt='ユーザー画像' class='profImg' height='44' src='../test_set/test02.png' width='44'>
          </figure>
          <a class='account' href=''>Asuya Kono</a>
          <h2 class='gameTtl'>ゼルダの伝説 風のタクト HD</h2>
          <p class='statusReady'>気になる</p>
        </div>
        <p class='postTxt'>気になってます。気になってます。気になってます。気になってます。気になってます。気になってます。</p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <p class='time'>3時間前</p>
        <ul class='actionList'>
          <li class='cmtBtn'>コメント</li>
          <li class='fvrBtn'>いいね！</li>
          <li class='deleteBtn'>削除</li>
        </ul>
        <div class='commentBox'>
          <ul class='commentList'>
            <li class='item'>
              <figure class='profImgWrap'>
                <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
              </figure>
              <div class='commentInfo'>
                <a class='account' href=''>Asuya Kono</a>
                <p class='commentTime'>3時間前</p>
                <p class='fvrBtn'>いいね！</p>
                <p class='userComment'>俺も好きだよ！グラフィックがいいよね</p>
              </div>
            </li>
            <li class='item'>
              <figure class='profImgWrap'>
                <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
              </figure>
              <div class='commentInfo'>
                <a class='account' href=''>Asuya Kono</a>
                <p class='commentTime'>3時間前</p>
                <p class='fvrBtn'>いいね！</p>
                <p class='userComment'>俺も好きだよ！グラフィックがいいよね</p>
              </div>
            </li>
          </ul>
          <div class='myCommentBox'>
            <figure class='profImgWrap'>
              <img alt='' class='profImg' height='30' src='../test_set/test02.png' width='30'>
            </figure>
            <form class='commentWrap'>
              <textarea class='comment' placeholder='コメントする'></textarea>
            </form>
          </div>
        </div>
      </article>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
    <script src='javascripts/jquery-2.1.1.min.js' type='text/javascript'></script>
    <script src='javascripts/common.js' type='text/javascript'></script>
  </body>
</html>
