<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/timeline.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='home'>
        <!-- header -->
        <header role='banner'>
          <section class='headerInner'>
            <h1 class='ttl'>Palydy</h1>
            <ul class='funcBoxLeft'>
              <li class='homeWrap'>
                <a class='home' href=''>HOME</a>
              </li>
              <li class='alertWrap'>
                <a class='alert' href=''>通知</a>
              </li>
              <li class='profileWrap'>
                <a class='profile' href=''>プロフィール</a>
              </li>
            </ul>
            <ul class='funcBoxRight'>
              <li class='searchBox'>
                <form class='searchWrap'>
                  <input class='search' id='comment' placeholder='search' type='text'>
                </form>
              </li>
              <li class='optionWrap'>
                <a class='option' href=''></a>
              </li>
            </ul>
          </section>
        </header>
        <!-- /header -->
        <!-- .mainCnt -->
        <div class='mainCnt' role='main'>
          <!-- .personalClm -->
          <div class='personalClm'>
            <!-- .profBox -->
            <section class='profBox'>
              <div class='profBoxTop'>
                <figure class='profImgWrap'>
                  <img alt='' class='profImg' height='58' src='images/asuya.jpg' width='58'>
                </figure>
                <h2 class='name'>Asuya</h2>
                <p class='place'>
                  <span class='place--town'>Tokyo</span>
                  <span class='place--country'>Japan</span>
                </p>
              </div>
              <ul class='countBox'>
                <li class='item'>
                  <h3 class='ttl'>フォロー</h3>
                  <p class='text'>12</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>フォロワー</h3>
                  <p class='text'>18</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>ゲーム数</h3>
                  <p class='text'>34</p>
                </li>
                <li class='item'>
                  <h3 class='ttl'>ポスト数</h3>
                  <p class='text'>567</p>
                </li>
              </ul>
              <p class='introBox'>テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、</p>
            </section>
            <!-- /.profBox -->
            <!-- .trendBox -->
            <section class='trendBox'>
              <h3 class='ttl'>トレンド</h3>
              <ul>
                <li class='word'>格ゲー</li>
                <li class='word'>ゲーム</li>
                <li class='word evenRung'>神ゲー</li>
                <li class='word lastItem'>神ゲー</li>
              </ul>
            </section>
            <!-- /.trendBox -->
            <!-- .activityBox -->
            <section class='activityBox'>
              <h3 class='ttl'>アクティビティ</h3>
              <div class='playing'>
                <h4 class='playTtl'>playing</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game01.png' width='50'>
                  </li>
                </ul>
              </div>
              <div class='played'>
                <h4 class='playTtl'>played</h4>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game02.png' width='50'>
                  </li>
                </ul>
                <ul>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                  <li class='gameImgWrap'>
                    <img alt='' class='gameImg' height='50' src='images/game03.png' width='50'>
                  </li>
                </ul>
              </div>
            </section>
            <!-- /.activityBox -->
          </div>
          <!-- /.personalClm -->
          <!-- .timelineClm -->
          <div class='timelineClm'>
            <div class='entryBtn'>
              <span class='entryBtnIcon'></span>
              ポストを書く
            </div>
            <article class='postBox'>
              <div class='topBox'>
                <img alt='' class='profImg' src='images/baba.jpg'>
                <div class='postArea'>
                  <a class='account' href=''>baba</a>
                  <time class='time'>2時間前</time>
                  <h2 class='ttl'>ファイナルファンタジー</h2>
                  <div class='mood_playing'>プレイ中</div>
                </div>
              </div>
              <div class='bottomBox'>
                <p class='commentBtn'>コメントする</p>
                <ul class='stateBox'>
                  <li class='shareBtn'>シェア</li>
                  <li class='favBtn'>
                    いいね
                    <span class='favNum'>12</span>
                  </li>
                </ul>
              </div>
            </article>
            <article class='postBox'>
              <div class='topBox'>
                <img alt='' class='profImg' src='images/baba.jpg'>
                <div class='postArea'>
                  <a class='account' href=''>baba</a>
                  <time class='time'>2時間前</time>
                  <h2 class='ttl'>ファイナルファンタジー</h2>
                  <p class='text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                  <div class='mood_played'>クリア済み</div>
                </div>
              </div>
              <div class='bottomBox'>
                <p class='commentBtn'>コメントする</p>
                <ul class='stateBox'>
                  <li class='shareBtn'>シェア</li>
                  <li class='favBtn'>
                    いいね
                    <span class='favNum'>12</span>
                  </li>
                </ul>
              </div>
            </article>
            <article class='postBox'>
              <div class='topBox'>
                <img alt='' class='profImg' src='images/baba.jpg'>
                <div class='postArea'>
                  <a class='account' href=''>baba</a>
                  <time class='time'>2時間前</time>
                  <h2 class='ttl'>ファイナルファンタジー</h2>
                  <p class='text'>テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト</p>
                  <div class='mood_playing'>プレイ中</div>
                </div>
              </div>
              <div class='bottomBox'>
                <p class='commentBtn'>コメントする</p>
                <ul class='stateBox'>
                  <li class='shareBtn'>シェア</li>
                  <li class='favBtn'>
                    いいね
                    <span class='favNum'>12</span>
                  </li>
                </ul>
              </div>
              <div class='commentBox'>
                <img alt='' class='profImg' src='images/baba.jpg'>
                <form>
                  <input class='comment' placeholder='コメントする...' type='text'>
                </form>
              </div>
            </article>
          </div>
          <!-- /.timelineClm -->
          <!-- .friendClm -->
          <div class='friendClm'>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--in'></div>
            </a>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--in'></div>
            </a>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--in'></div>
            </a>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--in'></div>
            </a>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--out'></div>
            </a>
            <a class='user' href=''>
              <div class='profImg'></div>
              <div class='name'>user01</div>
              <div class='log--out'></div>
            </a>
          </div>
          <!-- /.friendClm -->
        </div>
      </div>
    </div>
  </body>
</html>
