<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Gameful</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/timeline.css' rel='stylesheet'>
  </head>
  <body>
    <header class='header'>
      <div class='headerInner'>
        <h1 class='logo'>ロゴかなー</h1>
        <nav class='gnavi'>
          <ul class='gnaviList'>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
            <li class='item'>
              <a class='gnaviBtn' href=''></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <section class='mainContent'>
      <h1 class='mainTtl'>タイムライン</h1>
      <a class='postBtn' href=''>投稿ボタン　(インタラクションはあとで相談させてくれ)</a>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImg'>
            <img alt='ユーザー画像' height='44' src='' width='44'>
          </figure>
          <a class='account' href=''>ユーザーネーム</a>
          <p class='time'>投稿時間</p>
          <p class='status'>ステータス</p>
        </div>
        <h2 class='gameTtl'>ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。</h2>
        <p class='postTxt'>コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。</p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <ul class='actionList'>
          <li class='item cmtBtn'>コメント</li>
          <li class='item fvrBtn'>いいね</li>
        </ul>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImg'>
            <img alt='ユーザー画像' height='44' src='' width='44'>
          </figure>
          <a class='account' href=''>ユーザーネーム</a>
          <p class='time'>投稿時間</p>
          <p class='status'>ステータス</p>
        </div>
        <h2 class='gameTtl'>ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。</h2>
        <p class='postTxt'>コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。</p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <ul class='actionList'>
          <li class='item cmtBtn'>コメント</li>
          <li class='item fvrBtn'>いいね</li>
        </ul>
      </article>
      <article class='postBox'>
        <div class='topBox'>
          <figure class='profImg'>
            <img alt='ユーザー画像' height='44' src='' width='44'>
          </figure>
          <a class='account' href=''>ユーザーネーム</a>
          <p class='time'>投稿時間</p>
          <p class='status'>ステータス</p>
        </div>
        <h2 class='gameTtl'>ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。</h2>
        <p class='postTxt'>コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。</p>
        <div class='thumbnail'>
          <img alt='アップロードした写真' class='thumbnailImg' src=''>
        </div>
        <ul class='actionList'>
          <li class='item cmtBtn'>コメント</li>
          <li class='item fvrBtn'>いいね</li>
        </ul>
      </article>
    </section>
    <footer class='footer'>
      <ul class='ftList'>
        <li class='item'>
          <a class='ftLink' href=''>免責事項とか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>リンクとか</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>いろいろ</a>
        </li>
        <li class='item'>
          <a class='ftLink' href=''>フッター</a>
        </li>
      </ul>
      <small class='copyright'>&copy; 2014 Gameful.</small>
    </footer>
  </body>
</html>
