!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/timeline.css"}
	%body
		#wrapper
			.home
				/	header
				%header{role: "banner"}
					%section.headerInner
						%h1.ttl Palydy
						%ul.funcBoxLeft
							%li.homeWrap
								%a.home{href: ""} HOME
							%li.alertWrap
								%a.alert{href: ""}  通知
							%li.profileWrap
								%a.profile{href: ""} プロフィール
						%ul.funcBoxRight
							%li.searchBox
								%form.searchWrap
									%input.search{type: "text", id:"comment", placeholder: "search"}
							%li.optionWrap
								%a.option{href: ""}
				/	/header

				/	.mainCnt
				.mainCnt{role: "main"}
					/	.personalClm
					.personalClm
						/	.profBox
						%section.profBox
							.profBoxTop
								%figure.profImgWrap
									%img.profImg{src: "images/asuya.jpg", width: "58", height: "58", alt: ""}
								%h2.name Asuya
								%p.place
									%span.place--town Tokyo
									%span.place--country Japan
							%ul.countBox
								%li.item
									%h3.ttl フォロー
									%p.text 12
								%li.item
									%h3.ttl フォロワー
									%p.text 18
								%li.item
									%h3.ttl ゲーム数
									%p.text 34
								%li.item
									%h3.ttl ポスト数
									%p.text 567
							%p.introBox テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、テキスト、
						/	/.profBox

						/	.trendBox
						%section.trendBox
							%h3.ttl トレンド
							%ul
								%li.word 格ゲー
								%li.word ゲーム
								%li.word.evenRung 神ゲー
								%li.word.lastItem 神ゲー
						/	/.trendBox

						/	.activityBox
						%section.activityBox
							%h3.ttl アクティビティ
							.playing
								%h4.playTtl playing
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game01.png", width: "50", height: "50", alt: ""}
							.played
								%h4.playTtl played
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game02.png", width: "50", height: "50", alt: ""}
								%ul
									- 3.times do |i|
										%li.gameImgWrap
											%img.gameImg{src: "images/game03.png", width: "50", height: "50", alt: ""}
						/	/.activityBox

					/	/.personalClm

					/	.timelineClm
					.timelineClm
						.entryBtn
							%span.entryBtnIcon
							ポストを書く
						%article.postBox
							.topBox
								%img.profImg{src: "images/baba.jpg", alt: ""}
								.postArea
									%a.account{href: ""} baba
									%time.time 2時間前
									%h2.ttl ファイナルファンタジー
									.mood_playing プレイ中
							.bottomBox
								%p.commentBtn コメントする
								%ul.stateBox
									%li.shareBtn シェア
									%li.favBtn
										いいね
										%span.favNum 12
						%article.postBox
							.topBox
								%img.profImg{src: "images/baba.jpg", alt: ""}
								.postArea
									%a.account{href: ""} baba
									%time.time 2時間前
									%h2.ttl ファイナルファンタジー
									%p.text テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト
									.mood_played クリア済み
							.bottomBox
								%p.commentBtn コメントする
								%ul.stateBox
									%li.shareBtn シェア
									%li.favBtn
										いいね
										%span.favNum 12
						%article.postBox
							.topBox
								%img.profImg{src: "images/baba.jpg", alt: ""}
								.postArea
									%a.account{href: ""} baba
									%time.time 2時間前
									%h2.ttl ファイナルファンタジー
									%p.text テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト．テスト
									.mood_playing プレイ中
							.bottomBox
								%p.commentBtn コメントする
								%ul.stateBox
									%li.shareBtn シェア
									%li.favBtn
										いいね
										%span.favNum 12
							.commentBox
								%img.profImg{src: "images/baba.jpg", alt: ""}
								%form
									%input.comment{type: "text", placeholder: "コメントする..."}
					/	/.timelineClm

					/	.friendClm
					.friendClm
						- 4.times do |i|
							%a.user{href: ""}
								.profImg

								.name user01
								.log--in
						- 2.times do |i|
							%a.user{href: ""}
								.profImg
								.name user01
								.log--out
					/	/.friendClm
