%script{type: "text/template", id: "comment-template"}
  .commentBox
    .commentHeader
      %a.commentHeaderLink{href: "/users/{{= user.id }}"}
        %img.profileImage{width: 30, src: "/user_photos/{{= user.photo_path }}"}
        %span.userName
          {{= user.username }}
    .commentBody
      .commentText
        {{= text }}
      .commentMeta
        .commentTime.icon-time {{= created_at }}
      .commentFooter
        - unless @current_user[:id].nil?
          %ul.actionList
            %li.like
              {{ if (i_liked) { }}
              %span.unlike-btn.favBtn.icon-like.on
                %span.favBtnCnt.comment-like-count
                  {{= comment_likes_count }}
              {{ } else { }}
              %span.like-btn.favBtn.icon-like
                %span.favBtnCnt.comment-like-count
                  {{= comment_likes_count }}
              {{ } }}

            {{ if (user.id == current_user_id) { }}
            %li
              %span.icon-option.comment-delete-btn
            {{ } }}
