%script{type: "text/template", id: "comment-modal-template"}
  .modal-header
    .cancel-modal-btn.icon-delete
    .modalTitle コメント
  .modal-body
    %ul.comment-list
  .modal-footer
    %textarea{placeholder: "コメント...", class: "comment-input"}
    .submit-comment-btn.done-btn 送信