%script{type: "text/template", id: "comment-template"}
  .commentBox
    .commentHeader
      %a.commentHeaderLink{href: "/users/{{= user.id }}"}
        %img.profileImage{width: 30, src: "/user_photos/{{= user.photo_path }}"}
        %span.userName
          {{= user.username }}
    .commentBody
      .commentText
        {{= text }}
      .commentMeta
        .commentTime.icon-time {{= created_at }}
      .commentFooter
        %ul.actionList
          %li.like
            {{ if (!i_liked) { }}
            %span.like-btn.favBtn.icon-like
            {{ } else { }}
            %span.unlike-btn.favBtn.icon-like
            {{ } }}
            %span.comment-like-count {{= comment_likes_count }}
          %li
            %span.icon-option.delete-btn
