%script{type: "text/template", id: "delete-confirm-template"}
  .delete-confirm
    %p.delete-confirmTxt この{{= target }}を削除しますか
    %p.descTxt {{= desc }}
    %span.cancel.cancel-btn キャンセル
    %span.done.done-btn 削除