%script{type: "text/template", id: "delete-confirm-template"}
  .delete-confirm
    %p.delete-confirmTxt {{= title }}
    %p.descTxt {{= desc }}
    %span.cancel.cancel-btn キャンセル
    %span.done.done-btn はい