%script{type: "text/template", id: "game-result-template"}
  %article{class: "{{= device }}"}
    .gameImg
      %figure
        %a.to-game-page{href: "#"}
          {{ if (photo_path) { }}
          %img.gameImg{src: "/game_photos/{{= photo_path }}", width: "100"}
          {{ } else if (photo_url) { }}
          %img.gameImg{src: "{{= photo_url }}", width: "100"}
          {{ } else { }}
          %img.gameImg{src: "/game_photos/default.png", width: "100"}
          {{ } }}
    .textArea
      %a.gameTitle.to-game-page{href: "#"}
        {{= title }}
      %p.maker {{= maker}}
      %p{class: "device device{{= device }}"} {{= device }}
      %ul.starList
        {{ diff = 5 - avg_rate }}
        {{ for (var i = 0; i < avg_rate; i++) { }}
        %li.starOn
          %span.icon-star
        {{ } }}
        {{ for (var i = 0; i < diff; i++) { }}
        %li.starOff
          %span.icon-star
        {{ } }}
      %select.status.my-status{name: "status", size: "1", class: "status"}
        %option{value: ""} 登録する
        %option{value: 1} 気になる
        %option{value: 2} プレイ中
        %option{value: 3} クリア済
        %option{value: 4} 積んでる