%script{type: "text/template", id: "game-activity-template"}
  %article{class: "{{= device }}"}
    .gameImg
      %figure
        %a{href: "/games/{{= id }}#all"}
          {{ if (photo_path) { }}
          %img.gameImg{src: "/game_photos/{{= photo_path }}", width: "100"}
          {{ } else if (photo_url) { }}
          %img.gameImg{src: "{{= photo_url }}", width: "100"}
          {{ } else { }}
          %img.gameImg{src: "/game_photos/default.png", width: "100"}
          {{ } }}
    .textArea
      %a.gameTitle{href: "/games/{{= id }}#all"}
        {{= title }}
      %p.maker {{= maker}}
      %p{class: "device device{{= device }}"} {{= device }}

      %select.status.my-status{name: "status", size: "1", class: "status"}
        = render partial: "application/common/status"