%script{type: "text/template", id: "post-template"}
  .topBox
    %figure.profImgWrap
      %img.profImg{width: 58, src: "/user_photos/{{= user.photo_path }}"}
    %a.account{href: "/users/{{= user.id }}#logs"}
      {{= user.username }}
    %time.time
      %span.icon-time
      {{= created_at }}
  .gameInfoBox
    %h2.ttl
      %a{href: "/games/{{= game.id }}#all"}
        {{= game.title }}
    .statusBox
      {{ if (status.id == 1) { }}
      %span.moodReady 気になる
      {{ } else if (status.id == 2) { }}
      %span.moodPlaying プレイ中
      {{ } else if (status.id == 3) { }}
      %span.moodPlayed クリア済
      {{ } }}
    .textWrap
    %p.text
      {{= text }}
    .thumbnail
      {{ for (var i = 0; i < post_photos.length; i++) { }}
      %img.thumbnailImg{src: "/post_photos/{{= post_photos[i].photo_path }}"}
      {{ } }}
    .urlThumbnailWrap
      {{ for (var i = 0; i < post_urls.length; i++) { }}
      %a.urlThumbnail{href: "{{= post_urls[i].url }}", target: "blank"}
        %img.thumbnailImg{src: "{{= post_urls[i].thumbnail }}"}
        .body
          %p.title {{= post_urls[i].title }}
          %p.description {{= post_urls[i].description }}
      {{ } }}
  .stateBox
    {{ if (current_user_id == user.id) { }}
    %span.icon-option.delete-btn
    {{ } }}
    %a.commentBtn.comment-btn.icon-comment{href: "#"}
      %span.commentCnt
        {{= post_comments_count }}
    {{ if (!i_liked) { }}
    %span.like-btn.favBtn.icon-like
      {{= post_likes_count }}
    {{ } else { }}
    %span.unlike-btn.favBtn.on.icon-like
      {{= post_likes_count }}
    {{ } }}