%script{type: "text/template", id: "post-template"}
  .gameWrap
    .statusBox
      {{ if (status.id == 1) { }}
      %span.moodReady 気になる
      {{ } else if (status.id == 2) { }}
      %span.moodPlaying プレイ中
      {{ } else if (status.id == 3) { }}
      %span.moodPlayed クリア済
      {{ } else if (status.id == 4) { }}
      %span.moodStock 積んでる
      {{ } }}
    %a{href: "/games/{{= game.id}}#all"}
      {{ if (game.photo_path) { }}
      %img.gamePhoto{src: "/game_photos/{{= game.photo_path }}", height: 70}
      {{ } else if (game.photo_url) { }}
      %img.gamePhoto{src: "{{= game.photo_url }}", height: 70}
      {{ } else { }}
      %img.gamePhoto{src: "/game_photos/default.png", height: 70}
      {{ } }}
  .left
    .postHeader
      %figure.profImgWrap
        %img.profImg{width: 58, src: "/user_photos/{{= user.photo_path }}"}
      %a.account{href: "/users/{{= user.id }}#logs"} {{= user.username }}
      %p.time {{= created_at }}
    .textWrap
      %h2.ttl
        %a{href: "/games/{{= game.id }}#all"} {{= game.title }}
      %p.text {{= text }}
      .thumbnail
        {{ for (var i = 0; i < post_photos.length; i++) { }}
        %img.thumbnailImg{src: "/post_photos/{{= post_photos[i].photo_path }}"}
        {{ } }}
      .urlThumbnailWrap
        {{ for (var i = 0; i < post_urls.length; i++) { }}
        %a.urlThumbnail{href: "{{= post_urls[i].url }}", target: "blank"}
          %img.thumbnailImg{src: "{{= post_urls[i].thumbnail }}"}
          .body
            %p.title {{= post_urls[i].title }}
            %p.description {{= post_urls[i].description }}
        {{ } }}
    .stateBox
      {{ if (current_user_id == user.id) { }}
      %span.icon-option.delete-btn
      {{ } }}
      %a.commentBtn.comment-btn.icon-comment{href: "#"}
        %span.commentCnt
          {{= post_comments_count }}
      {{ if (!i_liked) { }}
      %span.like-btn.favBtn.icon-like
        %span.likeCnt
          {{= post_likes_count }}
      {{ } else { }}
      %span.unlike-btn.favBtn.on.icon-like
        %span.likeCnt
          {{= post_likes_count }}
      {{ } }}