@import "../_function.css.scss";

.notification-modal {
	display: none;
	position: absolute;
	top: 50px;
	right: 87px;
	z-index: 100;
	width: 330px;
	@include border-radius(2px);
    @include box-shadow(0, 0, 10px, 0, #666);
	background-color: #fff;

	&:after {
		display: block;
		position: absolute;
		top: -17px;
		right: 34px;
		border-top: 9px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 9px solid #fff;
		border-left: 10px solid transparent;
		content: "";
	}
	.modal-header {
		position: relative;
		padding-left: 20px;
		border-bottom: solid 1px #999;
		color: $color-black;
		font-size: 18px;
		font-family: Helvetica;
		text-decoration: none;
		line-height: 40px;

		.close-btn {
			position: absolute;
			top: 9px;
			right: 10px;
			width: 46px;
			height: 20px;
			color: $color-blue;
			font-size: 13px;
			text-align: center;
			line-height: 20px;
			cursor: pointer;
		}
	}
	.notification-list {
		overflow-y: scroll;
		height: 450px;
		padding: 20px;

		li {
			@include clearfix;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ccc;

			&:last-child {
				margin-bottom: 0;
				border-bottom: 0;
			}
		}
		.leftBox {
			float: left;
			margin-right: 15px;
		}
		.rightBox {
			color: #404040;
			font-size: 13px;
			line-height: 1.6;
		}
		.profImgWrap {
			margin-right: 0;

			&:after {
				content: none;
			}
		}
	}
}