@import "../_function.css.scss";

/*---   .postBox   ----------*/
.postBoxWrap {
	width: 100%;
	padding: 20px 0 40px;
	border-top: 1px solid #e6e6e6;
	background: #f2f2f2;
}
.postBox {
	width: 780px;
	margin: 0 auto 18px;
	padding: 15px;
	border: 1px solid #e6e6e6;
	@include border-radius(3px);
	@include box-sizing;
	background: #fff;

	/*---   .topBox   ---*/
	.topBox {
		position: relative;
		margin-bottom: 14px;
		@include clearfix;

		.profImgWrap {
			float: left;
			margin-right: 10px;
		}
		.profImg {
			border: 1px solid #d3d3d3;
		}
		.account {
			color: #3c3c3c;
			font-weight: bold;
			font-size: 14px;
			line-height: 1.0;
		}
		.time {
			margin-top: 8px;
			color: #888;
			font-size: 12px;
		}
		.statusPlayed {
			position: absolute;
			top: 0;
			right: 0;
			width: 88px;
			height: 30px;
			border: 1px solid $color-blue;
			@include border-radius(3px);
			color: $color-blue;
			font-size: 14px;
			line-height: 30px;
			text-align: center;
		}
		.statusPlaying {
			position: absolute;
			top: 0;
			right: 0;
			width: 88px;
			height: 30px;
			border: 1px solid $color-red;
			@include border-radius(3px);
			color: $color-red;
			font-size: 14px;
			line-height: 30px;
			text-align: center;
		}
		.statusReady {
			position: absolute;
			top: 0;
			right: 0;
			width: 88px;
			height: 30px;
			border: 1px solid $color-yellow;
			@include border-radius(3px);
			color: $color-yellow;
			font-size: 14px;
			line-height: 30px;
			text-align: center;
		}
	}
	/*---   .gameTtl   ---*/
	.gameTtl {
		overflow: hidden;
		width: 408px;
		margin-bottom: 7px;
		color: $color-green;
		font-weight: bold;
		font-size: 16px;
		line-height: 1.5;

		&Link {
			color: $color-green;
		}
	}
	/*---   .postTxt   ---*/
	.postTxt {
		margin-bottom: 14px;
		color: #4a4a4a;
		font-size: 14px;
		line-height: 1.5;
	}
	/*---   .thumbnail   ---*/
	.thumbnail {
		&Img {
			width: 100%;
		}
	}
	/*---   .urlThumbnail   ----*/
	.urlThumbnailWrap {
		.urlThumbnail {
			display: block;
			padding: 10px;
			overflow: hidden;
			border: solid 1px #e2e2e2;
			img {
				width: 100px;
				float: left;
				display: inline-block;
				margin-right: 10px;
				border: solid 1px #e2e2e2;
			}
			.body {
				float: left;
				width: 600px;
				.title {
					margin-bottom: 15px;
				}
				.description {

				}
			}
		}
	}

	/*---   .actionList   ---*/
	.actionList {
		margin-top: 46px;
		@include clearfix;

		.cmtBtn {
			position: relative;
			float: left;
			margin-right: 32px;
			padding-left: 28px;
			color: #929292;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			cursor: pointer;

			&:before {
				position: absolute;
				top: -4px;
				left: 0;
				font-size: 20px;
				font-family: 'icomoon';
				content: "\e602";
			}
			&.on {
				background-position: 0 -400px;
				color: $color-green;
			}
		}
		.fvrBtn {
			position: relative;
			float: left;
			padding-left: 26px;
			color: #929292;
			font-weight: bold;
			font-size: 12px;
			line-height: 20px;
			cursor: pointer;

			&:before {
				position: absolute;
				top: -3px;
				left: 0;
				font-size: 20px;
				font-family: 'icomoon';
				content: "\e605";
			}
			&.on {
				background-position: 0 -373px;
				color: $color-green;
			}
		}
		.deleteBtn {
			position: relative;
			float: right;
			width: 20px;
			height: 20px;
			padding-right: 10px;
			color: #929292;
			@include substitute;
			cursor: pointer;

			&:before {
				position: absolute;
				top: -3px;
				left: 0;
				font-size: 20px;
				font-family: 'icomoon';
				text-indent: 0;
				content: "\e607";
			}
		}
	}
	/*---   .commentBox   ---*/
	.commentBox {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #dcdcdc;
		@include clearfix;

		.profImgWrap {
			float: left;
			margin-right: 10px;
		}
		.profImg {
			border: 1px solid #d3d3d3;
		}
		.commentList {
			.item {
				margin-bottom: 8px;
			}
			.commentInfo {
				line-height: 0.8;
				@include clearfix;

				.account {
					display: inline-block;
					color: #3c3c3c;
					font-weight: bold;
					font-size: 12px;
				}
				.commentTime {
					display: inline-block;
					color: #888;
					font-size: 12px;
				}
				.fvrBtn {
					display: inline-block;
					color: #888;
					font-weight: bold;
					font-size: 12px;
					cursor: pointer;

					&:hover {
						text-decoration: underline;
					}
				}
				.userComment {
					overflow: hidden;
					margin-top: 9px;
					color: #3c3c3c;
					font-size: 12px;
					line-height: 1.5;
				}
			}
		}
		.commentWrap {
			float: left;
		}
		.comment {
			overflow: hidden;
			width: 700px;
			height: 30px;
			padding: 5px;
			border: none;
			@include box-sizing;
			@include appearance;
			resize: none;
			outline: 0;

			&::-webkit-input-placeholder {
				padding: 3px;
				color: #c6c6c6;
				font-size: 12px;
			}
		}
	}
}