@import "_function.css.scss";

/*---   .settingTopBox   ----------*/
.settingTopBox {
	padding: 32px 0 23px;
	border-bottom: 1px solid #e6e6e6;
	background: #fff;

	/*---   .mainTtl   ----------*/
	.mainTtl {
		margin-bottom: 40px;
		color: $color-green;
		font-size: 36px;
		text-align: center;
	}
	/*---   .mainTxt   ----------*/
	.mainTxt {
		margin-bottom: 60px;
		color: #3d3d3d;
		font-size: 18px;
		line-height: 1.5;
		text-align: center;
	}
	/*---   .search   ----------*/
	.searchWrap {
		position: relative;
		width: 390px;
		margin: 0 auto;
		border: 3px solid #ccc;
		@include border-radius(7px);
		background: #fff;

		&:after {
			position: absolute;
			top: 4px;
			left: 33px;
			height: 26px;
			border-left: 1px solid #cecece;
			content: "";
		}
	}
	.search {
		width: 390px;
		height: 34px;
		margin: 0 auto;
		padding-left: 40px;
		border: none;
		@include box-sizing;
		@include img_set-PC2(6px, 7px);
		@include appearance;
		outline: 0;

		&::-webkit-input-placeholder {
			padding-top: 5px;
			color: #cbcbcb;
			font-size: 14px;
		}
	}
	/*---   .nextBtn   ----------*/
	.nextBtn {
		position: absolute;
		top: 224px;
		left: 50%;
		width: 88px;
		height: 30px;
		margin-left: 247px;
		@include border-radius(2px);
		background: $color-green;
		color: #fff;
		font-weight: bold;
		font-size: 14px;
		text-align: center;
		line-height: 30px;

		&:hover {
			text-decoration: none;
		}
		&03 {
			position: absolute;
			bottom: 25px;
			left: 50%;
			width: 88px;
			height: 30px;
			margin-left: 132px;
			@include border-radius(2px);
			background: $color-green;
			color: #fff;
			font-weight: bold;
			font-size: 14px;
			text-align: center;
			line-height: 30px;

			&:hover {
				text-decoration: none;
			}
		}
	}
	/*---   #thumbnail   ----------*/
	#thumbnail {
		width: 157px;
		margin: 0 auto 34px;
		border: 4px solid #ccc;
		@include border-radius(5px);
		line-height: 0;
	}
	/*---   .uploadBtnWrap   ----------*/
	.uploadBtnWrap {
		position: relative;
	}
	.uploadBtnTxt {
		width: 155px;
		height: 32px;
		margin: 0 auto;
		border: none;
		@include border-radius(3px);
		@include box-sizing;
		@include box-shadow(0, 2px, 0, 0, #3eb07e);
		background: $color-green;
		color: #fff;
		font-size: 14px;
		text-align: center;
		line-height: 36px;
		cursor: pointer;
	}
	.uploadBtn {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 50%;
		width: 190px;
		height: 36px;
		margin-left: -95px;
		border: none;
		@include box-sizing;
		background: $color-green;
		cursor: pointer;
		outline: 0;
	}
}