@import "../_function.css.scss";
@import "component/_header.css.scss";
@import "component/_notification.css.scss";
@import "component/_footer.css.scss";

/*---   common   ---------------------------*/
* {
  @include box-sizing;
  word-wrap: break-word;
}
html {
  min-width: 960px;
  background: $main_color;
  font-family:"Hiragino Kaku Gothic ProN", "Lucida Grande", Helvetica, "Meiryo", sans-serif;
}
#wrapper {
  line-height: 1.0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.loading-gif {
  display: block;
  width: 80px;
  margin: 0 auto;
}

/*---   .mainContent   ---------------------------*/
.mainContent {
  min-height: 450px;
  padding-top: 49px;
}
.mainContentTtl {
  display: none;
}

/*------------------------------
systemClass
------------------------------*/
.layer {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.11;
}

.page-layer {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
}

.loading-gif {
  display: none;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}