@import "../_function.css.scss";
@import "component/_header.css.scss";
@import "component/_settingHeader.css.scss";

/*---   .settingBox   ----------*/
.settingTopBox {
  margin-top: 48px;
  padding: 40px 0 32px;
  border-bottom: 1px solid $color_border;
  background: #fff;
}
/*---   .mainTtl   ----------*/
.mainTtl {
  font-size: 36px;
  text-align: center;
}
.settingBox {
  width: 100%;
  padding: 20px 0 40px;
  background: #f2f2f2;
  line-height: 1.5;

  &Inner {
    width: 580px;
    margin: 0 auto;
    padding: 16px 30px;
    border: solid 1px $color_border;
    @include border-radius(3px);
    @include box-sizing;
    background: #fff;
    color: $color_textBlack;
  }

  .item {
    margin-bottom: 28px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  .settingTtl {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.125rem;
  }
  .settingSubTtl {
    font-weight: bold;
    font-size: .875rem;
  }
  .settingTxt {
    color: #626262;
    font-size: .875rem;
  }
  .snsList{
    li{
      margin-bottom: 10px;
    }
    .coopStatus{
      display: inline;
    }
    .snsName{
      display: inline-block;
      min-width: 80px;
      margin-right: 10px;
    }
    .notConnect,.connectTw,.connectFb{
      display: inline-block;
      @include border-radius(2px);
      color: #fff;
      line-height: 1.5;
      padding: 0 10px;
    }
    .notConnect{
      background: #bbb;
    }
    .connectTw{
      background: $twitter_blue;
    }
    .connectFb{
      background: $facebook_blue;
    }
  }
  .dltAccount{
    display: inline-block;
    padding: 0 10px;
    margin: 10px 0;
    background: #474747;
    @include border-radius(2px);
    color: #fff;
    line-height: 2;
    text-align: center;

    &:hover {
      text-decoration: none;
    }
  }
}








