@import "../_function.css.scss";
@import "_postBox.css.scss";

html {
  background: #5e5e5e;
}

/*---   .mainContent   ---------------------------*/
.mainContent {
  background: #eee;

  /*---   .gameBox   ----------*/
  .gameBox {
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    @include clearfix;

    /*---   .gameBoxInner   ---*/
    &Inner {
      width: $cntWidth;
      margin: 0 auto;
      padding-top: 40px;
    }
    /*---   .gameTtl   ---*/
    .gameTtl {
      margin-bottom: 24px;
      color: $color_green;
      font-weight: bold;
      font-size: 24px;
    }
    /*---   .gameImg   ---*/
    .gameImgWrap {
      float: left;
      margin-right: 13px;
    }
    /*---   .gameInfoBox   ---*/
    .gameInfoBox {
      position: relative;
      float: left;
      margin-bottom: 45px;
      @include clearfix;
    }
    /*---   .gameInfoList   ---*/
    .gameInfoList {
      color: #3e3e3e;
      font-size: 14px;
      line-height: 26px;

      .item {
        margin-bottom: 10px;
      }
      &ItemInner {
        margin-right: 10px;
        padding: 3px 5px;
        @include border-radius(3px);
        background: #929292;
        color: #fff;
      }
    }
    /*---   .amazonBtn   ---*/
    .amazonBtn {
      color: #2b518b;
      font-weight: bold;
      font-size: 14px;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
    /*---   .review   ---*/
    .reviewBox {
      margin: 32px 0 28px;
      @include clearfix;

      .starList {
        float: left;
        margin-right: 24px;
        font-size: 0;
      }
      .starOn {
        display: inline-block;
        @include img_set-PC4(32px, 31px, 0, -211px);
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
      .starOff {
        display: inline-block;
        @include img_set-PC4(32px, 31px, 0, -252px);
        margin-right: 8px;

        &:last-child {
          margin-right: 0;
        }
      }
      .value {
        float: left;
        padding-top: 4px;
        color: #3e3e3e;
        font-weight: bold;
        font-size: 26px;
      }
    }
    /*---   .gameBtnList   ---*/
    .gameBtnList {
      font-size: 0;

      .item {
        display: inline-block;
        position: relative;
        @include border-radius(3px);
        background: $color_green;
        cursor: pointer;

        &:first-child {
          margin-right: 30px;
        }
      }
      select {
        display: block;
        height: 36px;
        margin: 0 auto;
        padding: 20px;
        border: none;
        background: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        outline: 0;
      }
    }
    /*---   .sortBox   ---*/
    .sortBox {
      clear: both;

      .sortTtl {
        margin-bottom: 26px;
        font-size: 18px;
        text-align: center;
      }
      .sortList {
        width: $cntWidth;
        margin: 0 auto;
        color: #3e3e3e;
        font-size: 14px;

        .item {
          display: inline-block;
          width: 173px;
          text-align: center;
          cursor: pointer;

          &.current {
            position: relative;
            color: $color-green;

            &:after {
              position: absolute;
              bottom: 0;
              left: 50%;
              width: 100%;
              margin-left: -50%;
              border-bottom: 4px solid $color-green;
              content: "";
            }
          }
        }
        .follow {
          display: block;
          padding-bottom: 18px;
          color: #3e3e3e;

          &:hover {
            text-decoration: none;
          }
        }
        .all {
          display: block;
          padding-bottom: 18px;
          color: #3e3e3e;

          &:hover {
            text-decoration: none;
          }
        }
        .star {
          display: block;
          padding-bottom: 18px;
          color: #3e3e3e;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .game-timeline {
    padding: 24px 0;
  }
}