@import "_function.css.scss";

/*---   common   ---------------------------*/
html {
	background: #fff;
}
.mainVisual {
	min-width: 960px;
	padding-top: 15px;
	background: linear-gradient(rgba(#000,0.6), rgba(#000,0.8)), url('/assets/bg_login.png');
	background-size: contain;
	font-family: arial;
	text-align: center;
	color: #fff;

	.ttl {
		margin:45px 0 40px 0;
	}

	 .mainCopy {
	 	width: 760px;
	 	margin: 10px auto;
	 	padding: 20px 0;
	 	font-size: 32px;
	 	border-top: 3px solid #fff;
	 	border-bottom: 3px solid #fff;
	 }
	 .subCopy {
	 	padding: 0 20px;
	 	font-size: 22px;
	 	line-height: 1.5;
	 }
	 .snsCopy {
	 	font-size: 22px;
	 }
}

.loginBox, .bottomBox {
	text-align: center;
	padding: 30px 0;

	.item {
		display: inline-block;
		margin-bottom: 10px;
	}
	.tw, .fb, .gamr {
		display: inline-block;
		width: 250px;
		margin: 0 10px;
		padding: 0 10px;
		@include border-radius(2px);
		@include box-sizing;
		color: #ffffff;
		font-size: 18px;
		line-height: 3;
		text-align: center;
	}
	.tw {
		background: linear-gradient(lighten($twitter_blue,7%),$twitter_blue);
		box-shadow: 0 2px 0 darken($twitter_blue,10%);

		&:hover {
			text-decoration: none;
			background: linear-gradient($twitter_blue,lighten($twitter_blue,7%));
		}
	}
	.fb {
		background: linear-gradient(lighten($facebook_blue,10%),$facebook_blue);
		box-shadow: 0 2px 0 darken($facebook_blue,10%);

		&:hover {
			text-decoration: none;
			background: linear-gradient($facebook_blue, lighten($facebook_blue, 10%));
		}
	}
	.gamr {
		background: linear-gradient(lighten($main_color,7%),$main_color);
		box-shadow:0 2px 0 darken($main_color,10%);

		&:hover {
			text-decoration: none;
			background: linear-gradient($main_color,lighten($main_color,7%));
		}
	}
	.icon-twitter, .icon-facebook {
		&:before {
			display: inline-block;
			font-size: 32px;
			vertical-align: -20%;
			margin-right: 5px;
		}
	}
}

.points {
	min-width: 960px;
	text-align: center;

	section {
		display: inline-block;
		width: 30%;
		color: $color_textBlack;
		text-align: center;
		vertical-align: top;

		h1 {
			padding: 20px 0;
			font-size: 28px;
		}

		p {
			display: inline-block;
			padding: 10px 0;
			width: 90%;
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
		}
		.annotation {
			font-size: 12px;
		}
	}
}
.bottomBox {
	min-width: 960px;
	background-color: $bg_color;

	h1 {
		color: #4c4c4c;
		margin: 20px;
		font-size: 28px;
	}
}


