@import "../_function.css.scss";

/*---   common   ---------------------------*/
html {
  background: #fff;
}
.mainVisual {
  min-width: 960px;
  padding-top: 30px;
  background: linear-gradient(rgba(#000,0.6), rgba(#000,0.8)), url('/assets/bg_login.png');
  background-size: contain;
  font-family: arial;
  text-align: center;
  color: #fff;

  .ttl {
    margin:45px 0 40px 0;
  }
  .mainCopy {
    width: 760px;
    margin: 10px auto;
    padding: 20px 0;
    font-size: 22px;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
  }
  .subCopy {
    padding: 0 20px;
    font-size: 22px;
    line-height: 1.5;
  }
  .snsCopy {
    font-size: 22px;
  }
}
.loginBox, .bottomBox {
  text-align: center;
  padding: 30px 0;

  .item {
    display: inline-block;
    margin-bottom: 10px;
  }
  .tw, .fb, .gamr {
    display: inline-block;
    width: 250px;
    margin: 0 10px;
    padding: 0 10px;
    @include border-radius(4px);
    @include box-sizing;
    color: #ffffff;
    font-size: 1.125rem;
    line-height: 3;
    text-align: center;
  }
  .tw {
    @include bglinear(lighten($twitter_blue, 7%), $twitter_blue);
    @include box-shadow(0, 2px, 0, 0, darken($twitter_blue,10%));

    &:hover {
      text-decoration: none;
      @include bglinear($twitter_blue, lighten($twitter_blue, 7%));
    }
  }
  .fb {
    @include bglinear(lighten($facebook_blue, 10%), $facebook_blue);
    @include box-shadow(0, 2px, 0, 0, darken($facebook_blue, 10%));

    &:hover {
      text-decoration: none;
      @include bglinear($facebook_blue, lighten($facebook_blue, 10%));
    }
  }
  .gamr {
    @include bglinear(lighten($main_color, 7%), $main_color);
    @include box-shadow(0, 2px, 0, 0, darken($main_color, 10%));

    &:hover {
      text-decoration: none;
      @include bglinear($main_color, lighten($main_color, 7%));
    }
  }
  .icon-twitter, .icon-facebook {
    &:before {
      display: inline-block;
      font-size: 32px;
      vertical-align: -20%;
      margin-right: 5px;
    }
  }
}
.points {
  min-width: 960px;
  text-align: center;
  &Ttl {
    background: $main_color;
    color: #fff;
    font-size: 1.5rem;
    line-height: 3;
    text-shadow: 1px 1px 0 rgba(darken($main_color,20%),0.7);
    text-align: center;
  }
  &Item {
    display: inline-block;
    width: 30%;
    padding: 20px 0;
    color: $color_textBlack;
    text-align: center;
    vertical-align: top;

    &Ttl {
      padding: 20px 0;
      font-size: 1.75rem;
    }

    &Text {
      display: inline-block;
      padding: 15px 10px;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: left;
    }
    &Annotation {
      padding: 0 10px;
      font-size: 0.875rem;
      line-height: 1.5rem;
      text-align: left;
    }
  }
}
.bottomBox {
  min-width: 960px;
  background-color: $bg_color;
  &Ttl {
    color: #4c4c4c;
    margin: 20px 0 40px;
    font-size: 1.75rem;
  }
}