@import "../_function.css.scss";

.mainContent{
  padding-top: 46px;
  background-color: #eeeeee;
}

.topBox{
	background: #fff;
  padding: 20px;
  margin: 0 auto;
  width: 960px;
}
.gameTitle{
  display: inline-block;
  color: $color_textBlack;
  @include font-size(28);
  line-height:1.5;
  &:hover{
    text-decoration: none;
  }
}
.maker{
    margin-bottom: 15px;
    color: $color_textBlack;
    @include font-size(16);
    line-height: 2;
    &Name{
      font-weight: bold;
      padding-right: 10px;
    }
}
.gameWrap {
  display: inline-block;
  margin-right: 10px;
  width: 240px;
  @include box-sizing;
  vertical-align: top;
  text-align: center;
  .gameImgWrap {
    text-align:center;
    img{
      margin-bottom: 2px;
      @include box-shadow(0,0,4px,0,rgba(0,0,0,0.5));
    }
  }
  .Source{
    margin-bottom: 10px;
    text-align: center;
    a{
      color: $color_textGray;
      font-size: 12px;
    }
  }
}

.postWrap{
  width: 640px;
  display: inline-block;

  .postBox {
    width: 480px;
    margin: 0 auto 10px;
    border: 1px solid $color_border;
    @include border-radius(2px);
    @include box-sizing;
    background: #fff;

    .postHeaderLink{
      display: block;
      width: 100%;
      height: 50px;
      padding: 10px;
      @include box-sizing;
      color: $color-textBlack;
    }
    .postHeader{
      font-size: 14px;
      line-height: 30px;
      .profileImage{
        float: left;
        margin-right: 10px;
        display: inline-block;
        vertical-align: middle;
        @include border-radius(50%);
      }
      .userName{
        display: inline-block;
        color: $color_textBlack;
        font-weight: bold;
        word-break: break-all;
      }
      .statusBox{
        float: right;
        .moodReady,
        .moodPlaying,
        .moodPlayed,
        .moodStock{
          display: inline-block;
          padding: 0 8px;
          @include border-radius(2px);
          font-size: 12px;
          line-height: 2;
        }
        .moodReady{
          color: $color_yellow;
          border: solid 1px $color_yellow;
        }
        .moodPlaying{
          color: $color_red;
          border: solid 1px $color_red;
        }
        .moodPlayed{
          color: $color_blue;
          border: solid 1px $color_blue;
        }
        .moodStock{
          color: $color_green;
          border: solid 1px $color_green;
        }
      }
      @include clearfix;
    }
    .postBody{
      font-size: 14px;
      padding: 10px;
      display: block;
      width: 100%;
      color: $color_textBlack;
      @include box-sizing;
      line-height: 1.5;
      .postThumnail{
        width: 100%;
      }
      .postMeta{
        margin: 5px 0;
        color: $color_textGray;
        .postTime{
          display: inline-block;
          &:before{

          }
        }
        .readMore{
          float: right;
          font-weight: bold;
          color: $color_blue;
        }
        @include clearfix;
      }
      .postThumbnail{
        width: 100%;
        .thumbnailImage{
          width: 100%;
        }
      }
    }
    .postFooter{
      width: 100%;
    }
    .actionList{
      display: block;
      width: 100%;
      li{
        float: right;
        text-align: right;
      }
      .left{
        float: left;

      }
      @include clearfix;
    }
    .commentBtn,.favBtn,.icon-option{
      display:inline-block;
      padding-left: 10px;
      font-size:20px;
      color:$color_textGray;
      line-height: 1;
      @include box-sizing;
      &:before{
        vertical-align: middle;
      }
      }
    .commentBtn {
      text-decoration: none;
      &.on {
        color: $color_green;
      }
    }
    .favBtn {
      text-decoration: none;
      &.on{
        color: $color_red;
      }
    }
    .likeCount{
      color: $color-textGray;
    }
    .commentCnt,.likeCnt{
      position: relative;
      display: inline-block;
          font-size: 16px;
    }
    /*---   .urlThumbnail   ----*/
    .urlThumbnailWrap {
      .urlThumbnail {
        display: table;
        padding:5px;
        border: solid 1px $color_border;
        img {
          display:table-cell;
          width: 90px;
          margin-bottom:0;
        }
        .body {
          display:table-cell;
          padding-left:5px;
          width: 100%;
          vertical-align: top;
          .title {
            color:$color_textBlack;
            font-weight:bold;
            font-size:12px;
          }
          .description {
            color:$color_textGray;
            font-size:10px;
          }
        }
      }
    }
    .movieWrap{
      @include box-sizing;
      width:100%;
      border:none;
    }
    /*---   iframe   ---*/
    iframe {
      width: 100%;
      height: 272px;
    }
    /*---   .likeUserList   ---*/
    .likeUserListBox{
      border-top: 1px solid $color_border;
      background: #f5f5f5;
      .listTitle{
        padding: 10px;
        color: $color_textBlack;
        @include font-size(14);
      }
      .likeUserList{
        padding: 5px 10px;
      }
      .item{
        display: inline-block;
        a{
          display: inline-block;
          margin: 0 5px 5px 0;
          .userImg{
            @include border-radius(50%);
          }
        }
      }
    }
    .readMore{
      margin-bottom: 15px;
      @include font-size(13);
      font-weight: bold;
      color: $color_textGray;
      cursor: pointer;
      &:before{
        font-family: 'icomoon';
        content: "\e602";
        font-weight: normal;
        margin-right: 5px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }

    /*---   .commentBox   ---*/
    .commentBox {
      padding: 10px;
      border-top: 1px solid #dcdcdc;
      @include clearfix;

      .profImgWrap {
        float: left;
        margin-right: 10px;
      }
      .profImg {
        border: 1px solid #d3d3d3;
        @include border-radius(50%);
      }
      .commentList {
        .item {
          margin-bottom: 8px;
        }
        .commentInfo {
          line-height: 0.8;
          @include clearfix;

          .account {
            display: inline-block;
            color: #3c3c3c;
            font-weight: bold;
            @include font-size(13);
            font-size: .75rem;
            vertical-align: top;
          }
          .commentTime {
            display: inline-block;
            color: #888;
            @include font-size(13);
            vertical-align: top;

            &:before{
              margin-right: 4px;
            }
          }
          .icon-like,.icon-option{
            float: right;
            display: inline-block;
            color: #888;
            cursor: pointer;
          }
          .icon-like{
            @include font-size(14);
            &.on {
              color: $color_red;
            }
          }
          .icon-option{
            margin-right: 10px;
            @include font-size(18);
            &:before{
              display: inline-block;
              vertical-align: top;
            }
          }
          .userComment {
            margin-top: 5px;
            overflow: hidden;
            color: #3c3c3c;
            @include font-size(13);
            line-height: 1.5;
          }
        }
      }
    }
    .commentWrap {
      float: left;
    }
    .comment {
      overflow: hidden;
      width: 416px;
      padding: 5px;
      border: 1px solid #d1d1d1;
      @include border-radius(2px);
      @include box-sizing;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
      background: #f0f0f0;
      @include appearance;
      @include font-size(14);
      resize: none;
      outline: 0;

      &::-webkit-input-placeholder {
        padding: 3px;
        color: #c6c6c6;
      }
    }
  }
}








