@import "../_function.css.scss";
@import "component/_profileTop.css.scss";
@import "component/_profileLeft.css.scss";
@import "component/_profileEdit.css.scss";
@import "component/_clipBox.css.scss";

.mainContent {
  padding-bottom: 100px;
  background: #eee;
}

/*---   Profile   ----------*/
$component: "Profile";

.#{$component} {
  background: url(/assets/pc/default_cover.png) no-repeat top center;
  background-size: cover;
}

/*---   ProfileTop   ----------*/
$component: "ProfileTop";

.#{$component} {
  &__imgWrap {
    bottom: -70px;
  }
}