@import "../_function.css.scss";
@import "component/_searchTopBox.css.scss";
@import "component/_gameListBox.css.scss";
@import "component/_friendListBox.css.scss";

/*---   common   ---------------------------*/
html {
  height:100%;
  background: $bg_color;
}
body {
  height:100%;
}
#wrapper {
  height:100%;
}

/*---   .mainContent   ---------------------------*/
.mainContent {
  position: relative;
  background: #f2f2f2;

  /*---   .gameListBox   ---*/
  .gameListBox {
    margin-top: 0;
  }
  .searchTtl {
    margin-bottom: 10px;
    text-align: center;

    &Inner {
      margin-right: 8px;
      color: rgb(82, 82, 82)
    }
  }
}