@import "../_function.css.scss";
@import "component/_searchTop.css.scss";
@import "component/_gamelist.css.scss";
@import "component/_friendlist.css.scss";

html {
  height:100%;
  background: $main_color;
}
body {
  height:100%;
}
#wrapper {
  height:100%;
}
.mainContent {
  position: relative;
  background: #f2f2f2;
}

/*---   Search   ----------*/
$component: "Search";

.#{$component} {
  &__title {
    margin-bottom: 10px;
    text-align: center;
  }
  &__titleInner {
    margin-right: 8px;
    font-weight: bold;
  }
}