@import "../_function.css.scss";

html {
  background: #eee;
}
.SignupHeader, .SigninHeader {
  margin-bottom: 60px;
  padding: 10px 0;
  background: $main_color;

  &Ttl {
    display: block;
    width: 120px;
    height: 25px;
    margin: 0 auto;
    background: url(/assets/logo.png) no-repeat -10px;
    @include substitute;
  }
}
.Signup, .Signin {
  width: 380px;
  margin: 0 auto 60px;
  padding: 30px;
  @include box-shadow(0, 0, 1px, 0, rgba(0, 0, 0, 0.1));
  background: #fff;

  &Ttl {
    margin-bottom: 30px;
    color: $color_textBlack;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.875rem;
  }
  &ImgWrap {
    position: relative;
    width: 140px;
    height: 140px;
    margin: 0 auto 30px;
  }
  &Img {
    @include border-radius(70px);
    @include box-shadow(0, 1px, 4px, 0, rgba(0,0,0,0.4));
  }
  .serviceLogo{
    display: block;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 1;
    width: 42px;
    height: 42px;
    border: 2px solid #fff;
    @include border-radius(50%);
    box-shadow:0 1px 4px rgba(0,0,0,0.4);
  }
  .icon-twitter{
    display: block;
    font-size: 1.938rem;
    line-height: 42px;
    background: linear-gradient(lighten($twitter_blue,7%),$twitter_blue);
    color: #fff;
    text-align: center;
  }
  .icon-facebook{
    display: block;
    background-color: #fff;
    color: $facebook_blue;
    font-size: 3.1rem;
    text-align: center;
    line-height:36px;

    &:before{
      margin-left: -5px;
    }
  }
  &Text {
    margin-bottom: 15px;
    color: $color_textGray;
    font-size: .75rem;
    line-height: 1.5rem;
  }
  &BtnWrap {
    width: 240px;
    margin: 10px auto 20px;
  }
  &Btn {
    display: block;
    padding: 0 10px;
    border: 1px solid darken($main_color,7%);
    @include border-radius(4px);
    @include box-sizing;
    @include bglinear(lighten($main_color, 7%), $main_color);
    color: #fff;
    font-size: .875rem;
    line-height: 2.5;
    text-shadow: 0px -1px 0 rgba(0,0,0,0.35);
    text-align: center;
    text-decoration: none;

    &:hover {
      @include bglinear($main_color, lighten($main_color, 7%));
      text-decoration: none;
    }
  }
  &Input {
    width: 100%;
    margin: 10px 0;
    padding: 3px 10px;
    border: 1px solid $color_border;
    @include border-radius(2px);
    color: $color_textBlack;
    font-size: .875rem;
    line-height: 1.7rem;

    &::-webkit-input-placeholder {
      padding-top: 2px;
      color: lighten($color_textGray, 10%);
      line-height: 1.7rem;
    }
  }
  &Label {
    display: block;
    margin: 10px 0;
    color: $color_textGray;
    font-size: .875rem;
    text-align: center;
  }
  &Error {
    color: $color_red;
    font-size: .75rem;
    text-align: center;
  }
  > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}