@import "../_function.css.scss";
@import "component/_settingHeader.css.scss";
@import "component/_settingTop.css.scss";
@import "component/_gamelist.css.scss";
@import "component/_friendlist.css.scss";
@import "component/_clipBox.css.scss";

/*---   common   ---------------------------*/
html {
  background: $main_color;
}

/*---   .mainContent   ---------------------------*/
.mainContent {
  position: relative;
  margin-top: 0;
  background: #f2f2f2;
}