@import "_function.css.scss";
@import "_header.css.scss";
@import "_settingHeader.css.scss";
@import "_settingTopBox.css.scss";

/*---   .mainContent   ----------*/
.mainContent {
	margin-top: 0;
}
/*---   .termBox   ----------*/
.termBox {
	width: 100%;
	padding: 20px 0 40px;
	background: #f2f2f2;
	line-height: 1.5;

	&Inner {
		width: 960px;
		margin: 0 auto;
		padding: 16px 30px;
		@include border-radius(3px);
		@include box-sizing;
		background: #fff;
	}
	.item {
		margin-bottom: 28px;

		&:last-child {
			margin-bottom: 0;
		}
	}
	.termTtl {
		font-weight: bold;
		font-size: 18px;
	}
	.termSubTtl {
		font-weight: bold;
		font-size: 14px;
	}
	.termTxt {
		color: #626262;
		font-size: 14px;
	}
	.numList {
		color: #626262;
		font-size: 14px;

		&Item {
			margin-left: 1.5em;
			list-style: decimal;
		}
	}
}