@import "../_function.css.scss";
@import "component/_userActivity.css.scss";
@import "component/_gameActivity.css.scss";
@import "component/_postBox.css.scss";
@import "component/_activityPost.css.scss";
@import "component/_gametagList.css.scss";
@import "component/_deviceList.css.scss";
@import "component/_left_profile.css.scss";
@import "component/_post_input.css.scss";
@import "component/_game_search_form.css.scss";


.mainContent {
  @include clearfix;
  padding: 48px 0 46px;
  background-color: $bg_color;
  &Inner {
    width: 1080px;
    margin: 0 auto;
    @include clearfix;
    position: relative;

  }
  .leftSubColumn, .postColumn, .rightSubColumn{
    margin-top: 10px;
  }
  .leftSubColumn {
    float: left;
    width: 240px;
  }
  .postColumn {
    float: left;
    width: 520px;
    padding: 0 10px;
  }
  .rightSubColumn {
    margin-top: 10px;
    float: right;
    width: 320px;
    .userColumn, .gameColumn {
      margin-bottom: 15px;
    }
    .footerColumn {
      width: 100%;
      margin-top: 20px;
      border: solid 1px $color_border;
      @include border-radius(3px);
      @include box-sizing;
      background: #fff;
      @include clearfix;
      padding: 20px;
      p {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;
        a {
          color: $color_textBlack;
          font-size: 12px;
        }
        small {
          font-size: 12px;
        }
      }
    }
  }
}