@import "../_function.css.scss";
@import "component/_userActivity.css.scss";
@import "component/_postBox.css.scss";

/*---   .mainContent   ---------------------------*/
.mainContent {
  @include clearfix;
  padding: 48px 0 46px;
  background-color: $bg_color;

  &Inner {
    width: 1080px;
    margin: 0 auto;
  }
  /*---   .mainTtl   ----------*/
  .profileColumn,.postColumn,.userColumn{
    margin-top: 10px;
  }

  .profileColumn {
    float: left;
    width: 240px;
  }
  .postColumn {
    float: left;
    width: 520px;
    padding: 0 10px;
  }
  .userColumn {
    float: right;
    width: 320px;
  }
  /*---   ---*/
  .profile {
    position: relative;
    width: 240px;
    min-height: 122px;
    border: solid 1px $color_border;
    @include border-radius(3px);
    @include box-sizing;
    background: #fff;
    @include clearfix;

    &TopBox {
      padding: 10px;
      text-align: center;
    }
    .userImgWrap {
      display: inline-block;
      line-height: 0;
      .userImg{
        @include border-radius(50%);
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
      }
    }
    .userName {
      margin: 8px;
      font-weight: bold;
      font-size: 1rem;
      vertical-align: middle;
      line-height: 1.2;
      word-break: break-all;
      a{
        color: $color_textBlack;
      }
    }
    .userPlace{
      color: $color_textGray;
      font-size: 0.857142857rem;
    }
    &CountList {
      margin: 0 auto;
      font-size: 0;
      color: $color_textGray;

      li {
        border-top: solid 1px $color_border;
        @include box-sizing;
        font-size: .875rem;
        line-height:28px;
        a{
          color: $color_textBlack;
          padding: 4px 4px 4px 8px;
          display: block;
          &:hover{
            text-decoration: none;
            background-color: #FDFDFD;
          }
        }

        .count {
          font-weight: normal;
          @include font-size(18);
          font-weight: bold;
          text-align: right;
          position: absolute;
          right:8px;
        }
      }
    }
  }
  /*---   .addPost   ----------*/
  .addPost {
    position: relative;
    width: 480px;
    margin: 0 auto 10px;
    @include box-sizing;
    @include clearfix;

    &:after, &:before {
      right: 100%;
      top: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #ffffff;
      border-width: 10px;
      margin-top: -10px;
    }
    &:before {
      border-color: rgba(230, 230, 230, 0);
      border-right-color: #e6e6e6;
      border-width: 11px;
      margin-top: -11px;
    }

    .profImgWrap {
      margin-right: 10px;
      background: #fff;
      line-height: 0;
    }
    .profImg {
      border: 1px solid #d3d3d3;
    }
    &Inner {
      position: relative;
      padding: 10px 10px 40px 10px;
      border: 1px solid #e6e6e6;
      @include border-radius(3px);
      @include box-sizing;
      background: #fff;
      @include clearfix;

      .selectLogError {
        padding: 5px 0;
        color: $color_red;
        font-size: 0.714285714rem;

        &:empty{
          display: none;
        }
      }
    }
    .errorMessage{
      &:empty{
        display: none;
      }
    }
    .selectBtn {
      position: relative;
      width: 100%;
      padding: 8px 5px;
      border: 1px solid darken($color_border,7%);
      @include border-radius(2px);
      @include bglinear(lighten($color_border, 7%), $color_border);
      color: $color_textGray;
      font-size: .875rem;
      cursor: pointer;

      &:hover {
        @include bglinear(lighten($color_border, 5%), darken($color_border,5%));
      }

      &:after {
        display: block;
        position: absolute;
        right: 10px;
        top: 8px;
        width: 6px;
        height: 6px;
        border-top: 3px solid $color_textGray;
        border-right: 3px solid $color_textGray;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        content: "";
      }
    }
    textarea {
      margin: 10px 0;
      width: 300px;
      min-height: 150px;
      padding: 10px;
      border: 1px solid #d1d1d1;
      @include border-radius(2px);
      @include box-sizing;
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.07);
      background: #f0f0f0;
      font-size: .875rem;
      resize: none;
      outline: 0;

      &::-webkit-input-placeholder {
        color: #d1d1d1;
        font-size: .875rem;
      }
    }
    .urlThumbnail {
      overflow: hidden;
      margin-bottom: 10px;
      border: solid 1px #e2e2e2;
      color: #4a4a4a;

      &Img {
        display: inline-block;
        margin: 10px;
        width: 100px;
        vertical-align: top;
      }
      .body {
        padding: 10px;
        width: 300px;
        display: inline-block;
      }
      .title {
        margin-bottom: 10px;
      }
      .description {
        font-size: .5rem;
        line-height: 1.5;
      }
    }
    .thumbnailList {
      float: right;
      width: 150px;
      margin-bottom: 10px;
      .thumbnail {
        display: inline-block;
        &Img{
          margin-top: 10px;
          width: 100%;
          height: auto;
        }
        .gameTitle {
          color: #726ad0;
          margin-bottom: 5px;
        }
      }
      &:empty{
        margin-top: 10px;
        display: block;
        width: 150px;
        height: 150px;
        border: dotted 1px $color_border;
        @include border-radius(2px);
        background: #FAFAFA;
        &:after{
        font-size: 4rem;
        font-family: 'icomoon';
        content: "\e614";
        color: #E8E8E8;
        text-shadow:1px 1px 0 #ddd;
        display: block;
        margin: 45px;
        }
      }
    }
    #thumbnail {
      margin-bottom: 25px;

      img {
        width: 100%;
      }

      &:empty{
        display: none;
      }
    }
    .btnList{
      position: absolute;
      width: 460px;
      bottom: 10px;
      .listItem{
        display: inline-block;
        }
      }
      .post{
        float: right;
        .shareBtn{
          display: inline-block;
          .twBtn:before,.fbBtn:before{
            display: inline-block;
            font-family: 'icomoon';
            font-size: 1.5rem;
            color: #b2b2b2;
            margin-right: 15px;
            vertical-align: -15%;
          }
          .twBtn:before{
            content: "\e610";
          }
          .fbBtn:before{
            content: "\e603";
          }
      }
    }
    .photoBtnWrap {
      width: 100px;
      border: 1px solid darken($color_border,7%);
      @include border-radius(2px);
      @include bglinear(lighten($color_border, 7%), $color_border);
      color: $color_textGray;

      &:hover {
        @include bglinear(lighten($color_border, 5%), darken($color_border,5%));
      }
    }
    .photoBtnText {
      padding: 8px 5px 8px 30px;
      color: $color_textGray;
      font-size: .75rem;

      &:before {
        position: absolute;
        top: 4px;
        left: 5px;
        font-size: 1.25rem;
        font-family: 'icomoon';
        content: "\e608";
      }
    }
    .loadingPost{
      vertical-align: middle;
      display: none;
    }
    .addPhoto {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      opacity: 0;
    }
    .addPostBtn {
      display: inline-block;
      height: 30px;
      padding: 6px 8px;;
      border: 1px solid darken($main_color,7%);
      @include bglinear(lighten($main_color, 7%), $main_color);
      @include border-radius(2px);
      color: #fff;
      font-size: .875rem;
      cursor: pointer;
      vertical-align: middle;

      &:before {
      margin-right: 5px;
      font-family: 'icomoon';
      content: "\e60a";
      speak: none;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -18%;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      }

      &:hover {
        @include bglinear(lighten($main_color, 5%), darken($main_color,2%));
      }
    }
    .selectModal {
      display: none;
      position: absolute;
      top: 37px;
      left: 0;
      z-index: 10;
      @include box-shadow(1px, 1px, 3px, 3px, rgba(0, 0, 0, 0.2));
      background: #fff;
      font-weight: bold;
      font-size: .75rem;

      .playing {
        padding: 10px 10px 0;
        color: $color_red;
        line-height: 23px;
      }
      .ready {
        padding: 0 10px;
        color: $color_yellow;
        line-height: 23px;
      }
      .played {
        padding: 0 10px;
        color: $color_blue;
        line-height: 23px;
      }
      .stock {
        padding: 0 10px;
        color: $color_green;
        line-height: 23px;
      }
      .gameList {
        padding-bottom: 10px;
        .item {
          padding: 0 10px;
          color: $color_black;
          line-height: 23px;

          &:hover {
            background: #f5f5f5;
            cursor: pointer;
          }
        }
      }
    }

  }
}