@import "../_function.css.scss";
@import "_userActivity.css.scss";
@import "_postBox.css.scss";

/*---   .mainContent   ---------------------------*/
.mainContent {
  @include clearfix;
  width: 1080px;
  margin: 38px auto 0;
  padding: 20px 0 46px;
  background-color: $bg_color;

  /*---   .mainTtl   ----------*/
  .mainTtl {
    margin-bottom: 40px;
    color: #3e3e3e;
    font-size: 24px;
    text-align: center;
  }
  .profileColumn {
    float: left;
    width: 280px;
    margin-right: 20px;
  }
  .postColumn {
    float: left;
    width: 480px;
  }
  .userColumn {
    float: right;
    width: 280px;
  }
  /*---   ---*/
  .profile {
    position: relative;
    width: 280px;
    min-height: 122px;
    padding: 5px;
    border: 1px solid #e6e6e6;
    @include border-radius(3px);
    @include box-sizing;
    background: #fff;
    @include clearfix;

    &TopBox {
      @include clearfix;
      padding: 10px;
      background: url(/assets/pc/default_cover.png) no-repeat top center;
      background-size: cover;
    }
    .userImgWrap {
      display: inline-block;
      float: left;
      margin-right: 14px;
      border: 2px solid #fff;
      @include border-radius(2px);
      line-height: 0;
    }
    .userName {
      display: inline-block;
      margin-bottom: 10px;
      padding-top: 18px;
      color: #fff;
      font-weight: bold;
      font-size: 16px;
    }
    .userProf {
      color: #7e7e7e;
      font-size: 12px;
      line-height: 1rem;
    }
    &CountList {
      //@include flexbox;
      margin: 0 auto;
      font-size: 0;
      color: $color_textGray;
    }
    .postNum {
      display: inline-block;
      width: 33.33%;
      padding: 8px 0 4px;
      @include box-sizing;
      font-size: 12px;
      text-align: center;

      .count {
        display: block;
        margin-top: 5px;
        color: $main_color;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .followNum {
      display: inline-block;
      width: 33.33%;
      padding: 8px 0 4px;
      @include box-sizing;
      font-size: 12px;
      text-align: center;

      .count {
        display: block;
        margin-top: 5px;
        color: $main_color;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .followerNum {
      display: inline-block;
      width: 33.33%;
      padding: 8px 0 4px;
      @include box-sizing;
      font-size: 12px;
      text-align: center;

      .count {
        display: block;
        margin-top: 5px;
        color: $main_color;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .gameNum {
      display: inline-block;
      width: 100%;
      padding: 8px 0 4px;
      @include box-sizing;
      color: #3e3e3e;
      font-size: 14px;
      text-align: center;

      .count {
        display: block;
        margin-top: 5px;
        color: $main_color;
        font-weight: bold;
        font-size: 14px;
      }
    }
  }
  /*---   .addPost   ----------*/
  .addPost {
    position: relative;
    width: 480px;
    margin: 0 auto 18px;
    @include box-sizing;
    @include clearfix;

    .profImgWrap {
      margin-right: 10px;
      background: #fff;
      line-height: 0;
    }
    .profImg {
      border: 1px solid #d3d3d3;
    }
    &Inner {
      position: relative;
      padding: 10px;
      border: 1px solid #e6e6e6;
      @include border-radius(3px);
      @include box-sizing;
      background: #fff;

      &:before {
        display: block;
        position: absolute;
        left: -17px;
        top: 30px;
        border-top: 9px solid transparent;
        border-right: 8px solid #e6e6e6;
        border-bottom: 9px solid transparent;
        border-left: 9px solid transparent;
        content: "";
      }
      &:after {
        display: block;
        position: absolute;
        left: -13px;
        top: 30px;
        border-top: 8px solid transparent;
        border-right: 7px solid #fff;
        border-bottom: 8px solid transparent;
        border-left: 7px solid transparent;
        content: "";
      }
    }
    .selectBtn {
      position: relative;
      width: 125px;
      padding-bottom: 10px;
      color: $main_color;
      font-size: 16px;
      cursor: pointer;

      &:after {
        display: block;
        position: absolute;
        right: 10px;
        top: 2px;
        width: 6px;
        height: 6px;
        border-top: 3px solid $main_color;
        border-right: 3px solid $main_color;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        content: "";
      }
    }
    textarea {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border: none;
      border-top: 1px solid #f0f0f0;
      @include box-sizing;
      font-size: 14px;
      resize: none;
      outline: 0;

      &::-webkit-input-placeholder {
        color: #e2e2e2;
        font-size: 14px;
      }
    }
    .urlThumbnail {
      overflow: hidden;
      margin-bottom: 30px;
      border: solid 1px #e2e2e2;
      color: #4a4a4a;

      &Img {
        width: 100%;
        border-bottom: solid 1px #e2e2e2;
      }
      .body {
        padding: 10px;
      }
      .title {
        margin-bottom: 15px;
      }
      .description {
        font-size: 14px;
        line-height: 1.5;
      }
    }
    .thumbnailList {
      margin-bottom: 8px;

      .thumbnail {
        display: inline-block;
      }
    }
    #thumbnail {
      margin-bottom: 25px;

      img {
        width: 100%;
      }
    }
    .photoBtnWrap {
      position: relative;
    }
    .photoBtnText {
      padding-top: 5px;
      padding-left: 30px;
      color: #929292;
      font-size: 12px;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 20px;
        font-family: 'icomoon';
        content: "\e608";
      }
    }
    .addPhoto {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100px;
      opacity: 0;
    }
    .addPostBtn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      height: 30px;
      padding-left: 35px;
      padding-right: 10px;
      @include border-radius(2px);
      background: $main_color;
      color: #fff;
      font-size: 14px;
      line-height: 30px;
      cursor: pointer;

      &:before {
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 20px;
        font-family: 'icomoon';
        content: "\e60a";
      }
      &:hover {
        background: $main_color;
      }
    }
    .selectModal {
      display: none;
      position: absolute;
      top: 37px;
      left: 0;
      z-index: 10;
      @include box-shadow(1px, 1px, 3px, 3px, rgba(0, 0, 0, 0.2));
      background: #fff;
      font-weight: bold;
      font-size: 12px;

      .playing {
        padding: 10px 10px 0;
        color: $color_red;
        line-height: 23px;
      }
      .ready {
        padding: 0 10px;
        color: $color_yellow;
        line-height: 23px;
      }
      .played {
        padding: 0 10px;
        color: $color_blue;
        line-height: 23px;
      }
      .gameList {
        padding-bottom: 10px;
        .item {
          padding: 0 10px;
          color: $color_black;
          line-height: 23px;

          &:hover {
            background: #f5f5f5;
            cursor: pointer;
          }
        }
      }
    }
  }
}