%meta{charset: "UTF-8"}

%meta{name: "description", content: @head_meta[:description]}
%meta{name: "keywords", content: @head_meta[:keywords]}

%meta{property: "og:site_name", content: @head_meta[:og][:site_name]}
%meta{property: "og:type", content: @head_meta[:og][:type]}
%meta{property: "og:title", content: @head_meta[:title]}
%meta{property: "og:description", content: @head_meta[:description]}
%meta{property: "og:image", content: @head_meta[:common][:image]}
%meta{property: "og:url", content: @head_meta[:common][:url]}

%meta{name: "twitter:card", content: @head_meta[:twitter][:card]}
%meta{name: "twitter:site", content: @head_meta[:twitter][:site]}
%meta{name: "twitter:title", content: @head_meta[:title]}
%meta{name: "twitter:description", content: @head_meta[:description]}
%meta{name: "twitter:image", content: @head_meta[:common][:image]}
%meta{name: "twitter:url", content: @head_meta[:common][:url]}