%script{type: "text/template", id: "edit-template"}
  %header
    %h1.ttl ログを編集
    = link_to "戻る", user_path(@current_user), class: "cancel"
    %a.addGame{href: "/logs#add"} +
  .sortBoxWrap
    %ul.sortBox
      %li.item.current.ready-li
        %span.ready 気になる
      %li.item.playing-li
        %span.playing プレイ中
      %li.item.played-li
        %span.played クリア済

  %form.searchWrap
    %input.search{type: "text", placeholder: "search", class: "search-log"}

  %ul.gameList