%script{type: "text/template", id: "result-template"}
  %figure
    / %img.gameImg{src: "/game_photos/{{= photo_path }}", width: "32", height: "32", alt: ""}
    %img.gameImg{src: "{{= photo_url }}", width: "32", height: "32", alt: ""}
    %figcaption {{= title }}
  %span.mood
    %select{name: "status", size: "1", class: "status"}
      %option{value: ""} ステータス
      %option{value: 1} 気になる
      %option{value: 2} プレイ中
      %option{value: 3} アーカイブ