%script{type: "text/template", id: "log-template"}
  %article.gameList
    %figure.gameImgWrap
        %img.gameImg{src: "/game_photos/{{= game.photo_path }}", width: 62, height: 88}
    %section.gameInfo
      %h1.ttl
        {{= game.title }}
      %ul.btnList
        %li.item
          %select.stars.my_rate{name: "stars", size: 1}
            {{ if (rate == "1") { }}
            %option{value: ""} ★で評価
            %option{value: 1, selected: "selected"} ★☆☆☆☆
            %option{value: 2} ★★☆☆☆
            %option{value: 3} ★★★☆☆
            %option{value: 4} ★★★★☆
            %option{value: 5} ★★★★★
            {{ } else if (rate == "2") { }}
            %option{value: ""} ★で評価
            %option{value: 1} ★☆☆☆☆
            %option{value: 2, selected: "selected"} ★★☆☆☆
            %option{value: 3} ★★★☆☆
            %option{value: 4} ★★★★☆
            %option{value: 5} ★★★★★
            {{ } else if (rate == "3") { }}
            %option{value: ""} ★で評価
            %option{value: 1} ★☆☆☆☆
            %option{value: 2} ★★☆☆☆
            %option{value: 3, selected: "selected"} ★★★☆☆
            %option{value: 4} ★★★★☆
            %option{value: 5} ★★★★★
            {{ } else if (rate == "4") { }}
            %option{value: ""} ★で評価
            %option{value: 1} ★☆☆☆☆
            %option{value: 2} ★★☆☆☆
            %option{value: 3} ★★★☆☆
            %option{value: 4, selected: "selected"} ★★★★☆
            %option{value: 5} ★★★★★
            {{ } else if (rate == "5") { }}
            %option{value: ""} ★で評価
            %option{value: 1} ★☆☆☆☆
            %option{value: 2} ★★☆☆☆
            %option{value: 3} ★★★☆☆
            %option{value: 4} ★★★★☆
            %option{value: 5, selected: "selected"} ★★★★★
            {{ } else { }}
            %option{value: ""} ★で評価
            %option{value: 1} ★☆☆☆☆
            %option{value: 2} ★★☆☆☆
            %option{value: 3} ★★★☆☆
            %option{value: 4} ★★★★☆
            %option{value: 5} ★★★★★
            {{ } }}
        %li.item
          %select.status.my_status{name: "status", size: 1}
            {{ if (status.id == "1") { }}
            %option{value: ""} ステータス
            %option{value: 1, selected: "selected"} 気になる
            %option{value: 2} プレイ中
            %option{value: 3} アーカイブ
            {{ } else if (status.id == "2") { }}
            %option{value: ""} ステータス
            %option{value: 1} 気になる
            %option{value: 2, selected: "selected"} プレイ中
            %option{value: 3} アーカイブ
            {{ } else if (status.id == "3") { }}
            %option{value: ""} ステータス
            %option{value: 1} 気になる
            %option{value: 2} プレイ中
            %option{value: 3, selected: "selected"} アーカイブ
            {{ } }}