@import "../_function.css.scss";

/*---   .comment-modal   ---------------------------*/
.comment-modal {
	width: 96%;
	height: 400px;
	position: fixed;
	z-index: 100;
	top: 50px;
	left: 50%;
	margin-left: -48%;
	background-color: #fff;
	display: none;
	.modal-header {
		position:relative;
		height: 40px;
		border-bottom: solid 1px $color_border;
		text-align:center;
		overflow: hidden;
		.modalTitle{
			padding:10px;
			color:$color_textBlack;
		}
		.icon-delete {
			position: absolute;
			top: 6px;
			right: 6px;
			color: $color_border;
			font-size: 34px;
			text-align: center;
			line-height: 26px;
		}
	}
	.modal-body {
		height: 325px;
		overflow: scroll;
		margin: 0 auto;

		.comment-list {
			padding:5px;
			list-style-type: none;

			.comment {
				border-bottom:1px solid $color_border;
				.commentImgWrap{
					display:inline-block;
					width: 40px;
					vertical-align:top;
					margin-right:5px;
				}
				img{
					width: 40px;
					height: 40px;
					border: 1px solid $color_border;
					@include border-radius(50%);
				}
				.commentText{
					display:inline-block;
					width: 80%;
					color:$color_textBlack;
					font-size:12px;
					.userName{
						padding:10px 0;
						color: $color_textBlack;
						font-weight:bold;
					}
					.favBtn{
						padding:10px 0 10px 10px;
						color: $color_textGray;
						font-weight:bold;
					}
					.on{
						color: $color_green;
					}
				}
			}
		}
	}
	.modal-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0px;
		left: 2%;
		width: 96%;
		height: 50px;
		border-top: solid 1px #e2e2e2;
		background-color: #fff;

		textarea {
			display: block;
			float: left;
			width: 80%;
			height: 34px;
			margin-top: 4px;
			padding: 5px;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			@include box-sizing;
		}
		.submit-comment-btn {
			float: right;
			width: 17%;
			height: 34px;
			margin-top: 4px;
			@include border-radius(2px);
			background-color: $color_green;
			color: #fff;
			font-size:14px;
			line-height: 2.5;
			text-align: center;
		}
	}
}