@import "../_function.css.scss";

/*---   .comment-modal   ---------------------------*/
.comment-modal {
	width: 96%;
	height: 400px;
	position: fixed;
	z-index: 100;
	top: 50px;
	left: 50%;
	margin-left: -48%;
	@include border-radius(2px);
	border: solid 1px $color_border;
	background-color: #fff;
	display: none;
	.modal-header {
		width: 96%;
		height: 40px;
		margin: 0 auto;
		border-bottom: solid 1px $color_border;
		overflow: hidden;
		.cancel-modal-btn {
			width: 70px;
			height: 30px;
			line-height: 30px;
			color:#797979;
			text-align: center;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			float: right;
			margin-top: 4px;
			margin-right: 5px;
		}
	}
	.modal-body {
		width: 96%;
		height: 325px;
		overflow: scroll;
		margin: 0 auto;

		.comment-list {
			width: 100%;
			list-style-type: none;

			.comment {
				overflow: hidden;
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: solid 1px #e2e2e2;

				img {
					float: left;
					width: 40px;
					height: 40px;
					border-radius: 20px;
				}
				.body {
					float: right;
					width: 100%;
					margin-left: -40px;

					.inner-body {
						margin-left: 50px;

						a {
							display: block;
							font-size: 12px;
							text-align: left;
						}
						p {
							font-size: 12px;
							text-align: left;
						}
					}
				}
			}
		}
	}
	.modal-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0px;
		left: 2%;
		width: 96%;
		height: 50px;
		border-top: solid 1px #e2e2e2;
		background-color: #fff;

		textarea {
			display: block;
			float: left;
			width: 80%;
			height: 40px;
			margin-top: 4px;
			padding: 5px;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			@include box-sizing;
		}
		.submit-comment-btn {
			float: right;
			width: 17%;
			height: 38px;
			margin-top: 6px;
			@include border-radius(3px);
			background-color: $color_green;
			color: #fff;
			line-height: 38px;
			text-align: center;
		}
	}
}