@import "../_function.css.scss";

/*---   .follows-list   ---------------------------*/
@include keyframes(changeFollow){
		0% {
			width: 68px;
			height: 34px;
			font-size:12px;
		}
		100% {
			width: 70px;
			height: 36px;
			color:#fff;
			font-size:13px;
			background:$main_color;
		}
	}
.follows-list,.followers-list,.userList,.userAvtivityList{
	margin: 0 auto;
	@include clearfix;
	.item{
		padding:10px;
		border-bottom: 1px solid $color_border;
	}
	ul.friendListWrap{
		background-color: #fff;
		img{
			border:1px solid $color_border;
			@include border-radius(50%);
		}
		.followBtnWrap{
			text-align:center;
		}
		.followBtn,.follow-btn{
			float:right;
			display:inline-block;
			margin-top:6px;
			padding:0 10px;
			border: 1px solid $main_color;
			@include border-radius(4px);
			color:$main_color;
			font-size:13px;
			line-height:36px;
		}
		.follow,.reFollow{
			color:$main_color;
			border: 1px solid $main_color;
			@include border-radius(4px);
		}
		.unFollow,.unfollow-btn{
			@include animation(changeFollow 0.33s ease-in-out forwards);
		}
		.userImgWrap{
			display:inline-block;
			height: 50px;
			@include border-radius(50%);
			vertical-align: middle;
		}
		.userInfo{
			display:inline-block;
			vertical-align: middle;
			padding-left:5px;
			height:100%;
			font-size:14px;
			line-height:1.5;
			.nameWrap{
				font-weight:bold;
				.name{
					color:$color_textBlack;
				}
			}
			.myGame{
				color: $color_textGray;
				vertical-align: top;
				font-size:12px;
			}
		}
		&:after{
			content:"";
			display:block;
			@include clearfix;
		}
	}
}