@import "../_function.css.scss";

/*---   .follows-list   ---------------------------*/
.follows-list,.followers-list,.userList,.userAvtivityList{
	margin: 0 auto;
	padding:0 10px;
	@include clearfix;
	.item{
		padding:10px 0;
		border-bottom: 1px solid $color_border;
	}
	ul.friendListWrap{
		background-color: #fff;
		img{
			border:1px solid $color_border;
			@include border-radius(50%);
		}
		.followBtn{
			float:right;
			display:inline-block;
			margin-top:4px;
			padding:0 10px;
			@include border-radius(2px);
			background-color: $main_color;
			color:#fff;
			font-size:14px;
			line-height:36px;
		}
		.follow,.reFollow{
			color:#fff;
			background-color: $main_color;
		}
		.unFollow{
			color:#fff;
			background-color: $main_color;

		}
		.userImgWrap{
			display:inline-block;
			height: 40px;
			@include border-radius(50%);
			vertical-align: middle;
		}
		.userInfo{
			display:inline-block;
			vertical-align: middle;
			padding-left:10px;
			height:100%;
			font-size:12px;
			.nameWrap{
				font-weight:bold;
				line-height:1.6;
				.name{
					color:$color_textBlack;
				}
			}
			.icon-place{
				display:inline-block;
				margin-left:-2px;
				color:$color_textGray;
				font-size:14px;
			}
			.place{
				display:inline-block;
				color: $color_textGray;
				vertical-align: top;
			}
		}
		&:after{
			content:"";
			display:block;
			@include clearfix;
		}
	}
}