@import "../_function.css.scss";

/*---   .gameList   ----------*/
.gameList {
	background: #ffffff;

	.item {
		display:table;
		width: 100%;
		padding:10px;
		box-sizing: border-box;
		border-bottom: 1px solid $color_border;
	}
	article{
		width: 100%;
	}
	.textArea{
		display:table-cell;
		padding-right:10px;
		width: 100%;
		vertical-align: top;
		.gameTitle{
			font-size:16px;
			line-height:1.5;
		}
		.device{
			padding:2px;
			width: 100%;
			border:1px solid #A8A8A8;
			@include border-radius(2px);
			color: #A8A8A8;
			font-size:12px;
			line-height:2.5;
		}
		.star{
			color:yellow;
			font-size:10px;
			line-height:2.5;
		}
	}
	.gameModule{
		display:table-cell;
		width: 100px;
		margin-left:auto;
		@include box-sizing;
		a{
			display:inline-block;
		}
		.status{
			@include appearance;
			display:inline-block;
			width: 100px;
			padding: 4px 0 4px 26px;
			border: 1px solid $color_green;
			@include border-radius(2px);
			background-color: #fff;
			color:$color_green;
			font-size:12px;
			text-align: center;
			line-height:24px;
		}
	}
	// .gameImg {
	// 	float: left;
	// 	min-width: 30px;
	// 	margin: 0 12px 0 11px;
	// }
	// figcaption {
	// 	float: left;
	// 	width: 47%;
	// 	color: $color_textBlack;
	// 	font-size: 16px;
	// }
	// .mood {
	// 	display: block;
	// 	position: absolute;
	// 	top: 50%;
	// 	padding:0 0 4px 4px;
	// 	right: 13px;
	// 	width: 86px;
	// 	margin-top: -14px;
	// 	padding-top: 6px;
	// 	border: none;
	// 	@include border-radius(2px);
	// 	@include box-sizing;
	// 	background: $color_green;
	// 	font-size: 12px;

	// 	&:after {
	// 		content:"";
	// 		display: block;
	// 		width: 6px;
	// 		height: 6px;
	// 		border-right: solid 3px;
	// 		border-bottom: solid 3px;
	// 		border-color:#fff;
	// 		top:9px;
	// 		-webkit-transform: rotate(45deg);
	// 		   -moz-transform: rotate(45deg);
	// 		    -ms-transform: rotate(45deg);
	// 		     -o-transform: rotate(45deg);
	// 		        transform: rotate(45deg);
	// 		position: absolute;
	// 		right: 6px;
	// 		z-index: 5;
	// 		content: "";
	// 	}
	// }
	// select {
	// 	position: relative;
	// 	width: 80px;
	// 	height: 20px;
	// 	border: none;
	// 	@include border-radius(2px);
	// 	@include box-sizing;
	// 	background: $color_green;
	// 	color: #fff;
	// 	outline: 0;
	// 	-webkit-appearance:none;
	// 	border-radius:0;
	// }
}