@import "../_function.css.scss";

/*---   .gameList   ----------*/
.gameList {
	background: #ffffff;

	.item {
		position: relative;
		padding: 9px 0;
		border-top: 1px solid $color_border;
		@include clearfix;
	}
	.gameImg {
		float: left;
		min-width: 30px;
		margin: 0 12px 0 11px;
	}
	figcaption {
		float: left;
		width: 50%;
		color: $color_green;
		font-size: 12px;
	}
	.mood {
		display: block;
		position: absolute;
		top: 50%;
		padding:0 0 4px 4px;
		right: 13px;
		width: 86px;
		margin-top: -14px;
		padding-top: 6px;
		border: none;
		@include border-radius(2px);
		@include box-sizing;
		background: $color_green;
		font-size: 12px;

		&:after {
			content:"";
			display: block;
			width: 6px;
			height: 6px;
			border-right: solid 3px;
			border-bottom: solid 3px;
			border-color:#fff;
			top:9px;
			-webkit-transform: rotate(45deg);
			   -moz-transform: rotate(45deg);
			    -ms-transform: rotate(45deg);
			     -o-transform: rotate(45deg);
			        transform: rotate(45deg);
			position: absolute;
			right: 6px;
			z-index: 5;
			content: "";
		}
	}
	select {
		position: relative;
		width: 80px;
		height: 20px;
		border: none;
		@include border-radius(2px);
		@include box-sizing;
		background: $color_green;
		color: #fff;
		outline: 0;
		-webkit-appearance:none;
		border-radius:0;
	}
}