@import "../_function.css.scss";

/*---   .gameBox   ---------------------------*/
.gameBox {
	padding: 0 3px;

	.sortBox {
		width: 300px;
		margin: 13px auto;
		border: 1px solid $color_border;
		@include border-radius(2px);
		@include clearfix;

		.item {
			float: left;
			width: 100px;
			border-right: 1px solid $color_border;
			@include box-sizing;
			font-size: 12px;

			&:last-child {
				border: none;
			}
		}
		.playing, .ready, .played {
			display: table-cell;
			width: 100px;
			height: 30px;
			padding-top: 2px;
			@include box-sizing;
			background: #ffffff;
			color: $color-textGray;
			text-align: center;
			vertical-align: middle;
			line-height: 1.1;
		}
		.ready {
			border-radius: 2px 0 0 2px;
		}
		.played {
			border-radius: 0 2px 2px 0;
		}
		.current {
			@at-root {
				&.item {
					border: none;
				}
			}
			.playing{
				background: $color_red;
				color: #ffffff;
				@include font-weight(1px, #ffffff);
			}
			.ready{
				background: $color_yellow;
				color: #ffffff;
				@include font-weight(1px, #ffffff);

			}
			.played {
				background: $color_blue;
				color: #ffffff;
				@include font-weight(1px, #ffffff);

			}
		}
	}
	.searchBox {
		width: 300px;
		height: 30px;
		margin: 0 auto 15px;
		border: 1px solid $color_border;
		@include border-radius(2px);
		background: #ffffff;

		input {
			padding-left: 45px;
			@include border-radius(2px);
			@include box-sizing;
			border: none;
			@include iconSprite4(100%, 32px, 10px, -178px);
			@include appearance;
			outline: 0;

			&::-webkit-input-placeholder {
				color: #8d8d8d;
				font-size: 12px;
				line-height: 24px;
			}
		}
	}
	.gameList {
		background-color: #EEEEEE;
		padding: 10px;

		.item {
			display: inline-block;
			overflow: hidden;
			position: relative;
			margin-bottom: 5px;
			width: 94px;
			height: 160px;
			margin: 0 12px 6px;
			border: 1px solid $color_border;
			@include border-radius(2px);
			@include box-sizing;
			background: #ffffff;
		}
		.articleWrap {
			line-height: 1.0;
		}
		.game {
			text-align: center;
		}
		.gameImg {
			height: 132px;
			border-bottom: 1px solid $color_border;
			@include box-sizing;
		}
		.review {
			padding: 5px 0;
			color: #10b5a3;
			font-size: 11px;
			text-align: center;

			&Ave {
				margin-left: 3px;
			}
		}
	}
}