@import "../_function.css.scss";

/*---   header   ---------------------------*/
header {
	position: relative;
	z-index: 1;
	width: 100%;
	@include box-sizing;

	.headerNav{
	padding:5px;
	font-size:24px;
	background-color: #222222;
	box-shadow:0 0 3px 1px rgba(0,0,0,0.4);
	a{
		color:#fff;
		text-decoration:none;
	}
	ul{
		display:table;
		float:right;
		li{
			display:table-cell;
			padding:2px 10px;
		}
		.icon-bell{
			&Num{
				display: none;
				position: absolute;
				top: -2px;
				right: 1px;
				width: 17px;
				height: 17px;
				@include border-radius(2px);
				background: #22c0a4;
				color: #fff;
				font-family: Helvetica;
				font-size: 12px;
				@include font-weight(1px, #fff);
				line-height: 17px;
				text-align: center;
			}
		}
		.menu{
			position: relative;
			display:inline-block;
			width: 24px;
			height: 24px;
			cursor:pointer;
			&:before,&:after{
				display: block;
				position: absolute;
				content: "";
				width: 24px;
				height: 3px;
				background-color: #fff;
				top: 0;
				left: 0;
				transition:transform 0.8s ease;
			}
			&:before{
				transform: translate(0,6px) rotate(0deg);
			}
			&:after{
				transform: translate(0,18px) rotate(0deg);
			}
			.show:before{
				transform: translate(0,13px) rotate(-135deg);
			}
			.show:after{
				transform: translate(0,13px) rotate(135deg);
			}
		}
	}
	&:after{
		content:"";
		display:block;
		clear:both;
	}

}

.openMenuWrap {
	display: none;
}
.openMenu {
	display: none;
	position: absolute;
	display:table;
	width: 100%;
	top:50px;
	left: 0;
	padding: 10px;
	@include box-sizing;
	@include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.75));
	background: #ffffff;
	color: $color_textGray;
	font-size:14px;
	text-align: left;
	a{
		color:#000;
	}
}
.menuItemAccount, .menuItemLogout {
	display:table-cell;
	color: #626262;
}
}