@import "../_function.css.scss";

/*---   header   ---------------------------*/
header {
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	z-index: 1;
	@include box-sizing;

	.headerNav{
		height:45px;
		font-size:22px;
		background-color: rgba($main_color,.94);
		a{
			color:#fff;
			text-decoration:none;
		}
		ul{
			display:table;
			text-align:center;
			width: 100%;
			li{
				display:table-cell;
			}
			.title,.menuWrap,.notify,.search{
				text-align: center;
				vertical-align: middle;
			}
			.notify,.search{
				width: 40px;
			}
			.menuWrap{
				text-align:left;
				padding-left:10px;
				width: 70px;
			}
			.menu{
				position: relative;
				display:inline-block;
				width: 22px;
				height: 28px;
				cursor:pointer;
				&:before,&:after{
					display: block;
					position: absolute;
					content: "";
					width: 24px;
					height: 4px;
					@include border-radius(4px);
					background-color: #fff;
					top: 0;
					left: 0;
					-webkit-transition:0.3s ease;
						-ms-transition:0.3s ease;
							transition:0.3s ease;
				}
				&:before{
					-webkit-transform: translate(0,6px) rotate(0deg);
						-ms-transform: translate(0,6px) rotate(0deg);
							transform: translate(0,6px) rotate(0deg);
				}
				&:after{
					-webkit-transform: translate(0,18px) rotate(0deg);
						-ms-transform: translate(0,18px) rotate(0deg);
							transform: translate(0,18px) rotate(0deg);
				}
			}
			.show:before{
				-webkit-transform: translate(0,13px) rotate(-135deg);
					-ms-transform: translate(0,13px) rotate(-135deg);
						transform: translate(0,13px) rotate(-135deg);
			}
			.show:after{
				-webkit-transform: translate(0,13px) rotate(135deg);
					-ms-transform: translate(0,13px) rotate(135deg);
						transform: translate(0,13px) rotate(135deg);
			}
			.notify{
				position:relative;
				&Num{
					display: none;
					position: absolute;
					top: 3px;
					right: 2px;
					width: 17px;
					height: 17px;
					@include border-radius(2px);
					background: $sub_color;
					color: #fff;
					font-family: Helvetica;
					font-size: 12px;
					@include font-weight(1px, #fff);
					line-height: 17px;
					text-align: center;
				}
			}
			.icon-bell,.icon-search{
				font-size:24px;
			}
		}
		&:after{
			content:"";
			display:block;
			clear:both;
		}
	}
	.openMenuWrap {
		display: none;
	}
	.openMenu {
		position: absolute;
		display: none;
		width: 100%;
		top:44px;
		left: 0;
		padding:10px 0;
		@include box-sizing;
		background: rgba($main_color,0.94);
		color: #fff;
		font-size:14px;
		text-align: left;
		z-index:-1;
		a{
			color:#fff;
		}
		.item{
			display:block;
			width: 100%;
			padding:10px 10px 10px 20px;
			font-size:22px;
			text-align: left;
			@include box-sizing;
		}
	}

	.icon-setting, .icon-logout,.icon-user{
		display:block;
		padding-left:10px;
		width: 100%;
		&:before{
			padding-right:10px;
		}
	}
	.icon-logout{
		padding-left:11px;
	}
}

.settingHeader{
	position:fixed;
	top:0;
	left:0;
	width: 100%;
	height:44px;
	z-index: 1;
	@include box-sizing;
	background-color: $main_color;
	font-size:22px;
	padding:10px;
	.title{
		color:#FFF;
	}
}