@import "../../stylesheets/_function.css.scss";

/*---   notification-modal   ---------------------------*/
.notification-modal {
	display: none;
	overflow: scroll;
	position: fixed;
	top: 46px;
	left: 50%;
	z-index: 100;
	width: 95%;
	height: 500px;
	margin-left: -47.5%;
	@include border-radius(2px);
	background-color: #fff;

	.modal-header {
		position: relative;
		width: 100%;
		height: 40px;
		border-bottom: solid 1px #999;
		background: $color_green;
		color: #fff;
		font-size: 18px;
		font-family: Helvetica;
		text-decoration: none;
		@include font-weight(1px, #fff);
		text-align: center;
		line-height: 40px;

		.close-btn {
			position: absolute;
			top: 8px;
			right: 10px;
			width: 56px;
			height: 24px;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			background: #fff;
			color: #999;
			font-size: 13px;
			@include font-weight(0, #fff);
			text-align: center;
			line-height: 26px;
		}
	}
	.notification-list {
		width: 90%;
		margin: 20px auto;

		li {
			margin-bottom: 20px;
			@include clearfix;
		}
		.leftBox {
			float: left;
			margin-right: 15px;
		}
		.rightBox {
			color: #404040;
			font-size: 13px;
			line-height: 1.6;
		}
		.profImg {
			@include border-radius(29px);
		}
	}
}


/*------------------------------
		systemClass
------------------------------*/
.comment-modal {
	width: 96%;
	height: 400px;
	position: fixed;
	z-index: 100;
	top: 50px;
	left: 50%;
	margin-left: -48%;
	@include border-radius(2px);
	border: solid 1px $color_border;
	background-color: #fff;
	display: none;
	.modal-header {
		width: 96%;
		height: 40px;
		margin: 0 auto;
		border-bottom: solid 1px $color_border;
		overflow: hidden;
		.cancel-modal-btn {
			width: 70px;
			height: 30px;
			line-height: 30px;
			color:#797979;
			text-align: center;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			float: right;
			margin-top: 4px;
			margin-right: 5px;
		}
	}
	.modal-body {
		width: 96%;
		height: 325px;
		overflow: scroll;
		margin: 0 auto;

		.comment-list {
			width: 100%;
			list-style-type: none;

			.comment {
				overflow: hidden;
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: solid 1px #e2e2e2;

				img {
					float: left;
					width: 40px;
					height: 40px;
					border-radius: 20px;
				}
				.body {
					float: right;
					width: 100%;
					margin-left: -40px;

					.inner-body {
						margin-left: 50px;

						a {
							display: block;
							font-size: 12px;
							text-align: left;
						}
						p {
							font-size: 12px;
							text-align: left;
						}
					}
				}
			}
		}
	}
	.modal-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0px;
		left: 2%;
		width: 96%;
		height: 50px;
		border-top: solid 1px #e2e2e2;
		background-color: #fff;

		textarea {
			display: block;
			float: left;
			width: 80%;
			height: 40px;
			margin-top: 4px;
			padding: 5px;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			@include box-sizing;
		}
		.submit-comment-btn {
			float: right;
			width: 17%;
			height: 38px;
			margin-top: 6px;
			@include border-radius(3px);
			background-color: #10ac9b;
			color: #fff;
			line-height: 38px;
			text-align: center;
		}
	}
}