@import "../_function.css.scss";

/*---   notification-modal   ---------------------------*/
.notification-modal {
	display: none;
	overflow: scroll;
	margin-left: -47.5%;
	width: 95%;
	height: 400px;
	@include border-radius(2px);
	background-color: #fff;
	position: fixed;
	top: 46px;
	left: 50%;
	z-index: 100;

	.modal-header {
		position: relative;
		width: 100%;
		height: 40px;
		border-bottom: solid 1px #999;
		background: #C2C1C1;
		color: #fff;
		font-size: 16px;
		text-decoration: none;
		text-align: center;
		line-height: 40px;

		.icon-delete {
			position: absolute;
			top: 6px;
			right: 6px;
			color: #fff;
			font-size: 34px;
			text-align: center;
			line-height: 26px;
		}
	}
	.notification-list {
		padding:0 10px;

		li {
			padding:10px 0;
			border-bottom: 1px solid $color_border;
			@include clearfix;
		}
		.ntfImgWrap{
			display:inline-block;
			vertical-align:top;
		}
		img{
			width: 40px;
			height: 40px;
			border: 1px solid $color_border;
			@include border-radius(50%);
		}
		.ntfText{
			display:inline-block;
			width: 80%;
			color: $color_textBlack;
			font-size: 12px;
		}
	}
}