@import "../_function.css.scss";

/*---   .postBox   ---------------------------*/
.postBox {
	margin:5px;
	padding: 5px 5px 0 5px;
	@include box-sizing;
	background: #ffffff;

	.topBox {
		@include clearfix;
		display:table;
		width: 100%;
	}
	.profImgWrap {
		display:table-cell;
		width: 31px;
		height: 31px;
	}
	.profImg {
		width: 30px;
		height: 30px;
		margin-right: 10px;
		border: 1px solid $color_border;
		@include border-radius(50%);
	}
	.account {
		display: table-cell;
		color: $color_textBlack;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		vertical-align: middle;
	}
	.time {
		display: table-cell;
		width: 160px;
		color: $color_border;
		font-size: 12px;
		line-height: 36px;
		vertical-align: middle;
		text-align: right;
		.icon-time{
			font-size:12px;
		}
	}
	.gameInfoBox{
		margin-left:40px;
	}
	.statusBox{
		margin:5px 0;
	}
	.moodReady, {
		display:table-cell;
		padding: 0 6px;
		@include border-radius(2px);
		font-size: 10px;
		line-height: 1.8;
		text-align: center;
		color:$color_yellow;
		border: 1px solid $color_yellow;
	}
	.moodPlaying {
		@extend .moodReady;
		color:$color_red;
		border: 1px solid $color_red;
	}
	.moodPlayed {
		@extend .moodReady;
		color:$color_blue;
		border: 1px solid $color_blue;
	}
	.textWrap{
		display: table-cell;
		padding-left:5px;
	}
	.ttl {
		font-size: 20px;
		line-height: 1.3;
		vertical-align: middle;
		a {
			color: $color_green;
		}
	}
	.text {
		color: #404040;
		font-size: 13px;
		line-height: 1.6;
		word-break: break-word;
	}
	.thumbnail {
		&Img {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	/*---   .urlThumbnail   ----*/
	.urlThumbnailWrap {
		.urlThumbnail {
			display: table;
			padding:5px;
			border: solid 1px $color_border;
			img {
				display:table-cell;
				width: 90px;
				margin-bottom:0;
			}
			.body {
				display:table-cell;
				padding-left:5px;
				width: 100%;
				vertical-align: top;
				.title {
					color:$color_textBlack;
					font-weight:bold;
					font-size:12px;
				}
				.description {
					color:color_textGray;
					font-size:10px;
				}
			}
		}
	}
	.movieWrap{
		@include box-sizing;
		width:100%;
		border:none;
	}
	.stateBox {
		text-align: right;
	}
	.commentBtn,.favBtn,.icon-option{
		display:inline-block;
		padding:10px;
		font-size:17px;
		color:$color_textGray;
		line-height: 1;
	}
	.commentBtn {
		text-decoration: none;
		&.on {
			color: $color_green;
		}
	}
	.favBtn {
		text-decoration: none;
		&.on {
			color: $color_red;
		}
	}
	.icon-option{
		padding:10px 15px;
	}
}