@import "../_function.css.scss";

/*---   .postBox   ---------------------------*/
.postBox {
	margin: 0 10px 10px;
	padding: 10px 10px;
	@include box-sizing;
	@include border-radius(2px);
	border:1px solid $color_border;
	background: #ffffff;

	.topBox {
		margin-bottom: 15px;
		@include clearfix;
	}
	.profImgWrap {
		float: left;
		@include border-radius(29px);
	}
	.profImg {
		width: 50px;
		margin-right: 10px;
		border: 1px solid $color_border;
	}
	.postArea {
		position: relative;
	}
	.account {
		color: $color_textBlack;
		font-size: 14px;
		@include font-weight(1px, #232937);
		text-decoration: none;
	}
	.time {
		//float: right;
		//margin: 8px 66px 0 0;
		color: #717171;
		font-size: 9px;
	}
	.ttl {
		overflow: hidden;
		margin-top: 5px;
		color: $color_green;
		font-size: 14px;
		@include font-weight(1px, #10ac9b);
		line-height: 1.3;
	}
	.mood_ready, .mood_playing, .mood_played {
		position: absolute;
		top: 0;
		right: 0;
		width: 63px;
		height: 18px;
		padding: 4px 0 0;
		@include border-radius(2px);
		color: #ffffff;
		font-size: 10px;
		text-align: center;
	}
	.mood_ready {
		background: $color_yellow;
	}
	.mood_playing {
		background: $color_red;
	}
	.mood_played {
		background: $color_blue;
	}
	.text {
		margin-bottom: 12px;
		color: #404040;
		font-size: 13px;
		line-height: 1.6;
	}
	.thumbnail {
		img {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	.stateBox {
		padding: 10px 0 0 0;
		border-top: 1px solid $color_border;
	}
	.commentBtn {
		margin-right: 10px;
		padding: 1px 0 4px 26px;
		color: #8d8e8e;
		font-size: 12px;
		text-decoration: none;
		@include iconSprite2(0, -110px);
	}
	.favBtn {
		padding: 3px 0 4px 25px;
		color: #8d8e8e;
		font-size: 12px;
		text-decoration: none;
		@include iconSprite2(0, -134px);

		@at-root {
			&.on {
				background-position: 0 -157px;
				color:$color_red;
			}
		}
	}
	.deleteBtn {
		float: right;
		@include substitute;
	}
}