
@import "../../stylesheets/_function.css.scss";

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Lucida Grande", Helvetica, "Meiryo", sans-serif;
}
body {
    overflow : scroll;
    -webkit-overflow-scrolling : touch;
}
a {
	text-decoration: none;
}
#headerGraylayer {
	position: absolute;
	top: 0;
	right: 0;
	width: 80%;
	height: 46px;
	background: rgba(0, 0, 0, 0.7);
}
#graylayer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
}

/*---   header   ---------------------------*/
header {
	position: relative;
	z-index: 1;
	width: 100%;
	height: 46px;
	padding-top: 11px;
	@include box-sizing;
	background: #2d3e58;

	.ttl {
		display: none;
		width: 68px;
		margin: 0 auto;
		color: #ffffff;
		font-size: 18px;
		font-family: Helvetica;
		text-decoration: none;
		@include font-weight(1px, #ffffff);
	}
	.menuWrap {
		display: block;
		position: absolute;
		top: 14px;
		left: 8px;
	}
	.menu {
		display: block;
		width: 22px;
		height: 19px;
		@include iconSprite2(0, 0);
		cursor: pointer;
	}
	.notify {
		display: block;
		position: absolute;
		padding:4px;
		top: 14px;
		right: 70px;
		width: 21px;
		height: 21px;
		@include iconSprite2(0, -26px);
		cursor: pointer;

		&Num {
			display: none;
			position: absolute;
			top: -2px;
			right: 1px;
			width: 17px;
			height: 17px;
			@include border-radius(2px);
			background: #22c0a4;
			color: #fff;
			font-family: Helvetica;
			font-size: 12px;
			@include font-weight(1px, #fff);
			line-height: 17px;
			text-align: center;
		}
	}
	.profile {
		display: block;
		position: absolute;
		top: 14px;
		right: 24px;
		width: 20px;
		height: 19px;
		@include iconSprite2(0, -55px);
		cursor: pointer;
	}
	.openMenuWrap {
		display: none;

		&:before {
			position: absolute;
			top: 30px;
			left: 16px;
			z-index: 5;
			width: 0;
			height: 0;
			border-top: 8px solid transparent;
			border-right: 9px solid transparent;
			border-bottom: 8px solid #fff;
			border-left: 9px solid transparent;
			content: '';
		}
	}
	.openMenu {
		display: none;
		position: absolute;
		top: 46px;
		left: 4px;
		padding: 17px 16px;
		@include border-radius(5px);
		@include box-sizing;
		@include box-shadow(0, 0, 5px, 0, rgba(0, 0, 0, 0.75));
		background: #ffffff;
		text-align: left;
	}
	.menuItemSearch, .menuItemLibrary, .menuItemAccount, .menuItemLogout {
		display: block;
		padding-left: 25px;
		color: #626262;
		font-size: 12px;
		@include font-weight(0.5px, #626262);
	}
	.menuItemSearch {
		margin-bottom: 5px;
		@include iconSprite2(left, -212px);
	}
	.menuItemLibrary {
		margin-bottom: 5px;
		@include iconSprite2(left, -233px);
	}
	.menuItemAccount {
		margin-bottom: 5px;
		@include iconSprite2(left, -252px);
	}
	.menuItemLogout {
		@include iconSprite2(left, -274px);
	}
}

/*------------------------------
		systemClass
------------------------------*/
.layer {
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: 0.7;
}

.loading-gif {
	display: none;
	width: 30px;
	height: 30px;
	margin: 0 auto;
}

.notification-modal {
	display: none;
	overflow: scroll;
	position: fixed;
	top: 46px;
	left: 50%;
	z-index: 100;
	width: 95%;
	height: 500px;
	margin-left: -47.5%;
	//border: solid 1px #e2e2e2;
	@include border-radius(2px);
	background-color: #fff;

	.modal-header {
		position: relative;
		width: 100%;
		height: 40px;
		border-bottom: solid 1px #999;
		background: $color_green;
		color: #fff;
		font-size: 18px;
		font-family: Helvetica;
		text-decoration: none;
		@include font-weight(1px, #fff);
		text-align: center;
		line-height: 40px;

		.close-btn {
			position: absolute;
			top: 8px;
			right: 10px;
			width: 56px;
			height: 24px;
			border: solid 1px #e2e2e2;
			@include border-radius(2px);
			background: #fff;
			color: #999;
			font-size: 13px;
			@include font-weight(0, #fff);
			text-align: center;
			line-height: 26px;
		}
	}
	.notification-list {
		width: 90%;
		margin: 20px auto;

		li {
			margin-bottom: 20px;
			@include clearfix;
		}
		.leftBox {
			float: left;
			margin-right: 15px;
		}
		.rightBox {
			color: #404040;
			font-size: 13px;
			line-height: 1.6;
		}
		.profImg {
			@include border-radius(29px);
		}
	}
}


/*------------------------------
		systemClass
------------------------------*/
.comment-modal {
	width: 96%;
	height: 400px;
	position: fixed;
	z-index: 100;
	top: 50px;
	left: 50%;
	margin-left: -48%;
	border: solid 1px #e2e2e2;
	background-color: #fff;
	display: none;
	.modal-header {
		width: 96%;
		height: 40px;
		margin: 0 auto;
		border-bottom: solid 1px #e2e2e2;
		overflow: hidden;
		.cancel-modal-btn {
			width: 70px;
			height: 30px;
			line-height: 30px;
			text-align: center;
			border: solid 1px #e2e2e2;
			border-radius: 3px;
			float: right;
			margin-top: 4px;
			margin-right: 5px;
		}
	}
	.modal-body {
		width: 96%;
		height: 325px;
		overflow: scroll;
		margin: 0 auto;

		.comment-list {
			width: 100%;
			list-style-type: none;

			.comment {
				overflow: hidden;
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom: solid 1px #e2e2e2;

				img {
					float: left;
					width: 40px;
					height: 40px;
					border-radius: 20px;
				}
				.body {
					float: right;
					width: 100%;
					margin-left: -40px;

					.inner-body {
						margin-left: 50px;

						a {
							display: block;
							font-size: 12px;
							text-align: left;
						}
						p {
							font-size: 12px;
							text-align: left;
						}
					}
				}
			}
		}
	}
	.modal-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0px;
		left: 2%;
		width: 96%;
		height: 50px;
		border-top: solid 1px #e2e2e2;
		background-color: #fff;

		textarea {
			display: block;
			float: left;
			width: 80%;
			height: 40px;
			margin-top: 4px;
			padding: 5px;
			border: solid 1px #e2e2e2;
			@include border-radius(3px);
			@include box-sizing;
		}
		.submit-comment-btn {
			float: right;
			width: 17%;
			height: 38px;
			margin-top: 6px;
			@include border-radius(3px);
			background-color: #10ac9b;
			color: #fff;
			line-height: 38px;
			text-align: center;
		}
	}
}

.delete-confirm-wrap {
	width: 200px;
	position: fixed;
	z-index: 10000;
	left: 50%;
	top: 100px;
	margin-left: -100px;
	background-color: #fff;
	border: solid 1px #e2e2e2;
	display: none;
}



