@import "../_function.css.scss";

// setting privacy
body{
	background-color: $bg_color;
}
header{
	background-color: $base_color;
	.imgWrap{
		width: 120px;
		margin:0 auto;
	}
}
.settingTopBox{
	padding-top:45px;
	background: #fff;

	.mainTtl{
		padding: 20px 10px;
		color:$color_textBlack;
		font-size:20px;
		font-weight:bold;
		text-align:center;
	}
	.mainTxt{
		padding:10px;
		color:$color_textGray;
		font-size:12px;
		line-height:1.5;
	}
}

.settingBox{
	margin:5px;
	color:$color_textBlack;
	&Inner {
	    width: 100%;
	    padding: 10px;
	    border: solid 1px $color_border;
	    @include border-radius(2px);
	    @include box-sizing;
	    background: #fff;
	    color: $color_textBlack;
	  }
	.item{
		margin-bottom:5px;
		padding:5px;
		background-color: #fff;
		.settingTtl{
			margin-bottom: 5px;
			font-weight:bold;
		}
		.settingTxt{
			font-size:13px;
			line-height:1.5;
		}
		.snsList{
		    .snsName,.coopStatus{
		      display: inline;
		    }
		}
		.dltAccount{
			display: inline-block;
		    padding: 0 20px;
		    margin: 10px 0;
		    @include border-radius(4px);
		    @include box-sizing;
		    color: #ffffff;
		    font-size: 1rem;
		    line-height: 2.5;
		    text-align: center;
		    @include bglinear(lighten($main_color, 7%), $main_color);
		    border: 1px solid darken($main_color,7%);

		    &:hover {
		      text-decoration: none;
		      @include bglinear($main_color, lighten($main_color, 7%));
		    }
		}
	}
}
footer{
	padding:20px;
	background-color: $color_textBlack;
	color:$color_textGray;
	font-size:12px;
	text-align:center;
	a{
		color:$color_textGray;
	}
}