@import "../_function.css.scss";
@import "_postBox.css.scss";

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	/*---   .gameBox   ----------*/
	.gameBox {
		padding-top: 44px;
		background: #fff;

		.ttl {
			padding: 10px;
			background: #F5F5F5;
			border-bottom: solid 1px $color_border;
			color: #5F5F5F;
			font-size: 22px;
			line-height: 1.5;
		}
		.gameWrap{
			padding:10px 10px 0 10px;
		}
		.imgWrap{
			width: 100%;
			margin-bottom: 10px;
			text-align: center;

			.gameImg{
				max-width: 100%;
				height: auto;
				max-height: 300px;
				border: 1px solid rgba(0,0,0,0.7);
				@include box-sizing;
			}
		}
		.source{
	        margin-bottom: 10px;
	        text-align: left;
	        a{
	          color: $color_textGray;
	          font-size: 12px;
	        }
	      }
      	.gameBtnList {
			width: 100%;
			padding:10px;
			@include box-sizing;
			font-size: 14px;
			text-align:right;
			.item {
				display:inline-block;
				text-align:center;
				width: 100%;
				margin-bottom:5px;
			}
		}
		.new-status, .my-status, .my-rate {
			@include appearance;
			width: 80%;
			padding-left:30%;
			background: linear-gradient(lighten($main_color,7%),$main_color);
			border: 1px solid darken($main_color,7%);
			color: #fff;
			font-size: 14px;
			line-height: 36px;
		}
		.registed{
			background:$main_color;
			color:#fff;
		}
		.deleteBtn{
			display: block;
			width: 160px;
			margin: 0 auto 10px;
			padding: 4px;
			@include box-sizing;
			border: 1px solid $color_red;
			@include border-radius(2px);
			color: $color_red;
			font-size: 10px;
			text-align: center;
		}
		.gameInfo {
			font-size: 0;
			line-height: 1.5;

			.item {
				display:table;
				width: 100%;
				border-bottom: 1px solid $color_border;
				font-size: 14px; 
				&:last-child{
					border:none;
				}
				.officialLink{
			        display: block;
			        color: $color_textBlack;
			        font-weight: bold;
			        &:before{
			          margin-right: 5px;
			        }
			    }
				.itemName,.officialLink{
					display:table-cell;
					width: 30%;
					padding:4px 4px 4px 4px;
					@include box-sizing;
					color:$color_textBlack;
					vertical-align: top;				}
				.itemContent{
					display:table-cell;
					width: 65%;	
					padding:4px 4px 4px 0;
					color:$color_textBlack;
					text-align:left;
				}
				.gametag{
					display: inline-block;
					padding: 0 4px;
					margin-bottom: 4px;
					border: solid 1px $color_border; 
				}
			    .starList {
			      vertical-align: middle;
			      display:inline-block;
			      font-size:1rem;
			    }
			    .icon-star{
			      float:left;
			      display:inline-block;
			      font-size:20px;
			    }
			    .starOn {
			      display: inline-block;
			      color:orange;
			    }
			    .starOff {
			      display: inline-block;
			    }
			}
		}
		.linkBtnWrap{
			margin:5px 0;
			border: 1px solid $color_border;
			@include border-radius(2px);
			font-size:0;
			li{
				position: relative;
				display:inline-block;
				width: 50%;
				font-size:14px;
				@include box-sizing;
				&:nth-child(odd){
					border-right: 1px solid $color_border;
				}
				a{
					display:block;
					padding:8px 10px;
					color:$color_textBlack;
					&:after{
						position:absolute;
						top:10px;
						right:10px;
						display:inline-block;
						margin-left:5px;
						font-family: 'icomoon';
						content: "\e60c";
						color: $color_textGray;
						font-size: 16px;
					}
				}
			}
		}
		.gameSummary{
			label {
				position: relative;
			    display: inline-block;
			    padding: 10px;
			    margin-bottom: 10px;
			    width:100%;
			    @include box-sizing;
			    border-bottom: 1px solid $color_border;
			    color: $color_textBlack;
			    font-size:16px;
			    text-align:left;
			    &:before{
			    	position: relative;
					content:"";
					display:inline-block;
					margin-right:10px;
					width:8px;
					height:8px;
					border-color: $color_textBlack;
					border-right:solid 2px;
					border-bottom:solid 2px;
					-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					     -o-transform: rotate(45deg);
					        transform: rotate(45deg);
					top:-4px;
			    }
			}

			input[type="checkbox"].expand{
			    display: none;
			}

			p{
			    margin: 0;
			    padding: 0 10px;
				font-size:12px;
				color:$color_textBlack;
			    -webkit-transition: all 0.5s;
			    -moz-transition: all 0.5s;
			    -ms-transition: all 0.5s;
			    -o-transition: all 0.5s;
			    transition: all 0.5s;
			    list-style: none;
			}

			input[type="checkbox"].expand + p{
			    height: 0;
			    overflow: hidden;
			}

			input[type="checkbox"].expand:checked + p{
			    height: auto;
			}
		}
		.comment {
			width: 120px;
			padding: 0;
			@include border-radius(20px);
			@include box-sizing;
			color: #ffffff;
			text-align: center;
		}
	}
	/*---   .sortBox   ----------*/
	.boxTtl{
		h2{
			border-top: 1px solid #f1f1f1;
			border-bottom: 1px solid #ddd;
			background-color: #f7f7f7;
			color: $color_textGray;
			font-size:14px;
			text-align:center;
			line-height:3;
			text-shadow:1px 1px 0 #f2f2f2;
		} 
	}
	.sortBoxWrap {
		margin-bottom: 14px;
		padding-top: 15px;
	}
	.sortBox {
		width: 300px;
		margin: 0 auto;
		border: 1px solid $main_color;
		@include border-radius(2px);
		@include clearfix;

		.item {
			float: left;
			width: 100px;
			border-right: 1px solid $main_color;
			@include box-sizing;
			background: #fff;
			font-size: 12px;

			&:last-child {
				border: none;
			}
		}
		.follow, .all, .star {
			display: table-cell;
			width: 104px;
			height: 30px;
			padding-top: 4px;
			@include box-sizing;
			color: $main_color;
			text-align: center;
			vertical-align: middle;
			line-height: 1.1;
		}
		.follow {
			border-radius: 1px 0 0 1px;
		}
		.star {
			border-radius: 0 1px 1px 0;

			&_posts {
				border-radius: 0 1px 1px 0;
			}
		}
		.current {
			@at-root {
				&.item {
					border: none;
				}
			}
			.follow, .all, .star {
				background: $main_color;
				color: #fff;
			}
		}
	}
	.game-timeline{
		background-color: $bg_color;
		padding-top:5px;
	}
}