@import "../_function.css.scss";
@import "_postBox.css.scss";

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	/*---   .gameBox   ----------*/
	.gameBox {
		padding-top: 44px;
		background: #fff;

		.gameTopBox {
			@include clearfix;
			// padding: 0 25px 15px;
		}
		.ttl {
			padding:10px 5px;
			background:$main_color;
			color: #fff;
			font-size: 18px;
			font-weight:bold;
			line-height: 1.5;
		}
		.gameWrap{
			display:table;
			padding:10px 5px;
		}
		.imgWrap{
			display:table-cell;
			width: 50%;
			border: 1px solid #eee;
			.gameImg{
				width: 100%;
			}
		}
		.gameInfoWrap {
			display:table-cell;
			width: 50%;
			padding-left:5px;
			vertical-align:top;
		}
		.gameInfo {
			margin-bottom: 9px;
			line-height: 1.5;

			.item {
				color: #8f9ea1;
				font-size: 14px;
				margin-bottom:3px;
			}
			.maker,.hard,.releaseDay{
				color:$color_textGray;
				span{
					color:$main_color;
				}
			}
			.infoInner{
				display:block;
				background-color: #CACACA;
				color:#fff;
				font-size:14px;
				padding:2px 4px;
			}
		}
		.reviewWrap{
			color:#8f9ea1;
			font-size:14px;
		}
		.reviewInner{
			color: orange;
			font-size: 22px;
		}
		.icon-star{
			font-size:21px;
		}
		.gameBtnList {
			width: 100%;
			padding:10px;
			@include box-sizing;
			font-size: 14px;
			text-align:right;
			.item {
				display:inline-block;
				text-align:center;
			}
		}
		.comment {
			width: 120px;
			padding: 0;
			@include border-radius(20px);
			@include box-sizing;
			color: #ffffff;
			text-align: center;
		}
		.new-status, .my-status, .my-rate {
			@include appearance;
			width: 124px;
			padding-left:30px;
			border: 1px solid $main_color;
			background-color:#fff;
			border-radius:4px;
			// background: linear-gradient(lighten($main_color,5%),$main_color);
			// color: #fff;
			color:$main_color;
			font-size: 14px;
			line-height: 36px;
		}
	}
	/*---   .sortBox   ----------*/
	.boxTtl{
		h2{
			border-top: 1px solid #f1f1f1;
			border-bottom: 1px solid #ddd;
			background-color: #f7f7f7;
			color: $color_textGray;
			font-size:14px;
			font-weight: bold;
			text-align:center;
			line-height:3;
			text-shadow:1px 1px 0 #f2f2f2;
		} 
	}
	.sortBoxWrap {
		margin-bottom: 14px;
		padding-top: 15px;
	}
	.sortBox {
		width: 300px;
		margin: 0 auto;
		border: 1px solid $main_color;
		@include border-radius(2px);
		@include clearfix;

		.item {
			float: left;
			width: 100px;
			border-right: 1px solid $main_color;
			@include box-sizing;
			background: #fff;
			font-size: 12px;

			&:last-child {
				border: none;
			}
		}
		.follow, .all, .star {
			display: table-cell;
			width: 104px;
			height: 30px;
			padding-top: 4px;
			@include box-sizing;
			color: $main_color;
			text-align: center;
			vertical-align: middle;
			line-height: 1.1;
		}
		.follow {
			border-radius: 1px 0 0 1px;
		}
		.star {
			border-radius: 0 1px 1px 0;

			&_posts {
				border-radius: 0 1px 1px 0;
			}
		}
		.current {
			@at-root {
				&.item {
					border: none;
				}
			}
			.follow, .all, .star {
				background: $main_color;
				color: #fff;
			}
		}
	}
	.game-timeline{
		background-color: $bg_color;
		padding-top:5px;
	}
}