@mixin iconSprite2($bpl, $bpt) {
	background: url(/assets/smart_phone/img_set.png) no-repeat $bpl $bpt;
	background-size: 25px 286px;
}
@mixin iconSprite4($width, $height, $bpl, $bpt) {
	width: $width;
	height: $height;
	background: url(/assets/smart_phone/img_set.png) no-repeat $bpl $bpt;
	background-size: 25px 286px;
}