@import "../_function.css.scss";

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
a {
	text-decoration: none;
}

/*---   .mainVisual   ---------------------------*/	
.mainVisual {
	padding: 40px 0;
	background: linear-gradient(rgba($main_color,0.9), rgba($main_color,0.95)), url('/assets/smart_phone/login-bg.jpg');
	background-size:cover;
	font-family: arial;
	text-align: center;
	color:#fff;

	 .ttl {
	 	font-size: 50px;
	 }
	 .mainCopy{
	 	padding:14px;
	 	font-size:20px;
	 }
	 .subCopy{
	 	padding:20px;
	 	font-size:12px;
	 }
	 .snsCopy{
	 	font-size:22px;
	 }
}

.loginBox {
	text-align: center;

	.ttl {
		padding:10px;
		color: #242424;
		font-size: 16px;
	}
	.item{
		margin-bottom:10px;
	}
	.tw, .fb {
		display: block;
		width: 200px;
		margin: 0 auto;
		padding: 10px;
		@include box-sizing;
		color: #ffffff;
		font-size: 14px;
		text-align: left;
	}
	.tw {
		background: #01a0dc;
	}
	.fb {
		background: #405c95;
	}
	.icon-twitter,.icon-facebook{
		font-size:22px;
		vertical-align:-3px;
	}
}