@import "../_function.css.scss";

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
a {
	text-decoration: none;
}

/*---   .mainVisual   ---------------------------*/
.mainVisual {
	padding:40px 20px 20px 20px;
	background: linear-gradient(rgba(#000,0.6), rgba(#000,0.8)), asset_url('bg_login.png');
	background-size:contain;
	border-top: 3px solid $main_color;
	font-family: arial;
	text-align: center;
	color:#fff;

	.ttl{
		margin:auto;
		width: 180px;
		border-top: 4px solid #fff;
		border-right: 4px solid #c8c8c8;
		border-bottom: 4px solid #c8c8c8;
		border-left: 4px solid #fff;
	}

	 .mainCopy{
	 	margin:40px 20px 40px 20px;
	 	padding:5px 0;
	 	font-size:26px;
	 	font-weight:bold;
	 }
	 .subCopy{
	 	padding:0 20px;
	 	font-size:14px;
	 	line-height:1.5;
	 }
	 .snsCopy{
	 	font-size:22px;
	 }
}

.loginBox,.bottomBox {
	text-align: center;
	padding:10px 0;
	.item{
		margin-bottom:10px;
	}
	.tw, .fb, .gamr {
		display: inline-block;
		width: 80%;
		margin: 0 auto;
		padding:0 10px;
		@include border-radius(4px);
		@include box-sizing;
		color: #ffffff;
		font-size: 14px;
		line-height:3;
		text-shadow: 0px -1px 0 rgba(0,0,0,0.35);
		text-align: center;
	}
	.tw {
		background: linear-gradient(lighten($twitter_blue,7%),$twitter_blue);
		border: 1px solid darken($twitter_blue,7%);

		&:active{
			background: linear-gradient($twitter_blue,lighten($twitter_blue,7%));
		}
	}
	.fb {
		background: linear-gradient(lighten($facebook_blue,10%),$facebook_blue);
		border: 1px solid darken($facebook_blue,7%);
		&:active{
			background: linear-gradient($facebook_blue,lighten($facebook_blue,10%));
		}
	}
	.gamr {
		background: linear-gradient(lighten($main_color,7%),$main_color);
		border: 1px solid darken($main_color,7%);
		&:active{
			background: linear-gradient($main_color,lighten($main_color,7%));
		}
	}
	.icon-twitter,.icon-facebook{
		font-weight:bold;
		&:before{
			display:inline-block;
			font-size:22px;
			font-weight:normal;
			vertical-align: -20%;
			margin-right:5px;
		}
	}
}
.pointsTtl{
	background: $main_color;
	color:#fff;
	font-size:24px;
	line-height: 3;
	text-shadow: 1px 1px 0 rgba(darken($main_color,20%),0.7);
	text-align:center;
}
.points{
	color: #4c4c4c;
	text-align:center;
	section{
		padding:10px 0;
		border-bottom: 1px solid $color_border;
	}
	h1{
		margin:10px;
		font-size:28px;
	}
	.illust{
		margin:0 auto;
		width: 120px;
		height: 120px;
		border-radius:50%;
		background-color: $color_green;
	}
	p{
		margin:0 auto;
		width: 300px;
		font-size:14px;
		text-align:left;
	}
	.annotation{
		margin:10px auto;
		width: 300px;
		font-size:10px;
	}
	.second{
		background-color: $bg_color;
	}

}
.bottomBox{
	background-color: $bg_color;
	h1{
		color: #4c4c4c;
		margin:10px;
		font-size:24px;
	}
	.tw,.fb{
		border-color: none;
	}
}

footer{
	padding:20px;
	background-color: $color_textBlack;
	color:$color_textGray;
	font-size:12px;
	text-align:center;
}


