@import "../_function.css.scss";

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
a {
	text-decoration: none;
}

/*---   .mainVisual   ---------------------------*/	
.mainVisual {
	padding-top:35px;
	background: linear-gradient(rgba(#000,0.4), rgba(#000,0.7)), url('/assets/bg_login.png');
	background-size:contain;
	font-family: arial;
	text-align: center;
	color:#fff;

	.ttl{
		margin:50px auto 45px auto;
	}

	 .mainCopy{
	 	margin:5px 20px;
	 	padding:5px 0;
	 	font-size:16px;
	 	border-top: 1px solid #fff;
	 	border-bottom: 1px solid #fff;
	 }
	 .subCopy{
	 	padding:0 20px;
	 	font-size:14px;
	 	line-height:1.5;
	 }
	 .snsCopy{
	 	font-size:22px;
	 }
}

.loginBox,.bottomBox {
	text-align: center;
	padding:10px 0;
	.item{
		margin-bottom:10px;
	}
	.tw, .fb {
		display: inline-block;
		width: 70%;
		margin: 0 auto;
		padding:0 10px;
		@include border-radius(2px);
		@include box-sizing;
		color: #ffffff;
		font-size: 14px;
		line-height:3;
		text-align: center;
	}
	.tw {
		background: $twitter_blue;
	}
	.fb {
		background: $facebook_blue;
	}
	.icon-twitter,.icon-facebook{
		&:before{
			display:inline-block;
			font-size:25px;
			vertical-align: -20%;
			margin-right:5px;
		}
	}
}
.points{
	color: #4c4c4c;
	text-align:center;
	section{
		padding:10px 0;
	}
	h1{
		margin:10px;
		font-size:28px;
	}
	.illust{
		margin:0 auto;
		width: 120px;
		height: 120px;
		border-radius:50%;
		background-color: $color_green;
	}
	p{
		margin:10px;
		font-size:14px;
	}
	.annotation{
		margin:0 30px;
		font-size:10px;
	}
	.second{
		background-color: $bg_color;
	}

}
.bottomBox{
	background-color: $bg_color;
	h1{
		color: #4c4c4c;
		margin:10px;
		font-size:24px;
	}
}

footer{
	padding:20px;
	background-color: $color_textBlack;
	color:$color_textGray;
	font-size:12px;
	text-align:center;
}


