@import "../../stylesheets/function.css.scss";
//@import "../../../scss/function.css.scss";

/*---   common   ---------------------------*/
html {
	background: #f6f4f4;
}
a {
	text-decoration: none;
}

/*---   .post01   ---------------------------*/
.post01 {
	/*---   header   ----------*/
	header {
		position: relative;
		margin-bottom: 30px;
		padding: 14px 0 13px;
		border-bottom: 1px solid #a0a0a0;
		text-align: center;

		.ttl {
			color: #000000;
			font-size: 20px;
			@include font-weight(1px, #000000);
		}
		.cancel {
			position: absolute;
			top: 15px;
			left: 9px;
			color: #1ba189;
			font-size: 17px;
		}
		.addGame {
			position: absolute;
			top: 7px;
			right: 10px;
			color: #424343;
			font-size: 15px;
		}
	}
	.mainCnt {
		.addGame, .addPhoto {
			display: block;
			width: 180px;
			margin: 21px auto;
			padding: 12px 0;
			@include border-radius(30px);
			background: #10b5a3;
			color: #ffffff;
			font-size: 16px;
			text-align: center;
		}
		.textareaWrap {
			margin-top: 39px;
			border-top: 1px solid #a0a0a0;
		}
		textarea {
			width: 100%;
			padding: 4px 9px;
			border: none;
			@include box-sizing;
			resize: none;
		}
		.snsBtn {
			@include flexbox;
			justify-content: center;
			margin-top: -6px;
			padding: 18px 0 32px;
			border-top: 1px solid #a0a0a0;
		}
		.fbBtn, .twBtn {
			display: block;
			width: 70px;
			height: 70px;
			margin: 0 30px;
			@include border-radius(35px);
			@include box-sizing;
			background: #949292;
		}
		.fbBtn {
			padding-top: 18px;
		}
		.twBtn {
			padding-top: 21px;
		}
		.fbInner {
			display: block;
			width: 17px;
			height: 36px;
			margin: 0 auto;
			background: url(../images/snsSprite.png) no-repeat 0 0;
			background-size: 62px 36px;
		}
		.twInner {
			display: block;
			width: 40px;
			height: 30px;
			margin: 0 auto;
			background: url(../images/snsSprite.png) no-repeat -22px 0;
			background-size: 62px 36px;
		}
		.btn {
			width: 100%;
			padding: 26px 0;
			border: none;
			background: #949292;
			color: #ffffff;
			font-size: 18px;
			text-align: center;
			@include appearance;
			cursor: pointer;
		}
	}
}

/*---   .post02   ---------------------------*/
.post02 {
	/*---   header   ----------*/
	header {
		position: relative;
		margin-bottom: 30px;
		padding: 14px 0 13px;
		border-bottom: 1px solid #a0a0a0;
		text-align: center;

		.ttl {
			color: #000000;
			font-size: 20px;
			@include font-weight(1px, #000000);
		}
		.cancel {
			position: absolute;
			top: 15px;
			left: 9px;
			color: #1ba189;
			font-size: 17px;
		}
		.addGame {
			position: absolute;
			top: 7px;
			right: 10px;
			color: #424343;
			font-size: 15px;
		}
	}
	.mainCnt {
		.sortBox {
			width: 312px;
			margin: 0 auto 13px;
			border: 1px solid #10b5a3;
			@include border-radius(5px);
			@include clearfix;

			.item {
				float: left;
				width: 104px;
				border-right: 1px solid #10b5a3;
				@include box-sizing;
				font-size: 12px;

				&:last-child {
					border: none;
				}
			}
			.playing, .ready, .played {
				display: table-cell;
				width: 104px;
				height: 30px;
				padding-top: 4px;
				@include box-sizing;
				color: #10b5a3;
				text-align: center;
				vertical-align: middle;
				line-height: 1.1;
			}
			.ready {
				border-radius: 3px 0 0 3px;
			}
			.played {
				border-radius: 0 3px 3px 0;
			}
			.current {
				position: relative;

				@at-root {
					&.item {
						border: none;
					}
				}
				.playing, .ready, .played {
					background: #10b5a3;
					color: #ffffff;
					@include font-weight(1px, #ffffff);
				}
				.tri {
					position: absolute;
					left: 50%;
					bottom: -25px;
					margin-left: -13px;
					border-top: 13px solid #10b5a3;
					border-right: 10px solid transparent;
					border-bottom: 13px solid transparent;
					border-left: 10px solid transparent;
				}
			}
		}
		.gameList {
			background: #ffffff;

			.item {
				padding: 9px 0;
				border-top: 1px solid #b6b4b4;
				@include clearfix;
			}
			.gameImg {
				float: left;
				margin: 0 12px 0 11px;
				@include border-radius(16px);
			}
			figcaption {
				padding-top: 4px;
				color: #1ba189;
				font-size: 15px;
				@include font-weight(1px, #1ba189);
			}
		}
	}
}

/*---   .post03   ---------------------------*/
.post03 {
	/*---   header   ----------*/
	header {
		position: relative;
		margin-bottom: 30px;
		padding: 14px 0 13px;
		border-bottom: 1px solid #a0a0a0;
		text-align: center;

		.ttl {
			color: #000000;
			font-size: 20px;
			@include font-weight(1px, #000000);
		}
		.cancel {
			position: absolute;
			top: 15px;
			left: 9px;
			color: #1ba189;
			font-size: 17px;
		}
		.addGame {
			position: absolute;
			top: 7px;
			right: 10px;
			color: #424343;
			font-size: 15px;
		}
	}
	.mainCnt {
		.addGameWrap , .addPhotoWrap {
			@include flexbox;
			justify-content: center;
			margin-bottom: 14px;

			.item {
				&:last-child {
					width: 100px;
					margin-left: 15px;
					text-align: center;
				}
				figcaption {
					color: #1ba189;
					font-size: 12px;
					text-align: left;
					line-height: 1.0;
				}
			}
		}
		.addGame, .addPhoto {
			display: block;
			width: 180px;
			margin: 0 auto;
			padding: 12px 0;
			@include border-radius(30px);
			background: #10b5a3;
			color: #ffffff;
			font-size: 16px;
			text-align: center;
		}
		.addGame {
			margin: 10px auto;
		}
		.addGameImg, .addPhotoImg {
			@include border-radius(16px);
		}
		.addPhotoWrap {
			figure {
				padding-top: 6px;
			}
		}
		.textareaWrap {
			margin-top: 39px;
			border-top: 1px solid #a0a0a0;
		}
		textarea {
			width: 100%;
			padding: 4px 9px;
			border: none;
			@include box-sizing;
			color: #222121;
			resize: none;
		}
		.snsBtn {
			@include flexbox;
			justify-content: center;
			margin-top: -6px;
			padding: 18px 0 32px;
			border-top: 1px solid #a0a0a0;
		}
		.fbBtn, .twBtn {
			display: block;
			width: 70px;
			height: 70px;
			margin: 0 30px;
			@include border-radius(35px);
			@include box-sizing;
		}
		.fbBtn {
			padding-top: 18px;
			background: #39599f;
		}
		.twBtn {
			padding-top: 21px;
			background: #45b0e3;
		}
		.fbInner {
			display: block;
			width: 17px;
			height: 36px;
			margin: 0 auto;
			background: url(../images/snsSprite.png) no-repeat 0 0;
			background-size: 62px 36px;
		}
		.twInner {
			display: block;
			width: 40px;
			height: 30px;
			margin: 0 auto;
			background: url(../images/snsSprite.png) no-repeat -22px 0;
			background-size: 62px 36px;
		}
		.btn {
			width: 100%;
			padding: 26px 0;
			border: none;
			background: #10b5a3;
			color: #ffffff;
			font-size: 18px;
			text-align: center;
			@include appearance;
			cursor: pointer;
		}
	}
}