@import "../_function.css.scss";
@import "_gameBox.css.scss";
@import "_postBox.css.scss";
@import "_followList.css.scss";

/*---   .personalBox   ---------------------------*/
.personalBoxWrap {
	margin-top:44px;
	.bgOverlayer {
		padding-top:10px;
		width: 100%;
		@include box-sizing;
		background-color: #2A2A32;	
	}
	.profImgWrap {
		width: 80px;
		height: 80px;
		margin:10px auto;
		border: 2px solid rgba(#fff,0.8);
		border-radius:50%;
	}
	.profImg {
		width: 100%;
		border-radius:50%;

	}
	.followBtn,.edit-btn{
		display:inline-block;
		padding:0 20px;
		border: 1px solid $main_color;
		@include border-radius(2px);
		color: $main_color;
		font-size: 14px;
		text-align: center;
		line-height: 36px;
	}
}
.personalBox {
	z-index: 5;
	@include box-sizing;
	color: #ffffff;
	text-align:center;

	.name {
		font-size: 16px;
		line-height:32px;
	}
	.place {
		font-size: 14px;
	}
	.text {
		padding:10px;
		font-size: 12px;
	}
	.countBox {
			display:table;
			@include box-sizing;
			width: 100%;
			padding:10px 5px 5px 5px;
		.item {
			display:table-cell;
			@include box-sizing;
			text-align:center;
			width: 33%;
			&.current {
				.followNum, .followerNum, .gameNum, .postNum {
					color:$sub_color;
				}
			}
		}
		.followNum, .followerNum, .gameNum, .postNum {
			@include box-sizing;
			color: #ffffff;
			font-size: 12px;
		}
	}
}
.myGameBox{
	padding:10px;
	background-color: $main_color;
	color:#fff;
	font-size:14px;
	text-align:center;
	.gameNum{
		color:#fff;
	}
	.myGameCount{
		color:#fff;
		font-size:42px;
		@include font-weight(bold,#fff);
		letter-spacing: 0.03em;
		text-shadow: rgb(90, 82, 190) 1px 1px,
	    rgb(90, 82, 190) 2px 2px,
	    rgb(90, 82, 190) 3px 3px,
	    rgb(90, 82, 190) 4px 4px,
	    rgb(90, 82, 190) 5px 5px,
	    rgb(90, 82, 190) 6px 6px,
	    rgb(90, 82, 190) 7px 7px,
	    rgb(90, 82, 191) 8px 8px,
	    rgb(91, 83, 193) 9px 9px,
	    rgb(92, 83, 194) 10px 10px,
	    rgb(93, 84, 196) 11px 11px,
	    rgb(93, 85, 197) 12px 12px,
	    rgb(94, 85, 199) 13px 13px,
	    rgb(95, 86, 200) 14px 14px,
	    rgb(96, 87, 202) 15px 15px;
	}
}

/*---   .profileEdit   ---------------------------*/
.profileEdit {
	background: #f6f4f4;

	/*---   header   ----------*/
	header {
		position: relative;
		padding: 14px 0 13px;
		border-bottom: 1px solid #a0a0a0;
		text-align: center;

		.ttl {
			margin-left: 15px;
			color: #000000;
			font-size: 20px;
			@include font-weight(1px, #000000);
		}
		.cancel {
			position: absolute;
			top: 15px;
			left: 9px;
			color: #1ba189;
			font-size: 17px;
		}
		.save {
			position: absolute;
			top: 20px;
			right: 10px;
			color: #424343;
			font-size: 15px;
			line-height: 1.2;
		}
	}
	/*---   .imgEditBox   ----------*/
	.imgEditBox {
		margin-bottom: 7px;
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.profImgWrap, .mainImgWrap {
			@include clearfix;
		}
		.profImg, .mainfImg {
			float: left;
			margin: 9px 0 0 8px;
			@include border-radius(22px);
		}
		.text {
			float: right;
			width: 78%;
			height: 59px;
			padding: 22px 0 0 77px;
			@include box-sizing;
			color: #232323;
			font-size: 14px;
		}
		.profImgWrap {
			.text {
				border-bottom: 1px solid #a0a0a0;
			}
		}
	}
	/*---   .personalEditBox   ----------*/
	.personalEditBox {
		margin-bottom: 7px;
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.item {
			border-bottom: 1px solid #a09e9e;
			@include clearfix;
		}
		.nameTtl, .placeTtl {
			float: left;
			margin-right: 88px;
			padding: 15px 0 15px 18px;
			color: #2e2e2e;
			font-size: 14px;
		}
		.name, .place {
			padding-top: 14px;
			color: #1ba189;
			font-size: 16px;
		}
		.comment {
			width: 100%;
			padding: 15px 0 15px 18px;
			border: none;
			@include box-sizing;

			&::-webkit-input-placeholder {
				color: #868585;
				font-size: 14px;
			}
		}
	}
	/*---   .accountEditBox   ----------*/
	.accountEditBox {
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.item {
			position: relative;
			border-bottom: 1px solid #a09e9e;
			@include clearfix;

			&:before {
				position: absolute;
				top: 50%;
				right: 11px;
				content: "";
				width: 15px;
				height: 15px;
				margin-top: -8px;
				border-top: 2px solid #7e7e7e;
				border-right: 2px solid #7e7e7e;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:last-child {
				border-bottom: none;
			}
		}
		.passTtl, .mailTtl {
			float: left;
			margin-right: 45px;
			padding: 15px 0 15px 18px;
			color: #2e2e2e;
			font-size: 14px;
		}
		.mailTtl {
			margin-right: 15px;
		}
		.pass, .mail {
			padding-top: 14px;
			color: #1ba189;
			font-size: 16px;
		}
		.mail {
			font-size: 14px
		}
	}
}

/*---   .profile-timeline   ---------------------*/

.post-list{
	margin-top:10px;
	background: $bg_color;
}

