@import "../_function.css.scss";

input[type="button"],
input[type="text"],
input[type="submit"]{
  -webkit-appearance:none;
  border-radius:0;
}

.user-edit-page {
  background-color: #eee;
  height: 100%;
  header {
    position: relative;
    padding: 12px 0 13px;
    border-bottom: 1px solid #a0a0a0;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

    .ttl {
      width: auto;
      font-size: 14px;
      @include font-weight(1px, #ffffff);
    }
    .cancelWrap {
      display: block;
      position: absolute;
      top: 10px;
      left: 7px;
      @include img_set-SP4(53px ,25px, left, bottom);
      content: "";
    }
    .cancel {
      display: block;
      position: absolute;
      top: 12px;
      left: 18px;
      width: 40px;
      color: #ffffff;
    }
  }

  /*------------------------------
      systemClass
  ------------------------------*/
  .file-input {
    overflow: hidden;
    position: relative;
    height: 70px;
    width: 100%;
    margin:10px 0;
    border-top: solid 1px $color_border;
    border-bottom: solid 1px $color_border;
    @include box-sizing;
    background-color: #fff;

    #thumbnail {
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
        margin:10px;
        border: solid 1px $color_border;
      }
    }
    span, input {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      float: left;
      z-index: 5;
      width: 100%;
      height: 70px;
      text-align: center;
      line-height: 70px;
      -webkit-appearance:none;
    }
    input {
      opacity: 0;
      z-index: 10;
    }
  }
  .username-input, .place-input, .introduction-input {
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 100%;
    margin:5px 0;

    span {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 10px;
      float: left;
      z-index: 5;
      height: 40px;
      line-height: 44px;
      color: $color_textGray;
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 70px;
      border: solid 1px #e2e2e2;
    }
  }
  .edit {
    position: fixed;
    display: block;
    position: absolute;
    top: 5px;
    right: 10px;
    color: #fff;
    padding: 6px 20px;
    @include border-radius(2px);
    background: $color_green;
    font-size:14px;
    z-index: 10;
  }
}

/*---   .clipBox   ----------*/
.clipBox {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 450px;
  margin-top: -120px;
  margin-left: -225px;
  padding: 20px 18px;
  border: 1px solid  #bdbdbd;
  @include border-radius(3px);
  @include box-sizing;
  background: #fff;
  @include clearfix;
  display: none;

  .clipTtl {
    margin-bottom: 20px;
    color: $color_green;
    font-size: 16px;
    text-align: center;
  }
  .clipImgWrap {
    position: relative;
    height: 320px;
    margin-bottom: 20px;
    text-align: center;
  }
  .clipArea {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300px;
    margin-top: -160px;
    margin-left: -150px;
    border-top: 30px solid rgba(255, 255, 255, 0.76);
    border-right: 30px solid rgba(255, 255, 255, 0.76);
    border-bottom: 30px solid rgba(255, 255, 255, 0.76);
    border-left: 30px solid rgba(255, 255, 255, 0.76);
    @include box-sizing;
    cursor: move;
  }
  .clipBtnLis {
    float: right;
  }
  .cancel {
    display: inline-block;
    width: 108px;
    height: 30px;
    @include border-radius(3px);
    background: #a0a0a0;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
  .done {
    display: inline-block;
    width: 108px;
    height: 30px;
    @include border-radius(3px);
    background: $color_green;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
  }
}