@import "../_function.css.scss";

/*---   .personalBox   ---------------------------*/
.personalBoxWrap {
	position: relative;
	background: url(/assets/smart_phone/profile__bg.jpg) repeat top center;
	background-size: cover;

	.bgOverlayer {
		width: 100%;
		@include box-sizing;
		@include gradient(rgba(20, 91, 57, 0.5), rgba(38, 18, 68, 0.5));
	}
	.profImgWrap {
		float: left;
		border: 2px solid #fffcfc;
		@include border-radius(44px);
	}
	.profImg {
		margin: 16px 10px 0 12px;
	}
	.followBtn {
		position: absolute;
		top: 14px;
		right: 8px;
		width: 74px;
		height: 23px;
		line-height: 23px;
		border: 1px solid #ffffff;
		@include border-radius(5px);
		@include box-sizing;
		color: #ffffff;
		font-size: 10px;
		text-align: center;
	}
	.personalEdit, .followBtn {
		position: absolute;
		top: 14px;
		right: 8px;
		height: 20px;
		@include box-sizing;
		color: #fff;
		font-size: 12px;
	}
	.personalEdit {
		width: 67px;
		@include iconSprite2(5px, -291px);
		padding-left: 27px;
		border: 1px solid #ffffff;
		@include border-radius(20px);
		line-height: 19px;
	}
	.followBtn {
		//display: none;
		width: 75px;
		border: none;
		@include border-radius(5px);
		background: #10b5a3;
		line-height: 20px;

		&:before {
			margin-right: 3px;
			content: "+";
		}
	}
}
.personalBox {
	z-index: 5;
	@include box-sizing;
	color: #ffffff;

	.name {
		padding-top: 27px;
		font-size: 14px;
	}
	.place {
		font-size: 12px;
		opacity: .8;
	}
	.town {
		&:after {
			content: "";
		}
	}
	.country {
		margin-left: -5px;
	}
	.text {
		clear: both;
		margin-left: 12px;
		padding-top: 19px;
		font-size: 12px;
		text-align: left;
	}
	.countBox {
		width: 100%;
		margin: 20px auto 0;
		background: rgba(0, 0, 0, 0.5);
		@include clearfix;

		.item {
			float: left;
			position: relative;
			width: 25%;
			@include box-sizing;

			&.current {
				background: #fff;

				.followNum, .followerNum, .gameNum, .postNum, .count {
					color: #333;
				}
				.count {
					@include font-weight(1.5px, #333);
				}
				.count:after {
					position: absolute;
					bottom: 0;
					left: 50%;
					width: 60px;
					margin-left: -30px;
					border-bottom: 1px solid #10b5a3;
					content: "";
				}
			}
			&:last-child {
				border: none;
			}
		}
		.followNum, .followerNum, .gameNum, .postNum {
			display: block;
			@include box-sizing;
			color: #ffffff;
			font-size: 12px;
			text-align: center;
		}
		.count {
			display: block;
			color: #22c0a4;
			font-size: 18px;
			@include font-weight(1.5px, #22c0a4);
		}
	}
}

/*---   .gameBox   ---------------------------*/
.gameBox {
	padding: 0 3px;

	.sortBox {
		width: 300px;
		margin: 13px auto;
		border: 1px solid #10b5a3;
		@include border-radius(2px);
		@include clearfix;

		.item {
			float: left;
			width: 100px;
			border-right: 1px solid #10b5a3;
			@include box-sizing;
			font-size: 12px;

			&:last-child {
				border: none;
			}
		}
		.playing, .ready, .played {
			display: table-cell;
			width: 100px;
			height: 30px;
			padding-top: 4px;
			@include box-sizing;
			background: #ffffff;
			color: #10ac9b;
			text-align: center;
			vertical-align: middle;
			line-height: 1.1;
		}
		.ready {
			border-radius: 2px 0 0 2px;
		}
		.played {
			border-radius: 0 2px 2px 0;
		}
		.current {
			@at-root {
				&.item {
					border: none;
				}
			}
			.playing, .ready, .played {
				background: #10ac9b;
				color: #ffffff;
				@include font-weight(1px, #ffffff);
			}
		}
	}
	.searchBox {
		width: 300px;
		height: 33px;
		margin: 0 auto 15px;
		border: 1px solid #b3b2b3;
		@include border-radius(18px);
		background: #ffffff;

		input {
			padding-left: 45px;
			@include border-radius(18px);
			@include box-sizing;
			border: none;
			@include iconSprite4(100%, 32px, 10px, -178px);
			@include appearance;
			outline: 0;

			&::-webkit-input-placeholder {
				color: #8d8d8d;
				font-size: 12px;
				line-height: 24px;
			}
		}
	}
	.gameList {
		@include flexbox;

		.item {
			overflow: hidden;
			position: relative;
			width: 90px;
			margin: 0 6px 16px;
			padding: 0 10px;
			@include border-radius(0 0 5px 5px);
			@include box-sizing;
			@include box-shadow(1px, 1px, 2px, 0, #a2a2a2);
			background: #ffffff;
		}
		.articleWrap {
			line-height: 1.0;
		}
		.gameImg {
			height: 115px;
			margin: 0 0 0 -22px;
			border-bottom: 1px solid #10b5a3;
			@include box-sizing;
			//background: url(/assets/smart_phone/game.jpg) no-repeat top center;
		}
		.review {
			padding: 5px 0;
			color: #10b5a3;
			font-size: 11px;
			text-align: center;

			&Ave {
				margin-left: 3px;
			}
		}
	}
}

/*---   .profileEdit   ---------------------------*/
.profileEdit {
	background: #f6f4f4;

	/*---   header   ----------*/
	header {
		position: relative;
		padding: 14px 0 13px;
		border-bottom: 1px solid #a0a0a0;
		text-align: center;

		.ttl {
			margin-left: 15px;
			color: #000000;
			font-size: 20px;
			@include font-weight(1px, #000000);
		}
		.cancel {
			position: absolute;
			top: 15px;
			left: 9px;
			color: #1ba189;
			font-size: 17px;
		}
		.save {
			position: absolute;
			top: 20px;
			right: 10px;
			color: #424343;
			font-size: 15px;
			line-height: 1.2;
		}
	}
	/*---   .imgEditBox   ----------*/
	.imgEditBox {
		margin-bottom: 7px;
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.profImgWrap, .mainImgWrap {
			@include clearfix;
		}
		.profImg, .mainfImg {
			float: left;
			margin: 9px 0 0 8px;
			@include border-radius(22px);
		}
		.text {
			float: right;
			width: 78%;
			height: 59px;
			padding: 22px 0 0 77px;
			@include box-sizing;
			color: #232323;
			font-size: 14px;
		}
		.profImgWrap {
			.text {
				border-bottom: 1px solid #a0a0a0;
			}
		}
	}
	/*---   .personalEditBox   ----------*/
	.personalEditBox {
		margin-bottom: 7px;
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.item {
			border-bottom: 1px solid #a09e9e;
			@include clearfix;
		}
		.nameTtl, .placeTtl {
			float: left;
			margin-right: 88px;
			padding: 15px 0 15px 18px;
			color: #2e2e2e;
			font-size: 14px;
		}
		.name, .place {
			padding-top: 14px;
			color: #1ba189;
			font-size: 16px;
		}
		.comment {
			width: 100%;
			padding: 15px 0 15px 18px;
			border: none;
			@include box-sizing;

			&::-webkit-input-placeholder {
				color: #868585;
				font-size: 14px;
			}
		}
	}
	/*---   .accountEditBox   ----------*/
	.accountEditBox {
		@include box-shadow(0, 1px, 1px, 0, #d6d2d2);
		background: #ffffff;

		.item {
			position: relative;
			border-bottom: 1px solid #a09e9e;
			@include clearfix;

			&:before {
				position: absolute;
				top: 50%;
				right: 11px;
				content: "";
				width: 15px;
				height: 15px;
				margin-top: -8px;
				border-top: 2px solid #7e7e7e;
				border-right: 2px solid #7e7e7e;
				-webkit-transform: rotate(45deg);
				transform: rotate(45deg);
			}
			&:last-child {
				border-bottom: none;
			}
		}
		.passTtl, .mailTtl {
			float: left;
			margin-right: 45px;
			padding: 15px 0 15px 18px;
			color: #2e2e2e;
			font-size: 14px;
		}
		.mailTtl {
			margin-right: 15px;
		}
		.pass, .mail {
			padding-top: 14px;
			color: #1ba189;
			font-size: 16px;
		}
		.mail {
			font-size: 14px
		}
	}
}