@import "../_function.css.scss";
@import "component/_clipBox.css.scss";

input[type="button"],
input[type="text"],
input[type="submit"]{
  -webkit-appearance:none;
  border-radius:0;
}

.user-edit-page {
  background-color: #fff;
  height: 100%;
  color: $color_textBlack;
  header {
    position: relative;
    padding: 12px 0 13px;
    background-color: $base_color;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    box-shadow:0 0 1px 1px rgba(0,0,0,0.2);
    .ttl {
      width: auto;
      font-size: 14px;
    }
    .icon-allow {
      display: block;
      position: absolute;
      color: #ffffff;
      font-size:20px;
      top: 12px;
      left: 10px;
      width: 40px;
    }
  }

  .edit_user{
    padding: 10px;
  }

  .errorMessage{
    color: $color_red;
    &:empty{
      display: none;
    }
  }
  
  .profileImg{
    position: relative;
    text-align: center;
    h2{
      margin: 15px;
    }
    #thumbnail{
      margin: 0 auto;
      width: 100px;
      height: 100px;
      @include border-radius(50%);
      img{
        @include border-radius(50%);
      }
    }
    p{
      margin: 10px;
      color: $main_color;
    }
    #upload-btn{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

  .inputWrap{
    display: block;
    margin-bottom: 15px;

    label{
      font-size: 14px;
    }

    input[type="text"]{
      display: block;
      width: 100%;
      padding: 6px 12px;
      border: solid 1px $color_border;
      @include box-sizing;
      color: $color_textBlack;
    }

    .introduction{
      min-height: 80px; 
    }

  }
  input[type="submit"]{
    display: block;
    padding: 0 15px;
    margin: 0 auto;
    background: $main_color;
    border: none;
    @include border-radius(2px); 
    color: #fff;
    font-size: 14px; 
    line-height: 2.5; 
  }


  /*------------------------------
      systemClass
  ------------------------------*/
}