@import "../_function.css.scss";
@import "component/_reviewBox.css.scss";

.mainCnt {
  .gameWrap {
    padding-top: 44px;
    background: #fff;

    .imgWrap {
      width: 100%;
      background: #431e99; /* Old browsers */
      background: -moz-linear-gradient(-45deg, #431e99 0%, #2989d8 50%, #207cca 51%, #af23a6 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#431e99), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#af23a6)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(-45deg, #431e99 0%,#2989d8 50%,#207cca 51%,#af23a6 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(-45deg, #431e99 0%,#2989d8 50%,#207cca 51%,#af23a6 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(-45deg, #431e99 0%,#2989d8 50%,#207cca 51%,#af23a6 100%); /* IE10+ */
      background: linear-gradient(135deg, #431e99 0%,#2989d8 50%,#207cca 51%,#af23a6 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#431e99', endColorstr='#af23a6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      text-align: center;

      .gameImg {
        margin-top: 5px;
        max-width: 100%;
        height: auto;
        max-height: 150px;
        @include border-radius(2px);
        @include box-sizing;
      }
    }

    .gameInfo {
      padding: 5px 10px;
      .source {
        margin-bottom: 10px;
        text-align: center;
        line-height: 1;
        a {
          color: $color_textGray;
          font-size: 10px;
        }
      }
      .ttl {
        color: $color_textBlack;
        font-size: 24px;
        line-height: 1.2;
        text-align: center;
      }
      .maker {
        margin-bottom: 15px;
        color: $color_textBlack;
        font-size: 14px;
        text-align: center;
        line-height: 2;
        &Name{
          font-weight: bold;
          padding-right: 10px;
        }
      }
    }
  }
}