@import "../_function.css.scss";
@import "_gameList.css.scss";

.search-page {

	/*---   .tabs   ----------*/
	.tabs {
		width: 202px;
		margin: 20px auto 10px;
		border: 1px solid $color_green;
		@include border-radius(2px);
		@include box-sizing;
		text-align: center;
		@include clearfix;
	}
	.to-game-search, .to-user-search {
		width: 100px;
		padding: 5px 0;
		font-size: 12px;
		@include box-sizing;
	}
	.to-game-search {
		float: left;
		border-right: 1px solid $color_green;
		@include border-radius(1px 0 0 1px);
	}
	.to-user-search {
		float: right;
		@include border-radius(0 1px 1px 0);
	}
	div.to-game-search, div.to-user-search {
		background: $color_green;
		color: #fff;
	}
	a.to-game-search, a.to-user-search {
		display: block;
		background: #fff;
		color: $color_green;
	}
	/*---   .search-form   ----------*/
	.search-form {
		width: 250px;
		height: 32px;
		margin: 0 auto 15px;
		border: 1px solid $color_border;
		@include border-radius(2px);
		background: #ffffff;
	}
	.game-title-input, .username-input {
		padding-left: 45px;
		@include border-radius(2px);
		@include box-sizing;
		border: none;
		@include img_set-SP4(100%, 32px, 10px, -424px);
		@include appearance;
		outline: 0;

		&::-webkit-input-placeholder {
			color: #8d8d8d;
			font-size: 12px;
			line-height: 24px;
		}
	}
	.user-search {
		.result-list {
			width: 70%;
			margin: 0 auto;
			@include clearfix;
		}
		.item {
			position: relative;
			margin-bottom: 25px;
			@include clearfix;

			&:last-child {
				margin-right: 0;
			}
		}
		.profImg {
			float: left;
			width: 63px;
			height: 63px;
			margin-right: 24px;
			border: 1px solid #e6e6e6;
			@include box-sizing;
		}
		.name {
			margin-bottom: 8px;
			color: #404040;
			font-size: 12px;
			font-weight: bold;
		}
		.btn {
			display: block;
			position: absolute;
			left: 87px;
			bottom: 10px;
			width: 70px;
			height: 21px;
			padding-top: 1px;
			border: 1px solid $color_green;
			@include border-radius(3px);
			@include box-sizing;
			color: $color_green;
			font-size: 12px;
			text-align: center;
			text-decoration: none;
		}
	}
}