@import "../_function.css.scss";

/*---   common   ---------------------------*/
html {
	font-family:"Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
}
a {
	text-decoration: none;
}

/*---   signUp01-03  ---------------------------*/	
.loginBox{
	margin:10px 5px;
	padding:10px;
	background: #fff;
	text-align: center;
	@include box-sizing; 

	h1{
		padding: 20px 10px;
		color:$color_textBlack;
		font-size:20px;
		font-weight:bold;
	}
	h2{
		padding: 20px 10px;
		color:$color_textBlack;
		font-size:18px;
		font-weight:bold;
	}
	.imgWrap{
		img{
			border-radius:50%;
			box-shadow:0 1px 4px rgba(0,0,0,0.4);
		}
	}
	.btnWrap{
		margin:10px 0;
		font-size:14px;
	}
	.btn {
	display: inline-block;
	width: 80%;
	margin: 0 auto;
	padding:0 10px;
	@include border-radius(4px);
	@include box-sizing;
	color: #ffffff;
	font-size: 16px;
	line-height:3;
	text-shadow: 0px -1px 0 rgba(0,0,0,0.35);
	text-align: center;
	text-decoration: none;
	background: linear-gradient(lighten($main_color,10%),$main_color);
	border: 1px solid #000;
		&:active{
			background: linear-gradient($main_color,lighten($main_color,7%));
		}
	}
	p{
		padding:10px;
		color:$color_textGray;
		font-size:12px;
		text-align: left;
		line-height:1.4;
	}

	.inputInfo{
		text-align:center;
	}
	.inputWrap{
		margin-bottom:10px;
	}
	input[type="text"]{
		@include appearance;
	}
	input[placeholder],
	[placeholder],
	*[placeholder] {
      color: lighten($color_textGray,10%);
    }
	.textInput{
		display:block;
		width: 100%;
		padding:10px;
		border:0;
		border: 1px solid $color_border;
		@include border-radius(2px);
		@include box-sizing; 
		background:#fff;
		color:$color_textBlack;
		font-size:14px;

	}
	.checkBoxWrap{
		margin-bottom:10px;
		color:$color_textGray;
		font-size:12px;
	}
}