@import "../_function.css.scss";
@import "_gameList.css.scss";
@import "_clipBox.css.scss";

/*---   common   ---------------------------*/
body {
	text-align: center;
}
.searchWrap{
		padding:10px;
	}
.entryBox {
	position: relative;
	padding:10px;
	.icon-search{
		position:absolute;
		color: $color_textGray;
		font-size:24px;
		top:18px;
		right:18px;
		z-index: 1;
	}
	.search {
		position:relative;
		@include appearance;
		@include box-sizing;
		width: 100%;
		height: 40px;
		padding: 0 8px;
		border: 1px solid $color_border;
		@include border-radius(2px);
		background: #fff;
		color: #666;
		font-size: 13px;
		line-height: 40px;
	}
}
.btn {
	display:block;
	padding:0 20px;
	margin:0 auto;
	border: none;
	@include box-sizing;
	background: linear-gradient(lighten($main_color,5%),$main_color);
	@include border-radius(4px);
	color: #ffffff;
	font-size: 14px;
	line-height:36px;
	text-align: center;
	cursor: pointer;
	outline: 0;
}
.progress {
	width: 60px;
	margin: 10px auto;
	@include clearfix;

	@at-root {
		&--on {
			float: left;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			@include border-radius(6px);
			@include box-sizing;
			background: $main_color;

			&:last-child {
				margin-right: 0;
			}
		}
		&--off {
			float: left;
			width: 12px;
			height: 12px;
			margin-right: 12px;
			@include border-radius(6px);
			@include box-sizing;
			background: #b3b7b7;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/*---   .setting01_01   ---------------------------*/
.setting01_01 {
	padding-top: 44px;
	text-align:center;

	@at-root {
		&Ttl {
			padding:10px;
			display:inline-block;
			width: 80%;
			color: #404040;
			font-size: 14px;
		}
	}
}

/*---   .setting02   ---------------------------*/
.setting02 {
	padding-top: 44px;
	text-align:center;

	&Ttl {
		padding:10px;
		display:inline-block;
		width: 80%;
		color: #404040;
		font-size: 14px;
	}
	.listWrap{
		margin: 0 auto;
		padding:0 10px;
		text-align: left;
		@include clearfix;
		.item{
			padding:10px 0;
			border-bottom: 1px solid $color_border;
		.followBtn{
			float:right;
			display:inline-block;
			margin-top:4px;
			padding:0 5px;
			@include border-radius(4px);
			color:$main_color;
			font-size:12px;
			line-height:2.5;
		}
		.follow,.reFollow{
			color:$main_color;
		}
		.unFollow{
			color:#fff;
			background-color: $main_color;

		}
		.userImgWrap{
			display:inline-block;
			height: 40px;
			vertical-align: middle;
		}
		.userInfo{
			display:inline-block;
			vertical-align: middle;
			padding-left:10px;
			height:100%;
			font-size:12px;
			.nameWrap{
				font-weight:bold;
				line-height:1.6;
				.name{
					color:$color_textBlack;
				}
			}
			.icon-place{
				display:inline-block;
				margin-left:-2px;
				color:$color_textGray;
				font-size:14px;
			}
			.place{
				display:inline-block;
				color: $color_textGray;
				vertical-align: top;
			}
		}
		&:after{
			content:"";
			display:block;
			@include clearfix;
		}
	}
}
}


/*---   .setting03   ---------------------------*/
.setting03 {
	position: relative;
	padding-top: 44px;
	text-align:center;

	&Ttl {
		padding:10px;
		display:inline-block;
		width: 80%;
		color: #404040;
		font-size: 14px;
	}
	.uploadBox {
		margin: 0 30px 23px;
		@include clearfix;

		.profImg {
			border: 1px solid #e6e6e6;
			@include border-radius(50%);
		}
		.btnBox {
			padding: 15px;
			margin:0 auto;
			width: 100px;
		}
		.btnWrap{
			position: relative;
			padding:0 10px;
			@include box-sizing;
			@include border-radius(4px);
			background: linear-gradient(lighten($color_green,5%),$color_green);
			color: #ffffff;
			font-size: 14px;
			line-height:36px;
			text-align: center;
			cursor: pointer;
		}
		.btn {
			opacity: 0;
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 8px 28px;
			@include box-sizing;
			font-size: 14px;
			text-align: center;
			cursor: pointer;
			outline: 0;
			top:0;
			left:0;
		}
		.text {
			position: absolute;
			left: 50%;
			top: 182px;
			width: 58px;
			margin-left: -29px;
			background: #ffffff;
			color: #908f8f;
			font-size: 12px;
		}
		.camera {
			color: $color_green;
			font-size: 14px;
			text-decoration: underline;
		}
	}

	#thumbnail {
		img {
			width: 96px;
			height: 96px;
			border: 1px solid #e6e6e6;
			@include border-radius(50%);
		}
	}
}