@import "../_function.css.scss";
@import "_postBox.css.scss";

/*---   common   ---------------------------*/
html {
	background: #EEEEEE;
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	text-align: left;
	padding: 5px;

	.commentWrap {
		display:table;
		width: 100%;
		padding: 6px 0;
		@include border-radius(2px);
		@include box-sizing;
		border: 1px solid $color_border;
		background: #ffffff;
		.icon-post{
			display:table-cell;
			padding-left:10px;
			color:$color_green;
			font-size:32px;
		}
		.comment {
			display:table-cell;
			padding-left:10px;
			border: none;
			@include border-radius(2px);
			box-sizing: border-box;
			color: $color_textGray;
			font-size: 12px;
			vertical-align: middle;
			@include appearance;
		}
	}
}

