@import "../_function.css.scss";
@import "_postBox.css.scss";

/*---   common   ---------------------------*/
html {
	background: #EEEEEE;
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	text-align: left;
	padding-bottom: 10px;

	.commentWrap {
		height: 34px;
		margin: 9px 10px 15px;
		@include border-radius(2px);
		border: 1px solid $color_border;
		background: #ffffff;

		.comment {
			display: block;
			padding-top: 7px;
			padding-left: 39px;
			border: none;
			@include border-radius(2px);
			box-sizing: border-box;
			@include img_set-SP4(100%, 34px, 8px, -457px);
			color: #bcbcbc;
			font-size: 14px;
			@include appearance;
		}
	}
}

