@import "../_function.css.scss";

.user-edit-page {
  header {
    position: relative;
    margin-bottom: 5px;
    padding: 12px 0 13px;
    border-bottom: 1px solid #a0a0a0;
    color: #ffffff;
    font-size: 14px;
    text-align: center;

    .ttl {
      width: auto;
      font-size: 14px;
      @include font-weight(1px, #ffffff);
    }
    .cancelWrap {
      display: block;
      position: absolute;
      top: 10px;
      left: 7px;
      @include iconSprite4(53px ,25px, left, bottom);
      content: "";
    }
    .cancel {
      display: block;
      position: absolute;
      top: 12px;
      left: 18px;
      width: 40px;
      color: #ffffff;
    }
  }

  /*------------------------------
      systemClass
  ------------------------------*/
  .file-input {
    overflow: hidden;
    position: relative;
    height: 50px;
    width: 100%;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-bottom: solid 1px #e2e2e2;
    @include box-sizing;

    #thumbnail {
      display: inline-block;
      float: left;
      width: 50px;
      height: 50px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 25px;
      }
    }
    span, input {
      display: block;
      position: absolute;
      top: 0px;
      left: 0px;
      float: left;
      z-index: 5;
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
    }
    input {
      opacity: 0;
      z-index: 10;
    }
  }
  .username-input, .place-input, .introduction-input {
    overflow: hidden;
    position: relative;
    height: 40px;
    width: 100%;
    border-bottom: solid 1px #e2e2e2;

    span {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 10px;
      float: left;
      z-index: 5;
      height: 40px;
      line-height: 40px;
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 70px;
      border: solid 1px #e2e2e2;
    }
  }
  .edit {
    position: fixed;
    top: 12px;
    right: 10px;
    z-index: 10;
    color: #ffffff;
    font-size: 16px;
    border: none;
    background-color: transparent;
    @include font-weight(1px, #ffffff);
  }

  #clip {
    display: none;
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
    overflow: scroll;
    border: solid 2px #000;
  }
}