%script{type: "text/template", id: "post-template"}
  .topBox
    %img.profImg{width: 58, height: 58, src: "/user_photos/{{= user.photo_path }}"}
    .postArea
      %a.account{href: "/users/{{= user.id }}"}
        {{= user.username }}
      %time.time ２時間前
      %h2.ttl
        %a{href: "/games/{{= game.id}}"}
          {{= game.title }}
      .mood_playing プレイ中
  %p.text
    {{= text }}
  .stateBox
    %a.commentBtn{href: "#"}
      コメント
    {{ if(!i_liked) { }}
    %span.like.favBtn
      {{= post_likes_count }}
    {{ } else { }}
    %span.unlike.favBtn
      {{= post_likes_count }}
    {{ } }}