!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "../css/reset-min.css"}
		%link{rel: "stylesheet", href: "css/step.css"}
	%body
		#wrapper
			%section.step02
				%h2.step02__ttl 友達を検索
				%p.step02__text 友達かも？
				.step02__friendBox
					%a.step02__friendBox__leftBtn{href: ""}
						%span.step02__friendBox__leftBtn--tri
					%ul.step02__friendBox__listWrap
						- 3.times do |i|
							%li.step02__friendBox__list
								%img.step02__friendBox__profImg{src: "../images/asuya.jpg", width: "48", height: "48", alt: ""}
								%p.step02__friendBox__name asuya
								%a.step02__friendBox__btn{href: ""} 友達になる
					%a.step02__friendBox__rightBtn{href: ""}
						%span.step02__friendBox__rightBtn--tri
				%form.step02__entryBox
					%input.step02__entryBox__friend{type: "text", placeholder: "友達を検索"}
					%input.step02__entryBox__btn{type: "submit", value: "スキップ"}
				%ul.progress
					%li.progress--off
					%li.progress--on
					%li.progress--off