!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "../css/reset-min.css"}
		%link{rel: "stylesheet", href: "css/step.css"}
	%body
		#wrapper
			%section.step01
				%h2.step01__ttl プロフィール情報を入力
				%form.step01__entryBox
					%input.step01__entryBox__game01{type: "text", placeholder: "プレイ中のゲーム1"}
					%span.step01__entryBox__game01--node [必須]
					%input.step01__entryBox__game02{type: "text", placeholder: "プレイ中のゲーム2"}
					%input.step01__entryBox__place{type: "text", placeholder: "住んでいる場所"}
					%input.step01__entryBox__btn{type: "submit", value: "次へ"}
				%ul.progress
					%li.progress--on
					%li.progress--off
					%li.progress--off