!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "../css/reset-min.css"}
		%link{rel: "stylesheet", href: "../css/common.css"}
		%link{rel: "stylesheet", href: "css/register.css"}
	%body
		#wrapper
			/	.mainCnt
			%section.mainCnt
				%h2.mainCnt__ttl 登録
				.mainCnt__loginBox
					%form.mainCnt__loginBox__inputArea
						%input.mainCnt__loginBox__inputArea--textarea{type: "text", role: "textarea", placeholder: "ユーザー名"}
						%input.mainCnt__loginBox__inputArea--textarea{type: "text", role: "textarea", placeholder: "メールアドレス"}
						%input.mainCnt__loginBox__inputArea--textarea{type: "password", role: "textarea", placeholder: "パスワード"}
						%input.mainCnt__loginBox__inputArea--btn{type: "submit", role: "button", value: "作成"}
					%p.mainCnt__loginBox__text 既にアカウントをお持ちの方
					%a.mainCnt__loginBox__toLogin{href: ""} 今すぐログイン

			/	/.mainCnt

			/	.aboutCnt
			%section.aboutCnt
			/	/.aboutCnt