<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='../css/reset-min.css' rel='stylesheet'>
    <link href='css/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='step03'>
        <h2 class='step03__ttl'>プロフィール写真を設定</h2>
        <div class='step03__uploadBox'>
          <img alt='' class='step03__uploadBox__profImg' height='141' src='images/step03__uploadBox__profImg.png' width='141'>
          <div class='step03__uploadBox__rightBox'>
            <form class='step03__uploadBox__btnWrap'>
              <input class='step03__uploadBox__btn' type='submit' value='写真をアップロード'>
            </form>
            <p class='step03__uploadBox__text'>または</p>
            <a class='step03__uploadBox__camera' href=''>Webカメラで写真を撮る</a>
          </div>
        </div>
        <form class='step03__entryBox'>
          <input class='step03__entryBox__btn' type='submit' value='スキップ'>
        </form>
        <ul class='progress'>
          <li class='progress--off'></li>
          <li class='progress--off'></li>
          <li class='progress--on'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
