!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "../css/reset-min.css"}
		%link{rel: "stylesheet", href: "css/step.css"}
	%body
		#wrapper
			%section.step03
				%h2.step03__ttl プロフィール写真を設定
				.step03__uploadBox
					%img.step03__uploadBox__profImg{src: "images/step03__uploadBox__profImg.png", width: "141", height: "141", alt: ""}
					.step03__uploadBox__rightBox
						%form.step03__uploadBox__btnWrap
							%input.step03__uploadBox__btn{type: "submit", value: "写真をアップロード"}
						%p.step03__uploadBox__text または
						%a.step03__uploadBox__camera{href: ""} Webカメラで写真を撮る
				%form.step03__entryBox
					%input.step03__entryBox__btn{type: "submit", value: "スキップ"}
				%ul.progress
					%li.progress--off
					%li.progress--off
					%li.progress--on