<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='../css/reset-min.css' rel='stylesheet'>
    <link href='../css/common.css' rel='stylesheet'>
    <link href='css/register.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- .mainCnt -->
      <section class='mainCnt'>
        <h2 class='mainCnt__ttl'>登録</h2>
        <div class='mainCnt__loginBox'>
          <form class='mainCnt__loginBox__inputArea'>
            <input class='mainCnt__loginBox__inputArea--textarea' placeholder='ユーザー名' role='textarea' type='text'>
            <input class='mainCnt__loginBox__inputArea--textarea' placeholder='メールアドレス' role='textarea' type='text'>
            <input class='mainCnt__loginBox__inputArea--textarea' placeholder='パスワード' role='textarea' type='password'>
            <input class='mainCnt__loginBox__inputArea--btn' role='button' type='submit' value='作成'>
          </form>
          <p class='mainCnt__loginBox__text'>既にアカウントをお持ちの方</p>
          <a class='mainCnt__loginBox__toLogin' href=''>今すぐログイン</a>
        </div>
      </section>
      <!-- /.mainCnt -->
      <!-- .aboutCnt -->
      <section class='aboutCnt'></section>
      <!-- /.aboutCnt -->
    </div>
  </body>
</html>
