<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='../css/reset-min.css' rel='stylesheet'>
    <link href='css/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='step02'>
        <h2 class='step02__ttl'>プロフィール写真を設定</h2>
        <p class='step02__text'>友達かも？</p>
        <div class='step02__friendBox'>
          <a class='step02__friendBox__leftBtn' href=''>
            <span class='step02__friendBox__leftBtn--tri'></span>
          </a>
          <ul class='step02__friendBox__listWrap'>
            <li class='step02__friendBox__list'>
              <img alt='' class='step02__friendBox__profImg' height='48' src='../images/asuya.jpg' width='48'>
              <p class='step02__friendBox__name'>asuya</p>
              <a class='step02__friendBox__btn' href=''>友達になる</a>
            </li>
            <li class='step02__friendBox__list'>
              <img alt='' class='step02__friendBox__profImg' height='48' src='../images/asuya.jpg' width='48'>
              <p class='step02__friendBox__name'>asuya</p>
              <a class='step02__friendBox__btn' href=''>友達になる</a>
            </li>
            <li class='step02__friendBox__list'>
              <img alt='' class='step02__friendBox__profImg' height='48' src='../images/asuya.jpg' width='48'>
              <p class='step02__friendBox__name'>asuya</p>
              <a class='step02__friendBox__btn' href=''>友達になる</a>
            </li>
          </ul>
          <a class='step02__friendBox__rightBtn' href=''>
            <span class='step02__friendBox__rightBtn--tri'></span>
          </a>
        </div>
        <form class='step02__entryBox'>
          <input class='step02__entryBox__friend' placeholder='友達を検索' type='text'>
          <input class='step02__entryBox__btn' type='submit' value='スキップ'>
        </form>
        <ul class='progress'>
          <li class='progress--off'></li>
          <li class='progress--on'></li>
          <li class='progress--off'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
