<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='../css/reset-min.css' rel='stylesheet'>
    <link href='css/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='step01'>
        <h2 class='step01__ttl'>プロフィール情報を入力</h2>
        <form class='step01__entryBox'>
          <input class='step01__entryBox__game01' placeholder='プレイ中のゲーム1' type='text'>
          <span class='step01__entryBox__game01--node'>[必須]</span>
          <input class='step01__entryBox__game02' placeholder='プレイ中のゲーム2' type='text'>
          <input class='step01__entryBox__place' placeholder='住んでいる場所' type='text'>
          <input class='step01__entryBox__btn' type='submit' value='次へ'>
        </form>
        <ul class='progress'>
          <li class='progress--on'></li>
          <li class='progress--off'></li>
          <li class='progress--off'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
