@import "../_function.css.scss";

/*---   .clipBox   ----------*/
.clipBox {
	display: none;
	position: absolute;
	padding: 0 5px;
	width: 100%;
	margin:0 auto;
	border: 2px solid  #bdbdbd;
	@include box-sizing;
	background: #fff;
	@include clearfix;
	top: 45px;

	.clipTtl {
		margin:5px;
		color: $color_textBlack;
		font-size: 16px;
		text-align: center;
	}
	.clipImgWrap {
		margin: 0 auto;
		width: 250px;
		text-align: center;
	}
	.clipArea {
		width: 250px;
		height: 250px;
		border-top: 25px solid rgba(#000, 0.76);
		border-right: 25px solid rgba(#000, 0.76);
		border-bottom: 25px solid rgba(#000, 0.76);
		border-left: 25px solid rgba(#000, 0.76);
		@include box-sizing;
		cursor: move;
	}
	.clipBtnLis {
		margin:5px auto;
		width: 250px;
		text-align:right;
	}
	.cancel {
		display: inline-block;
		padding:0 10px;
		@include border-radius(4px);
		background: #a0a0a0;
		color: #fff;
		line-height: 2.5;
		text-align: center;
		cursor: pointer;
	}
	.done {
		display: inline-block;
		padding:0 25px;
		@include border-radius(4px);
		background: $main_color;
		&:active{
			background: linear-gradient($main_color,lighten($main_color,5%));
		}
		color: #fff;
		line-height: 2.5;
		text-align: center;
		cursor: pointer;
	}
}