@import "../../_function.css.scss";

/*---   .postBox   ---------------------------*/
.postBox {
	margin-bottom: 10px;
	background-color: #fff;
	border-top: solid 1px $color_border;
	border-bottom: solid 1px $color_border;
	.postHeaderLink{
		display: block;
		width: 100%;
		height: 50px;
		padding: 10px;
		@include box-sizing;
		color: $color-textBlack;
	}
	.postHeader{
		font-size: 16px;
		line-height: 30px;
		.profileImage{
			float: left;
			margin-right: 10px;
			display: inline-block;
			vertical-align: middle;
			@include border-radius(50%);
		}
		.userName{
			display: inline-block;
		}
		.statusBox{
			float: right;
			.moodReady,
			.moodPlaying,
			.moodPlayed,
			.moodStock{
				display: inline-block;
				padding: 0 8px;
				@include border-radius(2px);
				font-size: 12px;
				line-height: 2;
			}
			.moodReady{
				color: $color_yellow;
				border: solid 1px $color_yellow;
			}
			.moodPlaying{
				color: $color_red;
				border: solid 1px $color_red;
			}
			.moodPlayed{
				color: $color_blue;
				border: solid 1px $color_blue;
			}
			.moodStock{
				color: $color_green;
				border: solid 1px $color_green;
			}
		}
		@include clearfix;
	}
	.gameBox{
		height: 80px;
		background: $main_color;
		.gameBoxLink{
			display: table;
			height: 80px;
			width: 100%;
			padding: 10px;
			@include box-sizing;
			color: #fff;
		}
		.gamePhoto{
			float: left;
			display: table-cell;
			margin-right: 10px;
			@include border-radius(2px);
			vertical-align: middle;
		}
		h2{
			display: table-cell;
			width: 100%;
			vertical-align: middle;
		}
	}
	.postBody{
		font-size: 14px;
		padding: 10px;
		display: block;
		width: 100%;
		color: $color_textBlack;
		@include box-sizing;
		.postThumnail{
			width: 100%;
		}
		.postMeta{
			margin: 5px 0;
			color: $color_textGray;
			.postTime{
				display: inline-block;
				&:before{
					margin-right: 5px;
				}
			}
			.readMore{
				float: right;
				font-weight: bold;
				color: $color_blue;
			}
			@include clearfix;
		}
		.postThumbnail{
			width: 100%;
			.thumbnailImage{
				width: 100%;
			}
		}
	}
	.postFooter{
		width: 100%;
	}
	.actionList{
		display: block;
		width: 100%;
		margin-top: 10px;
		li{
			float: right;
			text-align: right;
		}
		.left{
			float: left;

		}
		@include clearfix;
	}
	.commentBtn,.favBtn,.icon-option{
		display:inline-block;
		padding:0 10px;
		width: 100%;
		font-size:20px;
		color:$color_textGray;
		line-height: 1;
		@include box-sizing;
	}
	.commentBtn {
		text-decoration: none;
		&.on {
			color: $color_green;
		}
	}
	.favBtn {
		text-decoration: none;
		&.on{
			color: $color_red;
		}
	}
	.likeCount{
		color: $color-textGray;
	}
	.commentCnt,.likeCnt{
		position: relative;
		display: inline-block;
        font-size: 14px;
		&:after, &:before {
          right: 100%;
          top: 50%;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          margin-top: -4px;
        }
        &:before {
          margin-top: -5px;
        }
	}
	/*---   .urlThumbnail   ----*/
	.urlThumbnailWrap {
		.urlThumbnail {
			display: table;
			padding:5px;
			border: solid 1px $color_border;
			img {
				display:table-cell;
				width: 90px;
				margin-bottom:0;
			}
			.body {
				display:table-cell;
				padding-left:5px;
				width: 100%;
				vertical-align: top;
				.title {
					color:$color_textBlack;
					font-weight:bold;
					font-size:12px;
				}
				.description {
					color:$color_textGray;
					font-size:10px;
				}
			}
		}
	}
	.movieWrap{
		@include box-sizing;
		width:100%;
		border:none;
	}
}