@import "../../_function.css.scss";

/*---   .postBox   ---------------------------*/
.postBox {
	margin:5px;
	padding: 5px 5px 0 5px;
	@include box-sizing;
	background: #ffffff;
	@include clearfix;
	.gameWrap{
		float: right;
		width: 80px;
		.gamePhoto{
			width: 100%;
			height: auto;
		}
	}
	.statusBox{
		width: 80px;
		margin-bottom: 10px;
	}
	.moodReady,.moodPlaying,.moodPlayed,.moodStock {
		position: relative;
		display: inline-block;
		width: 100%;
		@include border-radius(2px);
		@include box-sizing;
		font-size: 12px;
		color: #fff;
		text-align: center;
		line-height: 2;
		&:after{
			position: absolute;
			top: 100%;
			left: 50%;
			margin-left: -5px;
			content: "";
			width: 0;
			height: 0;
			border-right: solid 5px transparent;
			border-bottom: solid 5px transparent;
			border-left: solid 5px transparent;
		}

	}
	.moodReady{
		background: $color_yellow;
		&:after{
			border-top: solid 5px $color_yellow;
		}
	}
	.moodPlaying {
		background: $color_red;
		&:after{
			border-top: solid 5px $color_red;
		}
	}
	.moodPlayed {
		background: $color_blue;
		&:after{
			border-top: solid 5px $color_blue;
		}
	}
	.moodStock{
		background: $color_green;
		&:after{
			border-top: solid 5px $color_green;
		}
	}

	.left{
		width: 70%;
		@include clearfix;
	}
	
	.postHeader {
		width: 100%;
		.profImgWrap {
			float: left;
			width: 31px;
			height: 31px;
			margin-right: 5px;
		}
		.profImg {
			width: 30px;
			height: 30px;
			@include box-sizing;
			border: 1px solid $color_border;
			@include border-radius(50%);
		}

		.account,.time{
			font-size: 12px;
		}
		.account {
			color: $color_textBlack;
			font-weight: bold;
			text-decoration: none;
		}
		.time {
			color: $color_textGray;
		}
	}

	.ttl {
		margin: 2px 0;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.3;
		vertical-align: middle;
		a {
			color: $color_textBlack;
		}
	}
	.text {
		color: #404040;
		font-size: 13px;
		line-height: 1.6;
		word-break: break-word;
	}
	.thumbnail {
		&Img {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	/*---   .urlThumbnail   ----*/
	.urlThumbnailWrap {
		.urlThumbnail {
			display: table;
			padding:5px;
			border: solid 1px $color_border;
			img {
				display:table-cell;
				width: 90px;
				margin-bottom:0;
			}
			.body {
				display:table-cell;
				padding-left:5px;
				width: 100%;
				vertical-align: top;
				.title {
					color:$color_textBlack;
					font-weight:bold;
					font-size:12px;
				}
				.description {
					color:$color_textGray;
					font-size:10px;
				}
			}
		}
	}
	.movieWrap{
		@include box-sizing;
		width:100%;
		border:none;
	}
	.stateBox {
		text-align: left;
	}
	.commentBtn,.favBtn,.icon-option{
		display:inline-block;
		padding:10px;
		font-size:16px;
		color:$color_textGray;
		line-height: 1;
	}
	.commentBtn {
		text-decoration: none;
		&.on {
			color: $color_green;
		}
	}
	.favBtn {
		text-decoration: none;
		&.on{
			color: $color_red;
		}
	}

	.commentCnt,.likeCnt{
		position: relative;
		display: inline-block;
		margin-left: 2px;
		line-height: 1.3;
		padding: 0 6px;
        border: solid 1px $color_border;
        font-size: 12px;
		&:after, &:before {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(255, 255, 255, 0);
          border-right-color: #ffffff;
          border-width: 4px;
          margin-top: -4px;
        }
        &:before {
          border-color: rgba(230, 230, 230, 0);
          border-right-color: $color_border;
          border-width: 5px;
          margin-top: -5px;
        }
	}
	.icon-option{
		padding:10px 15px;
	}
}