@import "../../_function.css.scss";

.reviewBox {
  width: auto;
  margin: 0 auto 10px;
  border: 1px solid $color_border;
  @include border-radius(2px);
  @include box-sizing;
  background: #fff;

  .reviewHeaderLink{
    display: block;
    width: 100%;
    height: 50px;
    padding: 10px;
    @include box-sizing;
    color: $color-textBlack;
  }
  .reviewHeader{
    font-size: 14px;
    line-height: 30px;
    .profileImage{
      float: left;
      margin-right: 10px;
      display: inline-block;
      vertical-align: middle;
      @include border-radius(50%);
    }
    .userName{
      display: inline-block;
      color: $color_textBlack;
      font-weight: bold;
    }
    .starBox{
      float: right;
      display: inline-block;
      padding: 0 8px;
      border: solid 1px $rate_color;
      @include border-radius(2px);
      font-size: 12px;
      line-height: 2;
      color: $rate_color;
    }
    @include clearfix;
  }
  .reviewTitle {
    h3 {
      font-size: 16px;
      width: 90%;
      margin: 10px auto;
      padding-left: 15px;
      border-left: solid 3px $main_color;
    }
  }
  .reviewBody{
    padding: 0 10px 10px 10px;
    font-size: 14px;
    padding: 10px;
    display: block;
    width: 100%;
    color: $color_textBlack;
    @include box-sizing;
    line-height: 1.5;
    .reviewThumnail{
      width: 100%;
    }
    .reviewMeta{
      margin: 5px 0;
      color: $color_textGray;
      .reviewTime{
        display: inline-block;
        &:before{
          margin-right: 5px;
        }
      }
      .readMore{
        float: right;
        font-weight: bold;
        color: $color_blue;
      }
      @include clearfix;
    }
    .reviewThumbnail{
      width: 100%;
      .thumbnailImage{
        width: 100%;
      }
    }
  }
  .reviewFooter{
    width: 100%;
  }
  .actionList{
    display: block;
    width: 100%;
    li{
      float: right;
      text-align: right;
    }
    .left{
      float: left;

    }
    @include clearfix;
  }
  .readMoreComment{
    display: inline-block;
    margin-bottom: 15px;
    @include font-size(13);
    font-weight: bold;
    color: $color_textGray;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
    &:before{
      font-family: 'icomoon';
      content: "\e602";
      font-weight: normal;
      margin-right: 5px;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .favBtn, .icon-option{
    display:inline-block;
    padding-left: 10px;
    font-size:20px;
    color:$color_textGray;
    line-height: 1;
    @include box-sizing;
    &:before {
      vertical-align: middle;
    }
  }
  .favBtn {
    text-decoration: none;
    &.on{
      color: $color_red;
    }
  }
  .likeCount{
    color: $color-textGray;
  }
  .likeCnt{
    position: relative;
    display: inline-block;
        font-size: 16px;
  }
  /*---   .urlThumbnail   ----*/
  .urlThumbnailWrap {
    .urlThumbnail {
      display: table;
      padding:5px;
      border: solid 1px $color_border;
      img {
        display:table-cell;
        width: 90px;
        margin-bottom:0;
      }
      .body {
        display:table-cell;
        padding-left:5px;
        width: 100%;
        vertical-align: top;
        .title {
          color:$color_textBlack;
          font-weight:bold;
          font-size:12px;
        }
        .description {
          color:$color_textGray;
          font-size:10px;
        }
      }
    }
  }
  .movieWrap{
    @include box-sizing;
    width:100%;
    border:none;
  }
}