!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%title Playdy
		%link{rel: "stylesheet", href: "../css/reset-min.css"}
		%link{rel: "stylesheet", href: "../css/common.css"}
		%link{rel: "stylesheet", href: "css/randing.css"}
	%body
		#wrapper
			/	.mainCnt
			%section.mainCnt
				%h1.mainCnt__ttl Playdy
				%p.mainCnt__text ゲーム体験をより豊かに。
				%ul.mainCnt__entryBtn
					%li.mainCnt__entryBtn__item
						%a.mainCnt__entryBtn__item--fb{href: ""}
							%span.mainCnt__entryBtn__item--fbIcon
							Facebookでアカウントを作成
					%li.mainCnt__entryBtn__item
						%a.mainCnt__entryBtn__item--tw{href: ""}
							%span.mainCnt__entryBtn__item--twIcon
							Twitterでアカウントを作成
					%li.mainCnt__entryBtn__item
						%a.mainCnt__entryBtn__item--mail{href: ""}
							%span.mainCnt__entryBtn__item--mailIcon
							メールでアカウントを作成
				.mainCnt__loginBox
					%p.mainCnt__loginBox__text 今すぐログイン
					%form.mainCnt__loginBox__inputArea
						%input.mainCnt__loginBox__inputArea--textarea{type: "text", role: "textarea", placeholder: "メールアドレスまたはユーザー名"}
						%input.mainCnt__loginBox__inputArea--textarea{type: "password", role: "textarea", placeholder: "パスワード"}
						%input.mainCnt__loginBox__inputArea--btn{type: "submit", role: "button", value: "ログイン"}

			/	/.mainCnt

			/	.aboutCnt
			%section.aboutCnt
			/	/.aboutCnt