<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <title>Playdy</title>
    <link href='../css/reset-min.css' rel='stylesheet'>
    <link href='../css/common.css' rel='stylesheet'>
    <link href='css/randing.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- .mainCnt -->
      <section class='mainCnt'>
        <h1 class='mainCnt__ttl'>Playdy</h1>
        <p class='mainCnt__text'>ゲーム体験をより豊かに。</p>
        <ul class='mainCnt__entryBtn'>
          <li class='mainCnt__entryBtn__item'>
            <a class='mainCnt__entryBtn__item--fb' href=''>
              <span class='mainCnt__entryBtn__item--fbIcon'></span>
              Facebookでアカウントを作成
            </a>
          </li>
          <li class='mainCnt__entryBtn__item'>
            <a class='mainCnt__entryBtn__item--tw' href=''>
              <span class='mainCnt__entryBtn__item--twIcon'></span>
              Twitterでアカウントを作成
            </a>
          </li>
          <li class='mainCnt__entryBtn__item'>
            <a class='mainCnt__entryBtn__item--mail' href=''>
              <span class='mainCnt__entryBtn__item--mailIcon'></span>
              メールでアカウントを作成
            </a>
          </li>
        </ul>
        <div class='mainCnt__loginBox'>
          <p class='mainCnt__loginBox__text'>今すぐログイン</p>
          <form class='mainCnt__loginBox__inputArea'>
            <input class='mainCnt__loginBox__inputArea--textarea' placeholder='メールアドレスまたはユーザー名' role='textarea' type='text'>
            <input class='mainCnt__loginBox__inputArea--textarea' placeholder='パスワード' role='textarea' type='password'>
            <input class='mainCnt__loginBox__inputArea--btn' role='button' type='submit' value='ログイン'>
          </form>
        </div>
      </section>
      <!-- /.mainCnt -->
      <!-- .aboutCnt -->
      <section class='aboutCnt'></section>
      <!-- /.aboutCnt -->
    </div>
  </body>
</html>
