%script{type: "text/template", id: "first-template"}
  %header.settingHeader
    .settingHeaderInner
      %p.step 1/3
      .stepBar01
  %section.mainContent
    %h1.mainTtl ようそこ、Playdyへ的な。
    %p.mainTxt まずはお気に入りのゲームをライブラリに登録しましょう的な。
    %form.searchWrap
      %input.search.search-title-input{type: "text", placeholder: "ゲーム名で検索的な"}
    %a.nextBtn.next-page{href: ""} 次へ
    %ul.gameListWrap.result-list

