%script{type: "text/template", id: "first-template"}
  %header.settingHeader
    .settingHeaderInner
      %h1.logo Gameful
      .stepBar01
      %p.stepTxt 登録は簡単です
  %section.mainContent
    %h1.mainTtl ようそこ、Gamefulへ。
    %p.mainTxt
      登録はすぐに終了します。
      %br
      プロフィール画像と、簡単な自己紹介を入力しましょう。
      %br
      （もちろん、スキップしてもいいですよ）
    #thumbnail
      = image_tag "pc/default_profImg.png", width: "165", height: "165", alt: "", class: "thumbnailImg"
    .uploadBtnWrap
      .uploadBtnTxt 写真をアップロード
      %form
        %input.uploadBtn#upload-btn{type: "file", value: "写真をアップロード"}
    .profileEditBox
      %dl.editList
        %dt.editListTtl ユーザーネーム
        %dd.editElm
          %form.userNameWrap
            %input.userName{type: "text"}
      %dl.editList
        %dt.editListTtl 場所
        %dd.editElm
          %form.placeWrap
            %input.place{type: "text"}
      %dl.editList
        %dt.editListTtl 自己紹介(200文字)
        %dd.editElm
          %textarea.userInfo
      %label.agreeTxt
        %input.agreeCheck{type: "checkbox"}
        当サービスの利用規約とプライバシーポリシーに同意する
    %a.nextBtn01.next-page{href: ""} 次へ