%script{type: "text/template", id: "first-template"}
  %header.SettingHeader
    .SettingHeader__inner
      %h1.SettingHeader__title GAMR
      .SettingHeader__bar--first
      %p.SettingHeader__text 登録は簡単です
  %section.mainContent
    .SettingTop
      %h1.SettingTop__title ようこそ、GAMRへ。
      %p.SettingTop__text
        まずはお気に入りのゲームをマイゲームに登録しましょう。
        %br
        ゲームは、後から好きなだけ追加することができます。
      %form.SettingTop__searchWrap
        %input.SettingTop__search.search-title-input{type: "text", placeholder: "ゲーム名で検索"}
      %p.SettingTop__nextButtonWrap--first
        %a.SettingTop__nextButton.next-page{href: ""} 登録せずに進む
    .Gamelist
      %ul.Gamelist__list.result-list