%script{type: "text/template", id: "first-template"}
  %header.settingHeader
    .settingHeaderInner
      %h1.logo GAMR
      .stepBar01
      %p.stepTxt 登録は簡単です
  %section.mainContent
    .settingTopBox
      %h1.mainTtl ようそこ、GAMRへ。
      %p.mainTxt
        まずはお気に入りのゲームをライブラリに登録しましょう。
        %br
        ゲームは、後から好きなだけ追加することができます。
      %form.searchWrap
        %input.search.search-title-input{type: "text", placeholder: "キーワードでゲームを探す"}
      %a.nextBtn.next-page{href: ""} 次へ
    .gameListBox
      %ul.gameListWrap.result-list