%script{src: "text/template", id: "game-result-template"}
  %article.gameList
    %article.gameList
      %figure.gameImgWrap
        %img.gameImg{src: "/game_photos/{{= photo_path}}", width: "121", alt: ""}
      %ul.starList
        - 4.times do |i|
          %li.starOn ★
        %li.starOff ☆
