%script{src: "text/template", id: "game-result-template"}
  %article.gameList
    %figure.gameImgWrap
      / %img.gameImg{src: "/game_photos/{{= photo_path }}", width: "121", alt: ""}
      %img.gameImg{src: "{{= photo_url }}", width: "121", alt: ""}
    %h1.ttl
      {{= title }}
    %ul.starList
      {{ diff = 5 - avg_rate }}
      {{ for (var i = 0; i < avg_rate; i++) { }}
      %li.starOn ★
      {{ } }}
      {{ for (var i = 0; i < diff; i++) { }}
      %li.starOff ☆
      {{ } }}
    .statusWrap
      %select.status{name: "status", size: 1}
        %option{value: ""} ステータス
        %option{value: 1} 気になる
        %option{value: 2} プレイ中
        %option{value: 3} クリア済

