%script{type: "text/template", id: "second-template"}
  %header.settingHeader
    .settingHeaderInner
      %h1.logo Gameful
      .stepBar02
      %p.stepTxt パーティは多いほうが有利ですよね
  %section.mainContent
    .settingTopBox
      %h1.mainTtl 様々な人がGamefulを使っています。
      %p.mainTxt
        twitterやFacebookのお友達を検索して、フォローしましょう。
        %br
        有名なゲーマーや、尊敬するクリエイターも使っているかもしれません。
      %form.searchWrap
        %input.search.user-input{type: "text", placeholder: "キーワードでユーザーを探す"}
      %a.nextBtn.next-page{href: ""} 次へ
    .friendListBox
      %ul.friendListWrap.user-list