%script{type: "text/template", id: "second-template"}
  %header.settingHeader
    .settingHeaderInner
      %p.step 2/3
      .stepBar02
  %section.mainContent
    %h1.mainTtl 親しい友人や、尊敬するゲーマーも的な
    %p.mainTxt twitterやFacebookでもお友達を検索して、フォローしよう的な。
    %form.searchWrap
      %input.search.user-input{type: "text", placeholder: "usernameで検索的な"}
    %a.nextBtn.next-page{href: ""} 次へ
    %ul.friendListWrap.user-list
