%script{type: "text/template", id: "second-template"}
  %header.settingHeader
    .settingHeaderInner
      %h1.logo Gameful
      .stepBar02
      %p.stepTxt パーティは多いほうが有利ですよね
  %section.mainContent
    %h1.mainTtl 心に残るゲームは何ですか？
    %p.mainTxt
      まずはお気に入りのゲームをライブラリに登録しましょう。
      %br
      ゲームは、後から好きなだけ追加することができます。
    %form.searchWrap
      %input.search.search-title-input{type: "text", placeholder: "キーワードでゲームを探す"}
    %a.nextBtn.next-page{href: ""} 次へ
    .gameListBox
      %ul.gameListWrap.result-list
