%script{type: "text/template", id: "third-template"}
  %header.SettingHeader
    .SettingHeader__inner
      %h1.SettingHeader__title
        = image_tag("logo@2x.png", width: "50%")
      .SettingHeader__bar--third
      %p.SettingHeader__text あと少しで終わりますよ
  %section.mainContent
    .SettingTop
      %h1.SettingTop__title 写真は重要です。ゲーマーにとっても。
      %p.SettingTop__text
        プロフィール写真を設定すれば、友達や他のユーザーから発見されやすくなります。
        %br
        オンラインゲームにおける、アバターアイコンと同じですね。
      #thumbnail
        = image_tag "/user_photos/#{@current_user[:photo_path]}", width: "151", height: "151", alt: "", class: "thumbnailImg"
      .SettingTop__uploadButtonWrap
        .SettingTop__uploadButtonText 写真を選択
        %form
          %input.SettingTop__uploadButton#upload-btn{type: "file", value: "写真を選択"}
      %p.SettingTop__nextButtonWrap--third
        %a.SettingTop__nextButton.next-page{href: ""} 設定せずに初期設定を完了

    = render partial: "application/pc/clip_modal"