%script{type: "text/template", id: "third-template"}
  %header.settingHeader
    .settingHeaderInner
      %h1.logo Gameful
      .stepBar03
      %p.stepTxt あと少しで終わりますよ
  %section.mainContent
    .settingTopBox
      %h1.mainTtl 写真は重要です。ゲーマーにとっても。
      %p.mainTxt
        プロフィール写真を設定すれば、友達や他のユーザーから発見されやすくなります。
        %br
        オンラインゲームにおける、アバターアイコンと同じですね。
      #thumbnail
        = image_tag "/user_photos/default.png", width: "157", height: "157", alt: "", class: "thumbnailImg"
      .uploadBtnWrap
        .uploadBtnTxt 写真をアップロード
        %form
          %input.uploadBtn#upload-btn{type: "file", value: "写真をアップロード"}
      %a.nextBtn03.next-page{href: ""} 次へ

      .clipBox.clip-box
        %h2.clipTtl 画像の位置をドラッグで変更
        %figure.clipImgWrap
          .clipArea#clip-area
        %ul.clipBtnLis
          %li.cancel.cancel-clip キャンセル
          %li.done.done-clip 決定