%script{type: "text/template", id: "third-template"}
  %header.settingHeader
    .settingHeaderInner
      %p.step 3/3!!
      .stepBar03
  %section.mainContent
    %h1.mainTtl 素敵なプロフィール写真を設定しましょう的な
    %p.mainTxt
      他のユーザーがあなたを認識する、最初の印象です。
      %br
      素敵な写真を選びましょうとかなんとか
    %a.nextBtn03.next-page{href: ""} 次へ
    #thumbnail
      = image_tag "pc/setting_img01.png", width: "180", height: "180", alt: "", class: "thumbnailImg"
    .uploadBtnWrap
      .uploadBtnTxt 写真をアップロード
      %form
        %input.uploadBtn#upload-btn{type: "file", value: "写真をアップロード"}