/*---   common   ---------------------------*/
html {
  min-width: 960px;
  background: url(../images/body_bg.jpg) repeat-x center top;
}

body {
  background: none;
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 389px;
  height: 522px;
  margin: -261px 0 0 -195px;
  padding: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  background: url(../images/mainCnt_bg.png) no-repeat center top;
}
.mainCnt__ttl {
  margin-bottom: 22px;
  font-size: 24px;
}

.mainCnt__loginBox {
  padding-top: 27px;
  border-top: 1px solid #aececf;
}
.mainCnt__loginBox__inputArea--textarea, .mainCnt__loginBox__inputArea--btn {
  display: block;
}

.mainCnt__loginBox__inputArea--textarea {
  width: 248px;
  height: 44px;
  margin: 0 auto 16px;
  padding: 4px 0 0 8px;
  border: 1px solid #707070;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.mainCnt__loginBox__inputArea--btn {
  width: 240px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: none;
  color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.mainCnt__loginBox__text {
  margin-top: 38px;
  padding-bottom: 19px;
  font-size: 18px;
}

.mainCnt__loginBox__toLogin {
  color: #ffffff;
  text-decoration: underline;
}
.mainCnt__loginBox__toLogin:hover {
  text-decoration: none;
}

/*---   .aboutCnt   ---------------------------*/
.aboutCnt {
  width: 100%;
  background: #ffffff;
}
