%script{type: "text/template", id: "log-template"}
  %a.articleWrap{href: "/games/{{= game.id }}#all", style: "display: block;"}
    %figure.game
      %img.gameImg{src: "/game_photos/{{= game.photo_path }}"}
      %figcaption.review
        {{ if (rate) { }}
        ☆
        %span.reviewAve {{= rate }}.0
        {{ } else { }}
        %span.reviewAve 評価なし
        {{ } }}