%script{type: "text/tenplate", id: "log-list-template"}
  .gameBox
    %ul.sortBox.sort-box
      %li.item.ready-li.current
        %span.ready.ready-tab 気になる
      %li.item.playing-li
        %span.playing.playing-tab プレイ中
      %li.item.played-li
        %span.played.played-tab クリア済
    %searchWrap
      %form.entryBox
        %span.icon-search
        %input.search{input: "search", placeholder: "ゲーム名で検索", role: "textarea", class: "search-log"}
    %ul.gameList.log-list
