%script{type: "text/template", id: "user-template"}
  %ul.friendListWrap.btnList
    {{ if (!isCurrentUser) { }}
    {{ if (i_followed) { }}
    %li.followBtnWrap
      .followBtn.unFollow.unfollow フォローを外す
    {{ } else { }}
    %li.followBtnWrap
      {{ if (i_followered) { }}
      .followBtn.follow フォロー仕返す
      {{ } else { }}
      .followBtn.follow フォローする
      {{ } }}
    {{ } }}
    {{ } }}
    %figure.userImgWrap
      %img.profImg{src:"/user_photos/{{= photo_path }}" , height: 40, height: 40}
    .userInfo
      .nameWrap
        %a.name{href: "/users/{{= id }}#logs"} {{= username }}
      %span.icon-place
      .place {{= place }}
