%script{type: "text/template", id: "comment-template"}
  %img{src: "/user_photos/{{= user.photo_path }}"}
  .body
    .inner-body
      %a{href: "/users/{{= user.id }}"}
        {{= user.username }}
      %p
        {{= text }}
      {{ if (!i_liked) { }}
      %span.like.favBtn
        いいね
        {{= comment_likes_count }}
      {{ } else { }}
      %span.unlike.favBtn.on
        いいねを取り消す
        {{= comment_likes_count }}
      {{ } }}