%script{type: "text/template", id: "post-template"}
  .topBox
    %figure.profImgWrap
      %img.profImg{width: 58, src: "/user_photos/{{= user.photo_path }}"}
    %a.account{href: "/users/{{= user.id }}#logs"}
      {{= user.username }}
    %time.time
      %span.icon-time
      {{= created_at }}
      {{ if (status.id == 1) { }}
  .gameInfoBox
    .statusBox
      %span.mood_ready 気になる
      {{ } else if (status.id == 2) { }}
      %span.mood_playing プレイ中
      {{ } else if (status.id == 3) { }}
      %span.mood_played クリア済
      {{ } }}
    %h2.ttl
      %a{href: "/games/{{= game.id }}#all"}
        {{= game.title }}
  %p.text
    {{= text }}
  .thumbnail
    {{ for (var i = 0; i < post_photos.length; i++) { }}
    %img{src: "/post_photos/{{= post_photos[i].photo_path }}"}
    {{ } }}
  .stateBox
    %a.commentBtn.comment-btn{href: "#"}
      コメント
      %span.commentCnt
        {{= post_comments_count }}
    {{ if (!i_liked) { }}
    %span.like.favBtn
      {{= post_likes_count }}
    {{ } else { }}
    %span.unlike.favBtn.on
      {{= post_likes_count }}
    {{ } }}
    {{ if (current_user_id == user.id) { }}
    %span.deleteBtn.delete-btn
      削除
    {{ } }}