%script{type: "text/template", id: "flow-template"}
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupTtl ようこそ！”username”さん
    %figure.SignupImgWrap
      %img.SignupImg{src: "", width: "140", height: "140", alt: "アカウント画像"}
    %p.SignupBtnWrap
      %a.SignupBtn{href: "/users/new#signup"} 新しくアカウントをつくる
    %p.SignupText
      新しくGAMRのアカウントを作成して、Twitterアカウントと接続します。
      %br
      作成したGAMRのアカウントには、Twitterアカウントでログインできます。
    %p.SignupBtnWrap
      %a.SignupBtn{href: "/users/new#signin"} GAMRとつなげる
    %p.SignupText
      すでにGAMRのアカウントをお持ちの場合は、Twitterアカウントと接続することで、TwitterアカウントでGAMRにログインできるようになります。