%script{type: "text/template", id: "flow-template"}
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupHeader TwitterでGAMRを始める
    %p.SignupBtnWrap
      %a.SignupBtn{href: ""} GAMRとつなげる
    %p.SignupText すでにGAMR IDをお持ちの場合は、Twitterアカウントと接続することで、TwitterアカウントでGAMRにログインできるようになります。
    %p.SignupBtnWrap
      %a.SignupBtn{href: ""} 新しくGAMR IDをつくる
    %p.SignupText 新しくGAMR IDを作成して、Twitterアカウントと接続します。作成したGAMRアカウントにはTwitterアカウントでログインできます。