%script{type: "text/template", id: "signin-template"}
  %header.Signin__header
    %h1.Signin__headerTitle GAMR
  %section.Signin
    %h1.Signin__Title GAMRにログイン
    %form
      %input.Signin__input.username-input{type: "text", name: "username", placeholder: "ユーザー名", value: @current_provider_name}
      %p.Signin__erroe.error-log.username-error
      %input.Signin__input.password-input{type: "password", name: "password", placeholder: "パスワード）"}
      %p.Signin__error.error-log.password-error
    %p.Signin__buttonWrap
      %a.Signin__button.signin-btn{href: "#"} ログイン