%script{type: "text/template", id: "signin-template"}
  %header.SigninHeader
    %h1.SigninHeaderTtl GAMR
  %section.Signin
    %h1.SigninTtl GAMRにログイン
    %form
      %input.SigninInput.username-input{type: "text", name: "username", placeholder: "ユーザー名", value: @current_provider_name}
      %input.SigninInput.password-input{type: "password", name: "password", placeholder: "パスワード"}
    %p.SigninBtnWrap
      %a.SigninBtn.signin-btn{href: "#"} ログイン