%script{type: "text/template", id: "signup-template"}
  %header.Signup__header
    %h1.Signup__headerTitle GAMR
  %section.Signup
    %h1.Signup__Title GAMRに登録する
    %form
      %input.Signup__input.username-input{type: "text", name: "username", placeholder: "ユーザー名（15文字以内）", value: @current_provider[:username]}
      %p.Signup__error.error-log.username-error
      %input.Signup__input.password-input{type: "password", name: "password", placeholder: "パスワード（8文字以上）"}
      %p.Signup__error.error-log.password-error
      %input.Signup__input.password-confirm-input{type: "password", name: "password_confirm", placeholder: "パスワード（確認用）"}
      %p.Signup__error.error-log.password-confirm-error
      %label.Signup__label
        %input.Signup__checkbox.rule-checkbox{type: "checkbox"}
        = link_to "利用規約", term_users_path, target: "blank", class: "Signup__link"
        に同意する
      %p.Signup__error.error-log.rule-error
    %p.Signup__buttonWrap
      %a.Signup__button.signup-btn{href: ""} 登録する