%script{type: "text/template", id: "signup-template"}
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupTtl GAMRに登録する
    %form
      %input.SigninInput.username-input{type: "text", name: "username", placeholder: "ユーザー名", value: @current_provider[:username]}
      %input.SigninInput.password-input{type: "password", name: "password", placeholder: "パスワード"}
      %input.SigninInput.password-confirm-input{type: "password", name: "password_confirm", placeholder: "パスワード（確認用）"}
      %label.SignupLabel
        %input.SignupCheckbox.rule-checkbox{type: "checkbox"}
        %a.SignupLink{href: ""} 利用規約
        に同意する
    %p.SignupBtnWrap
      %a.SigninBtn.signup-btn{href: ""} 登録する