%script{type: "text/template", id: "signup-template"}
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupHeader GAMRに登録する
    %form
      %input.SignupInput.username-input{type: "text", name: "username", placeholder: "ユーザー名", value: @current_provider_name}
      %input.SignupInput.password-input{type: "password", name: "password", placeholder: "パスワード"}
      %input.SignupInput.password-confirm-input{type: "password", name: "password_confirm", placeholder: "パスワード（確認用）"}
      %label
        %input.SignupInput.rule-checkbox{type: "checkbox"}
        %a.SignupLink{href: ""} 利用規約
        に同意する
      %a.signup-btn{href: "#"} 登録する