%script{type: "text/template", id: "signin-template"}
  %header.SigninHeader
    %h1.SigninHeaderTtl GAMR
  %section.Signin
    %h1.SigninHeader GAMRとつなげる
    %p.SigninText すでにお持ちのGAMRアカウントを入力してください。
    %form
      %input.SigninInput.username-input{type: "text", name: "username", placeholder: "ユーザー名"}
      %input.SigninInput.password-input{type: "password", name: "password", placeholder: "パスワード"}
      %input.SigninBtn.signin-btn{placeholder: "認証する"}
