= content_for :head do
  = javascript_include_tag "smart_phone/profile_edit.js"

.user-edit-page
  %header
    %h1.ttl ユーザー編集
    = link_to "戻る", user_path(@user[:id]), class: "cancel"
  = render "form"