= content_for :head do
  = stylesheet_link_tag "smart_phone/login"

%section.mainVisual
  %h1.ttl Gameful
%section.loginBox
  %h1.ttl ひとつ上のゲーム体験を。
  %ul.snsList
    %li.item
      %a.tw{href: "/auth/twitter"}
        %span.iconWrap
          %span.icon
        Twitterでログイン
    %li.item
      %a.fb{href: "/auth/facebook"}
        %span.iconWrap
          %span.icon
        Facebookでログイン