= content_for :head do
  = javascript_include_tag "setting.js"

.setting-page

%script{type: "text/template", id: "first-template"}
  <form class="search-form">
  <input type="text" name="search_title" class="search-title-input">
  <input type="submit" class="submit-btn">
  </form>
  <span class="next-page">次へ</span>

%script{type: "text/template", id: "result-template"}
  <p><%- title %></p>
  <img src=<%- photo_path %> />
  <span class="regist-btn">登録</span>
  <select>
  <option value="1">気になる</option>
  <option value="2">プレイ中</option>
  <option value="3">アーカイブ</option>
  </select>

%script{type: "text/template", id: "second-template"}
  <input type="text" placeholder="ユーザー名" class="user-input">
  <span class="next-page">次へ</span>

%script{type: "text/template", id: "user-template"}
  <a href="/users/<%= id %>" style="display: block;"><%- username %></a>
  <span class="follow">フォロー</span>

%script{type: "text/template", id: "third-template"}
  <input type="file" id="upload-btn">
  <div id="thumbnail"></div>
  <a href="/posts">終了</a>