%script{type: "text/tenplate", id: "log-list-template"}
  .gameListBox.log-list
    .playingBox
      .ttlWrap
        %h1.boxTtl 遊んでる
      %ul.gameListWrap.playing-list

    .readyBox
      .ttlWrap
        %h1.boxTtl 気になる
      %ul.gameListWrap.ready-list

    .playedBox
      .ttlWrap
        %h1.boxTtl 遊んだ
      %ul.gameListWrap.played-list

    .stockBox
      .ttlWrap
        %h1.boxTtl 積んでる
      %ul.gameListWrap.stock-list

