%script{type: "text/tenplate", id: "log-list-template"}
  .Gamelist.log-list
    .playingBox
      %p.playing プレイ中
      %ul.Gamelist__list.playing-list

    .readyBox
      %p.ready 気になる
      %ul.Gamelist__list.ready-list

    .playedBox
      %p.played クリア済
      %ul.Gamelist__list.played-list

