%script{type: "text/tenplate", id: "log-list-template"}
  .Gamelist.log-list
    .Gamelist__statusList
      %p.Gamelist__statusText--playing プレイ中
      %ul.Gamelist__list.playing-list

    .Gamelist__statusList
      %p.Gamelist__statusText--ready 気になる
      %ul.Gamelist__list.ready-list

    .Gamelist__statusList
      %p.Gamelist__statusText--played クリア済
      %ul.Gamelist__list.played-list

