%script{type: "text/tenplate", id: "log-list-template"}
  %form.libSearchWrap
    %input.libSearch.search-log{placeholder: "マイゲーム内をキーワードで検索"}
  .gameListBox.log-list
    .playingBox
      %p.playing プレイ中
      %ul.gameListWrap.playing-list

    .readyBox
      %p.ready 気になる
      %ul.gameListWrap.ready-list

    .playedBox
      %p.played クリア済
      %ul.gameListWrap.played-list

