%script{type: "text/tenplate", id: "log-list-template"}
  .gameListBox.log-list
    .playingBox
      %p.playing 遊んでる
      %ul.gameListWrap.playing-list

    .readyBox
      %p.ready 気になる
      %ul.gameListWrap.ready-list

    .playedBox
      %p.played 遊んだ
      %ul.gameListWrap.played-list

    .stockBox
      %p.stock 積んでる
      %ul.gameListWrap.stock-list

