/*---   common   ---------------------------*/
#wrapper {
  line-height: 1.0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*---   header   ---------------------------*/
header {
  position: relative;
  width: 100%;
  background: #1b463a;
  color: #ffffff;
  font-size: 12px;
  *zoom: 1;
}
header:before, header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}

.headerInner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 960px;
  height: 60px;
  margin-left: -480px;
  padding: 9px 0 10px 182px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/header_bg.png) repeat-x top center;
}

.headerLeft {
  float: left;
  width: 50%;
  height: 60px;
  background: #1b463a;
}

.headerRight {
  float: right;
  clear: right;
  width: 50%;
  height: 60px;
  background: #0a331e;
}

.header__ttl {
  float: left;
  width: 112px;
  height: 40px;
  margin-right: 86px;
  padding-left: 0;
  background: url(../images/iconSprite.png) no-repeat 0 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/*---   .header__funcBoxLeft   ----------*/
.header__funcBox {
  *zoom: 1;
}
.header__funcBox:before, .header__funcBox:after {
  display: table;
  content: "";
}
.header__funcBox:after {
  clear: both;
}

.header__homeWrap, .header__alertWrap, .header__profile, .header__searchBox, .header__optionWrap {
  float: left;
}

.header__home {
  display: block;
  margin-right: 18px;
  padding-top: 15px;
  color: #ffffff;
  padding-left: 22px;
  background: url(../images/iconSprite.png) no-repeat 0 -44px;
}

.header__alert {
  display: block;
  margin-right: 18px;
  padding-top: 15px;
  color: #ffffff;
  padding-left: 28px;
  background: url(../images/iconSprite.png) no-repeat 0 -75px;
}

.header__profile {
  display: block;
  margin-right: 15px;
  padding-top: 15px;
  color: #ffffff;
  padding-left: 23px;
  background: url(../images/iconSprite.png) no-repeat 0 -106px;
}

.header__searchBox {
  height: 30px;
  margin-right: 38px;
  padding-top: 4px;
}

.header__searchWrap {
  width: 136px;
  height: 30px;
  border: 1px solid #b3b2b3;
  -moz-border-radius: 18px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  background: #ffffff;
}

.header__search {
  display: block;
  width: 126px;
  height: 24px;
  margin: 4px auto;
  padding: 7px 26px 7px 6px;
  border: none;
  box-sizing: border-box;
  padding-left: 6px;
  background: url(../images/iconSprite.png) no-repeat 109px -146px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
}

.header__option {
  display: block;
  width: 19px;
  height: 18px;
  padding-top: 12px;
  padding-left: 0;
  background: url(../images/iconSprite.png) no-repeat 0 -171px;
}
