/*---   .mainCnt   ---------------------------*/
/*---   .personalClm   ----------*/
.personalClm {
  float: left;
  width: 196px;
  color: #ffffff;
  font-size: 10pt;
  text-align: left;
  /*---   .personalClm__profBox   ---*/
}
.personalClm__profBox {
  margin-bottom: 1px;
  padding: 18px 0 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #1a1c21;
  -moz-box-shadow: 0 2px 0px 0px #434852;
  -webkit-box-shadow: 0 2px 0px 0px #434852;
  box-shadow: 0 2px 0px 0px #434852;
  background: #2a2d34;
}
.personalClm__profBoxTop {
  padding-left: 6px;
  border-bottom: 1px solid #1a1c21;
  -moz-box-shadow: 0 2px 0px 0px #434852;
  -webkit-box-shadow: 0 2px 0px 0px #434852;
  box-shadow: 0 2px 0px 0px #434852;
  background: #25272e;
  *zoom: 1;
}
.personalClm__profBoxTop:before, .personalClm__profBoxTop:after {
  display: table;
  content: "";
}
.personalClm__profBoxTop:after {
  clear: both;
}

.personalClm__profBox__profImgWrap {
  float: left;
  margin: 0 10px 10px 0;
  padding: 5px 5px;
  width: 70px;
  height: 70px;
  border: 1px solid #35eab9;
  -moz-border-radius: 35px;
  -webkit-border-radius: 35px;
  border-radius: 35px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.personalClm__profBox__profImg {
  width: 58px;
  height: 58px;
  border: 1px solid none;
  -moz-border-radius: 29px;
  -webkit-border-radius: 29px;
  border-radius: 29px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.personalClm__profBox__name {
  margin: 14px 0 9px;
  color: #2cd8ba;
  font-size: 14px;
}

.personalClm__profBox__place {
  margin-bottom: 17px;
  color: #666666;
  font-size: 12px;
}
.personalClm__profBox__place--town:after {
  content: "/";
}

.personalClm__profBox__place--country {
  margin-left: -7px;
}

.personalClm__profBox__countBox {
  padding: 20px 28px 0 16px;
  color: #ffffff;
  *zoom: 1;
}
.personalClm__profBox__countBox:before, .personalClm__profBox__countBox:after {
  display: table;
  content: "";
}
.personalClm__profBox__countBox:after {
  clear: both;
}
.personalClm__profBox__countBox__item {
  clear: both;
  margin-bottom: 26px;
}

.personalClm__profBox__countBox__ttl {
  float: left;
  font-size: 12px;
}

.personalClm__profBox__countBox__text {
  font-size: 10px;
  text-align: right;
}

.personalClm__profBox__introBox {
  padding: 0 20px 0 16px;
  color: #b7b6b6;
  font-size: 10px;
  line-height: 1.5;
  text-align: left;
}

/*---   .personalClm__trendBox   ---*/
.personalClm__trendBox {
  margin-bottom: 1px;
  padding: 8px 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #1a1c21;
  -moz-box-shadow: 0 2px 0px 0px #434852;
  -webkit-box-shadow: 0 2px 0px 0px #434852;
  box-shadow: 0 2px 0px 0px #434852;
  background: #2a2d34;
  text-align: left;
  *zoom: 1;
}
.personalClm__trendBox:before, .personalClm__trendBox:after {
  display: table;
  content: "";
}
.personalClm__trendBox:after {
  clear: both;
}
.personalClm__trendBox__ttl {
  margin-bottom: 18px;
  padding: 5px 0 8px;
  font-size: 12px;
  padding-left: 30px;
  background: url(../images/iconSprite.png) no-repeat 0 -214px;
}

.personalClm__trendBox__word {
  float: left;
  margin: 0 12px 16px 0;
  padding: 4px 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: #1ba189;
  font-size: 10px;
  text-align: center;
}

/*---   .personalClm__activityBox   ---*/
.personalClm__activityBox {
  padding: 13px 14px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #2a2d34;
  text-align: left;
}
.personalClm__activityBox__ttl {
  margin-bottom: 26px;
  padding: 3px 0 1px;
  padding-left: 34px;
  background: url(../images/iconSprite.png) no-repeat 0 -253px;
}

.personalClm__activityBox__playing {
  margin-bottom: 5px;
  *zoom: 1;
}
.personalClm__activityBox__playing:before, .personalClm__activityBox__playing:after {
  display: table;
  content: "";
}
.personalClm__activityBox__playing:after {
  clear: both;
}

.personalClm__activityBox__played {
  *zoom: 1;
}
.personalClm__activityBox__played:before, .personalClm__activityBox__played:after {
  display: table;
  content: "";
}
.personalClm__activityBox__played:after {
  clear: both;
}

.personalClm__activityBox__playTtl {
  margin: 0 0 12px 12px;
  color: #b7b6b6;
  font-size: 12px;
}

.personalClm__activityBox__gameImgWrap {
  float: left;
  margin-right: 5px;
  margin-bottom: 16px;
}
.personalClm__activityBox__gameImgWrap:last-child {
  margin-right: 0;
}

.personalClm__activityBox__gameImg {
  width: 50px;
  height: 50px;
  border: 1px solid none;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*---   .timelineClm   ----------*/
.timelineClm {
  float: left;
  width: 62%;
  text-align: left;
}
.timelineClm__entryBox {
  width: 84%;
  margin: 27px auto 29px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
.timelineClm__entryBox__commentWrap {
  padding: 26px 23px;
  padding-left: 23px;
  background: url(../images/iconSprite.png) no-repeat -116px 2px;
}

.timelineClm__entryBox__comment {
  width: 100%;
  padding-left: 7px;
  border: none;
  border-left: 1px solid #6d6d6d;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  background: none;
  color: #aab4b2;
  font-size: 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  resize: none;
}

.timelineClm__postBox {
  width: 84%;
  margin: 0 auto 16px;
  padding: 2px 10px 11px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(205, 203, 203, 0.75);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #ffffff;
}
/*---   .timelineClm__postBox__tpoBox   ---*/
.timelineClm__postBox__topBox {
  padding-top: 3px;
}

.timelineClm__postBox__profImg {
  float: left;
  margin-right: 20px;
}
.timelineClm__postBox__profImg.circleBox {
  width: 50px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.timelineClm__postBox__postArea {
  padding: 8px 0 0  20px;
}

.timelineClm__postBox__account {
  display: inline;
  margin: 0 6px 10px 0;
  color: #464646;
  font-size: 14px;
}

.timelineClm__postBox__time {
  color: #666666;
  font-size: 10px;
}

.timelineClm__postBox__ttl {
  margin: 8px 0 14px;
  color: #22c0a4;
  font-size: 14px;
  font-weight: bold;
}

/*---   .timelineClm__postBox__bottomBox   ---*/
.timelineClm__postBox__bottomBox {
  padding-top: 10px;
  border-top: 1px solid #c5cdc9;
  *zoom: 1;
}
.timelineClm__postBox__bottomBox:before, .timelineClm__postBox__bottomBox:after {
  display: table;
  content: "";
}
.timelineClm__postBox__bottomBox:after {
  clear: both;
}

.timelineClm__postBox__gameImg {
  float: left;
  width: 51px;
  margin-right: 24px;
  padding-top: 6px;
}

.timelineClm__postBox__text {
  margin-bottom: 14px;
  color: #7c7c7c;
  font-size: 10px;
  line-height: 1.5;
}

.timelineClm__postBox__commentWrap {
  float: left;
  width: 60%;
  border: 1px solid #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.timelineClm__postBox__comment {
  width: 100%;
  height: 26px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 6px 8px;
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0px -2px 2px 0px rgba(205, 203, 203, 0.75);
  -webkit-box-shadow: 0px -2px 2px 0px rgba(205, 203, 203, 0.75);
  box-shadow: 0px -2px 2px 0px rgba(205, 203, 203, 0.75);
  background: #faf9f9;
  font-size: 12px;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: 0;
}

.timelineClm__postBox__stateBox {
  float: right;
}

.timelineClm__postBox__favBtn {
  display: block;
  float: left;
  margin-left: 20px;
  padding: 6px 0;
  color: #666666;
  font-size: 12px;
}

.timelineClm__postBox__favNum {
  padding: 4px 0;
  font-size: 12px;
  padding-left: 26px;
  background: url(../images/iconSprite.png) no-repeat 0 -282px;
}

.timelineClm__postBox__mood {
  float: right;
  margin-left: 17px;
  padding: 3px 30px 3px 0;
  color: #09f3ca;
  font-size: 12px;
  padding-left: 0;
  background: url(../images/iconSprite.png) no-repeat 50px -324px;
}

/*---   .friendClm   ----------*/
.friendClm {
  float: right;
  width: 124px;
  padding: 25px 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 12px;
}
.friendClm__user {
  display: table;
  width: 100%;
  margin: 0 0 20px 6px;
  color: #ffffff;
  text-decoration: none;
  *zoom: 1;
}
.friendClm__user:before, .friendClm__user:after {
  display: table;
  content: "";
}
.friendClm__user:after {
  clear: both;
}
.friendClm__user__profImg {
  display: table-cell;
  width: 38px;
  height: 38px;
  border: 1px solid none;
  -moz-border-radius: 19px;
  -webkit-border-radius: 19px;
  border-radius: 19px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/akiho.jpg) no-repeat 0 0;
  background-size: 38px;
}

.friendClm__user__name {
  display: table-cell;
  width: 45%;
  text-align: center;
  vertical-align: middle;
}

.friendClm__user__log--in {
  margin-top: 14px;
  width: 9px;
  height: 9px;
  border: 1px solid #0ddbbb;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  border-radius: 4.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #0ddbbb;
}

.friendClm__user__log--out {
  margin-top: 14px;
  width: 9px;
  height: 9px;
  border: 1px solid #0ddbbb;
  -moz-border-radius: 4.5px;
  -webkit-border-radius: 4.5px;
  border-radius: 4.5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
