.comment-modal
  .modal-header
    .cancel-modal-btn.icon-delete
    .modalTitle コメント
  .modal-body
    %ul.comment-list
  .modal-footer
    %textarea{placeholder: "コメント...", class: "comment-input"}
    .submit-comment-btn 送信