.openMenuWrap
  %ul.openMenu
    %li.item
      = link_to "アカウント設定", user_path(@current_user), class: "menuItemAccount"
    %li.item
      = link_to "ログアウト", logout_users_path, class: "menuItemLogout"