.openMenuWrap
  %ul.openMenu
    %li.item
      %a.menuItemAccount
        %span.icon-setting
        = link_to "アカウント設定", edit_user_path(@current_user)
    %li.item
      %a.menuItemLogout
        %span.icon-logout
        = link_to "ログアウト", logout_users_path