.Clip.clip-box
  %h2.Clip__title 画像の位置をドラッグで変更
  %figure.Clip__imgWrap
    .Clip__area#clip-area
  %ul.Clip__buttonList
    %li.Clip__button--cancel.cancel-clip キャンセル
    %li.Clip__button--done.done.done-clip 決定