%header.header
  .headerInner
    %h1.logo Gameful
    %form.searchWrap
      %input.search{placeholder: "キーワードでゲームを探す"}
    %nav.gnavi
      %ul.gnaviList
        %li.item
          %a.toTimelineBtn{href: ""} タイムライン
        %li.item
          %a.toProfileBtn{href: ""} マイページ
        %li.item
          %span.notify
            通知
            %span.notifyNum 1
    %figure.profImgWrap
      %img.profImg{src: "", width: "35", height: "35", alt: ""}