%footer.footer
  %ul.ftList
    %li.item
      = link_to "利用規約", term_users_path, class: "ftLink"
    %li.lastItem
      = link_to "プライバシーポリシー", privacy_users_path, class: "ftLink"
  %small.copyright &copy; 2015 gamr.