%footer.Footer
  %ul.Footer__list
    %li.Footer__listItem
      = link_to "利用規約", term_users_path, class: "Footer__link"
    %li.Footer__listLastItem
      = link_to "プライバシーポリシー", privacy_users_path, class: "Footer__link"
  %small.Footer__copyright &copy; 2014 Gameful.