%section.Notification.notification-modal
  .Notification__header.modal-header
    %h1.Notification__title 通知
    %span.Notification__close.close-btn 閉じる
  .Notification__content.modal-body
    .Notification__list.notification-list