html {
  background-color: #fff;
}

.signin-form {
  width: 500px;
  margin: 0 auto;
  margin-top: 20px;
  input {
    margin-bottom: 20px;
  }
  input[type="submit"] {
    margin-bottom: 0px;
  }
}

.navbar {
  border-radius: 0px;
}

.container {
  width: 100%;
  table {
    img {
      height: 50px;
    }
  }

  .paginate-wrap {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
