%script{type: "text/template", id: "notification-template"}
  %a{href: "{{= link }}"}
    .ntfImgWrap
      %img.profImg{src: "/user_photos/{{= from_user.photo_path }}"}
    .ntfText
      {{= text }}
