/*---   .personalBox   ---------------------------*/
.personalBoxWrap {
  position: relative;
  padding-bottom: 16px;
  background: url(../images/profile__bg.jpg) repeat top center;
  background-size: cover;
  text-align: center; }
  .personalBoxWrap .profImg {
    margin-top: 18px;
    border: 1px solid #fffcfc;
    -moz-border-radius: 44px;
    -webkit-border-radius: 44px;
    border-radius: 44px; }
  .personalBoxWrap .followBtn {
    position: absolute;
    top: 7px;
    right: 8px;
    width: 74px;
    height: 23px;
    padding-top: 2px;
    border: 2px solid #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #ffffff;
    font-size: 10px;
    -webkit-text-stroke: 1px white;
    text-align: center; }

.personalBox {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff; }
  .personalBox .name {
    margin-top: 10px;
    font-size: 15px;
    -webkit-text-stroke: 1px white;
    text-shadow: 2px 2px 1px #888888; }
  .personalBox .place {
    font-size: 12px; }
  .personalBox .town:after {
    content: "/"; }
  .personalBox .country {
    margin-left: -5px; }
  .personalBox .text {
    margin-top: 19px;
    padding: 0 50px;
    font-size: 12px;
    text-align: left; }
  .personalBox .countBox {
    width: 320px;
    margin: 28px auto 0;
    *zoom: 1; }
    .personalBox .countBox:before, .personalBox .countBox:after {
      display: table;
      content: ""; }
    .personalBox .countBox:after {
      clear: both; }
    .personalBox .countBox .item {
      float: left;
      width: 80px;
      border-right: 1px solid #ffffff;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .personalBox .countBox .item:last-child {
        border: none; }
    .personalBox .countBox .follow, .personalBox .countBox .follower, .personalBox .countBox .gameNum, .personalBox .countBox .postNum {
      display: block;
      width: 80px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #ffffff;
      font-size: 12px;
      text-align: center; }
    .personalBox .countBox .count {
      display: block;
      color: #22c0a4;
      font-size: 18px;
      -webkit-text-stroke: 1.5px #22c0a4; }

/*---   .gameBox   ---------------------------*/
.gameBox {
  padding: 0 3px; }
  .gameBox .sortBox {
    width: 312px;
    margin: 10px auto 13px;
    border: 1px solid #10b5a3;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    *zoom: 1; }
    .gameBox .sortBox:before, .gameBox .sortBox:after {
      display: table;
      content: ""; }
    .gameBox .sortBox:after {
      clear: both; }
    .gameBox .sortBox .item {
      float: left;
      width: 104px;
      border-right: 1px solid #10b5a3;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 12px; }
      .gameBox .sortBox .item:last-child {
        border: none; }
    .gameBox .sortBox .playing, .gameBox .sortBox .ready, .gameBox .sortBox .played {
      display: table-cell;
      width: 104px;
      height: 30px;
      padding-top: 4px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: #ffffff;
      color: #10ac9b;
      text-align: center;
      vertical-align: middle;
      line-height: 1.1; }
    .gameBox .sortBox .playing {
      border-radius: 3px 0 0 3px; }
    .gameBox .sortBox .played {
      border-radius: 0 3px 3px 0; }
    .gameBox .sortBox .current.item {
      border: none; }
    .gameBox .sortBox .current .playing, .gameBox .sortBox .current .ready, .gameBox .sortBox .current .played {
      background: #10ac9b;
      color: #ffffff;
      -webkit-text-stroke: 1px white; }
  .gameBox .searchBox {
    width: 98%;
    height: 33px;
    margin: 0 auto 15px;
    border: 1px solid #b3b2b3;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    background: #ffffff; }
    .gameBox .searchBox input {
      padding-left: 15px;
      -moz-border-radius: 18px;
      -webkit-border-radius: 18px;
      border-radius: 18px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: none;
      width: 100%;
      height: 33px;
      background: url(../images/img_set.png) no-repeat right 6px top -165px;
      background-size: 25px 286px;
      -moz-appearance: none;
      -webkit-appearance: none;
      outline: 0; }
  .gameBox .gameList {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-directon: row;
    flex-wrap: wrap;
    justify-content: space-between; }
    .gameBox .gameList .item {
      width: 140px;
      min-width: 140px;
      margin: 0 8px 16px;
      padding: 0 10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -moz-box-shadow: 1px 1px 2px 0 #5a595a;
      -webkit-box-shadow: 1px 1px 2px 0 #5a595a;
      box-shadow: 1px 1px 2px 0 #5a595a;
      background: #ffffff; }
    .gameBox .gameList .gameImg {
      width: 140px;
      height: 160px;
      margin: 0 0 15px -10px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background: url(../images/game.jpg) no-repeat top center; }
    .gameBox .gameList .ttl {
      margin-bottom: 15px;
      color: #333232;
      font-size: 12px; }
    .gameBox .gameList .stars {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-directon: row;
      flex-wrap: wrap;
      justify-content: space-between;
      justify-content: center;
      padding: 10px 0;
      border-top: 1px solid #cccccc; }
    .gameBox .gameList .star {
      margin-right: 4px;
      width: 14px;
      height: 12px;
      background: url(../images/img_set.png) no-repeat 0 -198px;
      background-size: 25px 286px; }
      .gameBox .gameList .star:last-child {
        margin-right: 0; }

/*---   .profileEdit   ---------------------------*/
.profileEdit {
  background: #f6f4f4;
  /*---   header   ----------*/
  /*---   .imgEditBox   ----------*/
  /*---   .personalEditBox   ----------*/
  /*---   .accountEditBox   ----------*/ }
  .profileEdit header {
    position: relative;
    padding: 14px 0 13px;
    border-bottom: 1px solid #a0a0a0;
    text-align: center; }
    .profileEdit header .ttl {
      margin-left: 15px;
      color: #000000;
      font-size: 20px;
      -webkit-text-stroke: 1px black; }
    .profileEdit header .cancel {
      position: absolute;
      top: 15px;
      left: 9px;
      color: #1ba189;
      font-size: 17px; }
    .profileEdit header .save {
      position: absolute;
      top: 20px;
      right: 10px;
      color: #424343;
      font-size: 15px;
      line-height: 1.2; }
  .profileEdit .imgEditBox {
    margin-bottom: 7px;
    border-bottom: 1px solid #a0a0a0;
    background: #ffffff; }
    .profileEdit .imgEditBox .profImgWrap, .profileEdit .imgEditBox .mainImgWrap {
      *zoom: 1; }
      .profileEdit .imgEditBox .profImgWrap:before, .profileEdit .imgEditBox .profImgWrap:after, .profileEdit .imgEditBox .mainImgWrap:before, .profileEdit .imgEditBox .mainImgWrap:after {
        display: table;
        content: ""; }
      .profileEdit .imgEditBox .profImgWrap:after, .profileEdit .imgEditBox .mainImgWrap:after {
        clear: both; }
    .profileEdit .imgEditBox .profImg, .profileEdit .imgEditBox .mainfImg {
      float: left;
      margin: 9px 0 0 8px;
      -moz-border-radius: 22px;
      -webkit-border-radius: 22px;
      border-radius: 22px; }
    .profileEdit .imgEditBox .text {
      float: right;
      width: 78%;
      height: 59px;
      padding: 22px 0 0 77px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      color: #232323;
      font-size: 14px; }
    .profileEdit .imgEditBox .profImgWrap .text {
      border-bottom: 1px solid #a0a0a0; }
  .profileEdit .personalEditBox {
    margin-bottom: 7px;
    border-top: 1px solid #a09e9e;
    -moz-box-shadow: 0 1px 0 0 #a09e9e;
    -webkit-box-shadow: 0 1px 0 0 #a09e9e;
    box-shadow: 0 1px 0 0 #a09e9e;
    background: #ffffff; }
    .profileEdit .personalEditBox .item {
      border-bottom: 1px solid #a09e9e;
      *zoom: 1; }
      .profileEdit .personalEditBox .item:before, .profileEdit .personalEditBox .item:after {
        display: table;
        content: ""; }
      .profileEdit .personalEditBox .item:after {
        clear: both; }
    .profileEdit .personalEditBox .nameTtl, .profileEdit .personalEditBox .placeTtl {
      float: left;
      margin-right: 88px;
      padding: 15px 0 15px 18px;
      color: #2e2e2e;
      font-size: 14px; }
    .profileEdit .personalEditBox .name, .profileEdit .personalEditBox .place {
      padding-top: 14px;
      color: #1ba189;
      font-size: 16px; }
    .profileEdit .personalEditBox .comment {
      width: 100%;
      padding: 15px 0 15px 18px;
      border: none;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .profileEdit .personalEditBox .comment::-webkit-input-placeholder {
        color: #868585;
        font-size: 14px; }
  .profileEdit .accountEditBox {
    border-top: 1px solid #a09e9e;
    background: #ffffff; }
    .profileEdit .accountEditBox .item {
      border-bottom: 1px solid #a09e9e;
      *zoom: 1; }
      .profileEdit .accountEditBox .item:before, .profileEdit .accountEditBox .item:after {
        display: table;
        content: ""; }
      .profileEdit .accountEditBox .item:after {
        clear: both; }
    .profileEdit .accountEditBox .passTtl, .profileEdit .accountEditBox .mailTtl {
      float: left;
      margin-right: 50px;
      padding: 15px 0 15px 18px;
      color: #2e2e2e;
      font-size: 14px; }
    .profileEdit .accountEditBox .mailTtl {
      margin-right: 20px; }
    .profileEdit .accountEditBox .pass, .profileEdit .accountEditBox .mail {
      padding-top: 14px;
      color: #1ba189;
      font-size: 16px; }
    .profileEdit .accountEditBox .mail {
      font-size: 14px; }
