@import "../../stylesheets/function.css.scss";
//@import "../../../scss/function.css.scss";

@mixin iconSprite($width, $height, $bpl, $bpt) {
	width: $width;
	height: $height;
	background: url(../images/img_set.png) no-repeat $bpl $bpt;
	background-size: 25px 232px;
}

/*---   .personalBox   ---------------------------*/
.personalBoxWrap {
	position: relative;
	padding-bottom: 16px;
	background: url(../images/profile__bg.jpg) repeat top center;
	background-size: cover;
	text-align: center;

	.profImg {
		margin-top: 18px;
		border: 1px solid #fffcfc;
		@include border-radius(44px);
	}
	.followBtn {
		position: absolute;
		top: 7px;
		right: 8px;
		width: 74px;
		height: 23px;
		padding-top: 2px;
		border: 2px solid #ffffff;
		@include border-radius(5px);
		@include box-sizing;
		color: #ffffff;
		font-size: 10px;
		@include font-weight(1px, #ffffff);
		text-align: center;
	}
}
.personalBox {
	@include box-sizing;
	color: #ffffff;

	.name {
		margin-top: 10px;
		font-size: 15px;
		@include font-weight(1px, #ffffff);
		text-shadow: 2px 2px 1px #888888;
	}
	.place {
		font-size: 12px;
	}
	.town {
		&:after {
			content: "/";
		}
	}
	.country {
		margin-left: -5px;
	}
	.text {
		margin-top: 19px;
		padding: 0 50px;
		font-size: 12px;
		text-align: left;
	}
	.countBox {
		width: 320px;
		margin: 28px auto 0;
		@include clearfix;

		.item {
			float: left;
			width: 80px;
			border-right: 1px solid #ffffff;
			@include box-sizing;

			&:last-child {
				border: none;
			}
		}
		.follow, .follower, .gameNum, .postNum {
			display: block;
			width: 80px;
			@include box-sizing;
			color: #ffffff;
			font-size: 12px;
			text-align: center;
		}
		.count {
			display: block;
			color: #22c0a4;
			font-size: 18px;
			@include font-weight(1.5px, #22c0a4);
		}
	}
}

/*---   .gameBox   ---------------------------*/
.gameBox {
	padding: 0 3px;

	.sortBox {
		width: 312px;
		margin: 10px auto 13px;
		border: 1px solid #10b5a3;
		@include border-radius(5px);
		@include clearfix;

		.item {
			float: left;
			width: 104px;
			border-right: 1px solid #10b5a3;
			@include box-sizing;
			font-size: 12px;

			&:last-child {
				border: none;
			}
		}
		.playing, .ready, .played {
			display: table-cell;
			width: 104px;
			height: 30px;
			padding-top: 4px;
			@include box-sizing;
			background: #ffffff;
			color: #10ac9b;
			text-align: center;
			vertical-align: middle;
			line-height: 1.1;
		}
		.playing {
			border-radius: 3px 0 0 3px;
		}
		.played {
			border-radius: 0 3px 3px 0;
		}
		.current {
			@at-root {
				&.item {
					border: none;
				}
			}
			.playing, .ready, .played {
				background: #10ac9b;
				color: #ffffff;
				@include font-weight(1px, #ffffff);
			}
		}
	}
	.searchBox {
		width: 98%;
		height: 33px;
		margin: 0 auto 15px;
		border: 1px solid #b3b2b3;
		@include border-radius(18px);
		background: #ffffff;

		input {
		  padding-left: 15px;
		  @include border-radius(18px);
		  @include box-sizing;
		  border: none;
		  @include iconSprite(100%, 33px, right 6px, top -165px);
		  @include appearance;
		  outline: 0;
		}
	}
	.gameList {
		@include flexbox;

		.item {
			width: 140px;
			min-width: 140px;
			margin: 0 8px 16px;
			padding: 0 10px;
			@include border-radius(5px);
			@include box-sizing;
			@include box-shadow(1px, 1px, 2px, 0, #5a595a);
			background: #ffffff;
		}
		.gameImg {
			width: 140px;
			height: 160px;
			margin: 0 0 15px -10px;
			@include border-radius(5px);
			@include box-sizing;
			background: url(../images/game.jpg) no-repeat top center;
		}
		.ttl {
			margin-bottom: 15px;
			color: #333232;
			font-size: 12px;
		}
		.stars {
			@include flexbox;
			justify-content: center;
			padding: 10px 0;
			border-top: 1px solid #cccccc;
		}
		.star {
			margin-right: 4px;
			@include iconSprite(14px, 12px, 0, -198px);

			&:last-child {
				margin-right: 0;
			}
		}
	}
}