@import "../../stylesheets/function.css.scss";
@import "iconSprite.css.scss";

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	.entryBox {
		height: 34px;
		margin: 9px 10px 15px;
		border-radius: 3px;
		background: #ffffff;

		.comment {
			width: 100%;
			height: 34px;
			padding-left: 39px;
			border: none;
			border-radius: 3px;
			box-sizing: border-box;
			@include box-shadow(0, 2px, 2px, 0, #c7c6c6);
			@include iconSprite2(8px, -69px);
			font-size: 14px;
			@include appearance;
		}
	}

	.postBox {
		margin: 0 10px 8px;
		padding: 15px 13px;
		@include box-shadow(0, 1px, 1px, 0, #afafaf);
		@include box-sizing;
		@include border-radius(3px);
		background: #fbfbfb;

		.topBox {
			margin-bottom: 15px;
			@include clearfix;
		}
		.profImg {
			float: left;
			width: 58px;
			height: 58px;
			margin-right: 10px;
			@include border-radius(29px);
		}
		.postArea {
			position: relative;
		}
		.account {
			color: #232937;
			font-size: 14px;
			@include font-weight(1px, #232937);
			text-decoration: none;
		}
		.time {
			color: #717171;
			font-size: 9px;
		}
		.ttl {
			color: #10ac9b;
			font-size: 14px;
			@include font-weight(1px, #10ac9b);
			line-height: 1.0;
			margin-top: 2px;
		}
		.mood {
			display: table-cell;
			position: absolute;
			right: 0;
			top: 0;
			width: 44px;
			height: 44px;
			padding-top: 15px;
			border: 1px solid #e27676;
			@include border-radius(22px);
			@include box-sizing;
			color: #e27676;
			font-size: 8px;
			text-align: center;
		}
		.text {
			margin-bottom: 12px;
			color: #404040;
			font-size: 13px;
			line-height: 1.6;
		}
		.stateBox {
			padding: 12px 0 0 5px;
			border-top: 1px solid #999a9a;
		}
		.commentBtn {
			margin-right: 16px;
			padding: 1px 0 4px 26px;
			color: #8d8e8e;
			font-size: 12px;
			text-decoration: none;
			@include iconSprite2(0, -104px);
		}
		.favBtn {
			padding: 3px 0 4px 25px;
			color: #8d8e8e;
			font-size: 12px;
			text-decoration: none;
			@include iconSprite2(0, -125px);

			@at-root {
				&.on {
					background-position: 0 -145px;
				}
			}
		}
	}
}