@import "../../stylesheets/function.css.scss";

@mixin iconSprite($bpl, $bpt) {
	background: url(../images/iconSprite.png) no-repeat $bpl $bpt;
	background-size: 87px 175px;
}

/*---   common   ---------------------------*/
html {
	background: #dddcdc;
}

/*---   header   ---------------------------*/
header {
	position: relative;
	width: 100%;
	height: 46px;
	padding-top: 11px;
	@include box-sizing;
	background: #11a78c;

	.ttl {
		display: block;
		width: 87px;
		height: 31px;
		margin: 0 auto;
		@include substitute;
		@include iconSprite(0, 0);
	}
	.serch {
		display: block;
		position: absolute;
		top: 7px;
		left: 11px;
		width: 28px;
		height: 28px;
		@include iconSprite(0, -36px);
	}
	.profile {
		display: block;
		position: absolute;
		top: 9px;
		right: 39px;
		width: 22px;
		height: 27px;
		@include iconSprite(0, -69px);
	}
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
	.entryBox {
		height: 34px;
		margin: 9px 5px 15px;
		border-radius: 3px;
		background: #ffffff;

		.comment {
			width: 100%;
			height: 34px;
			padding-left: 39px;
			border: 1px solid #9a9999;
			border-radius: 3px;
			box-sizing: border-box;
			@include box-shadow(0, 2px, 2px, 0, #c7c6c6);
			@include iconSprite(8px, -100px);
			font-size: 14px;
			@include appearance;
		}
	}

	.postBox {
		margin: 0 5px 8px;
		padding: 15px 13px;
		@include box-sizing;
		@include border-radius(3px);
		background: #fbfbfb;

		.topBox {
			margin-bottom: 15px;
			@include clearfix;
		}
		.profImg {
			float: left;
			width: 58px;
			height: 58px;
			margin-right: 18px;
			@include border-radius(29px);
		}
		.postArea {
			position: relative;
		}
		.account {
			color: #464646;
			font-size: 13px;
			text-decoration: none;
		}
		.time {
			color: #717171;
			font-size: 9px;
		}
		.ttl {
			color: #22c0a4;
			font-size: 13px;
			line-height: 1.0;
		}
		.mood {
			display: table-cell;
			position: absolute;
			right: 0;
			top: 0;
			width: 48px;
			height: 48px;
			padding-top: 16px;
			border: 1px solid #e27676;
			@include border-radius(24px);
			@include box-sizing;
			color: #e27676;
			font-size: 10px;
			text-align: center;
		}
		.text {
			margin-bottom: 17px;
			color: #404040;
			font-size: 12px;
		}
		.stateBox {
			padding: 12px 0 0 5px;
			border-top: 1px solid #999a9a;
		}
		.commentBtn {
			margin-right: 20px;
			padding: 4px 0 4px 33px;
			color: #8d8e8e;
			font-size: 12px;
			text-decoration: none;
			@include iconSprite(0, -134px);
		}
		.favBtn {
			padding: 4px 0 4px 28px;
			color: #8d8e8e;
			font-size: 12px;
			text-decoration: none;
			@include iconSprite(0, -157px);
		}
	}
}