%script{type: "text/template", id: "comment-template"}
  %figure.profImgWrap
    %img.profImg{src: "/user_photos/{{= user.photo_path }}", width: "30", height: "30", alt: ""}
  .commentInfo
    %a.account {{= user.username }}
    %p.commentTime.icon-time {{= created_at }}
    - unless @current_user[:id].nil?
      {{ if (i_liked) { }}
      %p.unlike-btn.icon-like.on
        %span.likeNum.comment-like-count
          {{= comment_likes_count }}
      {{ } else { }}
      %p.like-btn.icon-like
        %span.likeNum.comment-like-count
          {{= comment_likes_count }}
      {{ } }}
      {{ if (current_user_id == user.id) { }}
      %p.icon-option.comment-delete-btn
      {{ } }}
    %p.userComment {{= text }}