%script{type: "text/template", id: "delete-confirm-template"}
  .Delete.delete-confirm
    %p.Delete__text.delete-confirmTxt この{{= target }}をマイゲームから削除しますか
    %p.Delete__text--sub {{= desc }}
    %span.Delete__cancel.cancel-btn キャンセル
    %span.Delete__done.done-btn 削除