%script{type: "text/template", id: "game-activity-template"}
  %a
    %figure.gameImgWrap
      {{ if (photo_path) { }}
      %img{src: "/game_photos/{{= photo_path }}", width: "80", alt: ""}
      {{ } else if (photo_url) { }}
      %img{src: "{{= photo_url }}", width: "80", alt: ""}
      {{ } else { }}
      %img{src: "/game_photos/default.png", width: "80", alt: ""}
      {{ } }}
  .gameInfo
    %span{class: "device device{{= device }}"} {{= device }}
    %a
      %h1.gameTtl {{= title }}
    .status
      %div.statusWrap
        %select.statusBtn.my-status{name: "status", size: 1}
          = render partial: "application/common/status"
