%script{type: "text/template", id: "log-template"}
  %article.gameList
    %a.articleWrap{href: "/games/{{= game.id }}#all", style: "display: block;"}
      %figure.gameImgWrap
        / %img.gameImg{src: "/game_photos/{{= game.photo_path}}", width: "166", alt: ""}
        {{ if (game.photo_url) { }}
        %img.gameImg{src: "{{= game.photo_url }}", width: "166", alt: ""}
        {{ } else { }}
        %img.gameImg{src: "/game_photos/default.png", width: "166", alt: ""}
        {{ } }}
      %h1.ttl
        {{= game.title }}
      %ul.starList
        {{ diff = 5 - rate }}
        {{ for (var i = 0; i < rate; i++) { }}
        %li.starOn ★
        {{ } }}
        {{ for (var i = 0; i < diff; i++) { }}
        %li.starOff ☆
        {{ } }}
    {{ if (isCurrentUserLog) { }}
    %span.gameDeleteBtn.delete-btn ×
    {{ } }}