%script{type: "text/template", id: "log-template"}
  %article.Gamelist__item
    %a.Gamelist__link--log{href: "/games/{{= game.id }}#all", style: "display: block;"}
      %figure.Gamelist__imgWrap
        {{ if (game.photo_path) { }}
        %img.Gamelist__img{src: "/game_photos/{{= game.photo_path}}", width: "166", alt: ""}
        {{ } else if (game.photo_url) { }}
        %img.Gamelist__img{src: "{{= game.photo_url }}", width: "166", alt: ""}
        {{ } else { }}
        %img.Gamelist__img{src: "/game_photos/default.png", width: "166", alt: ""}
        {{ } }}
      %h1.Gamelist__title
        {{= game.title }}
      %ul.Gamelist__starList
        {{ diff = 5 - rate }}
        {{ for (var i = 0; i < rate; i++) { }}
        %li.Gamelist__star--on ★
        {{ } }}
        {{ for (var i = 0; i < diff; i++) { }}
        %li.Gamelist__star--off ☆
        {{ } }}
    {{ if (isCurrentUserLog) { }}
    %span.Gamelist__delete.delete-btn ×
    {{ } }}