%script{type: "text/template", id: "post-template"}
  .postHeader
    %a.postHeaderLink{href: "/users/{{= user.id }}#logs"}
      %img.profileImage{width: 30, src: "/user_photos/{{= user.photo_path }}"}
      %span.userName {{= user.username }}
      %span.statusBox
        {{ if (status.id == 1) { }}
        %span.moodReady
          {{= status.name }}
        {{ } else if (status.id == 2) { }}
        %span.moodPlaying
          {{= status.name }}
        {{ } else if (status.id == 3) { }}
        %span.moodPlayed
          {{= status.name }}
        {{ } else if (status.id == 4) { }}
        %span.moodStock
          {{= status.name }}
        {{ } }}
  .gameBox
    %a.gameBoxLink{href: "/games/{{= game.id}}#all"}
      {{ if (game.photo_path) { }}
      %img.gamePhoto{src: "/game_photos/{{= game.photo_path }}", height: 60, width: 60}
      {{ } else if (game.photo_url) { }}
      %img.gamePhoto{src: "{{= game.photo_url }}", height: 60, width: 60}
      {{ } else { }}
      %img.gamePhoto{src: "/game_photos/default.png", height: 60, width: 60}
      {{ } }}
      %h2{href: "/games/{{= game.id }}#all"} {{= game.title }}
  .postBody
    .postText {{= text }}
    .postMeta
      .postTime.icon-time {{= created_at }}
      {{ if (isMore) { }}
      %a.readMore{href: "/posts/{{= id }}"} もっと見る
      {{ } }}
    .postThumbnail
      {{ for (var i = 0; i < post_photos.length; i++) { }}
      %img.thumbnailImage{src: "/post_photos/{{= post_photos[i].photo_path }}"}
      {{ } }}
    .urlThumbnailWrap
      {{ for (var i = 0; i < post_urls.length; i++) { }}
      %a.urlThumbnail{href: "{{= post_urls[i].url }}", target: "blank"}
        %img.thumbnailImg{src: "{{= post_urls[i].thumbnail }}"}
        .body
          %p.title {{= post_urls[i].title }}
          %p.description {{= post_urls[i].description }}
      {{ } }}
    .postFooter
      %ul.actionList
        %li
          {{ if (!i_liked) { }}
          %span.like-btn.favBtn.icon-like
            %span.likeCnt
              {{= post_likes_count }}
          {{ } else { }}
          %span.unlike-btn.favBtn.on.icon-like
            %span.likeCnt
              {{= post_likes_count }}
          {{ } }}
        %li
          %a.commentBtn.icon-comment{href: "/posts/{{= id }}"}
            %span.commentCnt
              {{= post_comments_count }}
        %li
          {{ if (current_user_id == user.id) { }}
          %span.icon-option.delete-btn
          {{ } }}
  .commentBox
    %ul.commentList
      {{ var len = post_comments.length }}
      {{ for (var i = len - 3; i < len; i++) { }}
      {{ if (post_comments[i]) { }}
      %li.item
        %figure.profImgWrap
          %img.profImg{src: "/user_photos/{{= post_comments[i].user.photo_path }}", width: "30", height: "30", alt: ""}
        .commentInfo
          %a.account{href: ""}
            {{= post_comments[i].user.username }}
          %p.commentTime.icon-time {{= post_comments[i].created_at }}
          {{ if (!post_comments[i].i_liked) { }}
          %p.comment-like.icon-like{"data-commentindex" => "{{= i }}"}
            %span.likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } else { }}
          %p.comment-unlike.icon-like.on{"data-commentindex" => "{{= i }}"}
            %span.likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } }}
          %p.userComment
            {{= post_comments[i].text }}
      {{ } }}
      {{ } }}
    .myCommentBox
      %figure.profImgWrap
        %img.profImg{src: "/user_photos/#{@current_user[:photo_path]}", width: "30", height: "30", alt: ""}
      %form.commentWrap
        %textarea.comment.comment-input{placeholder: "コメントする"}