%script{type: "text/template", id: "post-activity-template"}
  .activityPost
    %a{href: "/games/{{= game.id}}#all"}
      {{ if (game.photo_path) { }}
      %img.gamePhoto{src: "/game_photos/{{= game.photo_path }}", width: 70}
      {{ } else if (game.photo_url) { }}
      %img.gamePhoto{src: "{{= game.photo_url }}", width: 70}
      {{ } else { }}
      %img.gamePhoto{src: "/game_photos/default.png", width: 70}
      {{ } }}
    %a{href: "/users/{{= user.id }}#logs"}
      %img.profileImage{width: 30, src: "/user_photos/{{= user.photo_path }}"}
    %span.postText {{= user.username }} は {{= text }}
    %span.time.icon-time {{= created_at }}