%script{type: "text/template", id: "post-template"}
  .Post__poster
    %figure.Post__posterImgWrap
      %img.Post__posterImg{src: "/user_photos/{{= user.photo_path }}", width: "44", height: "44", alt: "ユーザー画像"}
    %a.Post__posterName{href: "/users/{{= user.id }}#logs"}
      {{= user.username }}
    %p.Post__posterTime {{= created_at }}
    {{ if (status.id == 1) { }}
    %p.Post__posterStatus--ready 気になる
    {{ } else if (status.id == 2) { }}
    %p.Post__posterStatus--playing プレイ中
    {{ } else if (status.id == 3) { }}
    %p.Post__posterStatus--played クリア済
    {{ } }}
  %section.Post__game
    %h2.Post__gameTitle
      %a.Post__gameTitleLink{href: "/games/{{= game.id}}#all"}
        {{= game.title }}
    %a.Post__gameImgLink{href: "/games/{{= game.id}}#all"}
      %figure.Post__gameImgwrap
        {{ if (game.photo_path) { }}
        %img.Post__gameImg{src: "/game_photos/{{= game.photo_path }}", height: 70}
        {{ } else if (game.photo_url) { }}
        %img.Post__gameImg{src: "{{= game.photo_url }}", height: 70}
        {{ } else { }}
        %img.Post__gameImg{src: "/game_photos/default.png", height: 70}
        {{ } }}
    %a.Post__gameDevice{href: "/games/{{= game.id}}#all"}
      {{= game.device }}
    %p.Post__gameText
      {{= text }}
    %figure.Post__gameThumbnail
      {{ for (var i = 0; i < post_photos.length; i++) { }}
      %img.Post__gameThumbnailImg{src: "/post_photos/{{= post_photos[i].photo_path }}"}
      {{ } }}
    .Post__gameUrlThumbnailWrap
      {{ for (var i = 0; i < post_urls.length; i++) { }}
      %a.Post__gameUrlThumbnail{href: "{{= post_urls[i].url }}", target: "blank"}
        %figure.Post__gameUrlThumbnailImgWrap
          %img.Post__gameUrlThumbnailImg{src: "{{= post_urls[i].thumbnail }}"}
          %figcaption.Post__gameUrlThumbnailCaption
            %p.Post__gameUrlThumbnailCaption--title {{= post_urls[i].title }}
            %p.Post__gameUrlThumbnailCaption--text {{= post_urls[i].description }}
      {{ } }}
  %ul.Post__actionList
    %li.Post__actionItem--comment
      コメント
      %span.Post__actionItem--commentNum
        {{= post_comments_count }}
    {{ if (!i_liked) { }}
    %li.Post__actionItem--like.like-btn
      いいね！
      %span.Post__actionItem--likeNum
        {{= post_likes_count }}
    {{ } else { }}
    %li.Post__actionItem--like.unlike-btn.on
      いいね！を取り消す
      %span.Post__actionItem--likeNum
        {{= post_likes_count }}
    {{ } }}
    {{ if (current_user_id == user.id) { }}
    %li.Post__actionItem--delete.delete-btn
      削除
    {{ } }}
  .Post__comment
    %ul.Post__commentList
      {{ for (var i = 0; i < post_comments.length; i++) { }}
      %li.Post__commentItem
        %figure.Post__commentImgWrap
          %img.Post__commentImg{src: "/user_photos/{{= post_comments[i].user.photo_path }}", width: "30", height: "30", alt: ""}
        .Post__commentInfo
          %a.Post__commentName{href: ""}
            {{= post_comments[i].user.username }}
          %p.Post__commentTime {{= post_comments[i].created_at }}
          {{ if (!post_comments[i].i_liked) { }}
          %p.Post__comment--like.comment-like{"data-commentindex" => "{{= i }}"}
            いいね！
            %span.Post__comment--likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } else { }}
          %p.Post__comment--like.comment-unlike.on{"data-commentindex" => "{{= i }}"}
            いいね！を取り消す
            %span.Post__comment--likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } }}
          %p.Post__commentReply
            {{= post_comments[i].text }}
      {{ } }}
    .Post__commentPost
      %figure.Post__commentPostImgWrap
        %img.Post__commentPostImg{src: "/user_photos/#{@current_user[:photo_path]}", width: "30", height: "30", alt: ""}
      %form.Post__commentPostInputWrap
        %textarea.Post__commentPostInput.comment-input{placeholder: "コメントする"}