%script{type: "text/template", id: "user-result-template"}
  %article.friendList
    .friendListTopBox
      %figure.userImgWrap
        %img.userImg{src: "/user_photos/{{= photo_path }}", width: "80", height: "80", alt: ""}
      %p.followBtn.follow-btn フォロー
    %p.userName {{= username }}
    %p.userProf {{= introduction }}