%script{type: "text/template", id: "user-template"}
  %article.friendList
    %figure.userImgWrap
      %img.userImg{src: "/user_photos/{{= photo_path }}", width: "40", height: "40", alt: ""}
    %p.userName
      %a{href: "/users/{{= id }}#logs"} {{= username }}
    %p.userProf {{= introduction }}
    %ul.btnList
      {{ if (!isCurrentUser) { }}
      {{ if (i_followed) { }}
      %li.followBtnWrap
        .followBtn.unFollow.unfollow フォローを外す
      {{ } else { }}
      %li.followBtnWrap
        {{ if (i_followered) { }}
        .followBtn.follow フォロー仕返す
        {{ } else { }}
        .followBtn.follow フォローする
        {{ } }}
      {{ } }}
      {{ } }}