%script{type: "text/template", id: "user-result-template"}
  %article.friendList
    %figure.userImgWrap
      %img.userImg{src: "/user_photos/{{= photo_path }}", width: "40", height: "40", alt: ""}
    %p.userName {{= username }}
    %p.userProf プロフィールテキスト。プロフィールテキスト。プロフィールテ（略）
    %p.followBtn.follow-btn フォロー