%script{type: "text/template", id: "user-template"}
  %article.friendList
    .friendListTopBox
      %figure.userImgWrap
        %img.userImg{src: "/user_photos/{{= photo_path }}", width: "80", height: "80", alt: ""}
      %ul.btn-list
        {{ if (!isCurrentUser) { }}
        {{ if (i_followed) { }}
        %li.followBtnWrap
          .followBtn.unFollow.unfollow-btn フォロー中
        {{ } else { }}
        %li.followBtnWrap
          {{ if (i_followered) { }}
          .followBtn.follow-btn フォロー中
          {{ } else { }}
          .followBtn.follow-btn フォローする
          {{ } }}
        {{ } }}
        {{ } }}
    %p.userName
      %a.userNameLink{href: "/users/{{= id }}#logs"} {{= username }}
    %p.userProf {{= introduction }}