%script{type: "text/template", id: "user-result-template"}
  %article.Friendlist__item
    .Friendlist__inner
      %figure.Friendlist__imgWrap
        %img.Friendlist__img{src: "/user_photos/{{= photo_path }}", width: "80", height: "80", alt: ""}
      %ul.btn-list
        %li
          {{ if (i_followed) { }}
          %span.FollowButton.unFollow.unfollow-btn フォロー中
          {{ } else { }}
          %span.FollowButton.follow-btn フォローする
          {{ } }}

    %p.Friendlist__name {{= username }}
    %p.Friendlist__mygame マイゲーム {{= logs_count }}
    %p.Friendlist__text {{= introduction }}