%script{type: "text/template", id: "user-template"}
  %article.Friendlist__item
    .Friendlist__inner
      %figure.Friendlist__imgWrap
        %img.Friendlist__img{src: "/user_photos/{{= photo_path }}", width: "80", height: "80", alt: ""}
      %ul.btn-list
        {{ if (!isCurrentUser) { }}
        {{ if (i_followed) { }}
        %li.FollowButton__wrap
          .FollowButton.unFollow.unfollow-btn フォロー中
        {{ } else { }}
        %li.FollowButton__wrap
          .FollowButton.follow-btn フォローする
        {{ } }}
        {{ } }}
    %p.Friendlist__name
      %a.Friendlist__nameLink{href: "/users/{{= id }}#logs"} {{= username }}
    %p.Friendlist__mygame マイゲーム {{= logs_count }}
    %p.Friendlist__text {{= introduction }}