%script{type: "text/template", id: "game-thumbnail-template"}
  %li.thumbnail
    / %img{src: "/game_photos/{{= game.photo_path }}", width: "52", height: "52", alt: "ゲーム画像"}
    {{ if (game.photo_url) { }}
    %img.thumbnailImg{src: "{{= game.photo_url }}", height: "52", alt: "ゲーム画像"}
    {{ } else { }}
    %img.thumbnailImg{src: "/game_photos/default.png", height: "52", alt: "ゲーム画像"}
    {{ } }}