%script{type: "text/template", id: "post-template"}
  .topBox
    %figure.profImgWrap
      %img.profImg{src: "../test_set/test02.png", width: "44", height: "44", alt: "ユーザー画像"}
    %a.account{href: ""} Asuya Kono
    %h2.gameTtl ゼルダの伝説 風のタクト HD
    %p.statusPlayed クリア済み
  %p.postTxt
    高画質になって遊びやすくなってきたと感じます
    %br
    ＧＣの時の不満な点を改善したと思います
    %br
    しかしながら改善するなら削ったダンジョンを復活してほしかった
  .thumbnail
    %img.thumbnailImg{src: "", alt: "アップロードした写真"}
  %p.time 3時間前
  %ul.actionList
    %li.cmtBtn コメント
    %li.fvrBtn いいね！
    %li.deleteBtn 削除