%script{type: "text/template", id: "post-template"}
  .topBox
    %figure.profImgWrap
      %img.profImg{src: "/user_photos/{{= user.photo_path }}", width: "44", height: "44", alt: "ユーザー画像"}
    %a.account{href: "/users/{{= user.id }}#logs"}
      {{= user.username }}
    %h2.gameTtl
      %a{href: "/games/{{= game.id}}#all"}
        {{= game.title }}
    {{ if (status.id == 1) { }}
    %p.statusReady 気になる
    {{ } else if (status.id == 2) { }}
    %p.statusPlaying プレイ中
    {{ } else if (status.id == 3) { }}
    %p.statusPlayed クリア済
    {{ } }}
  %p.postTxt
    {{= text }}
  .thumbnail
    {{ for (var i = 0; i < post_photos.length; i++) { }}
    %img{src: "/post_photos/{{= post_photos[i].photo_path }}"}
    {{ } }}
  %p.time {{= created_at }}
  %ul.actionList
    %li.cmtBtn
      コメント
      %span.cmtNum
        {{= post_comments_count }}
    {{ if (!i_liked) { }}
    %li.like.fvrBtn
      いいね！
      %span.likeNum
        {{= post_likes_count }}
    {{ } else { }}
    %li.unlike.fvrBtn.on
      いいね！を取り消す
      %span.likeNum
        {{= post_likes_count }}
    {{ } }}
    {{ if (current_user_id == user.id) { }}
    %li.deleteBtn.delete-btn
      削除
    {{ } }}
  .commentBox
    %ul.commentList
      {{ for (var i = 0; i < post_comments.length; i++) { }}
      %li.item
        %figure.profImgWrap
          %img.profImg{src: "/user_photos/{{= post_comments[i].user.photo_path }}", width: "30", height: "30", alt: ""}
        .commentInfo
          %a.account{href: ""}
            {{= post_comments[i].user.username }}
          %p.commentTime {{= post_comments[i].created_at }}
          {{ if (!post_comments[i].i_liked) { }}
          %p.comment-like.fvrBtn{"data-commentindex" => "{{= i }}"}
            いいね！
            %span.likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } else { }}
          %p.comment-unlike.fvrBtn.on{"data-commentindex" => "{{= i }}"}
            いいね！を取り消す
            %span.likeNum
              {{= post_comments[i].comment_likes_count }}
          {{ } }}
          %p.userComment
            {{= post_comments[i].text }}
      {{ } }}
    .myCommentBox
      %figure.profImgWrap
        %img.profImg{src: "/user_photos/#{@current_user[:photo_path]}", width: "30", height: "30", alt: ""}
      %form.commentWrap
        %textarea.comment.comment-input{placeholder: "コメントする"}