%script{type: "text/template", id: "post-template"}
  .topBox
    %figure.profImg
      %img{src: "", width: "44", height: "44", alt: "ユーザー画像"}
    %a.account{href: ""} ユーザーネーム
    %p.time 投稿時間
    %p.status ステータス
  %h2.gameTtl ゲームタイトル。ゲームタイトル。ゲームタイトル。ゲームタイトル。
  %p.postTxt コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。コメント本文。
  .thumbnail
    %img.thumbnailImg{src: "", alt: "アップロードした写真"}
  %ul.actionList
    %li.item.cmtBtn コメント
    %li.item.fvrBtn いいね