%script{type: "text/template", id: "url-thumbnail-template"}
  %figure.Addpost__urlThumbnail
    %img.Addpost__urlThumbnailImg{src: "{{= thumbnail }}"}
    %figcaption.Addpost__urlThumbnailCaption
      %p.Addpost__urlThumbnailCaption--title {{= title }}
      %p.Addpost__urlThumbnailCaption--text {{= description }}