%script{type: "text/template", id: "url-thumbnail-template"}
  %figure.AddPost__urlThumbnail
    %img.AddPost__urlThumbnailImg{src: "{{= thumbnail }}"}
    %figcaption.AddPost__urlThumbnailCaption
      %p.AddPost__urlThumbnailCaption--title {{= title }}
      %p.AddPost__urlThumbnailCaption--text {{= description }}