/*---   common   ---------------------------*/
html {
  min-width: 960px;
  background: url(../images/body_bg.jpg) repeat-x center top;
}

body {
  background: none;
}

/*---   .mainCnt   ---------------------------*/
.mainCnt {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 466px;
  height: 645px;
  margin: -323px 0 0 -233px;
  padding: 24px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  text-align: center;
  background: url(../images/bgSprite.png) no-repeat left top;
}
.mainCnt__ttl {
  width: 199px;
  height: 70px;
  margin: 0 auto 26px;
  background: url(../images/bgSprite.png) no-repeat left -655px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.mainCnt__text {
  margin-bottom: 39px;
  font-size: 24px;
}

.mainCnt__entryBtn__item {
  margin-bottom: 22px;
}

.mainCnt__loginBox {
  padding-top: 23px;
  border-top: 1px solid #aececf;
}
.mainCnt__loginBox__text {
  padding-bottom: 22px;
  font-size: 18px;
}

.mainCnt__loginBox__inputArea--textarea, .mainCnt__loginBox__inputArea--btn {
  display: block;
}

.mainCnt__loginBox__inputArea--textarea {
  width: 248px;
  height: 44px;
  margin: 0 auto 16px;
  padding: 4px 0 0 8px;
  border: 1px solid #707070;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.mainCnt__loginBox__inputArea--btn {
  width: 240px;
  height: 44px;
  margin: 0 auto;
  border: 1px solid #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: none;
  color: #ffffff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}

/*---   .aboutCnt   ---------------------------*/
.aboutCnt {
  width: 100%;
  background: #ffffff;
}
