.deviceColumn
  .deviceRanking
    %h1.deviceRankingTtl 人気のデバイス
    %ul.deviceRankingList
      - @ranking_devices.each do |device|
        = link_to device, "/games/devices?device=#{device}", class: "device device#{device}"
      = link_to "全て見る...", devices_games_path, class: "alldevice"
