.selectModal.select-log-list
  - @log_order.each do |o|
    - case o
    - when "遊んでる"
      %h2.playing
        = o
      %ul.gameList.playing-list
    - when "気になる"
      %h2.ready
        = o
      %ul.gameList.ready-list
    - when "遊んだ"
      %h2.played
        = o
      %ul.gameList.played-list
    - when "積んでる"
      %h2.stock
        = o
      %ul.gameList.stock-list
