.AddPost__selectModal.select-log-list
  %p.AddPost__selectModal--playing プレイ中
  %ul.AddPost__selectModalList.playing-list

  %p.AddPost__selectModal--ready 気になる
  %ul.AddPost__selectModalList.ready-list

  %p.AddPost__selectModal--played クリア済
  %ul.AddPost__selectModalList.played-list
