.Addpost__selectModal.select-log-list
  %p.Addpost__selectModal--playing プレイ中
  %ul.Addpost__selectModalList.playing-list

  %p.Addpost__selectModal--ready 気になる
  %ul.Addpost__selectModalList.ready-list

  %p.Addpost__selectModal--played クリア済
  %ul.Addpost__selectModalList.played-list
