.selectModal.select-log-list
  %p.playing 遊んでる
  %ul.gameList.playing-list

  %p.ready 気になる
  %ul.gameList.ready-list

  %p.played 遊んだ
  %ul.gameList.played-list

  %p.stock 積んでる
  %ul.gameList.stock-list
