.selectModal.select-log-list
  %h2.playing 遊んでる
  %ul.gameList.playing-list

  %h2.ready 気になる
  %ul.gameList.ready-list

  %h2.played 遊んだ
  %ul.gameList.played-list

  %h2.stock 積んでる
  %ul.gameList.stock-list
