= content_for :head do
  = javascript_include_tag "timeline.js"

%input{type: "text", placeholder: "ユーザー名", class: "user-input"}

%ul.user-list

%div.timeline-page
  = link_to "ログアウト", logout_users_path
  = link_to "ユーザー情報", user_path(@current_user)

  %form.post-form
    %input{type: "text", placeholder: "つぶやき", class: "text-input"}
    %select.game-select
    %input{type: "submit", value: "送信", class: "submit-btn"}

  %ul.post-list

%script{type: "text/template", id: "post-template"}
  <p><%- text %></p>
  <p><%- post_likes_count %></p>
  <% if(!i_liked){ %>
  <p><span class="like">いいね</span></p>
  <% } else { %>
  <p><span class="unlike">いいねを取り消す</span></p>
  <% } %>
  <a href="/games/<%= game.id %>" style="display: block;">
  <p><%- game.title %></p>
  <img src=<%- game.photo_path %> />
  </a>
  <a href="/users/<%= user.id %>" style="display: block;">
  <p><%- user.username %></p>
  <img src=<%- user.photo_path %> />
  </a>
  <% if(current_user_id == user.id){ %>
  <span class="delete">[x]</span>
  <% } %>

%script{type: "text/template", id: "game-template"}
  <%- title %>

%script{type: "text-template", id: "user-template"}
  <a href="/users/<%= id %>" style="display: block;"><%- username %></a>



