<link href='' rel='stylesheet' type='text/css'>
<header class='SignupHeader'>
  <h1 class='SignupHeaderTtl'>GAMR</h1>
</header>
<section class='Signup'>
  <h1 class='SignupHeader'>TwitterでGAMRを始める</h1>
  <p class='SignupBtnWrap'>
    <a class='SignupBtn' href=''>GAMRとつなげる</a>
  </p>
  <p class='SignupText'>すでにGAMR IDをお持ちの場合は、Twitterアカウントと接続することで、TwitterアカウントでGAMRにログインできるようになります。</p>
  <p class='SignupBtnWrap'>
    <a class='SignupBtn' href=''>新しくGAMR IDをつくる</a>
  </p>
  <p class='SignupText'>新しくGAMR IDを作成して、Twitterアカウントと接続します。作成したGAMRアカウントにはTwitterアカウントでログインできます。</p>
</section>
