<link href='' rel='stylesheet' type='text/css'>
<header class='SignupHeader'>
  <h1 class='SignupHeaderTtl'>GAMR</h1>
</header>
<section class='Signup'>
  <h1 class='SignupHeader'>GAMRに登録する</h1>
  <form>
    <input class='SignupInput' placeholder='ユーザーネーム' type='text'>
    <input class='SignupInput' placeholder='メールアドレス' type='text'>
    <input class='SignupInput' placeholder='パスワード' type='password'>
    <label>
      <input class='SignupInput' type='checkbox'>
      <a class='SignupLink' href=''>利用規約</a>
      に同意する
    </label>
    <input class='SignupBtn' placeholder='登録する'>
  </form>
</section>
