- # coding: utf-8
%link{rel: "stylesheet", type: "text/css", href: "reset-min.css"}
%link{rel: "stylesheet", type: "text/css", href: "signup.css"}
%header.SignupHeader
  %h1.SignupHeaderTtl GAMR
%section.Signup
  %h1.SignupTtl GAMRとつなげる
  %p.SignupText すでにお持ちのGAMRアカウントを入力してください。
  %form
    %input.SignupInput{type: "text", placeholder: "メールアドレス"}
    %input.SignupInput{type: "password", placeholder: "パスワード"}
    %input.SignupBtn{placeholder: "認証する"}