<link href='reset-min.css' rel='stylesheet' type='text/css'>
<link href='signup.css' rel='stylesheet' type='text/css'>
<header class='SignupHeader'>
  <h1 class='SignupHeaderTtl'>GAMR</h1>
</header>
<section class='Signup'>
  <h1 class='SignupTtl'>GAMRとつなげる</h1>
  <p class='SignupText'>すでにお持ちのGAMRアカウントを入力してください。</p>
  <form>
    <input class='SignupInput' placeholder='メールアドレス' type='text'>
    <input class='SignupInput' placeholder='パスワード' type='password'>
    <input class='SignupBtn' placeholder='認証する'>
  </form>
</section>
