- # coding: utf-8
<<<<<<< HEAD
%link{rel: "stylesheet", type: "text/css", href: ""}
%header.SignupHeader
  %h1.SignupHeaderTtl GAMR
%section.Signup
  %h1.SignupTtl GAMRに登録する
  %form
    %input.SignupInput{type: "text", placeholder: "ユーザーネーム"}
    %input.SignupInput{type: "text", placeholder: "メールアドレス"}
    %input.SignupInput{type: "password", placeholder: "パスワード"}
    %label
      %input.SignupInput{type: "checkbox"}
      %a.SignupLink{href: ""} 利用規約
      に同意する
    %input.SignupBtn{placeholder: "登録する"}
=======
!!!
%head
  %link{rel: "stylesheet", type: "text/css", href: "reset-min.css"}
  %link{rel: "stylesheet", type: "text/css", href: "signup.css"}
%body
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupTtl GAMRに登録する
    %form
      %input.SignupInput{type: "text", placeholder: "ユーザーネーム"}
      %input.SignupInput{type: "text", placeholder: "メールアドレス"}
      %input.SignupInput{type: "password", placeholder: "パスワード"}
      %label
        %input.SignupInput{type: "checkbox"}
        %a.SignupLink{href: ""} 利用規約
        に同意する
      %input.SignupBtn{placeholder: "登録する"}
>>>>>>> de73e269028f753530850f857035429869793022
