- # coding: utf-8
!!!
%head
  %link{rel: "stylesheet", type: "text/css", href: "reset-min.css"}
  %link{rel: "stylesheet", type: "text/css", href: "signup.css"}
%body
  %header.SignupHeader
    %h1.SignupHeaderTtl GAMR
  %section.Signup
    %h1.SignupTtl TwitterでGAMRを始める
    %p.SignupBtnWrap
      %a.SignupBtn{href: ""} GAMRとつなげる
    %p.SignupText すでにGAMR IDをお持ちの場合は、Twitterアカウントと接続することで、TwitterアカウントでGAMRにログインできるようになります。
    %p.SignupBtnWrap
      %a.SignupBtn{href: ""} 新しくGAMR IDをつくる
    %p.SignupText 新しくGAMR IDを作成して、Twitterアカウントと接続します。作成したGAMRアカウントにはTwitterアカウントでログインできます。