// アイコンフォント
@import "_font.css.scss";

//width指定
$width: 960px !default;
$cntWidth: 580px;

//カラーコード
$main_color: #8700FF;

$color_textBlack: #4a4a4a;
$color_textGray: #797979;
$color_black: #343434;;
$color_white: #dddcdc;
$color_green: #24d387;
$color_yellow: #e9d31d;
$color_red: #e96969;
$color_blue: #69a8e9;
$color_border: #e6e6e6;

//IEサポート
$support-ie6: false;
$support-ie7: true;
$support-ie8: true;
$support-ie9: true;
$support-mozilla: true;
$support-webkit : true;
$support-opera  : true;

@mixin substitute {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}
@mixin flexbox {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
}
@mixin box-sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
@mixin background-size($size) {
    -moz-background-size: $size;
    -o-background-size: $size;
    -webkit-background-size: $size;
    background-size: $size;
}
@mixin border-radius($size) {
    -moz-border-radius: $size;
    -webkit-border-radius: $size;
    border-radius: $size;
}
@mixin gradient($from, $to) {
    background: -moz-linear-gradient($from, $to);
    background: -webkit-linear-gradient($from, $to);
    background: linear-gradient($from, $to);
}
@mixin box-shadow($side, $top, $shade, $spread, $color) {
  -moz-box-shadow: $side $top $shade $spread $color;
  -webkit-box-shadow: $side $top $shade $spread $color;
  box-shadow: $side $top $shade $spread $color;
}
@mixin font-weight($size, $color) {
    // -webkit-text-stroke: $size $color;
}
@mixin appearance {
    -moz-appearance: none;
    -webkit-appearance: none;
}
@mixin clearfix {
    &:before, &:after {
        display: table;
        content: "";
    }
    &:after {
        clear: both;
    }
    @if $support-ie6 or $support-ie7 {
        *zoom: 1;
    }
}
@mixin img_set-PC2($bpl, $bpt) {
    background: url(/assets/pc/img_set.png) no-repeat $bpl $bpt;
}
@mixin img_set-PC4($width, $height, $bpl, $bpt) {
    width: $width;
    height: $height;
    background: url(/assets/pc/img_set.png) no-repeat $bpl $bpt;
}
@mixin img_set-SP2($bpl, $bpt) {
    background: url(/assets/smart_phone/img_set.png) no-repeat $bpl $bpt;
    background-size: 29px 555px;
}
@mixin img_set-SP4($width, $height, $bpl, $bpt) {
    width: $width;
    height: $height;
    background: url(/assets/smart_phone/img_set.png) no-repeat $bpl $bpt;
    background-size: 29px 555px;
}