%script{type: "text/template", id: "add-template"}
  .post03
    %header
      %h1.ttl 新しいゲームを追加する
      %a.icon-allow{href: "/posts/new#select"}
    .add-page.mainCnt
      .searchWrap
        %form.entryBox
          %span.icon-search
          %input.search.search-title-input{type: "text", placeholder: "ゲーム名で検索"}
      %ul.gameList.result-list
      = image_tag "gif-load-pc.gif", class: "loading-gif"