%script{type: "text/template", id: "add-template"}
  .post03
    %header
      %h1.ttl ゲームを追加する
      %a.cancel{href: "/posts/new#select"} 戻る
    .add-page.mainCnt
      %form.searchWrap
        %input.search.search-title-input{type: "text", placeholder: "ゲーム名で検索"}
      %ul.gameList
    = image_tag "gif-load-pc.gif", class: "loading-gif"