%script{type: "text/template", id: "game-template"}
  %figure.gameImgWrap
    {{ if (photo_path) { }}
    %img.gameImg{src: "/game_photos/{{= photo_path }}", height: "100%", alt: "image"}
    {{ } else if (photo_url) { }}
    %img.gameImg{src: "{{= photo_url }}", height: "100%", alt: "image"}
    {{ } else { }}
    %img.gameImg{src: "/game_photos/default.png", height: "100%", alt: "image"}
    {{ } }}
  %figcaption.gameTtl
    {{= title }}