%script{type: "text/template", id: "game-template"}
  %figure.gameImageWrap
    / %img.gameImage{src: "/game_photos/{{= photo_path }}", width: "30", height: "30", alt: "image"}
    %img.gameImage{src: "{{= photo_url }}", width: "100", alt: "image"}
    %figcaption.gameTtl
      {{= title }}
  /%a.gameSelect{href: "/posts/new#select"} ゲームを変更する