%script{type: "text/template", id: "log-template"}
  %a{href: "/posts/new#write/{{= game.id }}/{{= id }}"}
    %figure.game
      / %img.gameImg{src: "/game_photos/{{= game.photo_path }}"}
      {{ if (game.photo_url) { }}
      %img.gameImg{src: "{{= game.photo_url }}"}
      {{ } else { }}
      %img.gameImg{src: "/game_photos/default.png"}
      {{ } }}
      .gameTitle
        {{= game.title }}
      / %figcaption.review
      /   {{ if (rate) { }}
      /   ☆
      /   %span.reviewAve {{= rate }}.0
      /   {{ } else { }}
      /   %span.reviewAve 評価なし
      /   {{ } }}
      /   %span.gameDeleteBtn.delete-btn ×