%script{type: "text/template", id: "url-thumbnail-template"}
  .urlThumbnail
    %img.thumbnailImg{src: "{{= thumbnail }}"}
    .body
      %p.title {{= title }}
      %p.description {{= description }}