%script{type: "text/template", id: "write-template"}
  .post02
    %header
      %h1.ttl 投稿する
      %a.icon-allow{href: "/posts/new#select"}
    .write-page.mainCnt
      %form.textareaWrap.post-form
        %textarea.post-input{placeholder: "そのゲームについて、どう思った？"}

      #thumbnail
      .error-message.errorMessage
      .url-thumbnail-list

      .btnWrap
        %ul.subBtn
          - @current_user.user_providers.each do |provider|
            - if provider[:service_name] == "facebook"
              %li.fb
                %a.fbBtn.facebook{href: ""}
                  %span.icon-facebook
                  %span.fbInner
                  Facebook
            - if provider[:service_name] == "twitter"
              %li.tw
                %a.twBtn.twitter{href: ""}
                  %span.icon-twitter
                  %span.twInner
                  Twitter
          .photoBtnWrap
            %p.icon-photo
            %input.addPhoto#upload-btn{type: "file", href: ""}
      %a.addGame.submit{href: ""}
        %span.icon-post 投稿