%script{type: "text/template", id: "write-template"}
  .post02
    %header
      %h1.ttl チェックイン
      %a.cancel{href: "/posts/new#select"} 戻る
      %a.addGame.submit{href: ""} 投稿
    .write-page.mainCnt
      %form.textareaWrap.post-form
        %textarea{placeholder: "そのゲームについて、どう思った？"}
        /%input.btn.submit{value: "投稿する"}
      #thumbnail
      %input.addPhoto#upload-btn{type: "file", href: ""}
      %ul.snsBtn
        %li.fb
          %a.fbBtn{href: ""}
            %span.fbInner
        %li.tw
          %a.twBtn{href: ""}
            %span.twInner