%script{type: "text/template", id: "write-template"}
  .post02
    %header
      %h1.ttl ポスト
      %a.icon-allow{href: "/posts/new#select"}
      %span.addGameWrap
        %a.addGame.submit{href: ""} 投稿
    .write-page.mainCnt
      %form.textareaWrap.post-form
        %textarea{placeholder: "そのゲームについて、どう思った？"}
      .btnWrap
        %p.btnText 写真をアップロード
        %input.addPhoto#upload-btn{type: "file", href: ""}
      #thumbnail
      %ul.snsBtn
        - case @current_user[:provider]
        - when "facebook"
          %li.fb
            %a.fbBtn.facebook{href: ""}
              %span.fbInner
              Facebook
        - when "twitter"
          %li.tw
            %a.twBtn.twitter{href: ""}
              %span.twInner
              Twitter