= content_for :head do
	= javascript_include_tag "log.js"

%form.log-form
	%input{type: "text", name: "amazon_url", placeholder: "アマゾンのURLを入力して下さい。", class: "amazon_url_input"}
	%input{type: "text", name: "release_day", class: "release_day_input"}
	%input{type: "textarea", name: "text", class: "text_input"}
	%input{type: "submit", class: "submit-btn"}