= content_for :head do
	= javascript_include_tag "log.js"


%form.log-form
	%input{type: "text", name: "amazon_url", placeholder: "アマゾンのURLを入力して下さい。", class: "amazon-url-input"}
	%input{type: "submit", class: "submit-btn"}

%form.search-form
	%input{type: "text", name: "search_title", class: "search-title-input"}
	%input{type: "submit", class: "submit-btn"}

%ul.result-list

%ul.log-list

%script{type: "text/template", id: "log-template"}
	<p><%- text %></p>
	<a href="/games/<%= game.id %>" style="display: block;">
	<p><%- game.title %></p>
	<img src=<%- game.photo_path %> />
	<p><%- game.device %></p>
	<p><%- game.maker %></p>
	<p><%- game.game_likes_count %></p>
	</a>
	<p><%- status.name %></p>
	<span class="delete">[x]</span>

%script{type: "text/template", id: "status-template"}
	<%- name %>

%script{type: "text/template", id: "result-template"}
	<p><%- title %></p>
	<img src=<%- photo_path %> />
	<p><%- device %></p>
	<p><%- maker %></p>
	<span class="regist-btn">登録</span>
