= content_for :head do
	= javascript_include_tag "log.js"

%form.log-form
	%input{type: "text", name: "amazon_url", placeholder: "アマゾンのURLを入力して下さい。", class: "amazon-url-input"}
	%input{type: "text", name: "release_day", class: "release-day-input"}
	%input{type: "textarea", name: "text", class: "text-input"}
	%select{name: "status", class: "status-select"}
	%input{type: "submit", class: "submit-btn"}

%ul.log-list

%script{type: "text/template", id: "log-template"}
	<p><%- text %></p>
	<p><%- game.title %></p>
	<img src=<%- game.photo_path %> />
	<p><%- game.device %></p>
	<p><%- game.price %></p>
	<p><%- game.maker %></p>
	<p><%- game.release_day %></p>
	<p><%- game.game_likes_count %></p>
	<p><%- status.name %></p>

%script{type: "text/template", id: "status-template"}
	<%- name %>
