%header
  %h1.ttlWrap
    = link_to "Playdy", posts_path, class: "ttl"
  %span.menu{href: ""}
  %span.notify{href: ""}
  = link_to "", user_path(@current_user), class: "profile"
  .openMenuWrap
    %ul.openMenu
      %li.item
        %a.menuItemSearch{href: ""} ゲームを検索
      %li.item
        %a.menuItemLibrary{href: ""} ライブラリ
      %li.item
        = link_to "アカウント設定", user_path(@current_user), class: "menuItemAccount"
      %li.item
        = link_to "ログアウト", logout_users_path, class: "menuItemLogout"