<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/game.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='menu' href=''></a>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
      </header>
      <!-- /header -->
      <!-- .editCnt -->
      <div class='editCnt'>
        <!-- .sortBox -->
        <div class='sortBoxWrap'>
          <ul class='sortBox'>
            <li class='item current'>
              <span class='playing'>プレイ中</span>
            </li>
            <li class='item'>
              <span class='ready'>
                欲しい
                <br>
                ゲーム
              </span>
            </li>
            <li class='item'>
              <span class='played'>
                クリアした
                <br>
                ゲーム
              </span>
            </li>
          </ul>
        </div>
        <!-- /.sortBox -->
        <!-- .search -->
        <form class='searchWrap'>
          <input class='search' placeholder='search' type='text'>
        </form>
        <!-- /.search -->
        <!-- .gameList -->
        <article class='gameList'>
          <figure class='gameImgWrap'>
            <div class='gameImgInner'>
              <img alt='' class='gameImg' height='88' src='images/game02.jpg' width='62'>
            </div>
          </figure>
          <section class='gameInfo'>
            <h1 class='ttl'>スーパーマリオブラザーズ3</h1>
            <ul class='btnList'>
              <li class='item'>レビュー</li>
              <li class='item'>ステータス</li>
            </ul>
          </section>
        </article>
        <article class='gameList'>
          <figure class='gameImgWrap'>
            <div class='gameImgInner'>
              <img alt='' class='gameImg' height='89' src='images/game.jpg' width='70'>
            </div>
          </figure>
          <section class='gameInfo'>
            <h1 class='ttl'>スーパーマリオブラザーズ3</h1>
            <ul class='btnList'>
              <li class='item'>
                <ul class='stars'>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                </ul>
              </li>
              <li class='item'>欲しい</li>
            </ul>
          </section>
        </article>
        <article class='gameList'>
          <figure class='gameImgWrap'>
            <div class='gameImgInner'>
              <img alt='' class='gameImg' height='88' src='images/game02.jpg' width='62'>
            </div>
          </figure>
          <section class='gameInfo'>
            <h1 class='ttl'>スーパーマリオブラザーズ3</h1>
            <ul class='btnList'>
              <li class='item'>レビュー</li>
              <li class='item'>ステータス</li>
            </ul>
          </section>
        </article>
        <article class='gameList'>
          <figure class='gameImgWrap'>
            <div class='gameImgInner'>
              <img alt='' class='gameImg' height='89' src='images/game.jpg' width='70'>
            </div>
          </figure>
          <section class='gameInfo'>
            <h1 class='ttl'>スーパーマリオブラザーズ3</h1>
            <ul class='btnList'>
              <li class='item'>
                <ul class='stars'>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                </ul>
              </li>
              <li class='item'>欲しい</li>
            </ul>
          </section>
        </article>
        <!-- /.gameList -->
      </div>
      <!-- /.editCnt -->
    </div>
  </body>
</html>
