<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/game.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
      </header>
      <!-- /header -->
      <!--  -->
      <!-- .mainCnt -->
      <div class='mainCnt'>
        <!-- .gameBox -->
        <section class='gameBox'>
          <h1 class='ttl'>スーパーマリオ 3Dワールド</h1>
          <figure class='gameWrap'>
            <img alt='スーパーマリオ 3Dワールド' class='gameImg' height='110' src='images/game02.jpg' width='78'>
            <figcaption class='gameInfoWrap'>
              <ul class='gameInfo'>
                <li class='item'>
                  <span class='date'>発売日</span>
                  <span class='year'>2013</span>
                  <span class='month'>11</span>
                  <span class='day'>12</span>
                </li>
                <li class='item'>
                  <span class='hard'>ハード</span>
                  Wii U
                </li>
                <li class='item'>
                  <span class='maker'>メーカー</span>
                  スクウェア・エニックス
                </li>
              </ul>
            </figcaption>
          </figure>
          <div class='funcBox'>
            <ul class='dataBox'>
              <li class='item'>
                <div class='postIconWrap'>
                  <div class='postIcon'></div>
                </div>
                ポスト数
                <span class='count'>567</span>
              </li>
              <li class='item'>
                <div class='evaluationIconWrap'>
                  <div class='evaluationIcon'></div>
                </div>
                全体の評価
                <ul class='stars'>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                  <li class='star'></li>
                </ul>
              </li>
              <li class='item'>
                <a class='amazonBtn' href=''>Amazonへ</a>
                <a class='steamBtn' href=''>Steamへ</a>
              </li>
            </ul>
            <div class='reviewBox'>
              <div class='reviewBoxInner'>
                <a class='btn' href=''>レビューを書く</a>
                <div class='evaluationBox'>
                  <div class='iconWrap'>
                    <div class='icon'></div>
                  </div>
                  <p class='text'>自分の評価</p>
                  <ul class='stars'>
                    <li class='star'></li>
                    <li class='star'></li>
                    <li class='star'></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class='friendBox'>
              <div class='friendBoxInner'>
                <p class='text'>6人のフォローゲーマーが遊んでいます。</p>
                <ul class='friendList'>
                  <li class='item'>
                    <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
                  </li>
                  <li class='item'>
                    <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
                  </li>
                  <li class='item'>
                    <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
                  </li>
                  <li class='item'>
                    <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
                  </li>
                </ul>
              </div>
            </div>
            <div class='sortBoxWrap'>
              <ul class='sortBox'>
                <li class='item current'>
                  <a class='follow' href=''>
                    フォローの
                    <br>
                    コメント
                  </a>
                </li>
                <li class='item'>
                  <a class='all' href=''>全コメント</a>
                </li>
                <li class='item'>
                  <a class='star' href=''>
                    の多い
                    <br>
                    コメント
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- /.gameBox -->
        <!-- .postBox -->
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <!-- /.postBox -->
      </div>
      <!-- /.mainCnt -->
    </div>
  </body>
</html>
