<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/game.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <span class='menu' href=''></span>
        <span class='serch' href=''></span>
        <span class='profile' href=''></span>
        <ul class='openMenu'>
          <li class='item'>
            <a class='menuItem' href=''>登録しているゲーム</a>
          </li>
          <li class='item'>
            <a class='menuItem' href=''>通知</a>
          </li>
          <li class='item'>
            <a class='menuItem' href=''>アカウント設定</a>
          </li>
          <li class='item'>
            <a class='menuItem' href=''>Playdyとは</a>
          </li>
          <li class='item'>
            <a class='menuItem' href=''>ログアウト</a>
          </li>
        </ul>
      </header>
      <!-- /header -->
      <!-- .mainCnt -->
      <div class='mainCnt'>
        <!-- .gameBox -->
        <div class='gameBoxWrap'>
          <figure class='gameWrap'>
            <div class='gameInner'>
              <img alt='スーパーマリオ 3Dワールド' class='gameImg' height='111' src='images/game02.jpg' width='78'>
            </div>
          </figure>
          <section class='gameBox'>
            <h1 class='ttl'>スーパーマリオ 3Dワールド</h1>
            <ul class='gameInfo'>
              <li class='item'>
                <span class='date'>発売日</span>
                <span class='year'>2013</span>
                <span class='month'>11</span>
                <span class='day'>12</span>
              </li>
              <li class='item'>
                <span class='hard'>ハード</span>
                Wii U
              </li>
              <li class='item'>
                <span class='maker'>メーカー</span>
                スクウェア・エニックス
              </li>
            </ul>
            <ul class='btnList'>
              <li class='item'>
                <a class='comment' href=''>コメントする</a>
              </li>
              <li class='item'>
                <select name='status' size='1'>
                  <option value='ステータス'>ステータス</option>
                  <option value='気になる'>気になる</option>
                  <option value='プレイ中'>プレイ中</option>
                  <option value='アーカイブ'>アーカイブ</option>
                </select>
              </li>
            </ul>
          </section>
        </div>
        <!-- /.gameBox -->
        <!-- .dataBox -->
        <ul class='dataBox'>
          <li class='item'>
            <span class='count'>567</span>
            ポスト数
          </li>
          <li class='item'>
            <ul class='stars'>
              <li class='star'></li>
              <li class='star'></li>
              <li class='star'></li>
              <li class='star'></li>
            </ul>
            全体の評価
          </li>
          <li class='item'>
            <ul class='stars'>
              <li class='star'></li>
              <li class='star'></li>
              <li class='star'></li>
            </ul>
            自分の評価
          </li>
        </ul>
        <!-- /.dataBox -->
        <!-- .shopList -->
        <ul class='shopList'>
          <li class='item'>
            <a class='amazonBtn' href=''>Amazonへ</a>
          </li>
          <li class='item'>
            <a class='steamBtn' href=''>Steamへ</a>
          </li>
        </ul>
        <!-- /.shopList -->
        <!-- .friendBox -->
        <div class='friendBox'>
          <div class='friendBoxInner'>
            <p class='text'>6人のフォローゲーマーが遊んでいます。</p>
            <ul class='friendList'>
              <li class='item'>
                <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
              </li>
              <li class='item'>
                <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
              </li>
              <li class='item'>
                <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
              </li>
              <li class='item'>
                <img alt='' class='friendImg' height='30' src='../images/baba.jpg' width='30'>
              </li>
            </ul>
          </div>
        </div>
        <!-- /.friendBox -->
        <!-- .sortBox -->
        <div class='sortBoxWrap'>
          <ul class='sortBox'>
            <li class='item current'>
              <span class='follow'>
                フォローの
                <br>
                コメント
              </span>
            </li>
            <li class='item'>
              <span class='all'>全コメント</span>
            </li>
            <li class='item'>
              <span class='star'>
                の多い
                <br>
                コメント
              </span>
            </li>
          </ul>
        </div>
        <!-- /.sortBox -->
        <!-- .postBox -->
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <span class='time'>2時間前</span>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <span class='time'>2時間前</span>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <span class='time'>2時間前</span>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <!-- /.postBox -->
      </div>
      <!-- /.mainCnt -->
    </div>
    <script src='../javascripts/jquery-2.1.1.min.js'></script>
    <script src='javascripts/common.js'></script>
  </body>
</html>
