!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/lp.css"}
	%body
		#wrapper
			%section.mainVisual
				%h1.ttl Playdy
			%section.loginBox
				%h1.ttl ひとつ上のゲーム体験を。
				%ul.snsList
					%li.item
						%a.tw{href: ""}
							%span.iconWrap
								%span.icon
							Twitterでログイン
					%li.item
						%a.fb{href: ""}
							%span.iconWrap
								%span.icon
							Facebookでログイン