<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/lp.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <section class='mainVisual'>
        <h1 class='ttl'>Playdy</h1>
      </section>
      <section class='loginBox'>
        <h1 class='ttl'>ひとつ上のゲーム体験を。</h1>
        <ul class='snsList'>
          <li class='item'>
            <a class='tw' href=''>
              <span class='iconWrap'>
                <span class='icon'></span>
              </span>
              Twitterでログイン
            </a>
          </li>
          <li class='item'>
            <a class='fb' href=''>
              <span class='iconWrap'>
                <span class='icon'></span>
              </span>
              Facebookでログイン
            </a>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
