!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/post.css"}
	%body
		#wrapper
			.post02
				%header
					%h1.ttl シェア
					%a.cancel{href: ""} キャンセル
				.mainCnt
					.gameBox
						%figure.gameImageWrap
							%img.gameImage{src: "", width: "30", height: "30", alt: "image"}
							%figcaption.gameTtl ゲームタイトル。ゲームタイ...
						%a.gameSelect{href: ""} ゲームを変更する
					%form.textareaWrap
						%textarea{placeholder: "そのゲームについて、どう思った？"}
					%a.addPhoto{href: ""} 写真を追加+
					%ul.snsBtn
						%li.fb
							%a.fbBtn{href: ""}
								%span.fbInner
						%li.tw
							%a.twBtn{href: ""}
								%span.twInner
					%form.btnWrap
						%input.btn{value: "投稿する"}
