!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/post.css"}
	%body
		#wrapper
			.post03
				%header
					%h1.ttl 投稿
					%a.cancel{href: ""} キャンセル
					%a.addGame{href: ""}
						ゲームを
						%br
						追加する
				.mainCnt
					%ul.addGameWrap
						%li.item
							%a.addGame{href: ""} ゲームを追加する
						%li.item
							%figure
								%img.addGameImg{src: "images/game03.jpg", width: "32", height: "32", alt: ""}
								%figcaption アルティメットヒ ッツ ファイナル...
					%ul.addPhotoWrap
						%li.item
							%a.addPhoto{href: ""} 写真を追加する
						%li.item
							%figure
								%img.addPhotoImg{src: "images/game03.jpg", width: "32", height: "32", alt: ""}
					%form.textareaWrap
						%textarea{:readonly => true}
							このゲームめっちゃ面白い！
					%ul.snsBtn
						%li.fb
							%a.fbBtn{href: ""}
								%span.fbInner
						%li.tw
							%a.twBtn{href: ""}
								%span.twInner
					%form.btnWrap
						%input.btn{value: "投稿する"}
