<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/post.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='post03'>
        <header>
          <h1 class='ttl'>投稿</h1>
          <a class='cancel' href=''>キャンセル</a>
          <a class='addGame' href=''>
            ゲームを
            <br>
            追加する
          </a>
        </header>
        <div class='mainCnt'>
          <ul class='addGameWrap'>
            <li class='item'>
              <a class='addGame' href=''>ゲームを追加する</a>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='addGameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒ ッツ ファイナル...</figcaption>
              </figure>
            </li>
          </ul>
          <ul class='addPhotoWrap'>
            <li class='item'>
              <a class='addPhoto' href=''>写真を追加する</a>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='addPhotoImg' height='32' src='images/game03.jpg' width='32'>
              </figure>
            </li>
          </ul>
          <form class='textareaWrap'>
            <textarea readonly>このゲームめっちゃ面白い！</textarea>
          </form>
          <ul class='snsBtn'>
            <li class='fb'>
              <a class='fbBtn' href=''>
                <span class='fbInner'></span>
              </a>
            </li>
            <li class='tw'>
              <a class='twBtn' href=''>
                <span class='twInner'></span>
              </a>
            </li>
          </ul>
          <form class='btnWrap'>
            <input class='btn' value='投稿する'>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
