<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/post.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='post03'>
        <header>
          <h1 class='ttl'>ゲームを追加する</h1>
          <a class='cancel' href=''>キャンセル</a>
        </header>
        <div class='mainCnt'>
          <form class='serchWrap'>
            <input class='serch' type='text'>
          </form>
          <ul class='gameList'>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
              <span class='mood'>ステータス</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
