!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/post.css"}
	%body
		#wrapper
			.post03
				%header
					%h1.ttl ゲームを追加する
					%a.cancel{href: ""} キャンセル
				.mainCnt
					%form.searchWrap
						%input.search{type: "text", placeholder: "search"}
					%ul.gameList
						- 8.times do |i|
							%li.item
								%figure
									%img.gameImg{src: "images/game03.jpg", width: "32", height: "32", alt: ""}
									%figcaption アルティメットヒッツ ファイナル...
								%span.mood
									%select{name: "status", size: "1"}
										%option{value: "ステータス"} ステータス
										%option{value: "気になる"} 気になる
										%option{value: "プレイ中"} プレイ中
										%option{value: "アーカイブ"} アーカイブ