<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/post.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='post01'>
        <header>
          <h1 class='ttl'>ゲームを選択</h1>
          <a class='cancel' href=''>キャンセル</a>
          <a class='addGame' href=''>
            ゲームを
            <br>
            追加する
          </a>
        </header>
        <div class='mainCnt'>
          <ul class='sortBox'>
            <li class='item current'>
              <a class='ready' href=''>気になる</a>
              <span class='tri'></span>
            </li>
            <li class='item'>
              <a class='playing' href=''>プレイ中</a>
              <span class='tri'></span>
            </li>
            <li class='item'>
              <a class='played' href=''>アーカイブ</a>
              <span class='tri'></span>
            </li>
          </ul>
          <ul class='gameList'>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
            <li class='item'>
              <figure>
                <img alt='' class='gameImg' height='32' src='images/game03.jpg' width='32'>
                <figcaption>アルティメットヒッツ ファイナル...</figcaption>
              </figure>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
