!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/profile.css"}
	%body
		#wrapper
			/	header
			%header
				%h1.ttlWrap
					%a.ttl{href: ""} Playdy
				%span.menu{href: ""}
				%span.serch{href: ""}
				%span.profile{href: ""}
				%ul.openMenu
					%li.item
						%a.menuItem{href: ""} 登録しているゲーム
					%li.item
						%a.menuItem{href: ""} 通知
					%li.item
						%a.menuItem{href: ""} アカウント設定
					%li.item
						%a.menuItem{href: ""} Playdyとは
					%li.item
						%a.menuItem{href: ""} ログアウト
			/	/header

			/	.personalBox
			.personalBoxWrap
				%figure.profImgWrap
					%img.profImg{src: "images/asuya02.jpg", height: "83", alt: ""}
				%section.personalBox
					%h1.name Asuya
					%p.place
						%span.town Tokyo
						%span.country Japan
					%p.text IT企業のデザイナー。東京ゲーム事変のパーソナリティ。ゲーム、映画、自転車、コーヒー、つけ麺が好き。Webサイトつくる仕事受け付けてます。
					%a.followBtn{href: ""} フォロー
					%ul.countBox
						%li.item
							%a.follow{href: ""}
								%span.count 12
								フォロー
						%li.item
							%a.follower{href: ""}
								%span.count 34
								フォロワー
						%li.item
							%a.gameNum{href: ""}
								%span.count 57
								ゲーム数
						%li.item
							%a.postNum{href: ""}
								%span.count 98
								ポスト数
			/	/.personalBox

			/	.gameBox
			.gameBox
				%ul.sortBox
					%li.item.current
						%a.playing{href: ""} プレイ中
					%li.item
						%a.ready{href: ""}
							欲しい
							%br
							ゲーム
					%li.item
						%a.played{href: ""}
							クリアした
							%br
							ゲーム
				%form.searchBox
					%input{input: "text", placeholder: "search", role: "textarea"}
				%ul.gameList
					- 4.times do |i|
						%li.item
							%article.game
								.gameImg
								%h1.ttl Final Fantasy XIV: A Realm Reborn (PS4)
								%ul.stars
									- 4.times do |i|
										%li.star
			/	/.gameBox
		%script{src: "../javascripts/jquery-2.1.1.min.js"}
		%script{src: "javascripts/common.js"}