<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/profile.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
      </header>
      <!-- /header -->
      <!-- .personalBox -->
      <div class='personalBoxWrap'>
        <section class='personalBox'>
          <h1 class='name'>Asuya</h1>
          <p class='place'>
            <span class='town'>Tokyo</span>
            <span class='country'>Japan</span>
          </p>
          <p class='text'>IT企業のデザイナー。東京ゲーム事変のパーソナリティ。ゲーム、映画、自転車、コーヒー、つけ麺が好き。Webサイトつくる仕事受け付けてます。</p>
          <figure class='profImgWrap'>
            <img alt='' class='profImg' height='83' src='images/asuya02.jpg'>
          </figure>
          <a class='option' href=''></a>
        </section>
      </div>
      <!-- /.personalBox -->
      <!-- .funcBox -->
      <div class='funcBox'>
        <ul class='countBox'>
          <li class='item'>
            <a class='follow' href=''>
              <span class='count'>12</span>
              フォロー
            </a>
          </li>
          <li class='item'>
            <a class='follower' href=''>
              <span class='count'>34</span>
              フォロワー
            </a>
          </li>
          <li class='item'>
            <a class='gameNum' href=''>
              <span class='count'>57</span>
              ゲーム数
            </a>
          </li>
          <li class='item'>
            <a class='postNum' href=''>
              <span class='count'>98</span>
              ポスト数
            </a>
          </li>
        </ul>
        <ul class='sortBox'>
          <li class='item current'>
            <a class='playing' href=''>プレイ中</a>
          </li>
          <li class='item'>
            <a class='ready' href=''>
              欲しい
              <br>
              ゲーム
            </a>
          </li>
          <li class='item'>
            <a class='played' href=''>
              クリアした
              <br>
              ゲーム
            </a>
          </li>
        </ul>
      </div>
      <!-- /.funcBox -->
      <!-- .gameBox -->
      <div class='gameBox'>
        <form class='searchBox'>
          <input input='text' placeholder='search' role='textarea'>
        </form>
        <ul class='gameList'>
          <li class='item'>
            <article class='game'>
              <div class='gameImg'></div>
              <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
              <ul class='stars'>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
              </ul>
            </article>
          </li>
          <li class='item'>
            <article class='game'>
              <div class='gameImg'></div>
              <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
              <ul class='stars'>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
              </ul>
            </article>
          </li>
          <li class='item'>
            <article class='game'>
              <div class='gameImg'></div>
              <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
              <ul class='stars'>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
              </ul>
            </article>
          </li>
          <li class='item'>
            <article class='game'>
              <div class='gameImg'></div>
              <h1 class='ttl'>Final Fantasy XIV: A Realm Reborn (PS4)</h1>
              <ul class='stars'>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
                <li class='star'></li>
              </ul>
            </article>
          </li>
        </ul>
      </div>
      <!-- /.gameBox -->
    </div>
  </body>
</html>
