<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/profile.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <div class='profileEdit'>
        <header>
          <h1 class='ttl'>アカウント変更</h1>
          <span class='cancel'>キャンセル</span>
          <span class='save'>保存する</span>
        </header>
        <div class='imgEditBox'>
          <figure class='profImgWrap'>
            <img alt='' class='profImg' height='44' src='images/baba.jpg' width='44'>
            <figcaption class='text'>プロフィール画像</figcaption>
          </figure>
          <figure class='mainImgWrap'>
            <img alt='' class='mainfImg' height='44' src='images/sky.jpg' width='44'>
            <figcaption class='text'>メイン画像</figcaption>
          </figure>
        </div>
        <div class='personalEditBox'>
          <dl class='item'>
            <dt class='nameTtl'>name</dt>
            <dd class='name'>baba</dd>
          </dl>
          <dl class='item'>
            <dt class='placeTtl'>place</dt>
            <dd class='place'>kashiwa</dd>
          </dl>
          <form class='commentWrap'>
            <input class='comment' placeholder='コメント' type='text'>
          </form>
        </div>
        <div class='accountEditBox'>
          <dl class='item'>
            <dt class='passTtl'>パスワードを変更</dt>
            <dd class='pass'>********</dd>
          </dl>
          <dl class='item'>
            <dt class='mailTtl'>メールアドレスを変更</dt>
            <dd class='mail'>baba@yahoo.com</dd>
          </dl>
        </div>
      </div>
    </div>
  </body>
</html>
