.signup
	.loginBox
		%h1 GAMRに登録する
		%form.inputInfo
			.inputWrap
				%input.textInput{type: "text", name: "username", placeholder: "ユーザーネーム"}
			.inputWrap
				%input.textInput{type: "text", name: "mail", placeholder: "メールアドレス"}
			.inputWrap
				%input.textInput{type: "text", name: "password", placeholder: "パスワード"}
		%form.termCheck
			%input{tyle:"checkbox"} 
			%a{href:""} 利用規約
			同意する
		%a{href:""} 登録する