<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='menu' href=''></a>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
        <div class='overlayer'></div>
      </header>
      <!-- /header -->
      <section class='step01'>
        <h2 class='step01Ttl'>プロフィール情報を入力</h2>
        <form class='entryBox'>
          <input class='textarea' placeholder='プレイ中のゲーム1' type='text'>
          <span class='textarea_node'>※</span>
          <input class='textarea' placeholder='プレイ中のゲーム2' type='text'>
          <input class='textarea' placeholder='プレイ中のゲーム3' type='text'>
          <input class='btn' type='submit' value='次へ'>
        </form>
        <ul class='progress'>
          <li class='progress--on'></li>
          <li class='progress--off'></li>
          <li class='progress--off'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
