!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/step.css"}
	%body
		#wrapper
			/	header
			%header
				%h1.ttlWrap
					%a.ttl{href: ""} Playdy
				%a.menu{href: ""}
				%a.serch{href: ""}
				%a.profile{href: ""}
				.overlayer
			/	/header

			%section.step02
				%h2.step02Ttl 友達を検索
				.friendBox
					%a.leftBtn{href: ""}
						%span.tri
					%ul.listWrap
						- 3.times do |i|
							%li.list
								%img.profImg{src: "images/asuya.jpg", width: "63", height: "63", alt: ""}
								%p.name asuya
								%a.btn{href: ""} 友達になる
					%a.rightBtn{href: ""}
						%span.tri
				%form.entryBox
					%input.friend{type: "text", placeholder: "seach"}
					%input.btn{type: "submit", value: "スキップ"}
				%ul.progress
					%li.progress--off
					%li.progress--on
					%li.progress--off