<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/step.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='menu' href=''></a>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
        <div class='overlayer'></div>
      </header>
      <!-- /header -->
      <section class='step03'>
        <h2 class='step03Ttl'>プロフィール写真を設定</h2>
        <div class='uploadBox'>
          <img alt='' class='profImg' height='96' src='images/step03__profImg.png' width='96'>
          <form class='btnWrap'>
            <input class='btn' type='submit' value='写真をアップロード'>
          </form>
          <p class='text'>または</p>
          <a class='camera' href=''>Webカメラで写真を撮る</a>
        </div>
        <form class='entryBox'>
          <input class='btn' type='submit' value='スキップ'>
        </form>
        <ul class='progress'>
          <li class='progress--off'></li>
          <li class='progress--off'></li>
          <li class='progress--on'></li>
        </ul>
      </section>
    </div>
  </body>
</html>
