!!!
%html
	%head
		%meta{charset: "UTF-8"}
		%meta{name: "viewport", content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"}
		%title Playdy
		%link{rel: "stylesheet", href: "stylesheets/reset-min.css"}
		%link{rel: "stylesheet", href: "stylesheets/common.css"}
		%link{rel: "stylesheet", href: "stylesheets/step.css"}
	%body
		#wrapper
			/	header
			%header
				%h1.ttlWrap
					%a.ttl{href: ""} Playdy
				%span.menu{href: ""}
				%span.serch{href: ""}
				%span.profile{href: ""}
				%ul.openMenu
					%li.item
						%a.menuItem{href: ""} 登録しているゲーム
					%li.item
						%a.menuItem{href: ""} 通知
					%li.item
						%a.menuItem{href: ""} アカウント設定
					%li.item
						%a.menuItem{href: ""} Playdyとは
					%li.item
						%a.menuItem{href: ""} ログアウト
				.overlayer
			/	/header

			%section.step03
				%h2.step03Ttl プロフィール写真を設定
				.uploadBox
					%img.profImg{src: "images/step03__profImg.png", width: "96", height: "96", alt: ""}
					%form.btnWrap
						%input.btn{type: "submit", value: "写真をアップロード"}
					%p.text または
					%a.camera{href: ""} Webカメラで写真を撮る
				%form.entryBox
					%input.btn{type: "submit", value: "スキップ"}
				%ul.progress
					%li.progress--off
					%li.progress--off
					%li.progress--on
		%script{src: "../javascripts/jquery-2.1.1.min.js"}
		%script{src: "javascripts/common.js"}