<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8'>
    <meta content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no' name='viewport'>
    <title>Playdy</title>
    <link href='stylesheets/reset-min.css' rel='stylesheet'>
    <link href='stylesheets/common.css' rel='stylesheet'>
    <link href='stylesheets/timeline.css' rel='stylesheet'>
  </head>
  <body>
    <div id='wrapper'>
      <!-- header -->
      <header>
        <h1 class='ttlWrap'>
          <a class='ttl' href=''>Playdy</a>
        </h1>
        <a class='menu' href=''></a>
        <a class='serch' href=''></a>
        <a class='profile' href=''></a>
      </header>
      <!-- /header -->
      <!-- .mainCnt -->
      <div class='mainCnt'>
        <form class='entryBox'>
          <input class='comment' placeholder='ゲームをシェア' type='text'>
        </form>
        <!-- .postBox -->
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <article class='postBox'>
          <div class='topBox'>
            <img alt='' class='profImg' height='58' src='../images/baba.jpg' width='58'>
            <div class='postArea'>
              <a class='account' href=''>baba</a>
              <time class='time'>2時間前</time>
              <h2 class='ttl'>
                アルティメットヒッツ
                <br>
                ファイナルファンタジー
              </h2>
              <div class='mood'>プレイ中</div>
            </div>
          </div>
          <p class='text'>まず目を惹かれるのは圧倒的なグラフィックですね。ムービーも美しいのですが、２Ｄ、バトル画面の綺麗さは特筆物です。今回のリメイクでの一番の売りは個人的にはグラフィックだと思っているので、さすがはスクウェアエニックスです。フィールド画面の２Ｄが綺麗なので携帯ゲーム機でも、あまり目</p>
          <div class='stateBox'>
            <a class='commentBtn' href=''>コメントする</a>
            <a class='favBtn' href=''>12</a>
          </div>
        </article>
        <!-- /.postBox -->
      </div>
      <!-- /.mainCnt -->
    </div>
  </body>
</html>
