%script{type: "text/template", id: "flow-template"}
  .signup
    .loginBox
      %h1 ようこそ！”username”さん
      .btnWrap
        %a.btn{href: ""} 新しくアカウントをつくる
        %p 新しくGAMRのアカウントを作成して、Twitterアカウントと接続します。作成したGAMRのアカウントには、Twitterアカウントでログインできます。
      .btnWrap
        %a.btn{href: ""} GAMRつなげる
        %p すでにGAMR IDをお持ちの場合は、Twitterアカウントと接続することで、TwitterアカウントでGAMRにログインできるようになります。