%script{type: "text/template", id: "signup-template"}
  .signup
    .loginBox
      %h1 GAMRに登録する
      %form.inputInfo
        .inputWrap
          %input.textInput{type: "text", name: "username", placeholder: "ユーザーネーム", value: @current_provider_name}
        .inputWrap
          %input.textInput{type: "text", name: "password", placeholder: "パスワード"}
        .inputWrap
          %input.textInput{type: "text", name: "password_confirm", placeholder: "パスワード（確認用）"}
        %input{type:"checkbox"}
        %a{href:""} 利用規約
        同意する
      %a{href:""} 登録する