%script{type: "text/template", id: "signin-template"}
  .signin
    %header
      .imgWrap
        = image_tag("logo@2x.png", width:"120" )
    .loginBox
      %h1 GAMRにログイン
      %form.inputInfo
        .inputWrap
          %input.textInput.username-input{type: "text", name: "username", placeholder: "ユーザー名"}
          %p.error-log.username-error.errorMassage
        .inputWrap
          %input.textInput.password-input{type: "password", name: "password", placeholder: "パスワード"}
          %p.error-log.password-error.errorMassage
      %a.signin-btn.btn{href:""} ログイン