%script{type: "text/template", id: "signup-template"}
  .signup
    .loginBox
      %h1 GAMRに登録する
      %form.inputInfo
        .inputWrap
          %input.textInput.username-input{type: "text", name: "username", placeholder: "ユーザーネーム", value: @current_provider_name}
        .inputWrap
          %input.textInput.password-input{type: "text", name: "password", placeholder: "パスワード"}
        .inputWrap
          %input.textInput.password-confirm-input{type: "text", name: "password_confirm", placeholder: "パスワード（確認用）"}
        .checkBoxWrap
          %rabel
            %input.rule-checkbox{type:"checkbox"}
            %a{href:""} 利用規約
            同意する
      %a.signup-btn.btn{href:""} 登録する