%script{type: "text/template", id: "signin-template"}
  .signin
    .loginBox
      %h1 GAMRにログイン
      %form.inputInfo
        .inputWrap
          %input.textInput.username-input{type: "text", name: "username", placeholder: "ユーザー名"}
        .inputWrap
          %input.textInput.password-input{type: "text", name: "password", placeholder: "パスワード"}
      %a.signin-btn.btn{href:""} ログイン