%script{type: "text/template", id: "game-search-template"}
  .searchTopBox
    .searchBox
      %form.searchWrap
        %input.search.game-title-input{type: "text", placeholder: "キーワードでゲームを探す"}
      %p.searchBtn.search-btn{href: ""} 検索
    %ul.sortList
      %li.item.current ゲーム検索
      %li.item
        = link_to "タグ検索", gametags_path, class: "sortListLink"
      %li.item
        = link_to "ユーザー検索", "#", class: "sortListLink change-target-link"
  .gameListBox
    .result-area
    %ul.gameListWrap.result-list
    = image_tag "gif-load-pc.gif", class: "loading-gif"