%script{type: "text/template", id: "result-text-template"}
  %p.Search__title
    %span.Search__titleInner
      %span.search-title {{= search_title }}
      でヒットした {{= target }}
      %span.search-result-count {{= result_count }}
      件