%script{type: "text/template", id: "result-text-template"}
  %p.searchTtl
    %span.searchTtlInner
      %span.search-title {{= search_title }}
      でヒットした ゲーム
      %span.search-result-count
      件