%script{type: "text/template", id: "result-text-template"}
  %p.searchTtl
    %span.searchTtlInner
      %span.search-title {{= search_title }}
      でヒットした {{= target }}
      %span.search-result-count {{= result_count }}
      件