%script{type: "text/template", id: "user-search-template"}
  .searchTopBox
    .searchBox
      %form.searchWrap
        %input.search.username-input{type: "text", placeholder: "キーワードでユーザーを探す"}
      %p.searchBtn.search-btn{href: ""} 検索
    %ul.sortList
      %li.item
        = link_to "ゲーム検索", "#", class: "sortListLink change-target-link"
      %li.item.current ユーザー検索
  .Friendlist
    .result-area
    %ul.Friendlist__list.result-list
    = image_tag "gif-load-pc.gif", class: "loading-gif"