%script{type: "text/template", id: "user-search-template"}
  .SearchTop
    .SearchTop__inner
      %form.SearchTop__searchWrap
        %input.SearchTop__search.username-input{type: "text", placeholder: "キーワードでユーザーを探す"}
      %p.SearchTop__searchButton.search-btn{href: ""} 検索
    %ul.SearchTop__sortList
      %li.SearchTop__sortItem--others
        = link_to "ゲーム検索", "#", class: "SearchTop__sortLink change-target-link"
      %li.SearchTop__sortItem--current ユーザー検索
  .Friendlist
    .result-area
    %ul.Friendlist__list.result-list
    = image_tag "gif-load-pc.gif", class: "loading-gif"