%script{type: "text/template", id: "game-result-template"}
  %article
    .textArea
      %a.gameTitle{href: "/games/{{= id }}#all"}
        {{= title }}
        %br
        %span.device Nintendo 3DS
        .star ★★★★★(134)
    .gameModule
      %figure
        %a{href: "/games/{{= id }}#all"}
          %img.gameImg{src: "{{= photo_url }}", width: "100"}
        %select.status{name: "status", size: "1", class: "status"}
          %option{value: ""} 登録する
          %option{value: 1} 気になる
          %option{value: 2} プレイ中
          %option{value: 3} クリア済