%script{type: "text/template", id: "game-search-template"}
  %section.game-search
    %form.search-form.entryBox
      %input.game-title-input.search{type: "text", name: "game_title", placeholder: "search"}
    %ul.result-list
    = image_tag "gif-load.gif", class: "loading-gif"