%script{type: "text/template", id: "user-search-template"}
	.tabs
		= link_to "ゲーム", "/users/#{@current_user[:id]}/search_game_or_user#game", class: "to-game-search"
		.to-user-search ユーザー
	%section.user-search
		.search-form-box.searchWrap
			%form.search-form.entryBox
				%input.username-input.search{type: "text", name: "username", placeholder: "ユーザーを検索"}
		.boxTtl
			%h2.boxTtl  最近登録したユーザー
		%ul.latestUserList
			%li.item
				%ul.friendListWrap.btn-list
					%li.followBtnWrap
						.followBtn.unFollow.unfollow-btn フォローする
					%figure.userImgWrap
						%img.profImg{src:"default.png" , height: 40, height: 40}
					.userInfo
						.nameWrap
							%a.name{href: ""} username
						%span.icon-place
						.place place
			%li.item
				%ul.friendListWrap.btn-list
					%li.followBtnWrap
						.followBtn.unFollow.unfollow-btn フォローする
					%figure.userImgWrap
						%img.profImg{src:"default.png" , height: 40, height: 40}
					.userInfo
						.nameWrap
							%a.name{href: ""} username
						%span.icon-place
						.place place
		%ul.result-list
		= image_tag "gif-load-pc.gif", class: "loading-gif"