%script{type: "text/template", id: "user-search-template"}
  %section.user-search
    %form.search-form.entryBox
      %input.username-input.search{type: "text", name: "username", placeholder: "search"}
    %ul.result-list
    = image_tag "gif-load.gif", class: "loading-gif"