%script{type: "text/template", id: "user-search-template"}
	.tabs
		= link_to "ゲーム", "#", class: "to-game-search change-target-link"
		.to-user-search ユーザー
	%section.user-search
		.search-form-box.searchWrap
			%form.search-form.entryBox
				%span.icon-search
				%input.username-input.search{type: "search", name: "username", placeholder: "キーワードでユーザーを検索"}

		.user-activity-list-wrap
			.boxTtl
				%h2 最近GAMRを始めたユーザー
			%ul.userAvtivityList.user-activity-list
	.result-area
	%ul.result-list.userList
	= image_tag "gif-load-pc.gif", class: "loading-gif m20"
