%script{type: "text/template", id: "user-result-template"}
	.followBtn.follow フォローする
	%figure.userImgWrap
		%img.profImg{src:"/user_photos/{{= photo_path }}" , height: 40, height: 40}
	.userInfo
		.name
			%a{href: "/users/{{= id }}#logs"} {{= username }}
		.place Tokyo,Japan