%script{type: "text/template", id: "user-search-template"}
	.tabs
		= link_to "ゲーム", "/users/#{@current_user[:id]}/search_game_or_user#game", class: "to-game-search"
		.to-user-search ユーザー
	%section.user-search
		.search-form-box.searchWrap
			%form.search-form.entryBox
				%span.icon-search
				%input.username-input.search{type: "text", name: "username", placeholder: "ユーザーを検索"}

		.user-activity-list-wrap
			.boxTtl
				%h2 最近GAMRを始めたユーザー
			%ul.userAvtivityList.user-activity-list
	.boxTtl
		%h2 検索結果"　"件
	%ul.result-list.userList
	= image_tag "gif-load-pc.gif", class: "loading-gif"
