@import "../../_function.css.scss";

/*---   Delete   ----------*/
$component: "Delete";

.delete-confirm-wrap {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 10;
  margin-left: -105px;
  margin-top: -40px;
  padding: 12px 10px 10px;
  border: 1px solid #ababab;
  @include border-radius(3px);
  @include box-sizing;
  background-color: #fff;
  text-align: center;
}
.#{$component} {
  &__text {
    margin-bottom: 8px;
    color: #3d3d3d;
    font-size: .875rem;

    &--sub {
      margin-bottom: 8px;
      color: #3d3d3d;
      font-size: 10px;
    }
  }
  &__cancel {
    display: inline-block;
    width: 90px;
    height: 28px;
    @include border-radius(2px);
    background: #cecece;
    color: #fff;
    font-weight: bold;
    font-size: .875rem;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
  }
  &__done {
    display: inline-block;
    width: 90px;
    height: 28px;
    @include border-radius(2px);
    background: $color_red;
    color: #fff;
    font-weight: bold;
    font-size: .875rem;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
  }
}