@import "../../_function.css.scss";

/*---   Footer   ----------*/
$component: "Footer";

.#{$component} {
  width: 100%;
  padding: 38px 0;
  background: $main-color;
  color: #fff;
  font-size: 1rem;
  text-align: center;

  &__list {
    @include clearfix;
    width: 245px;
    margin: 0 auto 34px;
  }
  &__listItem {
    float: left;
    margin-right: 20px;
  }
  &__listLastItem {
    float: left;
  }
  &__link {
    color: #fff;
  }
}