@import "../../_function.css.scss";

/*---   .friendList   ----------*/
.friendListBox {
  width: 100%;
  padding: 20px 0 40px;

  .friendListWrap {
    @include flexbox;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    align-items: flex-start;
    -webkit-align-items: flex-start;
    @include clearfix;
    width: 900px;
    margin: 0 auto;
    font-size: 0; /* inline-block用 */

    .item {
      width: 280px;
      margin: 9px;
      padding: 10px;
      border: 1px solid #e6e6e6;
      @include border-radius(3px);
      @include box-sizing;
      background: #fff;
      @include clearfix;
    }
  }
  .friendList {
    position: relative;
    min-height: 122px;

    &TopBox {
      position: relative;
      @include clearfix;
      height: 80px;
      margin-bottom: 48px;
      padding: 10px;
      background: asset_url("pc/default_cover.png") no-repeat top center;
      background-size: cover;
    }
    .userImgWrap {
      display: inline-block;
      position: absolute;
      bottom: -40px;
      border: 3px solid #fff;
      border-radius: 50%;
      img{
        border-radius: 50%;
      }
    }
    .userName {
      margin-bottom: 10px;
      padding-top: 4px;
      color: $main_color;
      font-weight: bold;
      font-size: .875rem;

      &Link {
        color: $main_color;
      }
    }
    .myGame {
      margin-top: 5px;
      margin-bottom: 10px;
      color: $color_textGray;
      font-weight: bold;
      font-size: .875rem;
    }
    .userProf {
      color: #7e7e7e;
      font-size: .75rem;
      line-height: 1rem;
    }
    .followBtnWrap {
    }
    .followBtn {
      min-width:102px;
      display: block;
      position: absolute;
      bottom: -38px;
      right: 0;
      padding: 6px 8px;
      border: 1px solid darken($main_color,7%);
      @include bglinear(lighten($main_color, 7%), $main_color);
      @include border-radius(2px);
      @include box-sizing;
      color: #fff;
      font-size: 12px;
      text-align: center;
      cursor: pointer;

      &:hover {
        @include bglinear(lighten($main_color, 5%), darken($main_color,2%));
      }

      &:before{
        display: inline-block;
        margin-right: 4px;
        font-family: 'icomoon';
        content:"\e60b";
        speak: none;
        font-size:15px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        vertical-align: -15%;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    .unFollow {
      min-width:102px;
      border: 1px solid darken($color_border,7%);
      @include bglinear(lighten($color_border, 7%), $color_border);
      color: $color_textGray;

      &:hover {
        @include bglinear(lighten($color_border, 5%), darken($color_border,5%));
      }

      &:before{
        content:"\e615";
        color: $color_green;
      }
    }
  }
}