@import "../../_function.css.scss";

/*---   .gameList   ----------*/
.gameListBox {
  width: 100%;
  padding: 20px 0 40px;

  .gameListWrap {
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-size: 0; /* inline-block用 */

    .item {
      overflow: hidden;
      display: inline-block;
      width: 168px;
      margin: 10px;
      margin-bottom: 20px;
      border: 1px solid #e6e6e6;
      @include box-sizing;
      @include border-radius(4px);
      background: #fff;
    }
  }
  .gameList {
    position: relative;

    &Link {
      color: $color_textBlack;
      
      &:hover {
        color: $main_color;
        text-decoration: none;
      }
    }
    .gameImg{
      border-bottom: 1px solid $color_border;
    }
    .gameMeta,.review,.status {
      border-bottom: 1px solid $color_border;
      padding: 4px 8px;
      line-height: 1.5;
    }
    .gameImgInner {
      overflow: hidden;
      width: 168px;
    }
    .gameMeta {
      overflow: hidden;
      @include box-sizing;
      @include font-size(10);
    }
    &:hover {
      .articleWrap {
        &:after {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 168px;
          height: 100%;
          background: rgba(255, 255, 255, 0.26);
          content: "";
        }
      }
      .gameDeleteBtn {
        display: block;
      }
    }
  }
  .articleWrap {
    color: $color_textBlack;
    
    &:hover {
      text-decoration: none;
    }
  }
  .starList {
    

    .starOn {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
      &:before {
        color: orange;
        @include font-size(12);
        font-family: 'icomoon';
        content: "\e60e";
      }
    }
    .starOff {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
      &:before {
        color: #888;
        @include font-size(12);
        font-family: 'icomoon';
        content: "\e60e";
      }
    }
  }
  .statusWrap {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    border: 1px solid darken($main_color,7%);
    @include bglinear(lighten($main_color, 7%), $main_color);
    @include border-radius(2px);
    @include box-sizing;
    color: #fff;
    cursor: pointer;

    &:after {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px;
      border-top: 5px solid #fff;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid transparent;
      content:"";
    }
  }
  .statusBtn {
    display: block;
    width: 90%;
    height: 33px;
    margin: 0 auto;
    border: none;
    background: none;
    color: #fff;
    font-size: .875rem;
    text-indent: .01px;
    text-overflow: "";
    line-height: 1rem;
    @include appearance;
    cursor: pointer;
    outline: 0;

    &::-ms-expand {
      display: none;
    }
    @-moz-document url-prefix() {
      width: 182px;
      padding-left: 10px;
    }
  }
  .registed .statusWrap {
    border: 1px solid darken($color_border,7%);
    @include bglinear(lighten($color_border, 7%), $color_border);
    
    &:after {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px;
      border-top: 5px solid $color_textGray;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid transparent;
      content:"";
    }
  }
  .registed .statusBtn {
    color: $color_textGray;

    @-moz-document url-prefix() {
      option {
        color: $main_color;
      }
    }
  }
  .gameDeleteBtn {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    @include border-radius(18px);
    background-color: #888;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
  }
  .gameDeleteBox {
    position: absolute;
    top: 32px;
    left: 18px;
    width: 210px;
    height: 80px;
    padding: 12px 0 10px;
    @include border-radius(2px);
    @include box-sizing;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: .875rem;
    text-align: center;

    .gameDeleteTxt {
      margin-bottom: 16px;
    }
    .cancelBtn {
      display: inline-block;
      width: 90px;
      height: 28px;
      @include border-radius(2px);
      background: $color_blue;
      font-weight: bold;
      line-height: 28px;
      cursor: pointer;
    }
    .deleteBtn {
      display: inline-block;
      width: 90px;
      height: 28px;
      @include border-radius(2px);
      background: $color_red;
      font-weight: bold;
      line-height: 28px;
      cursor: pointer;
    }
  }
}