@import "../../_function.css.scss";

/*---   .gametagRanking   ----------*/
.gametagRanking {
  @include clearfix;
  margin-top: 20px;

  &Ttl {
    padding: 8px 0;
    color:$color_textBlack;
    font-size:14px;
    font-weight:bold;
  }

  &List {
    .gametag {
      background: #fff;
      border: solid 1px #e6e6e6;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 3px;
      padding: 4px 10px;
      color: $color_textBlack;
    }
  }
}