@import "../../_function.css.scss";

/*---   Gamelist   ----------*/
$component: "Gamelist";

.#{$component} {
  width: 100%;
  padding: 20px 0 40px;

  &__list {
    position: relative;
    width: 960px;
    margin: 0 auto;
    font-size: 0; /* inline-block用 */

    .item {
      display: inline-block;
      width: 168px;
      margin: 10px;
      margin-bottom: 20px;
      border: 1px solid #e6e6e6;
      @include box-sizing;
      @include border-radius(3px);
      background: #fff;

      &:hover {
        .Gamelist__link {
          &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 168px;
            height: 100%;
            background: rgba(255, 255, 255, 0.26);
            content: "";
          }
        }
        .Gamelist__delete {
          display: block;
        }
      }
    }
  }
  &__item {
    position: relative;
  }
  &__link {
    color: $color_textBlack;
    
    &:hover {
      color: $main_color;
      text-decoration: none;
    }
  }
  &__imgWrap {
    overflow: hidden;
    width: 168px;
  }
  &__img {
    @include border-radius(3px 3px 0 0);
  }
  &__title {
    overflow: hidden;
    height: 40px;
    padding: 5px;
    @include box-sizing;
    font-weight: bold;
    font-size: .8125rem;
    line-height: 1.5;
  }
  &__device {
    position: absolute;
    top: 8px;
    left: -8px;
    padding: 5px 10px;
    border-radius: 2px;
    @include bglinear(lighten($main_color, 7%), $main_color);
    color: #fff;
    font-size: .875rem;

    &:before {
      position: absolute;
      top: 24px;
      left: 0px;
      border-top: 3px solid darken($main_color, 20%);
      border-right: 5px solid darken($main_color, 20%);
      border-bottom: 3px solid transparent;
      border-left: 5px solid transparent;
      content: "";
    }
  }
  &__starList {
    width: 118px;
    margin: 7px auto 0;
    padding-bottom: 10px;

    &--on {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
      &:before {
        color: orange;
        font-size: 1.25rem;
        font-family: 'icomoon';
        content: "\e60e";
      }
    }
    &--off {
      display: inline-block;
      margin-right: 4px;

      &:last-child {
        margin-right: 0;
      }
      &:before {
        color: #888;
        font-size: 1.25rem;
        font-family: 'icomoon';
        content: "\e60e";
      }
    }
  }
  &__statusWrap {
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: 166px;
    height: 33px;
    margin-top: 5px;
    border: 1px solid $main_color;
    @include border-radius(3px);
    background: #fff;
    cursor: pointer;

    &:after {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px;
      border-top: 5px solid $main_color;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid transparent;
      content:"";
    }
  }
  .registed &__statusWrap {
    border: none;
    @include bglinear(lighten($main_color, 7%), $main_color);

    &:after {
      display: block;
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -3px;
      border-top: 5px solid #fff;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      border-left: 5px solid transparent;
      content:"";
    }
  }
  &__status {
    display: block;
    width: 90%;
    height: 33px;
    margin: 0 auto;
    border: none;
    background: none;
    color: $main_color;
    font-size: .875rem;
    text-indent: .01px;
    text-overflow: "";
    line-height: 1rem;
    @include appearance;
    cursor: pointer;
    outline: 0;

    &::-ms-expand {
      display: none;
    }
    @-moz-document url-prefix() {
      width: 182px;
      padding-left: 10px;
    }
  }
  .registed &__status {
    color: #fff;

    @-moz-document url-prefix() {
      option {
        color: $main_color;
      }
    }
  }
  &__delete {
    display: none;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 20px;
    height: 20px;
    @include border-radius(18px);
    background-color: #888;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
  }
}