@import "../../_function.css.scss";

/*---   .header   ---------------------------*/
.header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 48px;
  @include box-shadow(0, 0, 5px, 0, #c9c9ca);
  background: $base_color;

  &Inner {
    position: relative;
    width: 1080px;
    height: 48px;
    margin: 0 auto;
    color: #fff;
    @include clearfix;
  }
  .logoWrap{
    display:inline-block;
    float:left;
    width: 260px;
    vertical-align: top;
  }
  .logo {
    display:inline-block;
    width: 120px;
    height: 45px;
    background: asset_url("logo.png") no-repeat -10px;
    @include substitute;
  }
  .searchWrap {
    position: relative;
    float: left;
    display: inline-block;
    margin: 10px 20px 0 0;
    padding: 3px 0;
    width: 320px;
    @include border-radius(2px);
    background: #fff;

    &:before {
      position: absolute;
      top: 5px;
      left: 5px;
      color: #888;
      font-size: 1rem;
      font-family: 'icomoon';
      content: "\e60c";
    }
  }
  .search {
    width: 320px;
    padding-left: 36px;
    border: none;
    @include box-sizing;
    @include appearance;
    font-size: .875rem;
    line-height: normal;
    outline: 0;

    &::-webkit-input-placeholder {
      color: #cbcbcb;
      font-size: .875rem;
    }
  }
  .gnavi {
    float: right;
    display:inline-block;
    font-size:0;
    @include clearfix;
    .item {
      position: relative;
      display: inline-block;
      line-height:48px;
      font-size:14px;
      vertical-align: top;
    }
    .toTimelineBtn,.toSearchBtn,.toProfileBtn,.toLoginBtn,.notify,.accountImgWrap {
      position: relative;
      overflow: hidden;
      display:inline-block;
      min-width: 60px;
      padding:0 10px;
      color:#ddd;
      text-align: center;
      &:hover{
        color:#fff;
        text-decoration: none;
        background-color: #222;
      }
    }
    .notify {
      position: relative;
      cursor: pointer;
      &Num {
        display: none;
        position: absolute;
        top: 3px;
        left: 10px;
        padding: 3px;
        @include border-radius(3px);
        background: $color_red;
        font-size: 10px;
        line-height: 1.0;
      }
    }
    .icon-bell:before{
      font-size:22px;
      line-height: 48px
    }
    .accountImgWrap {
      height: 48px;
      position: relative;
      cursor: pointer;
      .accountImg{
        position: relative;
        margin-top: 10px;
        width: 26px;
        height: 26px;
        @include border-radius(50%);
        }
    }
  }
}
.openMenu {
  position: absolute;
  display: none;
  overflow: hidden;
  top: 44px;
  z-index: 10000;
  right: 0;
  @include border-radius(2px);
  @include box-shadow(0, 0, 16px, 0, rgba(0, 0, 0, 0.2));
  background: #fff;
  @include font-size(14);

  li{
    a{
      display: block;
      color: $color_textBlack;
      padding: 10px;
      &:hover{
          text-decoration: none;
          background-color: #eeeeee;
        }
      &:before{
        margin-right: 5px;
      }
    }
    .toProfile:before{
      font-family: 'icomoon';
      content: "\e611";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .toAccount:before{
      font-family: 'icomoon';
      content: "\e60d";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
    .toLogout:before{
      font-family: 'icomoon';
      content: "\e61a";
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

  }
}