@import "../../_function.css.scss";
@import "_header-menu.css.scss";

/*---   Header   ----------*/
$component: "Header";

.#{$component} {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 48px;
  @include box-shadow(0, 0, 5px, 0, #c9c9ca);
  background: $base_color;
  opacity: 0.95;

  &__inner {
    @include clearfix;
    position: relative;
    width: 1080px;
    margin: 0 auto;
    color: #fff;
  }
  &__title{
    display: inline-block;
    vertical-align: top;
  }
  &__TitleLink {
    display: inline-block;
    width: 120px;
    height: 45px;
    background: url(/assets/logo.png) no-repeat -10px;
    @include substitute;
  }
  &__nav {
    display: inline-block;
    float: right;
    @include clearfix;
    font-size: 0;
  }
  &__navItem {
    display: inline-block;
    position: relative;
    font-size: 14px;
    line-height: 48px;

    &--timeline, &--search, &--mypage, &--notify {
      display: inline-block;
      overflow: hidden;
      position: relative;
      min-width: 60px;
      padding: 0 10px;
      color: #ddd;
      text-align: center;

      &:hover{
        color: #fff;
        text-decoration: none;
        background-color: #222;
      }
    }
    &--notifyNum {
      display: none;
      position: absolute;
      top: -3px;
      left: 10px;
      padding: 3px;
      @include border-radius(3px);
      background: $color_red;
      font-size: 10px;
      line-height: 1.0;
    }
    .icon-bell:before{
      font-size: 22px;
      line-height: 48px
    }
  }
  &__navImgWrap {
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-width: 60px;
    padding: 0 10px;
    color: #ddd;
    text-align: center;
    cursor: pointer;

    &:hover{
      background-color: #222;
      color: #fff;
      text-decoration: none;
    }
  }
  &__navImg {
    position: relative;
    margin-top: 10px;
    margin-bottom: -10px;
    width: 26px; 
    height: 26px;
    @include border-radius(50%);
  }
  &__searchWrap {
    position: relative;
    float: right;
    display: inline-block;
    margin: 10px 20px 0 0;
    padding: 3px 0;
    width: 320px;
    @include border-radius(2px);
    background: #fff;

    &:before {
      position: absolute;
      top: 5px;
      left: 5px;
      color: #888;
      font-size: 1rem;
      font-family: 'icomoon';
      content: "\e60c";
    }
  }
  &__search {
    width: 320px;
    padding-left: 36px;
    border: none;
    @include box-sizing;
    @include appearance;
    font-size: .875rem;
    line-height: normal;
    outline: 0;

    &::-webkit-input-placeholder {
      color: #cbcbcb;
      font-size: .875rem;
    }
  }
}