@import "../../_function.css.scss";

/*---   LoginBottom   ----------*/
$component: "LoginBottom";

.#{$component} {
  min-width: 960px;
  padding: 30px 0;
  background-color: $bg_color;
  font-family: arial;
  text-align: center;
  color: #fff;

  &__title {
    color: #4c4c4c;
    margin: 20px 0 40px;
    font-size: 1.75rem;
  }
  &__snsWrap {
    padding: 30px 0;
    text-align: center;
  }
  &__snsItem {
    display: inline-block;
    margin-bottom: 10px;
  }
  &__snsLink {
    &--tw, &--fb, &--gamr {
    display: inline-block;
    width: 200px;
    margin: 0 10px;
    padding: 0 10px;
    @include border-radius(4px);
    @include box-sizing;
    color: #ffffff;
    font-size: 1rem;
    line-height: 2.5;
    text-align: center;
    }
    &--tw {
      @include bglinear(lighten($twitter_blue, 7%), $twitter_blue);
      border: 1px solid darken($twitter_blue,7%);

      &:hover {
        text-decoration: none;
        @include bglinear($twitter_blue, lighten($twitter_blue, 7%));
      }
    }
    &--fb {
      @include bglinear(lighten($facebook_blue, 10%), $facebook_blue);
      border: 1px solid darken($facebook_blue,7%);

      &:hover {
        text-decoration: none;
        @include bglinear($facebook_blue, lighten($facebook_blue, 10%));
      }
    }
    &--gamr {
      @include bglinear(lighten($main_color, 7%), $main_color);
      border: 1px solid darken($main_color,7%);

      &:hover {
        text-decoration: none;
        @include bglinear($main_color, lighten($main_color, 7%));
      }
    }
    .icon-twitter, .icon-facebook {
      &:before {
        display: inline-block;
        font-size: 22px;
        vertical-align: -15%;
        margin-right: 5px;
      }
    }
  }
}