@import "../../_function.css.scss";
@import "_header-menu.css.scss";

/*---   Notification   ----------*/
$component: "Notification";

.#{$component} {
  display: none;
  position: absolute;
  top: 44px;
  right: 46px;
  z-index: 100;
  width: 330px;
  @include border-radius(2px);
  @include box-shadow(0, 0, 10px, 0, #666);
  background-color: #fff;

  &__header {
    position: relative;
    padding-left: 20px;
    border-bottom: solid 1px #999;
  }
  &__title {
    color: $color_black;
    font-size: 1.125rem;
    font-family: Helvetica;
    text-decoration: none;
    line-height: 40px;
  }
  &__close {
    position: absolute;
    top: 9px;
    right: 10px;
    width: 46px;
    height: 20px;
    color: $color-blue;
    font-size: 13px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
  }
  &__list {
    overflow-y: scroll;
    height: 450px;
    padding: 20px;

    li {
      @include clearfix;
      margin-bottom: 20px;
      padding-bottom: 20px;
      border-bottom: 1px solid #ccc;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  &__imgWrap {
    float: left;
    margin-right: 15px;

    &:after {
      content: none;
    }
  }
  &__text {
    color: #404040;
    font-size: 13px;
    line-height: 1.6;
  }
}