@import "../../_function.css.scss";

.notification-modal {
  display: none;
  position: absolute;
  top: 44px;
  right: 46px;
  z-index: 100;
  width: 330px;
  @include border-radius(2px);
  @include box-shadow(0, 0, 10px, 0, #666);
  background-color: #fff;

  .modal-header {
    position: relative;
    padding: 15px;
    border-bottom: solid 1px #999;
    color: $color_black;
    @include font-size(14);
    font-family: Helvetica;
    text-decoration: none;

    .icon-delete {
      position: absolute;
      top: 0;
      right: 0;
      color: $color_textGray;
      padding: 12px;
      font-size: 20px;
      cursor: pointer;
      &:hover{
        background: #eee;
      }
    }
  }
  .notification-list {
    overflow-y: scroll;
    height: 450px;

    li {
      @include clearfix;
      border-bottom: 1px solid #ccc;
      a{
        display: block;
        min-height: 60px;
        padding: 10px;
        &:hover{
          text-decoration: none;
          background-color: #eeeeee;
        }
      }

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }
    .profImgWrap {
      float: left;
      margin-right: 15px;
      .profImg{
        @include border-radius(50%);
        width: 40px;
        height: 40px;
      }
    }
    @include clearfix;
    .notificationText {
      color: $color_textBlack;
      @include font-size(13);
      line-height: 1.6;
    }
  }
}