@import "../../_function.css.scss";

/*---   .searchTopBox   ----------*/
.searchTopBox {
  padding-top: 15px;
  background: #fff;
  border-bottom: solid 1px $color_border;
  position: fixed;
  width: 100%;
  top: 48px;
  z-index: 100;

  /*---   .search   ----------*/
  .searchBox {
    position: relative;
    width: 580px;
    margin: 0 auto 10px;
  }
  .searchWrap {
    position: relative;
    width: 390px;
    padding: 1px;
    border: 1px solid #ccc;
    @include border-radius(2px);
    background: #fff;

    &:before {
      position: absolute;
      top: 8px;
      left: 8px;
      color: #888;
      font-size: 1.2rem;
      font-family: 'icomoon';
      content: "\e60c";
    }
  }
  .search {
    width: 380px;
    height: 34px;
    margin: 0 auto;
    padding-left: 40px;
    border: none;
    @include border-radius(2px);
    @include box-sizing;
    @include appearance;
    line-height: normal;
    outline: 0;

    &::-webkit-input-placeholder {
      color: #cbcbcb;
      font-size: .875rem;
      line-height: 1.5rem;
    }
  }
  /*---   .nextBtn   ----------*/
  .searchBtn {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: 113px;
    min-width:102px;
    display: block;
    padding: 6px 8px;
    border: 1px solid darken($main_color,7%);
    @include bglinear(lighten($main_color, 7%), $main_color);
    @include border-radius(2px);
    @include box-sizing;
    color: #fff;
    @include font-size(14);
    text-align: center;
    line-height: 1.5;
    cursor: pointer;

    &:hover {
      @include bglinear(lighten($main_color, 5%), darken($main_color,2%));
    }

    &:hover {
      text-decoration: none;
      @include bglinear($main_color, lighten($main_color, 5%));
    }
  }
  /*---   .sortBox   ---*/
  .sortList {
    width: $cntWidth;
    margin: 0 auto;
    color: $color_textBlack;
    font-size: .875rem;

    .item {
      display: inline-block;
      width: 118px;
      text-align: center;
      line-height: 2.5;
      cursor: pointer;

      &.current {
        position: relative;
        font-weight: bold;

        &:after {
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          margin-left: -50%;
          content: "";
        }
      }
    }
    &Link {
      display: block;
      color: #3e3e3e;

      &:hover {
        color: $main_color;
        text-decoration: none;
      }
    }
  }
}