@import "../../_function.css.scss";

/*---   .settingTopBox   ----------*/
.settingTopBox {
  padding: 40px 0 32px;
  border-bottom: 1px solid #e6e6e6;
  background: #fff;

  /*---   .mainTtl   ----------*/
  .mainTtl {
    margin-bottom: 40px;
    color: $main_color;
    font-size: 36px;
    text-align: center;
  }
  /*---   .mainTxt   ----------*/
  .mainTxt {
    margin-bottom: 60px;
    color: #3d3d3d;
    font-size: 1.125rem;
    line-height: 1.5;
    text-align: center;
  }
  /*---   .search   ----------*/
  .searchWrap {
    position: relative;
    width: 390px;
    margin: 0 auto;
    padding: 1px;
    border: 3px solid #ccc;
    @include border-radius(7px);
    background: #fff;

    &:before {
      position: absolute;
      top: 6px;
      left: 6px;
      color: #888;
      font-size: 20px;
      font-family: 'icomoon';
      content: "\e60c";
    }
    &:after {
      position: absolute;
      top: 4px;
      left: 33px;
      height: 26px;
      border-left: 1px solid #cecece;
      content: "";
    }
  }
  .search {
    width: 380px;
    height: 34px;
    margin: 0 auto;
    padding-left: 40px;
    border: none;
    @include box-sizing;
    @include appearance;
    line-height: normal;
    outline: 0;

    &::-webkit-input-placeholder {
      color: #cbcbcb;
      font-size: .875rem;
      line-height: 1.6rem;
    }
  }
  /*---   .nextBtn   ----------*/
  .nextBtnWrap {
    position: absolute;
    top: 279px;
    left: 50%;
    margin-left: 247px;

    &03 {
      position: absolute;
      bottom: 29px;
      left: 50%;
      margin-left: 247px;
    }
  }
  .nextBtn {
    display: block;
    padding: 3px 20px;
    @include border-radius(4px);
    @include bglinear(lighten($main_color, 5%), $main_color);
    color: #fff;
    font-size: 0.875rem;
    text-align: center;
    line-height: 30px;

    &:hover {
      @include bglinear(lighten($main_color, 5%), $main_color);
      text-decoration: none;
    }
    &03 {
      display: block;
      padding: 3px 20px;
      @include border-radius(4px);
      @include bglinear(lighten($main_color, 5%), $main_color);
      color: #fff;
      font-size: 0.875rem;
      text-align: center;
      line-height: 30px;

      &:hover {
        @include bglinear(lighten($main_color, 5%), $main_color);
        text-decoration: none;
      }
    }
  }
  /*---   #thumbnail   ----------*/
  #thumbnail {
    width: 157px;
    margin: 0 auto 34px;
    border: 4px solid #ccc;
    @include border-radius(5px);
    line-height: 0;
  }
  /*---   .uploadBtnWrap   ----------*/
  .uploadBtnWrap {
    position: relative;
  }
  .uploadBtnTxt {
    width: 155px;
    height: 32px;
    margin: 0 auto;
    border: none;
    @include border-radius(3px);
    @include box-sizing;
    @include box-shadow(0, 2px, 0, 0, darken($main_color,10%));
    @include bglinear($main_color, 7%);
    color: #fff;
    font-size: .875rem;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
  }
  .uploadBtn {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    width: 190px;
    height: 36px;
    margin-left: -95px;
    border: none;
    @include box-sizing;
    background: $main_color;
    cursor: pointer;
    outline: 0;
  }
}