@import "../../_function.css.scss";

/*---   .userActivity   ----------*/
.userActivity {
  @include clearfix;
  @include border-radius(2px);

  &Ttl {
    padding:2px 0 10px 0;
    color:$color_textBlack;
    font-size:14px;
    font-weight:bold;
  }
  &List {
    .item {
      position: relative;
      @include clearfix;
      padding: 6px 0;
      border-top: solid 1px $color_border;
      &:last-child {
        border-bottom: solid 1px $color_border;
      }
    }
  }
  &ImgWrap {
    float: left;
    margin-right: 15px;
  }
  &Img{
        border-radius:50%;
  }
  &Username {
    display: inline-block;
    width: 112px;
    margin-bottom: 8px;
    color: $color_textBlack;
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.2;
    word-wrap: break-word;
  }
  .myGame {
    color: $color_textGray;
    font-size: .75rem;

    &Count{
      color: $color_textBlack;
      font-weight:bold;
    }
  }
  &Userprof {
    overflow: hidden;
    margin-top: 14px;
    color: #7e7e7e;
    font-size: .75rem;
    line-height: 1rem;
  }
  .followBtn {
    min-width:102px;
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    padding: 6px 8px;
    border: 1px solid darken($main_color,7%);
    @include bglinear(lighten($main_color, 7%), $main_color);
    @include border-radius(2px);
    @include box-sizing;
    color: #fff;
    font-size: 12px;
    text-align: center;
    cursor: pointer;

    &:hover {
      @include bglinear(lighten($main_color, 5%), darken($main_color,2%));
    }

    &:before{
      display: inline-block;
      margin-right: 4px;
      font-family: 'icomoon';
      content:"\e60b";
      speak: none;
      font-size:15px;
      font-style: normal;
      font-weight: normal;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: -15%;

      /* Better Font Rendering =========== */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }
  .unfollow {
    min-width:102px;
    border: 1px solid darken($color_border,7%);
    @include bglinear(lighten($color_border, 7%), $color_border);
    color: $color_textGray;

    &:hover {
      @include bglinear(lighten($color_border, 5%), darken($color_border,5%));
    }

    &:before{
      content:"\e615";
      color: $color_green;
    }
  }
}