@import "../../_function.css.scss";

/*---   .userActivity   ----------*/
.userActivity {
  @include clearfix;
  padding: 10px;
  border: 1px solid #e6e6e6;
  @include border-radius(2px);
  background: #fff;

  &Ttl {
    color:$color_textBlack;
    font-size:14px;
    text-align: center;
    margin-bottom: 10px;
  }
  &List {
    .item {
      position: relative;
      @include clearfix;
      margin-bottom: 15px;
      padding-bottom: 15px;
      border-bottom: 1px solid #dcdcdc;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
  &ImgWrap {
    float: left;
    margin-right: 15px;
  }
  &Username {
    display: inline-block;
    width: 112px;
    color: $main_color;
    font-weight: bold;
    font-size: .875rem;
    line-height: 1.2;
    word-wrap: break-word;
  }
  &Userprof {
    overflow: hidden;
    float: right;
    width: 202px;
    margin-top: 14px;
    color: #7e7e7e;
    font-size: .75rem;
    line-height: 1rem;
  }
  .followBtn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 6px;
    border: 1px solid $main_color;
    @include border-radius(4px);
    @include box-sizing;
    background: #fff;
    color: $main_color;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
      border: 1px solid #fff;
      @include bglinear(lighten($main_color, 5%), $main_color);
      color: #fff;
    }
  }
  .unfollow {
    border: 1px solid #fff;
    @include bglinear(lighten($main_color, 5%), $main_color);
    color: #fff;

    &:hover {
      background: linear-gradient($main_color, lighten($main_color, 5%));
      color: #fff;
    }
  }
}