%script{type: "text/template", id: "log-template"}
  %a{href: "/posts/new#write/{{= game.id }}/{{= id }}"}
    %figure
      %img.gameImg{src: "{{= game.photo_path }}", width: 32, height: 32, alt: ""}
      %figcaption
        {{= game.title }}